在运行dw相关表之前，首先运行下面部分以创建中间表

In [1]:
import pandas as pd
from pyspark import SparkContext,SQLContext
from pyspark.sql import SQLContext
from pyspark.sql import SparkSession
from pyspark.sql.functions import udf, col
from pyspark.sql.types import StringType
import os
import sklearn
print(os.path.abspath(os.curdir))

/home/thd/人行征信

In [2]:
spark=SparkSession \
        .builder \
        .config("spark.eventLog.enabled", "false") \
        .config("spark.executor.memory", "8g")\
        .config("spark.driver.memory", "16g")\
        .config("spark.cores.max", "10")\
        .config("spark.task.maxFailures", "1000")\
        .config("spark.default.parallelism", "500")\
        .config("spark.sql.shuffle.partitions",100)\
        .appName('renhang_etl') \
        .master('yarn')\
        .getOrCreate()

In [3]:
#创建DW.dw_baseinfo_detail
table1 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "hyxf.ICRMESSAGEHEADER") \
    .option("user", "etl") \
    .option("password", "%TGRDJh3Hg2e4f") \
    .load()
table1.createOrReplaceTempView("ICRMESSAGEHEADER")

table2 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "hyxf.ICRCREDITCUE") \
    .option("user", "etl") \
    .option("password", "%TGRDJh3Hg2e4f") \
    .load()
table2.createOrReplaceTempView("ICRCREDITCUE")

table3 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "hyxf.ICRLOANCARDINFO") \
    .option("user", "etl") \
    .option("password", "%TGRDJh3Hg2e4f") \
    .load()
table3.createOrReplaceTempView("ICRLOANCARDINFO")

table4 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "hyxf.ICRCREDITCUE") \
    .option("user", "etl") \
    .option("password", "%TGRDJh3Hg2e4f") \
    .load()
table4.createOrReplaceTempView("ICRCREDITCUE")

table5 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "hyxf.ICRLATEST2YEAROVERDUECARD") \
    .option("user", "etl") \
    .option("password", "%TGRDJh3Hg2e4f") \
    .load()
table5.createOrReplaceTempView("ICRLATEST2YEAROVERDUECARD")

table6 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "hyxf.ICRLATEST5YEAROVERDUEDETAIL") \
    .option("user", "etl") \
    .option("password", "%TGRDJh3Hg2e4f") \
    .load()
table6.createOrReplaceTempView("ICRLATEST5YEAROVERDUEDETAIL")

table7 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "hyxf.ICRLATEST2YEAROVERDUE") \
    .option("user", "etl") \
    .option("password", "%TGRDJh3Hg2e4f") \
    .load()
table7.createOrReplaceTempView("ICRLATEST2YEAROVERDUE")

table8 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "hyxf.ICRLOANINFO") \
    .option("user", "etl") \
    .option("password", "%TGRDJh3Hg2e4f") \
    .load()
table8.createOrReplaceTempView("ICRLOANINFO")

table9 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "hyxf.ICRUNDESTORYLOANCARD") \
    .option("user", "etl") \
    .option("password", "%TGRDJh3Hg2e4f") \
    .load()
table9.createOrReplaceTempView("ICRUNDESTORYLOANCARD")

table10 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "hyxf.ICRUNDESTORYSTANDARDLOANCARD") \
    .option("user", "etl") \
    .option("password", "%TGRDJh3Hg2e4f") \
    .load()
table10.createOrReplaceTempView("ICRUNDESTORYSTANDARDLOANCARD")

table11 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "hyxf.ICRUNPAIDLOAN") \
    .option("user", "etl") \
    .option("password", "%TGRDJh3Hg2e4f") \
    .load()
table11.createOrReplaceTempView("ICRUNPAIDLOAN")


table12 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "hyxf.ICROVERDUESUMMARY") \
    .option("user", "etl") \
    .option("password", "%TGRDJh3Hg2e4f") \
    .load()
table12.createOrReplaceTempView("ICROVERDUESUMMARY")


table13 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "hyxf.ICRFELLBACKSUMMARY") \
    .option("user", "etl") \
    .option("password", "%TGRDJh3Hg2e4f") \
    .load()
table13.createOrReplaceTempView("ICRFELLBACKSUMMARY")


table14 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "hyxf.ICRGUARANTEE") \
    .option("user", "etl") \
    .option("password", "%TGRDJh3Hg2e4f") \
    .load()
table14.createOrReplaceTempView("ICRGUARANTEE")


table15 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "hyxf.ICRGUARANTEESUMMARY") \
    .option("user", "etl") \
    .option("password", "%TGRDJh3Hg2e4f") \
    .load()
table15.createOrReplaceTempView("ICRGUARANTEESUMMARY")


#######

table16 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "hyxf.ICRCIVILJUDGEMENT") \
    .option("user", "etl") \
    .option("password", "%TGRDJh3Hg2e4f") \
    .load()
table16.createOrReplaceTempView("ICRCIVILJUDGEMENT")



table17 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "hyxf.ICRFORCEEXECUTION") \
    .option("user", "etl") \
    .option("password", "%TGRDJh3Hg2e4f") \
    .load()
table17.createOrReplaceTempView("ICRFORCEEXECUTION")


table18 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "hyxf.ICRADMINPUNISHMENT") \
    .option("user", "etl") \
    .option("password", "%TGRDJh3Hg2e4f") \
    .load()
table18.createOrReplaceTempView("ICRADMINPUNISHMENT")


table19 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "hyxf.ICRTAXARREAR") \
    .option("user", "etl") \
    .option("password", "%TGRDJh3Hg2e4f") \
    .load()
table19.createOrReplaceTempView("ICRTAXARREAR")


table20 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "hyxf.ICRACCFUND") \
    .option("user", "etl") \
    .option("password", "%TGRDJh3Hg2e4f") \
    .load()
table20.createOrReplaceTempView("ICRACCFUND")



table21 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "hyxf.ICRENDOWMENTINSURANCEDEPOSIT") \
    .option("user", "etl") \
    .option("password", "%TGRDJh3Hg2e4f") \
    .load()
table21.createOrReplaceTempView("ICRENDOWMENTINSURANCEDEPOSIT")



table22 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "hyxf.ICRRECORDDETAIL") \
    .option("user", "etl") \
    .option("password", "%TGRDJh3Hg2e4f") \
    .load()
table22.createOrReplaceTempView("ICRRECORDDETAIL")



table23 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "hyxf.ICRRECORDDETAIL") \
    .option("user", "etl") \
    .option("password", "%TGRDJh3Hg2e4f") \
    .load()
table23.createOrReplaceTempView("ICRRECORDDETAIL")

table24 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "hyxf.ICRRECORDSUMMARY") \
    .option("user", "etl") \
    .option("password", "%TGRDJh3Hg2e4f") \
    .load()
table24.createOrReplaceTempView("ICRRECORDSUMMARY")

In [4]:
spark.sql("""
select 
		ordue.reportno,
		ordue.ACCOUNT,
		head.QUERYTIME,
		ordue.MONTH,
		month(date_format(head.QUERYTIME,'%Y-%m-%d')) - month(date_format(concat(ordue.month,'.01'),'%Y-%m-%d')) as gap_months,
		case 
			when ordue.LASTMONTHS in ('G','Z','D') then 8 
			else ordue.LASTMONTHS 
		end as LASTMONTHS ,
		loanfo.GUARANTEETYPE,STATE,FINANCEORG
from ICRLATEST2YEAROVERDUECARD ordue
-- 只取贷记卡的信息
inner join ICRLOANCARDINFO loanfo on ordue.reportno=loanfo.reportno and ordue.ACCOUNT=loanfo.ACCOUNT 
left join ICRMESSAGEHEADER head on ordue.reportno=head.reportno
where BIZTYPE='准贷记卡' and ordue.LASTMONTHS!='C'
""").createOrReplaceTempView("temp_standcard_2yearoverdue")


spark.sql("""
select 
		ordue.reportno,
		ordue.ACCOUNT,
		head.QUERYTIME,
		ordue.MONTH,
		month(date_format(head.QUERYTIME,'%Y-%m-%d')) - month(date_format(concat(ordue.month,'.01'),'%Y-%m-%d')) as gap_months,
		case 
			when ordue.LASTMONTHS in ('G','Z','D') then 8 
			else ordue.LASTMONTHS 
		end as LASTMONTHS ,
		loanfo.GUARANTEETYPE,STATE,FINANCEORG
from ICRLATEST2YEAROVERDUECARD ordue
-- 只取贷记卡的信息
inner join ICRLOANCARDINFO loanfo on ordue.reportno=loanfo.reportno and ordue.ACCOUNT=loanfo.ACCOUNT 
left join ICRMESSAGEHEADER head on ordue.reportno=head.reportno
where BIZTYPE='贷记卡' and ordue.LASTMONTHS!='C'
""").createOrReplaceTempView("temp_creditcard_2yearoverdue")


spark.sql("""
select 
		ordue.reportno,
		ordue.ACCOUNT,
		head.QUERYTIME,
		ordue.MONTH,
		month(date_format(head.QUERYTIME,'%Y-%m-%d')) - month(date_format(concat(ordue.month,'.01'),'%Y-%m-%d')) as gap_months,
		ordue.LASTMONTHS,ordue.AMOUNT,loanfo.GUARANTEETYPE,STATE,FINANCEORG
from ICRLATEST5YEAROVERDUEDETAIL ordue
-- 只取贷记卡的信息
inner join ICRLOANCARDINFO loanfo on ordue.reportno=loanfo.reportno and ordue.ACCOUNT=loanfo.ACCOUNT 
left join ICRMESSAGEHEADER head on ordue.reportno=head.reportno
where month!='--'  and BIZTYPE='贷记卡'
""").createOrReplaceTempView("temp_creditcard_overdue")


spark.sql("""
select 
		reportno,
		ACCOUNT,
		QUERYTIME,
		MONTH,
		gap_months,
		LASTMONTHS,
		GUARANTEETYPE,
		STATE,
		FINANCEORG 
from temp_creditcard_2yearoverdue
union 
select 
		reportno,
		ACCOUNT,
		QUERYTIME,
		date_format(concat(month,'.01'),'%Y-%m'),
        gap_months,
		LASTMONTHS,
		GUARANTEETYPE,
		STATE,
		FINANCEORG 
from temp_creditcard_overdue
""").createOrReplaceTempView("temp_creditcard_5yearoverdue")



spark.sql("""
select 
		ordue.reportno,
		ordue.ACCOUNT,
		head.QUERYTIME,
		ordue.MONTH,
		month(date_format(head.QUERYTIME,'%Y-%m-%d')) - month(date_format(concat(ordue.month,'.01'),'%Y-%m-%d')) as gap_months,
		case 
			when ordue.LASTMONTHS in ('G','Z','D') then 8 
			else ordue.LASTMONTHS 
		end as LASTMONTHS ,
		loanfo.GUARANTEETYPE,
		STATE,
		FINANCEORG
from ICRLATEST2YEAROVERDUE ordue
-- 只取贷款的信息
inner join ICRLOANINFO loanfo on ordue.reportno=loanfo.reportno and ordue.ACCOUNT=loanfo.ACCOUNT 
left join ICRMESSAGEHEADER head on ordue.reportno=head.reportno
where ordue.LASTMONTHS!='C'
""").createOrReplaceTempView("temp_loan_2yearoverdue")



spark.sql("""
select 
		ordue.reportno,
		ordue.ACCOUNT,
		head.QUERYTIME,
		ordue.MONTH,
		month(date_format(head.QUERYTIME,'%Y-%m-%d')) - month(date_format(concat(ordue.month,'.01'),'%Y-%m-%d')) as gap_months,
		ordue.LASTMONTHS,
		ordue.AMOUNT,
		loanfo.GUARANTEETYPE,
		STATE,FINANCEORG
from ICRLATEST5YEAROVERDUEDETAIL ordue
-- 只取贷款的信息
inner join ICRLOANINFO loanfo on ordue.reportno=loanfo.reportno and ordue.ACCOUNT=loanfo.ACCOUNT 
left join ICRMESSAGEHEADER head on ordue.reportno=head.reportno
where month!='--'
""").createOrReplaceTempView("temp_loan_overdue")




spark.sql("""
select 
		reportno,
		ACCOUNT,
		QUERYTIME,
        MONTH,
		gap_months,
		LASTMONTHS,
		GUARANTEETYPE,
		STATE,
		FINANCEORG 
from temp_loan_2yearoverdue
union 
select 
		reportno,
		ACCOUNT,
		QUERYTIME,
		date_format(concat(month,'.01'),'%Y-%m'),gap_months,LASTMONTHS,
		GUARANTEETYPE,
		STATE,
		FINANCEORG 
from temp_loan_overdue
""").createOrReplaceTempView("temp_loan_5yearoverdue")

中间表已运行完成，spark sql 创建所需要的表

In [5]:
spark.sql("""


select reportno,
	sum(mth1_card_query_count) as mth1_card_query_count,
	count(distinct mth1_card_query_org) as mth1_card_query_org,
	sum(mth1_loan_query_count) as mth1_loan_query_count,
	count(distinct mth1_loan_query_org) as mth1_loan_query_org,
	0 as mth1_person_query_count,
	count(distinct mth1_loan_card_query_org) as mth1_loan_card_query_org,

	sum(mth3_card_query_count) as mth3_card_query_count,
	count(distinct mth3_card_query_org) as mth3_card_query_org,
	sum(mth3_loan_query_count) as mth3_loan_query_count,
	count(distinct mth3_loan_query_org) as mth3_loan_query_org,
	0 as mth3_person_query_count,
	count(distinct mth3_loan_card_query_org) as mth3_loan_card_query_org,	
	
	sum(mth6_card_query_count) as mth6_card_query_count,
	count(distinct mth6_card_query_org) as mth6_card_query_org,
	sum(mth6_loan_query_count) as mth6_loan_query_count,
	count(distinct mth6_loan_query_org) as mth6_loan_query_org,
	0 as mth6_person_query_count,
	count(distinct mth6_loan_card_query_org) as mth6_loan_card_query_org,
	
	sum(mth9_card_query_count) as mth9_card_query_count,
	count(distinct mth9_card_query_org) as mth9_card_query_org,
	sum(mth9_loan_query_count) as mth9_loan_query_count,
	count(distinct mth9_loan_query_org) as mth9_loan_query_org,
	0 as mth9_person_query_count,
	count(distinct mth9_loan_card_query_org) as mth9_loan_card_query_org,
	
	sum(mth12_card_query_count) as mth12_card_query_count,
	count(distinct mth12_card_query_org) as mth12_card_query_org,
	sum(mth12_loan_query_count) as mth12_loan_query_count,
	count(distinct mth12_loan_query_org) as mth12_loan_query_org,
	0 as mth12_person_query_count,
	count(distinct mth12_loan_card_query_org) as mth12_loan_card_query_org,
	
	now() as create_time,now() as update_time,now() as etl_date

from (
select head.reportno,
	case when (day(DATE_FORMAT(head.QUERYTIME,'%Y-%m-%d'))-day(date_format(his.QUERYDATE,'%Y-%m-%d')))<=30 
			and (day(DATE_FORMAT(head.QUERYTIME,'%Y-%m-%d'))-day(date_format(his.QUERYDATE,'%Y-%m-%d')))>=0
			and his.queryreason='信用卡审批'
		then 1 else 0 end as mth1_card_query_count,
	case when (day(DATE_FORMAT(head.QUERYTIME,'%Y-%m-%d'))-day(date_format(his.QUERYDATE,'%Y-%m-%d')))<=30 
			and (day(DATE_FORMAT(head.QUERYTIME,'%Y-%m-%d'))-day(date_format(his.QUERYDATE,'%Y-%m-%d')))>=0
			and his.queryreason='信用卡审批'
		then QUERIER else null end as mth1_card_query_org,		
	case when (day(DATE_FORMAT(head.QUERYTIME,'%Y-%m-%d'))-day(date_format(his.QUERYDATE,'%Y-%m-%d')))<=30 
			and (day(DATE_FORMAT(head.QUERYTIME,'%Y-%m-%d'))-day(date_format(his.QUERYDATE,'%Y-%m-%d')))>=0
			and his.queryreason='贷款审批'
		then 1 else 0 end as mth1_loan_query_count,	
	case when (day(DATE_FORMAT(head.QUERYTIME,'%Y-%m-%d'))-day(date_format(his.QUERYDATE,'%Y-%m-%d')))<=30 
			and (day(DATE_FORMAT(head.QUERYTIME,'%Y-%m-%d'))-day(date_format(his.QUERYDATE,'%Y-%m-%d')))>=0
			and his.queryreason='贷款审批'
		then QUERIER else null end as mth1_loan_query_org,	
	summ.recordSum3 as mth1_person_query_count,
	case when (day(DATE_FORMAT(head.QUERYTIME,'%Y-%m-%d'))-day(date_format(his.QUERYDATE,'%Y-%m-%d')))<=30 
			and (day(DATE_FORMAT(head.QUERYTIME,'%Y-%m-%d'))-day(date_format(his.QUERYDATE,'%Y-%m-%d')))>=0
				and (his.queryreason='信用卡审批' or his.queryreason='贷款审批')
		then QUERIER else null end as mth1_loan_card_query_org,
		
	case when (day(DATE_FORMAT(head.QUERYTIME,'%Y-%m-%d'))-day(date_format(his.QUERYDATE,'%Y-%m-%d')))<=90 
			and (day(DATE_FORMAT(head.QUERYTIME,'%Y-%m-%d'))-day(date_format(his.QUERYDATE,'%Y-%m-%d')))>=0
			and his.queryreason='信用卡审批'
		then 1 else 0 end as mth3_card_query_count,
	case when (day(DATE_FORMAT(head.QUERYTIME,'%Y-%m-%d'))-day(date_format(his.QUERYDATE,'%Y-%m-%d')))<=90 
			and (day(DATE_FORMAT(head.QUERYTIME,'%Y-%m-%d'))-day(date_format(his.QUERYDATE,'%Y-%m-%d')))>=0
			and his.queryreason='信用卡审批'
		then QUERIER else null end as mth3_card_query_org,		
	case when (day(DATE_FORMAT(head.QUERYTIME,'%Y-%m-%d'))-day(date_format(his.QUERYDATE,'%Y-%m-%d')))<=90 
			and (day(DATE_FORMAT(head.QUERYTIME,'%Y-%m-%d'))-day(date_format(his.QUERYDATE,'%Y-%m-%d')))>=0
			and his.queryreason='贷款审批'
		then 1 else 0 end as mth3_loan_query_count,	
	case when (day(DATE_FORMAT(head.QUERYTIME,'%Y-%m-%d'))-day(date_format(his.QUERYDATE,'%Y-%m-%d')))<=90 
			and (day(DATE_FORMAT(head.QUERYTIME,'%Y-%m-%d'))-day(date_format(his.QUERYDATE,'%Y-%m-%d')))>=0
			and his.queryreason='贷款审批'
		then QUERIER else null end as mth3_loan_query_org,	
	0 as mth3_person_query_count,
	case when (day(DATE_FORMAT(head.QUERYTIME,'%Y-%m-%d'))-day(date_format(his.QUERYDATE,'%Y-%m-%d')))<=90 
			and (day(DATE_FORMAT(head.QUERYTIME,'%Y-%m-%d'))-day(date_format(his.QUERYDATE,'%Y-%m-%d')))>=0
			and (his.queryreason='信用卡审批' or his.queryreason='贷款审批')
		then QUERIER else null end as mth3_loan_card_query_org,	

	case when (day(DATE_FORMAT(head.QUERYTIME,'%Y-%m-%d'))-day(date_format(his.QUERYDATE,'%Y-%m-%d')))<=180 
			and (day(DATE_FORMAT(head.QUERYTIME,'%Y-%m-%d'))-day(date_format(his.QUERYDATE,'%Y-%m-%d')))>=0
			and his.queryreason='信用卡审批'
		then 1 else 0 end as mth6_card_query_count,
	case when (day(DATE_FORMAT(head.QUERYTIME,'%Y-%m-%d'))-day(date_format(his.QUERYDATE,'%Y-%m-%d')))<=180 
			and (day(DATE_FORMAT(head.QUERYTIME,'%Y-%m-%d'))-day(date_format(his.QUERYDATE,'%Y-%m-%d')))>=0
			and his.queryreason='信用卡审批'
		then QUERIER else null end as mth6_card_query_org,		
	case when (day(DATE_FORMAT(head.QUERYTIME,'%Y-%m-%d'))-day(date_format(his.QUERYDATE,'%Y-%m-%d')))<=180 
			and (day(DATE_FORMAT(head.QUERYTIME,'%Y-%m-%d'))-day(date_format(his.QUERYDATE,'%Y-%m-%d')))>=0
			and his.queryreason='贷款审批'
		then 1 else 0 end as mth6_loan_query_count,	
	case when (day(DATE_FORMAT(head.QUERYTIME,'%Y-%m-%d'))-day(date_format(his.QUERYDATE,'%Y-%m-%d')))<=180 
			and (day(DATE_FORMAT(head.QUERYTIME,'%Y-%m-%d'))-day(date_format(his.QUERYDATE,'%Y-%m-%d')))>=0
			and his.queryreason='贷款审批'
		then QUERIER else null end as mth6_loan_query_org,	
	0 as mth6_person_query_count,
	case when (day(DATE_FORMAT(head.QUERYTIME,'%Y-%m-%d'))-day(date_format(his.QUERYDATE,'%Y-%m-%d')))<=180 
			and (day(DATE_FORMAT(head.QUERYTIME,'%Y-%m-%d'))-day(date_format(his.QUERYDATE,'%Y-%m-%d')))>=0
				and (his.queryreason='信用卡审批' or his.queryreason='贷款审批')
		then QUERIER else null end as mth6_loan_card_query_org,

	case when (day(DATE_FORMAT(head.QUERYTIME,'%Y-%m-%d'))-day(date_format(his.QUERYDATE,'%Y-%m-%d')))<=270 
			and (day(DATE_FORMAT(head.QUERYTIME,'%Y-%m-%d'))-day(date_format(his.QUERYDATE,'%Y-%m-%d')))>=0
			and his.queryreason='信用卡审批'
		then 1 else 0 end as mth9_card_query_count,
	case when (day(DATE_FORMAT(head.QUERYTIME,'%Y-%m-%d'))-day(date_format(his.QUERYDATE,'%Y-%m-%d')))<=270 
			and (day(DATE_FORMAT(head.QUERYTIME,'%Y-%m-%d'))-day(date_format(his.QUERYDATE,'%Y-%m-%d')))>=0
			and his.queryreason='信用卡审批'
		then QUERIER else null end as mth9_card_query_org,		
	case when (day(DATE_FORMAT(head.QUERYTIME,'%Y-%m-%d'))-day(date_format(his.QUERYDATE,'%Y-%m-%d')))<=270 
			and (day(DATE_FORMAT(head.QUERYTIME,'%Y-%m-%d'))-day(date_format(his.QUERYDATE,'%Y-%m-%d')))>=0
			and his.queryreason='贷款审批'
		then 1 else 0 end as mth9_loan_query_count,	
	case when (day(DATE_FORMAT(head.QUERYTIME,'%Y-%m-%d'))-day(date_format(his.QUERYDATE,'%Y-%m-%d')))<=270 
			and (day(DATE_FORMAT(head.QUERYTIME,'%Y-%m-%d'))-day(date_format(his.QUERYDATE,'%Y-%m-%d')))>=0
			and his.queryreason='贷款审批'
		then QUERIER else null end as mth9_loan_query_org,	
	0 as mth9_person_query_count,
	case when (day(DATE_FORMAT(head.QUERYTIME,'%Y-%m-%d'))-day(date_format(his.QUERYDATE,'%Y-%m-%d')))<=270 
			and (day(DATE_FORMAT(head.QUERYTIME,'%Y-%m-%d'))-day(date_format(his.QUERYDATE,'%Y-%m-%d')))>=0 
			and (his.queryreason='信用卡审批' or his.queryreason='贷款审批')
		then QUERIER else null end as mth9_loan_card_query_org,			

	case when (day(DATE_FORMAT(head.QUERYTIME,'%Y-%m-%d'))-day(date_format(his.QUERYDATE,'%Y-%m-%d')))<=360 
			and (day(DATE_FORMAT(head.QUERYTIME,'%Y-%m-%d'))-day(date_format(his.QUERYDATE,'%Y-%m-%d')))>=0
			and his.queryreason='信用卡审批'
		then 1 else 0 end as mth12_card_query_count,
	case when (day(DATE_FORMAT(head.QUERYTIME,'%Y-%m-%d'))-day(date_format(his.QUERYDATE,'%Y-%m-%d')))<=360 
			and (day(DATE_FORMAT(head.QUERYTIME,'%Y-%m-%d'))-day(date_format(his.QUERYDATE,'%Y-%m-%d')))>=0
			and his.queryreason='信用卡审批'
		then QUERIER else null end as mth12_card_query_org,		
	case when (day(DATE_FORMAT(head.QUERYTIME,'%Y-%m-%d'))-day(date_format(his.QUERYDATE,'%Y-%m-%d')))<=360 
			and (day(DATE_FORMAT(head.QUERYTIME,'%Y-%m-%d'))-day(date_format(his.QUERYDATE,'%Y-%m-%d')))>=0
			and his.queryreason='贷款审批'
		then 1 else 0 end as mth12_loan_query_count,	
	case when (day(DATE_FORMAT(head.QUERYTIME,'%Y-%m-%d'))-day(date_format(his.QUERYDATE,'%Y-%m-%d')))<=360 
			and (day(DATE_FORMAT(head.QUERYTIME,'%Y-%m-%d'))-day(date_format(his.QUERYDATE,'%Y-%m-%d')))>=0
			and his.queryreason='贷款审批'
		then QUERIER else null end as mth12_loan_query_org,	
	0 as mth12_person_query_count,
	case when (day(DATE_FORMAT(head.QUERYTIME,'%Y-%m-%d'))-day(date_format(his.QUERYDATE,'%Y-%m-%d')))<=360 
			and (day(DATE_FORMAT(head.QUERYTIME,'%Y-%m-%d'))-day(date_format(his.QUERYDATE,'%Y-%m-%d')))>=0
			and (his.queryreason='信用卡审批' or his.queryreason='贷款审批')
		then QUERIER else null end as mth12_loan_card_query_org
from ICRMESSAGEHEADER head 
left join ICRRECORDDETAIL his on his.reportno=head.reportno
left join ICRRECORDSUMMARY summ on summ.reportno=head.reportno
)t
group by reportno

""").createOrReplaceTempView("dw_query_summary")

In [6]:
table_name = "dw_query_summary"

spark.sql("drop table if EXISTS renhang_user_profile.%s "%table_name)
spark.sql("create table renhang_user_profile.%s as select * from %s"%(table_name,table_name))

DataFrame[]