在运行dw相关表之前，首先运行下面部分以创建中间表

In [1]:
import pandas as pd
from pyspark import SparkContext,SQLContext
from pyspark.sql import SQLContext
from pyspark.sql import SparkSession
from pyspark.sql.functions import udf, col
from pyspark.sql.types import StringType
import os
import sklearn
print(os.path.abspath(os.curdir))

/home/thd/人行征信

In [2]:
spark=SparkSession \
        .builder \
        .config("spark.eventLog.enabled", "false") \
        .config("spark.executor.memory", "8g")\
        .config("spark.driver.memory", "16g")\
        .config("spark.cores.max", "10")\
        .config("spark.task.maxFailures", "1000")\
        .config("spark.default.parallelism", "500")\
        .config("spark.sql.shuffle.partitions",100)\
        .appName('renhang_etl') \
        .master('yarn')\
        .getOrCreate()

In [3]:
#创建DW.dw_baseinfo_detail
table1 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "ICR_PROD.ICRMESSAGEHEADER") \
    .option("user", "etl") \
    .option("password", "%TGRDJh3Hg2e4f") \
    .load()
table1.createOrReplaceTempView("ICRMESSAGEHEADER")

table2 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "ICR_PROD.ICRCREDITCUE") \
    .option("user", "etl") \
    .option("password", "%TGRDJh3Hg2e4f") \
    .load()
table2.createOrReplaceTempView("ICRCREDITCUE")

table3 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "ICR_PROD.ICRLOANCARDINFO") \
    .option("user", "etl") \
    .option("password", "%TGRDJh3Hg2e4f") \
    .load()
table3.createOrReplaceTempView("ICRLOANCARDINFO")

table4 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "ICR_PROD.ICRCREDITCUE") \
    .option("user", "etl") \
    .option("password", "%TGRDJh3Hg2e4f") \
    .load()
table4.createOrReplaceTempView("ICRCREDITCUE")

table5 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "ICR_PROD.ICRLATEST2YEAROVERDUECARD") \
    .option("user", "etl") \
    .option("password", "%TGRDJh3Hg2e4f") \
    .load()
table5.createOrReplaceTempView("ICRLATEST2YEAROVERDUECARD")

table6 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "ICR_PROD.ICRLATEST5YEAROVERDUEDETAIL") \
    .option("user", "etl") \
    .option("password", "%TGRDJh3Hg2e4f") \
    .load()
table6.createOrReplaceTempView("ICRLATEST5YEAROVERDUEDETAIL")

table7 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "ICR_PROD.ICRLATEST2YEAROVERDUE") \
    .option("user", "etl") \
    .option("password", "%TGRDJh3Hg2e4f") \
    .load()
table7.createOrReplaceTempView("ICRLATEST2YEAROVERDUE")

table8 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "ICR_PROD.ICRLOANINFO") \
    .option("user", "etl") \
    .option("password", "%TGRDJh3Hg2e4f") \
    .load()
table8.createOrReplaceTempView("ICRLOANINFO")

table9 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "ICR_PROD.ICRUNDESTORYLOANCARD") \
    .option("user", "etl") \
    .option("password", "%TGRDJh3Hg2e4f") \
    .load()
table9.createOrReplaceTempView("ICRUNDESTORYLOANCARD")

table10 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "ICR_PROD.ICRUNDESTORYSTANDARDLOANCARD") \
    .option("user", "etl") \
    .option("password", "%TGRDJh3Hg2e4f") \
    .load()
table10.createOrReplaceTempView("ICRUNDESTORYSTANDARDLOANCARD")

table11 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "ICR_PROD.ICRUNPAIDLOAN") \
    .option("user", "etl") \
    .option("password", "%TGRDJh3Hg2e4f") \
    .load()
table11.createOrReplaceTempView("ICRUNPAIDLOAN")


table12 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "ICR_PROD.ICROVERDUESUMMARY") \
    .option("user", "etl") \
    .option("password", "%TGRDJh3Hg2e4f") \
    .load()
table12.createOrReplaceTempView("ICROVERDUESUMMARY")


table13 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "ICR_PROD.ICRFELLBACKSUMMARY") \
    .option("user", "etl") \
    .option("password", "%TGRDJh3Hg2e4f") \
    .load()
table13.createOrReplaceTempView("ICRFELLBACKSUMMARY")


table14 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "ICR_PROD.ICRGUARANTEE") \
    .option("user", "etl") \
    .option("password", "%TGRDJh3Hg2e4f") \
    .load()
table14.createOrReplaceTempView("ICRGUARANTEE")


table15 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "ICR_PROD.ICRGUARANTEESUMMARY") \
    .option("user", "etl") \
    .option("password", "%TGRDJh3Hg2e4f") \
    .load()
table15.createOrReplaceTempView("ICRGUARANTEESUMMARY")


#######

table16 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "ICR_PROD.ICRCIVILJUDGEMENT") \
    .option("user", "etl") \
    .option("password", "%TGRDJh3Hg2e4f") \
    .load()
table16.createOrReplaceTempView("ICRCIVILJUDGEMENT")



table17 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "ICR_PROD.ICRFORCEEXECUTION") \
    .option("user", "etl") \
    .option("password", "%TGRDJh3Hg2e4f") \
    .load()
table17.createOrReplaceTempView("ICRFORCEEXECUTION")


table18 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "ICR_PROD.ICRADMINPUNISHMENT") \
    .option("user", "etl") \
    .option("password", "%TGRDJh3Hg2e4f") \
    .load()
table18.createOrReplaceTempView("ICRADMINPUNISHMENT")


table19 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "ICR_PROD.ICRTAXARREAR") \
    .option("user", "etl") \
    .option("password", "%TGRDJh3Hg2e4f") \
    .load()
table19.createOrReplaceTempView("ICRTAXARREAR")


table20 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "ICR_PROD.ICRACCFUND") \
    .option("user", "etl") \
    .option("password", "%TGRDJh3Hg2e4f") \
    .load()
table20.createOrReplaceTempView("ICRACCFUND")



table21 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "ICR_PROD.ICRENDOWMENTINSURANCEDEPOSIT") \
    .option("user", "etl") \
    .option("password", "%TGRDJh3Hg2e4f") \
    .load()
table21.createOrReplaceTempView("ICRENDOWMENTINSURANCEDEPOSIT")


table22 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "ICR_PROD.ICRRECORDDETAIL") \
    .option("user", "etl") \
    .option("password", "%TGRDJh3Hg2e4f") \
    .load()
table22.createOrReplaceTempView("ICRRECORDDETAIL")



table23 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "ICR_PROD.ICRRECORDDETAIL") \
    .option("user", "etl") \
    .option("password", "%TGRDJh3Hg2e4f") \
    .load()
table23.createOrReplaceTempView("ICRRECORDDETAIL")


table24 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "ICR_PROD.QUERY_HISTORY") \
    .option("user", "etl") \
    .option("password", "%TGRDJh3Hg2e4f") \
    .load()
table24.createOrReplaceTempView("QUERY_HISTORY")

table25 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "ICR_PROD.ICRRECORDSUMMARY") \
    .option("user", "etl") \
    .option("password", "%TGRDJh3Hg2e4f") \
    .load()
table25.createOrReplaceTempView("ICRRECORDSUMMARY")

In [4]:
spark.sql("""
select 
		ordue.reportno,
		ordue.ACCOUNT,
		head.QUERYTIME,
		ordue.MONTH,
		month(date_format(head.QUERYTIME,'%Y-%m-%d')) - month(date_format(concat(ordue.month,'.01'),'%Y-%m-%d')) as gap_months,
		case 
			when ordue.LASTMONTHS in ('G','Z','D') then 8 
			else ordue.LASTMONTHS 
		end as LASTMONTHS ,
		loanfo.GUARANTEETYPE,STATE,FINANCEORG
from ICRLATEST2YEAROVERDUECARD ordue
-- 只取贷记卡的信息
inner join ICRLOANCARDINFO loanfo on ordue.reportno=loanfo.reportno and ordue.ACCOUNT=loanfo.ACCOUNT 
left join ICRMESSAGEHEADER head on ordue.reportno=head.reportno
where BIZTYPE='准贷记卡' and ordue.LASTMONTHS!='C'
""").createOrReplaceTempView("temp_standcard_2yearoverdue")


spark.sql("""
select 
		ordue.reportno,
		ordue.ACCOUNT,
		head.QUERYTIME,
		ordue.MONTH,
		month(date_format(head.QUERYTIME,'%Y-%m-%d')) - month(date_format(concat(ordue.month,'.01'),'%Y-%m-%d')) as gap_months,
		case 
			when ordue.LASTMONTHS in ('G','Z','D') then 8 
			else ordue.LASTMONTHS 
		end as LASTMONTHS ,
		loanfo.GUARANTEETYPE,STATE,FINANCEORG
from ICRLATEST2YEAROVERDUECARD ordue
-- 只取贷记卡的信息
inner join ICRLOANCARDINFO loanfo on ordue.reportno=loanfo.reportno and ordue.ACCOUNT=loanfo.ACCOUNT 
left join ICRMESSAGEHEADER head on ordue.reportno=head.reportno
where BIZTYPE='贷记卡' and ordue.LASTMONTHS!='C'
""").createOrReplaceTempView("temp_creditcard_2yearoverdue")


spark.sql("""
select 
		ordue.reportno,
		ordue.ACCOUNT,
		head.QUERYTIME,
		ordue.MONTH,
		month(date_format(head.QUERYTIME,'%Y-%m-%d')) - month(date_format(concat(ordue.month,'.01'),'%Y-%m-%d')) as gap_months,
		ordue.LASTMONTHS,ordue.AMOUNT,loanfo.GUARANTEETYPE,STATE,FINANCEORG
from ICRLATEST5YEAROVERDUEDETAIL ordue
-- 只取贷记卡的信息
inner join ICRLOANCARDINFO loanfo on ordue.reportno=loanfo.reportno and ordue.ACCOUNT=loanfo.ACCOUNT 
left join ICRMESSAGEHEADER head on ordue.reportno=head.reportno
where month!='--'  and BIZTYPE='贷记卡'
""").createOrReplaceTempView("temp_creditcard_overdue")


spark.sql("""
select 
		reportno,
		ACCOUNT,
		QUERYTIME,
		MONTH,
		gap_months,
		LASTMONTHS,
		GUARANTEETYPE,
		STATE,
		FINANCEORG 
from temp_creditcard_2yearoverdue
union 
select 
		reportno,
		ACCOUNT,
		QUERYTIME,
		date_format(concat(month,'.01'),'%Y-%m'),
        gap_months,
		LASTMONTHS,
		GUARANTEETYPE,
		STATE,
		FINANCEORG 
from temp_creditcard_overdue
""").createOrReplaceTempView("temp_creditcard_5yearoverdue")



spark.sql("""
select 
		ordue.reportno,
		ordue.ACCOUNT,
		head.QUERYTIME,
		ordue.MONTH,
		month(date_format(head.QUERYTIME,'%Y-%m-%d')) - month(date_format(concat(ordue.month,'.01'),'%Y-%m-%d')) as gap_months,
		case 
			when ordue.LASTMONTHS in ('G','Z','D') then 8 
			else ordue.LASTMONTHS 
		end as LASTMONTHS ,
		loanfo.GUARANTEETYPE,
		STATE,
		FINANCEORG
from ICRLATEST2YEAROVERDUE ordue
-- 只取贷款的信息
inner join ICRLOANINFO loanfo on ordue.reportno=loanfo.reportno and ordue.ACCOUNT=loanfo.ACCOUNT 
left join ICRMESSAGEHEADER head on ordue.reportno=head.reportno
where ordue.LASTMONTHS!='C'
""").createOrReplaceTempView("temp_loan_2yearoverdue")



spark.sql("""
select 
		ordue.reportno,
		ordue.ACCOUNT,
		head.QUERYTIME,
		ordue.MONTH,
		month(date_format(head.QUERYTIME,'%Y-%m-%d')) - month(date_format(concat(ordue.month,'.01'),'%Y-%m-%d')) as gap_months,
		ordue.LASTMONTHS,
		ordue.AMOUNT,
		loanfo.GUARANTEETYPE,
		STATE,FINANCEORG
from ICRLATEST5YEAROVERDUEDETAIL ordue
-- 只取贷款的信息
inner join ICRLOANINFO loanfo on ordue.reportno=loanfo.reportno and ordue.ACCOUNT=loanfo.ACCOUNT 
left join ICRMESSAGEHEADER head on ordue.reportno=head.reportno
where month!='--'
""").createOrReplaceTempView("temp_loan_overdue")




spark.sql("""
select 
		reportno,
		ACCOUNT,
		QUERYTIME,
        MONTH,
		gap_months,
		LASTMONTHS,
		GUARANTEETYPE,
		STATE,
		FINANCEORG 
from temp_loan_2yearoverdue
union 
select 
		reportno,
		ACCOUNT,
		QUERYTIME,
		date_format(concat(month,'.01'),'%Y-%m'),gap_months,LASTMONTHS,
		GUARANTEETYPE,
		STATE,
		FINANCEORG 
from temp_loan_overdue
""").createOrReplaceTempView("temp_loan_5yearoverdue")

中间表已运行完成，spark sql 创建所需要的表

In [5]:
spark.sql("""
select 
		head.reportno,
		if(cdt.FIRSTLOANOPENMONTH='--' or cdt.FIRSTLOANOPENMONTH is null,-9999999,(month(date_format(head.QUERYTIME,'%Y-%m-%d'))-month(date_format(concat(FIRSTLOANOPENMONTH,'.01'),'%Y-%m-%d')) ) ) as first_loan_months,
		nvl(loan.loan_max_months,-9999999) as loan_max_months,
		nvl(loan.loan_min_months,-9999999) as loan_min_months,
		nvl(loan.loan_avg_months,-9999999) as loan_avg_months,
		nvl(lcdt.creditloan_max_months,-9999999) as creditloan_max_months,
		nvl(lcdt.creditloan_min_months,-9999999) as creditloan_min_months,
		nvl(lcdt.creditloan_avg_months,-9999999) as creditloan_avg_months,
		nvl(unst.unsettled_loan_max_months,-9999999) as unsettled_loan_max_months,
		nvl(unst.unsettled_loan_min_months,-9999999) as unsettled_loan_min_months,
		nvl(unst.unsettled_loan_avg_months,-9999999) as unsettled_loan_avg_months,
		nvl(uncdt.unsettled_creditloan_max_months,-9999999) as unsettled_creditloan_max_months,
		nvl(uncdt.unsettled_creditloan_min_months,-9999999) as unsettled_creditloan_min_months,
		nvl(uncdt.unsettled_creditloan_avg_months,-9999999) as unsettled_creditloan_avg_months,
		now(),
		now(),
		now()
from ICRMESSAGEHEADER head 
left join ICRCREDITCUE cdt on head.reportno=cdt.reportno
left join 
(
	select 
		a.reportno,
		max(month(b.QUERYTIME)-month(OPENDATE)) as loan_max_months,
		min(month(b.QUERYTIME)-month(OPENDATE)) as loan_min_months,
		round(avg(month(b.QUERYTIME)-month(OPENDATE)),5) as loan_avg_months
	from ICRLOANINFO a
	left join ICRMESSAGEHEADER b on a.reportno=b.reportno
	group by a.reportno
)loan on head.reportno=loan.reportno
left join 
(
	select 
		a.reportno,
		max(month(b.QUERYTIME)-month(OPENDATE)) as creditloan_max_months,
		min(month(b.QUERYTIME)-month(OPENDATE)) as creditloan_min_months,
		round(avg(month(b.QUERYTIME)-month(OPENDATE)),5) as creditloan_avg_months
	from ICRLOANINFO a
	left join ICRMESSAGEHEADER b on a.reportno=b.reportno
	where GUARANTEETYPE='信用/免担保'
	group by a.reportno
)lcdt on head.reportno=lcdt.reportno
left join 
(
	select 
		a.reportno,
		max(month(b.QUERYTIME)-month(OPENDATE)) as unsettled_loan_max_months,
		min(month(b.QUERYTIME)-month(OPENDATE)) as unsettled_loan_min_months,
		round(avg(month(b.QUERYTIME)-month(OPENDATE)),5) as unsettled_loan_avg_months
	from ICRLOANINFO a
	left join ICRMESSAGEHEADER b on a.reportno=b.reportno
	where state in ('正常','呆账','逾期','转出')
	group by a.reportno
)unst on head.reportno=unst.reportno
left join 
(
	select 
		a.reportno,
		max(month(b.QUERYTIME)-month(OPENDATE)) as unsettled_creditloan_max_months,
		min(month(b.QUERYTIME)-month(OPENDATE)) as unsettled_creditloan_min_months,
		round(avg(month(b.QUERYTIME)-month(OPENDATE)),5) as unsettled_creditloan_avg_months
	from ICRLOANINFO a
	left join ICRMESSAGEHEADER b on a.reportno=b.reportno
	where state in ('正常','呆账','逾期','转出') and GUARANTEETYPE='信用/免担保'
	group by a.reportno
)uncdt on head.reportno=uncdt.reportno

""").createOrReplaceTempView("dw_loan_age")

In [6]:
spark.sql("""

select 
		head.reportno,
		nvl(cdt.houseloancount,0) as houseloancount,
		nvl(cdt.chouseloancount,0) as chouseloancount,
		nvl(cdt.otherloancount,0) as otherloancount,
		nvl(loan.max_cdtamt_loan,-9999999) as max_cdtamt_loan,
		nvl(loan.loan_amount_sum,-9999999) as loan_amount_sum,
		nvl(loan.loan_balance_sum,-9999999) as loan_balance_sum,
		nvl(loan.loan_num,-9999999) as loan_num,
		case 
			when loan.loan_num is null then -9999999
			when loan.loan_num is not null and  ovloan.loan_latest_overdue_months is null then -9999998
			else ovloan.loan_latest_overdue_months 
		end as loan_latest_overdue_months,
		nvl(cdtl.max_cdtamt_cdtloan,-9999999) as max_cdtamt_cdtloan,	
		nvl(cdtl.creditloan_amount_sum,-9999999) as creditloan_amount_sum,
		nvl(cdtl.creditloan_balance_sum,-9999999) as creditloan_balance_sum,
		nvl(cdtl.creditloan_num,-9999999) as creditloan_num,
		case 
			when cdtl.creditloan_num is null then -9999999
			when cdtl.creditloan_num is not null and ovloan1.creditloan_latest_overdue_months is null then -9999998
		else ovloan1.creditloan_latest_overdue_months end as creditloan_latest_overdue_months,
		nvl(uncdtl.max_cdtamt_unsetcdtloan,-9999999) as max_cdtamt_unsetcdtloan,
		case 
			when loan.loan_num is null then -9999999
			when unloan.unsettle_loan_amount_sum is null and loan.loan_num is not null then 0
			else unloan.unsettle_loan_amount_sum 
		end as unsettle_loan_amount_sum,
		case 
			when loan.loan_num is null then -9999999
			when unloan.unsettle_loan_num is null and loan.loan_num is not null then 0
			else unloan.unsettle_loan_balance_sum 
		end as unsettle_loan_balance_sum,
		case 
			when loan.loan_num is null then -9999999
			when unloan.unsettle_loan_num is null and loan.loan_num is not null then 0
			else unloan.unsettle_loan_num 
		end as unsettle_loan_num,
		case 
			when unloan.unloan_num is null then -9999999
			when unloan.unloan_num is not null and ovloan2.unsettle_loan_latest_overdue_months is null then -9999998
			else ovloan2.unsettle_loan_latest_overdue_months 
		end as unsettle_loan_latest_overdue_months,
		case 
			when cdtl.creditloan_num is null then -9999999
			when cdtl.creditloan_num is not null and uncdtl.unsettle_creditloan_num is null then 0
			else uncdtl.unsettle_creditloan_amount_sum 
		end as unsettle_creditloan_amount_sum,
		case 
			when cdtl.creditloan_num is null then -9999999
			when cdtl.creditloan_num is not null and uncdtl.unsettle_creditloan_num is null then 0
			else uncdtl.unsettle_crdditloan_balance_sum 
		end as unsettle_crdditloan_balance_sum,
		case 
			when cdtl.creditloan_num is null then -9999999
			when cdtl.creditloan_num is not null and uncdtl.unsettle_creditloan_num is null then 0
			else uncdtl.unsettle_creditloan_num 
		end as unsettle_creditloan_num,
		
		case 
			when uncdtl.unsettle_creditloan_num is null then -9999999
			when uncdtl.unsettle_creditloan_num is not null and ovloan3.unsettle_creditloan_latest_overdue_months is null then -9999998
			else ovloan3.unsettle_creditloan_latest_overdue_months 
		end as unsettle_creditloan_latest_overdue_months,
		nvl(unpl.LATEST6MONTHUSEDAVGAMOUNT,-9999999) as  latest6months_avg_amount,
	
		nvl(loan.loan_org_num,-9999999) as loan_org_num,
		case 
			when loan.loan_num is null then -9999999
			when loan.loan_num is not null and unloan.unsettle_loan_num is null then 0 
			else unloan.unsettle_loan_org_num 
		end as unsettle_loan_org_num,
		case 
			when cdtl.credit_loan_org_num is null then 0 
			else cdtl.credit_loan_org_num 
		end as credit_loan_org_num,
		case 
			when cdtl.creditloan_num is null then -9999999
			when uncdtl.unsettle_creditloan_num is null and cdtl.creditloan_num is not null then 0
			else uncdtl.unsettle_creditloan_org_num 
		end as unsettle_creditloan_org_num,
		
		nvl(loan.loan_remain_payment_avg_cyc,-9999999) as loan_remain_payment_avg_cyc,
		case 
			when loan.loan_num is null then -9999999
			when unloan.unsettle_loan_num is null and loan.loan_num is not null then 0
			else unloan.unsettleloan_remain_payment_avg_cyc 
		end as unsettleloan_remain_payment_avg_cyc,
		case 
			when cdtl.creditloan_num is null then -9999999
			when cdtl.creditloan_num is not null and uncdtl.unsettle_creditloan_num is null then 0
			else uncdtl.unsettle_creditloan_remain_payment_avg_cyc 
		end as unsettle_creditloan_remain_payment_avg_cyc,
		nvl(loan.loan_avg_balance,-9999999) as loan_avg_balance,
		case 
			when loan.loan_num is null then -9999999
			when unloan.unsettle_loan_num is null and loan.loan_num is not null then 0
			else unloan.unsettle_loan_avg_balance 
		end as unsettle_loan_avg_balance,
		case 
			when cdtl.creditloan_num is null then -9999999
			when cdtl.creditloan_num is not null and uncdtl.unsettle_creditloan_num is null then 0
			else uncdtl.unsettle_creditloan_avg_balance 
		end as unsettle_creditloan_avg_balance,
		case 
			when loan.loan_num is null then -9999999
			when loan.loan_num is not null and unnom.unnormal_loan_num is null then 0
			else unnom.unnormal_loan_num 
		end as unnormal_loan_num,
		now(),
		now(),
		now()
		
from ICRMESSAGEHEADER head 
left join ICRCREDITCUE cdt on head.reportno=cdt.reportno
-- 贷款
left join 
(select a.reportno,sum(nvl(a.CREDITLIMITAMOUNT,0)) as loan_amount_sum,
		sum(nvl(a.BALANCE,0)) as loan_balance_sum,count(1) as loan_num,
		-- TIMESTAMPDIFF(month,date_format(concat(max(b.month),'.01'),'%Y-%m-%d'),date_format(now(),'%Y-%m-%d')) as loan_latest_overdue_months,
		count(distinct FINANCEORG) as loan_org_num,
		round(avg(nvl(REMAINPAYMENTCYC,0)),5) as loan_remain_payment_avg_cyc,
		round(avg(nvl(BALANCE,0)),5) as loan_avg_balance,
		max(nvl(a.CREDITLIMITAMOUNT,0)) as max_cdtamt_loan
from ICRLOANINFO a
-- left join ICR.ICRLATEST5YEAROVERDUEDETAIL b on a.reportno=b.reportno
group by reportno
)loan on head.reportno=loan.reportno
-- 信用贷
left join 
(select a.reportno,sum(nvl(a.CREDITLIMITAMOUNT,0)) as creditloan_amount_sum,
		sum(nvl(a.BALANCE,0)) as creditloan_balance_sum,count(1) as creditloan_num,
		-- TIMESTAMPDIFF(month,date_format(concat(max(b.month),'.01'),'%Y-%m-%d'),date_format(now(),'%Y-%m-%d')) as creditloan_latest_overdue_months,
		count(distinct FINANCEORG) as credit_loan_org_num,
		max(nvl(a.CREDITLIMITAMOUNT,0)) as max_cdtamt_cdtloan
from ICRLOANINFO a
-- left join ICR.ICRLATEST5YEAROVERDUEDETAIL b on a.reportno=b.reportno
where a.GUARANTEETYPE='信用/免担保'
group by reportno
)cdtl on head.reportno=cdtl.reportno
--  未结清贷款
left join 
(select a.reportno,sum(nvl(a.CREDITLIMITAMOUNT,0)) as unsettle_loan_amount_sum,
		sum(nvl(a.BALANCE,0)) as unsettle_loan_balance_sum,count(1) as unsettle_loan_num,
		-- TIMESTAMPDIFF(month,date_format(concat(max(b.month),'.01'),'%Y-%m-%d'),date_format(now(),'%Y-%m-%d')) as unsettle_loan_latest_overdue_months,
		count(distinct FINANCEORG) as unsettle_loan_org_num,
		round(avg(nvl(REMAINPAYMENTCYC,0)),5) as unsettleloan_remain_payment_avg_cyc,
		round(avg(nvl(BALANCE,0)),5) as unsettle_loan_avg_balance,count(1) as unloan_num
		--	max(nvl(a.CREDITLIMITAMOUNT,0)) as max_cdtamt_unsetcdtloan
from ICRLOANINFO a
-- left join ICR.ICRLATEST5YEAROVERDUEDETAIL b on a.reportno=b.reportno
where a.state in ('正常','呆账','逾期','转出')
group by reportno
)unloan on head.reportno=unloan.reportno
--  未结清信用贷款
left join 
(select a.reportno,sum(nvl(a.CREDITLIMITAMOUNT,0)) as unsettle_creditloan_amount_sum,
		max(nvl(a.CREDITLIMITAMOUNT,0)) as max_cdtamt_unsetcdtloan,
		sum(nvl(a.BALANCE,0)) as unsettle_crdditloan_balance_sum,count(1) as unsettle_creditloan_num,
		-- TIMESTAMPDIFF(month,date_format(concat(max(b.month),'.01'),'%Y-%m-%d'),date_format(now(),'%Y-%m-%d')) as unsettle_creditloan_latest_overdue_months,
		count(distinct FINANCEORG) as unsettle_creditloan_org_num,
		round(avg(nvl(REMAINPAYMENTCYC,0)),5) as unsettle_creditloan_remain_payment_avg_cyc,
		round(avg(nvl(balance,0)),5) as unsettle_creditloan_avg_balance
from ICRLOANINFO a
-- left join ICR.ICRLATEST5YEAROVERDUEDETAIL b on a.reportno=b.reportno
where a.state in ('正常','呆账','逾期','转出') and a.GUARANTEETYPE='信用/免担保'
group by reportno
)uncdtl on head.reportno=uncdtl.reportno
-- 贷款最近6个月平均应还款
left join ICRUNPAIDLOAN unpl on head.reportno=unpl.reportno
left join 
(select reportno,count(*) as unnormal_loan_num 
	from ICRLOANINFO 
	where CLASS5STATE not in ('正常','未知') and CLASS5STATE is not null
	group by reportno
)unnom on head.reportno=unnom.reportno
-- 贷款最近一次逾期距查询报告时间月份数
left join 
(select reportno,
	 min(gap_months) as loan_latest_overdue_months
	from temp_loan_5yearoverdue 
	group by reportno
)ovloan on head.reportno=ovloan.reportno
-- 信用贷款最近一次逾期距查询报告时间月份数
left join 
(select reportno,
	 min(gap_months) as creditloan_latest_overdue_months
	from temp_loan_5yearoverdue 
	where GUARANTEETYPE='信用/免担保'
	group by reportno
)ovloan1 on head.reportno=ovloan1.reportno
-- 未结清贷款最近一次逾期距查询报告时间月份数
left join 
(select reportno,
	 min(gap_months) as unsettle_loan_latest_overdue_months
	from temp_loan_5yearoverdue 
	where state in ('正常','呆账','逾期','转出')
	group by reportno
)ovloan2 on head.reportno=ovloan2.reportno
-- 未结清信用贷款最近一次逾期距查询报告时间月份数
left join 
(select reportno,
	 min(gap_months) as unsettle_creditloan_latest_overdue_months
	from temp_loan_5yearoverdue 
	where GUARANTEETYPE='信用/免担保' and state in ('正常','呆账','逾期','转出')
	group by reportno
)ovloan3 on head.reportno=ovloan3.reportno



""").createOrReplaceTempView("dw_loan_summary")

In [7]:
spark.sql("""


select 
	head.reportno,
	case when loan.reportno is null then -9999999 
		else overdue31to60_loan_amount end as overdue31to60_loan_amount,
	case when loan.reportno is null then -9999999 
		else overdue61to90_loan_amount end as overdue61to90_loan_amount,
	case when loan.reportno is null then -9999999 
		else overdue91to180_loan_amount end as overdue91to180_loan_amount,		
	case when loan.reportno is null then -9999999 
		else overdueover180_loan_amount end as overdueover180_loan_amount,	
		
	case when cdloan.cd_account is null then -9999999 
		else overdue31to60_creditloan_amount end as overdue31to60_creditloan_amount,
	case when cdloan.cd_account is null then -9999999 
		else overdue61to90_creditloan_amount end as overdue61to90_creditloan_amount,
	case when cdloan.cd_account is null then -9999999 
		else overdue91to180_creditloan_amount end as overdue91to180_creditloan_amount,
	case when cdloan.cd_account is null then -9999999 
		else overdueover180_creditloan_amount end as overdueover180_creditloan_amount,	
		
	case when loan.reportno is null then -9999999 
		else overdue31to60_loan_percent end as overdue31to60_loan_percent,
	case when loan.reportno is null then -9999999 
		else overdue61to90_loan_percent end as overdue61to90_loan_percent,
	case when loan.reportno is null then -9999999 
		else overdue91to180_loan_percent end as overdue91to180_loan_percent,		
	case when loan.reportno is null then -9999999 
		else overdueover180_loan_percent end as overdueover180_loan_percent,
		
	case when cdloan.cd_account is null then -9999999 
		else overdue31to60_creditloan_percent end as overdue31to60_creditloan_percent,
	case when cdloan.cd_account is null then -9999999 
		else overdue61to90_creditloan_percent end as overdue61to90_creditloan_percent,
	case when cdloan.cd_account is null then -9999999 
		else overdue91to180_creditloan_percent end as overdue91to180_creditloan_percent,
	case when cdloan.cd_account is null then -9999999 
		else overdueover180_creditloan_percent end as overdueover180_creditloan_percent,	
	
	case when loan.reportno is null then -9999999 
		else balance_percent_over30_loannum end as balance_percent_over30_loannum,
	case when loan.reportno is null then -9999999 
		else balance_percent_over50_loannum end as balance_percent_over50_loannum,
	case when loan.reportno is null then -9999999 
		else balance_percent_over75_loannum end as balance_percent_over75_loannum,		
	case when loan.reportno is null then -9999999 
		else balance_percent_over90_loannum end as balance_percent_over90_loannum,

	case when cdloan.cd_account is null then -9999999 
		else balance_percent_over30_crdtloannum end as balance_percent_over30_crdtloannum,
	case when cdloan.cd_account is null then -9999999 
		else balance_percent_over50_crdtloannum end as balance_percent_over50_crdtloannum,
	case when cdloan.cd_account is null then -9999999 
		else balance_percent_over75_crdtloannum end as balance_percent_over75_crdtloannum,
	case when cdloan.cd_account is null then -9999999 
		else balance_percent_over90_crdtloannum end as balance_percent_over90_crdtloannum,
		now(),now(),now()		
from ICRMESSAGEHEADER head
left join
 (
	select reportno,sum(OVERDUE31TO60AMOUNT) as overdue31to60_loan_amount,
	sum(OVERDUE61TO90AMOUNT) as overdue61to90_loan_amount,
	sum(OVERDUE91TO180AMOUNT) as overdue91to180_loan_amount,
	sum(OVERDUEOVER180AMOUNT) as overdueover180_loan_amount,
	sum(overdue31to60_creditloan_amount) as overdue31to60_creditloan_amount,
	sum(overdue61to90_creditloan_amount) as overdue61to90_creditloan_amount,
	sum(overdue91to180_creditloan_amount) as overdue91to180_creditloan_amount,
	sum(overdueover180_creditloan_amount) as overdueover180_creditloan_amount,
	case when sum(nvl(BALANCE,0))=0 then -9999998
		else round(sum(OVERDUE31TO60AMOUNT)/sum(nvl(BALANCE,0)),5) end as overdue31to60_loan_percent,
	case when sum(nvl(BALANCE,0))=0 then -9999998 
		else round(sum(OVERDUE61TO90AMOUNT)/sum(nvl(BALANCE,0)),5) end as overdue61to90_loan_percent,
	case when sum(nvl(BALANCE,0))=0 then -9999998 
		else round(sum(OVERDUE91TO180AMOUNT)/sum(nvl(BALANCE,0)),5) end as overdue91to180_loan_percent,
	case when sum(nvl(BALANCE,0))=0 then -9999998 
		else round(sum(OVERDUEOVER180AMOUNT)/sum(nvl(BALANCE,0)),5) end as overdueover180_loan_percent,
	case when sum(nvl(credit_balance,0))=0 then -9999998
		else round(sum(overdue31to60_creditloan_amount)/sum(credit_balance),5) end as overdue31to60_creditloan_percent,
	case when sum(nvl(credit_balance,0))=0 then -9999998
		else round(sum(overdue61to90_creditloan_amount)/sum(credit_balance),5) end as overdue61to90_creditloan_percent,
	case when sum(nvl(credit_balance,0))=0 then -9999998
		else round(sum(overdue91to180_creditloan_amount)/sum(credit_balance),5) end as overdue91to180_creditloan_percent,
	case when sum(nvl(credit_balance,0))=0 then -9999998 
		else round(sum(overdueover180_creditloan_amount)/sum(credit_balance),5) end as  overdueover180_creditloan_percent,
	sum(balance_percent_over30_loannum) as balance_percent_over30_loannum,
	sum(balance_percent_over50_loannum) as balance_percent_over50_loannum,
	sum(balance_percent_over75_loannum) as balance_percent_over75_loannum,
	sum(balance_percent_over90_loannum) as balance_percent_over90_loannum,
	sum(balance_percent_over30_crdtloannum) as balance_percent_over30_crdtloannum,
	sum(balance_percent_over50_crdtloannum) as balance_percent_over50_crdtloannum,
	sum(balance_percent_over75_crdtloannum) as balance_percent_over75_crdtloannum,
	sum(balance_percent_over90_crdtloannum) as balance_percent_over90_crdtloannum-- ,now(),now(),now()
	from (
	
		select reportno,BALANCE,
			nvl(OVERDUE31TO60AMOUNT,0) as OVERDUE31TO60AMOUNT,
			nvl(OVERDUE61TO90AMOUNT,0) as OVERDUE61TO90AMOUNT,
			nvl(OVERDUE91TO180AMOUNT,0) as OVERDUE91TO180AMOUNT,
			nvl(OVERDUEOVER180AMOUNT,0) as OVERDUEOVER180AMOUNT,
			case when GUARANTEETYPE='信用/免担保' then nvl(OVERDUE31TO60AMOUNT,0) else 0 end as overdue31to60_creditloan_amount,
			case when GUARANTEETYPE='信用/免担保' then nvl(OVERDUE61TO90AMOUNT,0) else 0 end as overdue61to90_creditloan_amount,
			case when GUARANTEETYPE='信用/免担保' then nvl(OVERDUE91TO180AMOUNT,0) else 0 end as overdue91to180_creditloan_amount,
			case when GUARANTEETYPE='信用/免担保' then nvl(OVERDUEOVER180AMOUNT,0) else 0 end as overdueover180_creditloan_amount,
			case when GUARANTEETYPE='信用/免担保' then nvl(balance,0) else 0 end as credit_balance,
			case when CREDITLIMITAMOUNT!=0 and BALANCE/CREDITLIMITAMOUNT>0.3 then 1 else 0 end as balance_percent_over30_loannum,
			case when CREDITLIMITAMOUNT!=0 and BALANCE/CREDITLIMITAMOUNT>0.5 then 1 else 0 end as balance_percent_over50_loannum,
			case when CREDITLIMITAMOUNT!=0 and BALANCE/CREDITLIMITAMOUNT>0.75 then 1 else 0 end as balance_percent_over75_loannum,
			case when CREDITLIMITAMOUNT!=0 and BALANCE/CREDITLIMITAMOUNT>0.90 then 1 else 0 end as balance_percent_over90_loannum,
			case when GUARANTEETYPE='信用/免担保' and CREDITLIMITAMOUNT!=0  and BALANCE/CREDITLIMITAMOUNT>0.3 then 1 else 0 end as balance_percent_over30_crdtloannum,
			case when GUARANTEETYPE='信用/免担保' and CREDITLIMITAMOUNT!=0  and BALANCE/CREDITLIMITAMOUNT>0.5 then 1 else 0 end as balance_percent_over50_crdtloannum,
			case when GUARANTEETYPE='信用/免担保' and CREDITLIMITAMOUNT!=0  and BALANCE/CREDITLIMITAMOUNT>0.75 then 1 else 0 end as balance_percent_over75_crdtloannum,
			case when GUARANTEETYPE='信用/免担保' and CREDITLIMITAMOUNT!=0  and BALANCE/CREDITLIMITAMOUNT>0.90 then 1 else 0 end as balance_percent_over90_crdtloannum
	
		from ICRLOANINFO
	)t
	group by reportno
)main on head.reportno=main.reportno
-- 贷款
left join 
(select reportno,count(*) as all_loan_account
from ICRLOANINFO
group by reportno
) loan on head.reportno=loan.reportno
-- 信用贷
left join 
(select reportno,count(*) as cd_account
from ICRLOANINFO
where GUARANTEETYPE='信用/免担保'
group by reportno
) cdloan on head.reportno=cdloan.reportno

-- select count(distinct reportno) from ICRLOANINFO

""").createOrReplaceTempView("dw_curoverdue_amount")

In [8]:
spark.sql("""



select 
		reportno,
		sum(latest1mon_new_loan_num) as latest1mon_new_loan_num,
		sum(latest3mon_new_loan_num) as latest3mon_new_loan_num,
		sum(latest6mon_new_loan_num) as latest6mon_new_loan_num,
		sum(latest12mon_new_loan_num) as latest12mon_new_loan_num,
		sum(latest1mon_new_loan_amount) as latest1mon_new_loan_amount,
		sum(latest3mon_new_loan_amount) as latest3mon_new_loan_amount,
		sum(latest6mon_new_loan_amount) as latest6mon_new_loan_amount,
		sum(latest12mon_new_loan_amount) as latest12mon_new_loan_amount

from (
		select 
				reportno,
				case when gap_days<=30 then 1 else 0 end as latest1mon_new_loan_num,
				case when gap_days<=90 then 1 else 0 end as latest3mon_new_loan_num,
				case when gap_days<=180 then 1 else 0 end as latest6mon_new_loan_num,
				case when gap_days<=360 then 1 else 0 end as latest12mon_new_loan_num,
	
				case when gap_days<=30 then nvl(CREDITLIMITAMOUNT,0) else 0 end as latest1mon_new_loan_amount,
				case when gap_days<=90 then nvl(CREDITLIMITAMOUNT,0) else 0 end as latest3mon_new_loan_amount,
				case when gap_days<=180 then nvl(CREDITLIMITAMOUNT,0) else 0 end as latest6mon_new_loan_amount,
				case when gap_days<=360 then nvl(CREDITLIMITAMOUNT,0) else 0 end as latest12mon_new_loan_amount

	from 
	(

			select 
					lofo.reportno,
					lofo.CREDITLIMITAMOUNT,
					day(date_format(head.QUERYTIME,'%Y-%m-%d'))-day(date_format(lofo.OPENDATE,'%Y-%m-%d')) as gap_days 
		from ICRLOANINFO lofo
		left join ICRMESSAGEHEADER  head on lofo.reportno=head.reportno
		-- where TIMESTAMPDIFF(day,date_format(head.QUERYTIME,'%Y-%m-%d'),date_format(lofo.OPENDATE,'%Y-%m-%d'))<=360
	)t
		WHERE gap_days<=360
) t1
group by reportno


""").createOrReplaceTempView("dw_new_loan")

In [9]:
spark.sql("""

select t1.reportno,t1.first_loan_months,t1.loan_max_months,t1.loan_min_months
,t1.loan_avg_months,t1.creditloan_max_months,t1.creditloan_min_months
,t1.creditloan_avg_months,t1.unsettled_loan_max_months,t1.unsettled_loan_min_months
,t1.unsettled_loan_avg_months
,t1.unsettled_creditloan_max_months	as	unsettled_cdtloan_max_months
,t1.unsettled_creditloan_min_months	as	unsettled_cdtloan_min_months
,t1.unsettled_creditloan_avg_months	as	unsettled_cdtloan_avg_months
,t2.houseloancount,t2.chouseloancount,t2.otherloancount,t2.max_cdtamt_loan,t2.loan_amount_sum
,t2.loan_balance_sum,t2.loan_num,t2.loan_latest_overdue_months,t2.max_cdtamt_cdtloan
,t2.creditloan_amount_sum,t2.creditloan_balance_sum,t2.creditloan_num
,t2.creditloan_latest_overdue_months as cdtloan_latest_overdue_months
,t2.max_cdtamt_unsetcdtloan,t2.unsettle_loan_amount_sum
,t2.unsettle_loan_balance_sum,t2.unsettle_loan_num
,t2.unsettle_loan_latest_overdue_months,t2.unsettle_creditloan_amount_sum
,t2.unsettle_crdditloan_balance_sum,t2.unsettle_creditloan_num
,t2.unsettle_creditloan_latest_overdue_months as unsettle_cdtloan_ltstovd_mths
,t2.latest6months_avg_amount,t2.loan_org_num,t2.unsettle_loan_org_num
,t2.credit_loan_org_num,t2.unsettle_creditloan_org_num,t2.loan_remain_payment_avg_cyc
,t2.unsettleloan_remain_payment_avg_cyc as unstleloan_rmnpay_avg_cyc
,t2.unsettle_creditloan_remain_payment_avg_cyc as unstle_cdtloan_rmnpay_avg_cyc
,t2.loan_avg_balance,t2.unsettle_loan_avg_balance,t2.unsettle_creditloan_avg_balance
,t2.unnormal_loan_num
,nvl(latest1mon_new_loan_num,0) as latest1mon_new_loan_num
,nvl(latest3mon_new_loan_num,0) as latest3mon_new_loan_num
,nvl(latest6mon_new_loan_num,0) as latest6mon_new_loan_num
,nvl(latest12mon_new_loan_num,0) as latest12mon_new_loan_num
,nvl(latest1mon_new_loan_amount,0) as latest1mon_new_loan_amount
,nvl(latest3mon_new_loan_amount,0) as latest3mon_new_loan_amount
,nvl(latest6mon_new_loan_amount,0) as latest6mon_new_loan_amount
,nvl(latest12mon_new_loan_amount,0) as latest12mon_new_loan_amount
,t4.balance_percent_over30_loannum,t4.balance_percent_over50_loannum
,t4.balance_percent_over75_loannum,t4.balance_percent_over90_loannum
,t4.balance_percent_over30_crdtloannum	as	balance_pct_ov30_crdtloannum
,t4.balance_percent_over50_crdtloannum	as	balance_pct_ov50_crdtloannum
,t4.balance_percent_over75_crdtloannum	as	balance_pct_ov75_crdtloannum
,t4.balance_percent_over90_crdtloannum	as	balance_pct_ov90_crdtloannum
,	now() as create_time,now() as update_time,now() as etl_date

from dw_loan_age t1
left join dw_loan_summary t2 on t1.reportno=t2.reportno
left join  dw_new_loan t3 on t1.reportno=t3.reportno
left join  dw_curoverdue_amount t4 on t1.reportno=t4.reportno

""").createOrReplaceTempView("dm_loan_info")

In [10]:
table_name = "dm_loan_info"

spark.sql("drop table if EXISTS renhang_user_profile.%s "%table_name)
spark.sql("create table renhang_user_profile.%s as select * from %s"%(table_name,table_name))

DataFrame[]