在运行dw相关表之前，首先运行下面部分以创建中间表

In [3]:
import pandas as pd
from pyspark import SparkContext,SQLContext
from pyspark.sql import SQLContext
from pyspark.sql import SparkSession
from pyspark.sql.functions import udf, col
from pyspark.sql.types import StringType
import os
import sklearn
print(os.path.abspath(os.curdir))

/home/thd/人行征信

In [4]:
spark=SparkSession \
        .builder \
        .config("spark.eventLog.enabled", "false") \
        .config("spark.executor.memory", "4g")\
        .config("spark.driver.memory", "8g")\
        .config("spark.cores.max", "10")\
        .config("spark.task.maxFailures", "1000")\
        .config("spark.default.parallelism", "500")\
        .config("spark.sql.shuffle.partitions",100)\
        .appName('renhang_etl') \
        .master('yarn')\
        .getOrCreate()

In [5]:
#创建DW.dw_baseinfo_detail
table1 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "ICR_PROD.ICRMESSAGEHEADER") \
    .option("user", "etl") \
    .option("password", "%TGRDJh3Hg2e4f") \
    .load()
table1.createOrReplaceTempView("ICRMESSAGEHEADER")

table2 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "ICR_PROD.ICRCREDITCUE") \
    .option("user", "etl") \
    .option("password", "%TGRDJh3Hg2e4f") \
    .load()
table2.createOrReplaceTempView("ICRCREDITCUE")

table3 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "ICR_PROD.ICRLOANCARDINFO") \
    .option("user", "etl") \
    .option("password", "%TGRDJh3Hg2e4f") \
    .load()
table3.createOrReplaceTempView("ICRLOANCARDINFO")

table4 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "ICR_PROD.ICRCREDITCUE") \
    .option("user", "etl") \
    .option("password", "%TGRDJh3Hg2e4f") \
    .load()
table4.createOrReplaceTempView("ICRCREDITCUE")

table5 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "ICR_PROD.ICRLATEST2YEAROVERDUECARD") \
    .option("user", "etl") \
    .option("password", "%TGRDJh3Hg2e4f") \
    .load()
table5.createOrReplaceTempView("ICRLATEST2YEAROVERDUECARD")

table6 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "ICR_PROD.ICRLATEST5YEAROVERDUEDETAIL") \
    .option("user", "etl") \
    .option("password", "%TGRDJh3Hg2e4f") \
    .load()
table6.createOrReplaceTempView("ICRLATEST5YEAROVERDUEDETAIL")

table7 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "ICR_PROD.ICRLATEST2YEAROVERDUE") \
    .option("user", "etl") \
    .option("password", "%TGRDJh3Hg2e4f") \
    .load()
table7.createOrReplaceTempView("ICRLATEST2YEAROVERDUE")

table8 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "ICR_PROD.ICRLOANINFO") \
    .option("user", "etl") \
    .option("password", "%TGRDJh3Hg2e4f") \
    .load()
table8.createOrReplaceTempView("ICRLOANINFO")

table9 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "ICR_PROD.ICRUNDESTORYLOANCARD") \
    .option("user", "etl") \
    .option("password", "%TGRDJh3Hg2e4f") \
    .load()
table9.createOrReplaceTempView("ICRUNDESTORYLOANCARD")

table10 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "ICR_PROD.ICRUNDESTORYSTANDARDLOANCARD") \
    .option("user", "etl") \
    .option("password", "%TGRDJh3Hg2e4f") \
    .load()
table10.createOrReplaceTempView("ICRUNDESTORYSTANDARDLOANCARD")

table11 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "ICR_PROD.ICRUNPAIDLOAN") \
    .option("user", "etl") \
    .option("password", "%TGRDJh3Hg2e4f") \
    .load()
table11.createOrReplaceTempView("ICRUNPAIDLOAN")


table12 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "ICR_PROD.ICROVERDUESUMMARY") \
    .option("user", "etl") \
    .option("password", "%TGRDJh3Hg2e4f") \
    .load()
table12.createOrReplaceTempView("ICROVERDUESUMMARY")


table13 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "ICR_PROD.ICRFELLBACKSUMMARY") \
    .option("user", "etl") \
    .option("password", "%TGRDJh3Hg2e4f") \
    .load()
table13.createOrReplaceTempView("ICRFELLBACKSUMMARY")


table14 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "ICR_PROD.ICRGUARANTEE") \
    .option("user", "etl") \
    .option("password", "%TGRDJh3Hg2e4f") \
    .load()
table14.createOrReplaceTempView("ICRGUARANTEE")


table15 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "ICR_PROD.ICRGUARANTEESUMMARY") \
    .option("user", "etl") \
    .option("password", "%TGRDJh3Hg2e4f") \
    .load()
table15.createOrReplaceTempView("ICRGUARANTEESUMMARY")


#######

table16 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "ICR_PROD.ICRCIVILJUDGEMENT") \
    .option("user", "etl") \
    .option("password", "%TGRDJh3Hg2e4f") \
    .load()
table16.createOrReplaceTempView("ICRCIVILJUDGEMENT")



table17 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "ICR_PROD.ICRFORCEEXECUTION") \
    .option("user", "etl") \
    .option("password", "%TGRDJh3Hg2e4f") \
    .load()
table17.createOrReplaceTempView("ICRFORCEEXECUTION")


table18 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "ICR_PROD.ICRADMINPUNISHMENT") \
    .option("user", "etl") \
    .option("password", "%TGRDJh3Hg2e4f") \
    .load()
table18.createOrReplaceTempView("ICRADMINPUNISHMENT")


table19 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "ICR_PROD.ICRTAXARREAR") \
    .option("user", "etl") \
    .option("password", "%TGRDJh3Hg2e4f") \
    .load()
table19.createOrReplaceTempView("ICRTAXARREAR")


table19 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "ICR_PROD.ICRACCFUND") \
    .option("user", "etl") \
    .option("password", "%TGRDJh3Hg2e4f") \
    .load()
table19.createOrReplaceTempView("ICRACCFUND")



table20 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "ICR_PROD.ICRENDOWMENTINSURANCEDEPOSIT") \
    .option("user", "etl") \
    .option("password", "%TGRDJh3Hg2e4f") \
    .load()
table20.createOrReplaceTempView("ICRENDOWMENTINSURANCEDEPOSIT")

In [6]:
spark.sql("""
select 
		ordue.reportno,
		ordue.ACCOUNT,
		head.QUERYTIME,
		ordue.MONTH,
		month(date_format(head.QUERYTIME,'%Y-%m-%d')) - month(date_format(concat(ordue.month,'.01'),'%Y-%m-%d')) as gap_months,
		case 
			when ordue.LASTMONTHS in ('G','Z','D') then 8 
			else ordue.LASTMONTHS 
		end as LASTMONTHS ,
		loanfo.GUARANTEETYPE,STATE,FINANCEORG
from ICRLATEST2YEAROVERDUECARD ordue
-- 只取贷记卡的信息
inner join ICRLOANCARDINFO loanfo on ordue.reportno=loanfo.reportno and ordue.ACCOUNT=loanfo.ACCOUNT 
left join ICRMESSAGEHEADER head on ordue.reportno=head.reportno
where BIZTYPE='准贷记卡' and ordue.LASTMONTHS!='C'
""").createOrReplaceTempView("temp_standcard_2yearoverdue")


spark.sql("""
select 
		ordue.reportno,
		ordue.ACCOUNT,
		head.QUERYTIME,
		ordue.MONTH,
		month(date_format(head.QUERYTIME,'%Y-%m-%d')) - month(date_format(concat(ordue.month,'.01'),'%Y-%m-%d')) as gap_months,
		case 
			when ordue.LASTMONTHS in ('G','Z','D') then 8 
			else ordue.LASTMONTHS 
		end as LASTMONTHS ,
		loanfo.GUARANTEETYPE,STATE,FINANCEORG
from ICRLATEST2YEAROVERDUECARD ordue
-- 只取贷记卡的信息
inner join ICRLOANCARDINFO loanfo on ordue.reportno=loanfo.reportno and ordue.ACCOUNT=loanfo.ACCOUNT 
left join ICRMESSAGEHEADER head on ordue.reportno=head.reportno
where BIZTYPE='贷记卡' and ordue.LASTMONTHS!='C'
""").createOrReplaceTempView("temp_creditcard_2yearoverdue")


spark.sql("""
select 
		ordue.reportno,
		ordue.ACCOUNT,
		head.QUERYTIME,
		ordue.MONTH,
		month(date_format(head.QUERYTIME,'%Y-%m-%d')) - month(date_format(concat(ordue.month,'.01'),'%Y-%m-%d')) as gap_months,
		ordue.LASTMONTHS,ordue.AMOUNT,loanfo.GUARANTEETYPE,STATE,FINANCEORG
from ICRLATEST5YEAROVERDUEDETAIL ordue
-- 只取贷记卡的信息
inner join ICRLOANCARDINFO loanfo on ordue.reportno=loanfo.reportno and ordue.ACCOUNT=loanfo.ACCOUNT 
left join ICRMESSAGEHEADER head on ordue.reportno=head.reportno
where month!='--'  and BIZTYPE='贷记卡'
""").createOrReplaceTempView("temp_creditcard_overdue")


spark.sql("""
select 
		reportno,
		ACCOUNT,
		QUERYTIME,
		MONTH,
		gap_months,
		LASTMONTHS,
		GUARANTEETYPE,
		STATE,
		FINANCEORG 
from temp_creditcard_2yearoverdue
union 
select 
		reportno,
		ACCOUNT,
		QUERYTIME,
		date_format(concat(month,'.01'),'%Y-%m'),
        gap_months,
		LASTMONTHS,
		GUARANTEETYPE,
		STATE,
		FINANCEORG 
from temp_creditcard_overdue
""").createOrReplaceTempView("temp_creditcard_5yearoverdue")



spark.sql("""
select 
		ordue.reportno,
		ordue.ACCOUNT,
		head.QUERYTIME,
		ordue.MONTH,
		month(date_format(head.QUERYTIME,'%Y-%m-%d')) - month(date_format(concat(ordue.month,'.01'),'%Y-%m-%d')) as gap_months,
		case 
			when ordue.LASTMONTHS in ('G','Z','D') then 8 
			else ordue.LASTMONTHS 
		end as LASTMONTHS ,
		loanfo.GUARANTEETYPE,
		STATE,
		FINANCEORG
from ICRLATEST2YEAROVERDUE ordue
-- 只取贷款的信息
inner join ICRLOANINFO loanfo on ordue.reportno=loanfo.reportno and ordue.ACCOUNT=loanfo.ACCOUNT 
left join ICRMESSAGEHEADER head on ordue.reportno=head.reportno
where ordue.LASTMONTHS!='C'
""").createOrReplaceTempView("temp_loan_2yearoverdue")



spark.sql("""
select 
		ordue.reportno,
		ordue.ACCOUNT,
		head.QUERYTIME,
		ordue.MONTH,
		month(date_format(head.QUERYTIME,'%Y-%m-%d')) - month(date_format(concat(ordue.month,'.01'),'%Y-%m-%d')) as gap_months,
		ordue.LASTMONTHS,
		ordue.AMOUNT,
		loanfo.GUARANTEETYPE,
		STATE,FINANCEORG
from ICRLATEST5YEAROVERDUEDETAIL ordue
-- 只取贷款的信息
inner join ICRLOANINFO loanfo on ordue.reportno=loanfo.reportno and ordue.ACCOUNT=loanfo.ACCOUNT 
left join ICRMESSAGEHEADER head on ordue.reportno=head.reportno
where month!='--'
""").createOrReplaceTempView("temp_loan_overdue")




spark.sql("""
select 
		reportno,
		ACCOUNT,
		QUERYTIME,
        MONTH,
		gap_months,
		LASTMONTHS,
		GUARANTEETYPE,
		STATE,
		FINANCEORG 
from temp_loan_2yearoverdue
union 
select 
		reportno,
		ACCOUNT,
		QUERYTIME,
		date_format(concat(month,'.01'),'%Y-%m'),gap_months,LASTMONTHS,
		GUARANTEETYPE,
		STATE,
		FINANCEORG 
from temp_loan_overdue
""").createOrReplaceTempView("temp_loan_5yearoverdue")

中间表已运行完成，spark sql 创建所需要的表

In [7]:
spark.sql("""

select 
		head.reportno,
		nvl(t1.SUITOBJECT_num,0) as SUITOBJECT_num,
		nvl(t1.SUITOBJECTMONEY_amount,0) as SUITOBJECTMONEY_amount,
		nvl(t2.already_enforce_object_num,0) as already_enforce_object_num,
		nvl(t2.enforce_object_amount,0) as enforce_object_amount,
		nvl(t2.already_enforce_object_amount,0) as already_enforce_object_amount,
		nvl(t3.punish_num,0) as punish_num,
		nvl(t3.punish_money,0) as punish_money,
		nvl(t4.tax_num,0) as tax_num,
		nvl(t4.tax_amount,0) as tax_amount,
		nvl(t5.accfund_state,-9999999) as accfund_state,
		nvl(t5.accfund_pay,-9999999) as accfund_pay,
		nvl(t5.accfund_ownpercent,-9999999) as accfund_ownpercent,
		nvl(t5.accfund_cimpercent,-9999999) as accfund_cimpercent,
		nvl(t6.ownbasicmoney,-9999999) as ownbasicmoney ,
	now() as create_time,now() as update_time,now() as etl_date

from ICRMESSAGEHEADER head
left join 
(
	select 
			reportno,
			count(distinct SUITOBJECT) as SUITOBJECT_num,
			sum(nvl(SUITOBJECTMONEY,0)) as SUITOBJECTMONEY_amount
	from ICRCIVILJUDGEMENT
	group by reportno

)t1 on head.reportno=t1.reportno

left join 
(
	select 
		reportno,
		count(distinct ALREADYENFORCEOBJECT) as already_enforce_object_num,
		sum(nvl(ENFORCEOBJECTMONEY,0)) as enforce_object_amount,
		sum(nvl(ALREADYENFORCEOBJECTMONEY,0)) as already_enforce_object_amount
	from ICRFORCEEXECUTION
	group by reportno

)t2 on head.reportno=t2.reportno

left join 
(
	select 
		reportno,
		count(*) as  punish_num, 
		sum(nvl(MONEY,0)) as punish_money
	from ICRADMINPUNISHMENT
	group by reportno

)t3 on head.reportno=t3.reportno

left join 
(
	select 
		reportno,
		count(*) as  tax_num, 
		sum(nvl(TAXARREAAMOUNT,0)) as tax_amount

	from ICRTAXARREAR
	group by reportno

)t4 on head.reportno=t4.reportno

left join 
(	
		select 
			t1.reportno,
			t1.STATE as accfund_state,
			t1.PAY as accfund_pay,
			t1.OWNPERCENT as accfund_ownpercent,
			t1.COMPERCENT as accfund_cimpercent

	from ICRACCFUND t1

	join (
			select 
				a.reportno,
				a.tomonth,
				a.gettime,
				max(registerdate) as registerdate
			from ICRACCFUND a
		 	join 
				(
					select 
						a.reportno,
						a.tomonth,
						max(gettime) as gettime
					from ICRACCFUND a
			 		join 
					(
						select 
							reportno,
							max(tomonth) as tomonth
						from ICRACCFUND
					group by reportno
			)b on a.reportno=b.reportno and a.tomonth=b.tomonth group by a.reportno,a.tomonth

		)b on a.reportno=b.reportno and a.tomonth=b.tomonth and a.gettime=b.gettime group by a.reportno,a.tomonth,a.gettime

	)t2 on t1.reportno=t2.reportno and t1.tomonth=t2.tomonth and t1.gettime=t2.gettime and t1.registerdate=t2.registerdate group by t1.reportno,t1.STATE,t1.PAY,t1.OWNPERCENT,t1.COMPERCENT ---group by 添加了t1.STATE,t1.PAY,t1.OWNPERCENT,t1.COMPERCENT

)t5 on head.reportno=t5.reportno

left join 
(	
	select 
		t1.reportno,
		t1.OWNBASICMONEY as ownbasicmoney

	from ICRENDOWMENTINSURANCEDEPOSIT t1
	join (
		select 
			a.reportno,
			a.gettime,
			max(registerdate) as registerdate
		from ICRENDOWMENTINSURANCEDEPOSIT a
		 join 
			(
				select 
					reportno,
					max(gettime) as gettime
				from ICRENDOWMENTINSURANCEDEPOSIT
				group by reportno
			)b on a.reportno=b.reportno and a.gettime=b.gettime group by a.reportno,a.gettime ---group by 修改了

		)t2 on t1.reportno=t2.reportno and t1.registerdate=t2.registerdate and t1.gettime=t2.gettime group by t1.reportno,t1.OWNBASICMONEY ---group by 添加了

)t6 on head.reportno=t6.reportno

""").createOrReplaceTempView("dw_other_info")

In [8]:
table_name = "dw_other_info"

spark.sql("drop table if EXISTS renhang_user_profile.%s "%table_name)
spark.sql("create table renhang_user_profile.%s as select * from %s"%(table_name,table_name))

DataFrame[]

In [1]:
# for test

In [2]:
from pyspark import SparkContext,SQLContext,SparkConf
from pyspark.sql import SQLContext
from pyspark.sql import SparkSession
from pyspark.sql.functions import udf, col
from pyspark.sql.types import StringType
import pandas as pd
import pandas as pd
from sqlalchemy import create_engine



# 初始化数据库连接，使用pymysql模块
# MySQL的用户：dt, 密码:Usd&212%wePO2, 端口：3306,数据库：
spark=SparkSession \
        .builder \
        .config("spark.eventLog.enabled", "false") \
        .config("spark.executor.memory", "4g")\
        .config("spark.driver.memory", "8g")\
        .config("spark.cores.max", "10")\
        .config("spark.task.maxFailures", "1000")\
        .config("spark.default.parallelism", "500")\
        .config("spark.sql.shuffle.partitions",100)\
        .appName('renhang_etl') \
        .master('yarn')\
        .getOrCreate()


engine = create_engine('mysql+pymysql://dt:Usd&212%wePO2@58.59.11.87:3306/DM')



def time_format(ts):
    try:
        res = ts[0:10].replace('.','')
        return res
    except:
        return 'None'
    else:
        return 'None'    
spark.udf.register('time_format',lambda x:time_format(x))

    
def get_time(ts):
    try:
        res = ts.replace('.','-')
        return res
    except:
        return 'None'
    else:
        return 'None'


spark.udf.register('get_time',lambda x:get_time(x))
# time_udfs = udf(get_time, StringType())


def timestampdiff(flag,t1,t2):
    try:
        date1 = t1[0:10].replace('.','-')
        date2 = t2[0:10].replace('.','-')
        year = (int(date1[0:4])-int(date2[0:4]))
        month = (int(date1[5:7])-int(date2[5:7]))
        day = int(date1[8:10])-int(date2[8:10])
        if(flag == 'year'):
            if(month<0 or (month==0 and day<0)):
                result = year -1
                return result
            return year
        if(flag == 'month'):
            res = year*12+month+int((day-30)/31)
            return res
    
    except:
        return 'None'
    
                                                                                      
spark.udf.register('timestampdiff',lambda x1,x2,x3:timestampdiff(x1,x2,x3))
# timestampdiff = udf(get_time, StringType())   


def get_city(address):
    try:
        province_loc = address.find("省")
        city_loc = address.find("市")
        if(province_loc < 0 or (province_loc>=0 and province_loc>=city_loc) ): #江西赣州市兴国县江西省赣州市兴国县潋江镇罗廖村26号
            city = address[0:city_loc+1]
        if(province_loc>=0 and province_loc<city_loc):
            city = address[province_loc+1:city_loc+1]
        return city
    except:
        return 'None'



spark.udf.register('get_city',lambda x:get_city(x))
# time_udfs = udf(get_time, StringType())

In [46]:
#创建DW.dw_baseinfo_detail
table1 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "ICR_PROD.ICRMESSAGEHEADER") \
    .option("user", "dt") \
    .option("password", "Usd&212%wePO2") \
    .load()
table1.createOrReplaceTempView("ICRMESSAGEHEADER")

table2 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "ICR_PROD.ICRCREDITCUE") \
    .option("user", "dt") \
    .option("password", "Usd&212%wePO2") \
    .load()
table2.createOrReplaceTempView("ICRCREDITCUE")

table3 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "ICR_PROD.ICRLOANCARDINFO") \
    .option("user", "dt") \
    .option("password", "Usd&212%wePO2") \
    .load()
table3.createOrReplaceTempView("ICRLOANCARDINFO")

table4 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "ICR_PROD.ICRCREDITCUE") \
    .option("user", "dt") \
    .option("password", "Usd&212%wePO2") \
    .load()
table4.createOrReplaceTempView("ICRCREDITCUE")

table5 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "ICR_PROD.ICRLATEST2YEAROVERDUECARD") \
    .option("user", "dt") \
    .option("password", "Usd&212%wePO2") \
    .load()
table5.createOrReplaceTempView("ICRLATEST2YEAROVERDUECARD")

table6 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "ICR_PROD.ICRLATEST5YEAROVERDUEDETAIL") \
    .option("user", "dt") \
    .option("password", "Usd&212%wePO2") \
    .load()
table6.createOrReplaceTempView("ICRLATEST5YEAROVERDUEDETAIL")

table7 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "ICR_PROD.ICRLATEST2YEAROVERDUE") \
    .option("user", "dt") \
    .option("password", "Usd&212%wePO2") \
    .load()
table7.createOrReplaceTempView("ICRLATEST2YEAROVERDUE")

table8 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "ICR_PROD.ICRLOANINFO") \
    .option("user", "dt") \
    .option("password", "Usd&212%wePO2") \
    .load()
table8.createOrReplaceTempView("ICRLOANINFO")

table9 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "ICR_PROD.ICRUNDESTORYLOANCARD") \
    .option("user", "dt") \
    .option("password", "Usd&212%wePO2") \
    .load()
table9.createOrReplaceTempView("ICRUNDESTORYLOANCARD")

table10 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "ICR_PROD.ICRUNDESTORYSTANDARDLOANCARD") \
    .option("user", "dt") \
    .option("password", "Usd&212%wePO2") \
    .load()
table10.createOrReplaceTempView("ICRUNDESTORYSTANDARDLOANCARD")

table11 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "ICR_PROD.ICRUNPAIDLOAN") \
    .option("user", "dt") \
    .option("password", "Usd&212%wePO2") \
    .load()
table11.createOrReplaceTempView("ICRUNPAIDLOAN")


table12 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "ICR_PROD.ICROVERDUESUMMARY") \
    .option("user", "dt") \
    .option("password", "Usd&212%wePO2") \
    .load()
table12.createOrReplaceTempView("ICROVERDUESUMMARY")


table13 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "ICR_PROD.ICRFELLBACKSUMMARY") \
    .option("user", "dt") \
    .option("password", "Usd&212%wePO2") \
    .load()
table13.createOrReplaceTempView("ICRFELLBACKSUMMARY")


table14 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "ICR_PROD.ICRGUARANTEE") \
    .option("user", "dt") \
    .option("password", "Usd&212%wePO2") \
    .load()
table14.createOrReplaceTempView("ICRGUARANTEE")


table15 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "ICR_PROD.ICRGUARANTEESUMMARY") \
    .option("user", "dt") \
    .option("password", "Usd&212%wePO2") \
    .load()
table15.createOrReplaceTempView("ICRGUARANTEESUMMARY")


#######

table16 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "ICR_PROD.ICRCIVILJUDGEMENT") \
    .option("user", "dt") \
    .option("password", "Usd&212%wePO2") \
    .load()
table16.createOrReplaceTempView("ICRCIVILJUDGEMENT")



table17 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "ICR_PROD.ICRFORCEEXECUTION") \
    .option("user", "dt") \
    .option("password", "Usd&212%wePO2") \
    .load()
table17.createOrReplaceTempView("ICRFORCEEXECUTION")


table18 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "ICR_PROD.ICRADMINPUNISHMENT") \
    .option("user", "dt") \
    .option("password", "Usd&212%wePO2") \
    .load()
table18.createOrReplaceTempView("ICRADMINPUNISHMENT")


table19 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "ICR_PROD.ICRTAXARREAR") \
    .option("user", "dt") \
    .option("password", "Usd&212%wePO2") \
    .load()
table19.createOrReplaceTempView("ICRTAXARREAR")


table20 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "ICR_PROD.ICRACCFUND") \
    .option("user", "dt") \
    .option("password", "Usd&212%wePO2") \
    .load()
table20.createOrReplaceTempView("ICRACCFUND")



table21 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "ICR_PROD.ICRENDOWMENTINSURANCEDEPOSIT") \
    .option("user", "dt") \
    .option("password", "Usd&212%wePO2") \
    .load()
table21.createOrReplaceTempView("ICRENDOWMENTINSURANCEDEPOSIT")


table22 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "ICR_PROD.ICRRECORDDETAIL") \
    .option("user", "dt") \
    .option("password", "Usd&212%wePO2") \
    .load()
table22.createOrReplaceTempView("ICRRECORDDETAIL")



table23 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "ICR_PROD.ICRRECORDDETAIL") \
    .option("user", "dt") \
    .option("password", "Usd&212%wePO2") \
    .load()
table23.createOrReplaceTempView("ICRRECORDDETAIL")


table24 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "ICR_PROD.QUERY_HISTORY") \
    .option("user", "dt") \
    .option("password", "Usd&212%wePO2") \
    .load()
table24.createOrReplaceTempView("QUERY_HISTORY")

table25 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "ICR_PROD.ICRRECORDSUMMARY") \
    .option("user", "dt") \
    .option("password", "Usd&212%wePO2") \
    .load()
table25.createOrReplaceTempView("ICRRECORDSUMMARY")


table25 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "ICR_PROD.ICRQUERYREQ") \
    .option("user", "dt") \
    .option("password", "Usd&212%wePO2") \
    .load()
table25.createOrReplaceTempView("ICRQUERYREQ")



table25 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "ICR_PROD.ICRIDENTITY") \
    .option("user", "dt") \
    .option("password", "Usd&212%wePO2") \
    .load()
table25.createOrReplaceTempView("ICRIDENTITY")
###########################################################
##########################################################
table1 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "WKL.temp_standcard_2yearoverdue") \
    .option("user", "dt") \
    .option("password", "Usd&212%wePO2") \
    .load()
table1.createOrReplaceTempView("temp_standcard_2yearoverdue")

table2 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "WKL.temp_creditcard_2yearoverdue") \
    .option("user", "dt") \
    .option("password", "Usd&212%wePO2") \
    .load()
table2.createOrReplaceTempView("temp_creditcard_2yearoverdue")

table1 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "WKL.temp_creditcard_overdue") \
    .option("user", "dt") \
    .option("password", "Usd&212%wePO2") \
    .load()
table1.createOrReplaceTempView("temp_creditcard_overdue")

table2 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "WKL.temp_creditcard_5yearoverdue") \
    .option("user", "dt") \
    .option("password", "Usd&212%wePO2") \
    .load()
table2.createOrReplaceTempView("temp_creditcard_5yearoverdue")

table1 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "WKL.temp_loan_2yearoverdue") \
    .option("user", "dt") \
    .option("password", "Usd&212%wePO2") \
    .load()
table1.createOrReplaceTempView("temp_loan_2yearoverdue")

table2 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "WKL.temp_loan_overdue") \
    .option("user", "dt") \
    .option("password", "Usd&212%wePO2") \
    .load()
table2.createOrReplaceTempView("temp_loan_overdue")

table2 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "WKL.temp_loan_5yearoverdue") \
    .option("user", "dt") \
    .option("password", "Usd&212%wePO2") \
    .load()
table2.createOrReplaceTempView("temp_loan_5yearoverdue")

table2 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "WKL.temp_address_change") \
    .option("user", "dt") \
    .option("password", "Usd&212%wePO2") \
    .load()
table2.createOrReplaceTempView("temp_address_change")

table2 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "WKL.temp_emp_change") \
    .option("user", "dt") \
    .option("password", "Usd&212%wePO2") \
    .load()
table2.createOrReplaceTempView("temp_emp_change")
#####

table2 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "WKL.temp_loan_cont_1") \
    .option("user", "dt") \
    .option("password", "Usd&212%wePO2") \
    .load()
table2.createOrReplaceTempView("temp_loan_cont_1")

table2 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "WKL.temp_loan_cont_2") \
    .option("user", "dt") \
    .option("password", "Usd&212%wePO2") \
    .load()
table2.createOrReplaceTempView("temp_loan_cont_2")

In [47]:
spark.sql("""

select
    	reportno,
		SUITOBJECT_num,
		SUITOBJECTMONEY_amount,
		already_enforce_object_num,
		enforce_object_amount,
		already_enforce_object_amount,
		punish_num,
		punish_money,
		tax_num,
		tax_amount,
		accfund_state,
		accfund_pay,
		accfund_ownpercent,
		accfund_cimpercent,
        ownbasicmoney ,
        create_time,
        update_time,
        etl_date
from
(
select 
		head.reportno,
		nvl(t1.SUITOBJECT_num,0) as SUITOBJECT_num,
		nvl(t1.SUITOBJECTMONEY_amount,0) as SUITOBJECTMONEY_amount,
		nvl(t2.already_enforce_object_num,0) as already_enforce_object_num,
		nvl(t2.enforce_object_amount,0) as enforce_object_amount,
		nvl(t2.already_enforce_object_amount,0) as already_enforce_object_amount,
		nvl(t3.punish_num,0) as punish_num,
		nvl(t3.punish_money,0) as punish_money,
		nvl(t4.tax_num,0) as tax_num,
		nvl(t4.tax_amount,0) as tax_amount,
		nvl(t5.accfund_state,-9999999) as accfund_state,
		nvl(t5.accfund_pay,-9999999) as accfund_pay,
		nvl(t5.accfund_ownpercent,-9999999) as accfund_ownpercent,
		nvl(t5.accfund_cimpercent,-9999999) as accfund_cimpercent,
		nvl(t6.ownbasicmoney,-9999999) as ownbasicmoney ,
	now() as create_time,now() as update_time,now() as etl_date,
        row_number() over (partition by head.REPORTNO order by head.REPORTNO ) as rownum


from ICRMESSAGEHEADER head
left join 
(
	select 
			reportno,
			count(distinct SUITOBJECT) as SUITOBJECT_num,
			sum(nvl(SUITOBJECTMONEY,0)) as SUITOBJECTMONEY_amount
	from ICRCIVILJUDGEMENT
	group by reportno

)t1 on head.reportno=t1.reportno

left join 
(
	select 
		reportno,
		count(distinct ALREADYENFORCEOBJECT) as already_enforce_object_num,
		sum(nvl(ENFORCEOBJECTMONEY,0)) as enforce_object_amount,
		sum(nvl(ALREADYENFORCEOBJECTMONEY,0)) as already_enforce_object_amount
	from ICRFORCEEXECUTION
	group by reportno

)t2 on head.reportno=t2.reportno

left join 
(
	select 
		reportno,
		count(*) as  punish_num, 
		sum(nvl(MONEY,0)) as punish_money
	from ICRADMINPUNISHMENT
	group by reportno

)t3 on head.reportno=t3.reportno

left join 
(
	select 
		reportno,
		count(*) as  tax_num, 
		sum(nvl(TAXARREAAMOUNT,0)) as tax_amount

	from ICRTAXARREAR
	group by reportno

)t4 on head.reportno=t4.reportno

left join 
(	
		select 
			t1.reportno,
			t1.STATE as accfund_state,
			t1.PAY as accfund_pay,
			t1.OWNPERCENT as accfund_ownpercent,
			t1.COMPERCENT as accfund_cimpercent

	from ICRACCFUND t1

	join (
			select 
				a.reportno,
				a.tomonth,
				a.gettime,
				max(registerdate) as registerdate
			from ICRACCFUND a
		 	join 
				(
					select 
						a.reportno,
						a.tomonth,
						max(gettime) as gettime
					from ICRACCFUND a
			 		join 
					(
						select 
							reportno,
							max(tomonth) as tomonth
						from ICRACCFUND
					group by reportno
			)b on a.reportno=b.reportno and a.tomonth=b.tomonth group by a.reportno,a.tomonth

		)b on a.reportno=b.reportno and a.tomonth=b.tomonth and a.gettime=b.gettime group by a.reportno,a.tomonth,a.gettime

	)t2 on t1.reportno=t2.reportno and t1.tomonth=t2.tomonth and t1.gettime=t2.gettime and t1.registerdate=t2.registerdate group by t1.reportno,t1.STATE,t1.PAY,t1.OWNPERCENT,t1.COMPERCENT ---group by 添加了t1.STATE,t1.PAY,t1.OWNPERCENT,t1.COMPERCENT

)t5 on head.reportno=t5.reportno

left join 
(	
	select 
		t1.reportno,
		t1.OWNBASICMONEY as ownbasicmoney

	from ICRENDOWMENTINSURANCEDEPOSIT t1
	join (
		select 
			a.reportno,
			a.gettime,
			max(registerdate) as registerdate
		from ICRENDOWMENTINSURANCEDEPOSIT a
		 join 
			(
				select 
					reportno,
					max(gettime) as gettime
				from ICRENDOWMENTINSURANCEDEPOSIT
				group by reportno
			)b on a.reportno=b.reportno and a.gettime=b.gettime group by a.reportno,a.gettime ---group by 修改了

		)t2 on t1.reportno=t2.reportno and t1.registerdate=t2.registerdate and t1.gettime=t2.gettime group by t1.reportno,t1.OWNBASICMONEY ---group by 添加了

)t6 on head.reportno=t6.reportno
) tt where tt.rownum = 1
""").createOrReplaceTempView("dw_other_info")

In [48]:
sql = """


select 
    head.reportno,
    ifnull(t1.SUITOBJECT_num,0) as SUITOBJECT_num,
	ifnull(t1.SUITOBJECTMONEY_amount,0) as SUITOBJECTMONEY_amount,
	ifnull(t2.already_enforce_object_num,0) as already_enforce_object_num,
	ifnull(t2.enforce_object_amount,0) as enforce_object_amount,
	ifnull(t2.already_enforce_object_amount,0) as already_enforce_object_amount,
	ifnull(t3.punish_num,0) as punish_num,
	ifnull(t3.punish_money,0) as punish_money,
	ifnull(t4.tax_num,0) as tax_num,
	ifnull(t4.tax_amount,0) as tax_amount,
	ifnull(t5.accfund_state,-9999999) as accfund_state,
	ifnull(t5.accfund_pay,-9999999) as accfund_pay,
	ifnull(t5.accfund_ownpercent,-9999999) as accfund_ownpercent,
	ifnull(t5.accfund_cimpercent,-9999999) as accfund_cimpercent,
	ifnull(t6.ownbasicmoney,-9999999) as ownbasicmoney ,
	now() as create_time,now() as update_time,now() as etl_date
from ICR_PROD.ICRMESSAGEHEADER head
left join 
(
	select 
        reportno,
        count(distinct SUITOBJECT) as SUITOBJECT_num,
		sum(ifnull(SUITOBJECTMONEY,0)) as SUITOBJECTMONEY_amount
	from ICR_PROD.ICRCIVILJUDGEMENT
	group by reportno
    
)t1 on head.reportno=t1.reportno

left join 
(
	select 
        reportno,
        count(distinct ALREADYENFORCEOBJECT) as already_enforce_object_num,
		sum(ifnull(ENFORCEOBJECTMONEY,0)) as enforce_object_amount,
		sum(ifnull(ALREADYENFORCEOBJECTMONEY,0)) as already_enforce_object_amount
	from ICR_PROD.ICRFORCEEXECUTION
	group by reportno
)t2 on head.reportno=t2.reportno
left join 
(
	select 
        reportno,
        count(*) as  punish_num, 
        sum(ifnull(MONEY,0)) as punish_money
	from ICR_PROD.ICRADMINPUNISHMENT
	group by reportno
)t3 on head.reportno=t3.reportno

left join 
(
	select 
        reportno,
        count(*) as  tax_num,
        sum(ifnull(TAXARREAAMOUNT,0)) as tax_amount
	from ICR_PROD.ICRTAXARREAR
	group by reportno
)t4 on head.reportno=t4.reportno
left join 
(	select 
        t1.reportno,
        t1.STATE as accfund_state,
        t1.PAY as accfund_pay,
		t1.OWNPERCENT as accfund_ownpercent,
        t1.COMPERCENT as accfund_cimpercent

	from ICR_PROD.ICRACCFUND t1
	join (
		select 
            a.reportno,
            a.tomonth,
            a.gettime,
            max(registerdate) as registerdate
		from ICR_PROD.ICRACCFUND a
		 join 
		(
			select 
                a.reportno,
                a.tomonth,
                max(gettime) as gettime
			from ICR_PROD.ICRACCFUND a
			 join 
			(
				select 
                    reportno,
                    max(tomonth) as tomonth
				from ICR_PROD.ICRACCFUND
				group by reportno
                
			)b on a.reportno=b.reportno and a.tomonth=b.tomonth group by a.reportno,a.tomonth
            
		) b on a.reportno=b.reportno and a.tomonth=b.tomonth and a.gettime=b.gettime group by a.reportno,a.tomonth,a.gettime
        
	)t2 on t1.reportno=t2.reportno and t1.tomonth=t2.tomonth and t1.gettime=t2.gettime and t1.registerdate=t2.registerdate 
    
    group by t1.reportno

)t5 on head.reportno=t5.reportno
left join 
(	select 
        t1.reportno,
        t1.OWNBASICMONEY as ownbasicmoney
	from ICR_PROD.ICRENDOWMENTINSURANCEDEPOSIT t1
	join (
		select 
            a.reportno,
            a.gettime,
            max(registerdate) as registerdate
		from ICR_PROD.ICRENDOWMENTINSURANCEDEPOSIT a
		 join 
		(
			select 
                reportno,
                max(gettime) as gettime
			from ICR_PROD.ICRENDOWMENTINSURANCEDEPOSIT
			group by reportno
		)b on a.reportno=b.reportno and a.gettime=b.gettime group by reportno,gettime
        
	)t2 on t1.reportno=t2.reportno and t1.registerdate=t2.registerdate and t1.gettime=t2.gettime group by t1.reportno
    
)t6 on head.reportno=t6.reportno

"""

In [49]:
# 读取sql数据
import datetime
starttime = datetime.datetime.now()
#long running
df = pd.read_sql_query(sql, engine)
endtime = datetime.datetime.now()
print (endtime - starttime)

#读取spark sql 数据
starttime = datetime.datetime.now()
spark_df = spark.sql("""
select * from dw_other_info
""").toPandas()
endtime = datetime.datetime.now()
print (endtime - starttime)


#数据校验方法
def data_check2(df11,df22):
    columns = list(df11.columns)
    for col in columns:
        base_col = ['reportno']
        if(col!='reportno'):
            base_col.append(col)
        df33 = df11[base_col].merge(df22[base_col],on = base_col,how='inner')
        if(len(df33)!=len(df11)):
            print(col,len(df33),len(df11))

#直接做merge操作 inner join有问题，需要进一步解决，目前解决方法是数据写入csv 再读取
df11 = df.astype('object').sort_values(by='reportno').reset_index().drop(columns = 'index')
df22 = spark_df.astype('object').sort_values(by='reportno').reset_index().drop(columns = 'index')

df11.to_csv("mysql_df.csv")
df22.to_csv("spark_df.csv")

dfmm = pd.read_csv("mysql_df.csv",index_col=0)
dfss = pd.read_csv("spark_df.csv",index_col=0)

# print(dfmm.head(2))
# print(ddss.head(2))
data_check2(dfmm,dfss)

0:01:04.928405
0:01:09.613725
accfund_state 348217 348221
accfund_pay 348209 348221
accfund_ownpercent 348211 348221
accfund_cimpercent 348211 348221
create_time 0 348221
update_time 0 348221
etl_date 0 348221

In [50]:
for i in range(len(list(df11['accfund_pay']))):
    if list(df11['accfund_pay'])[i]!=list(df22['accfund_pay'])[i] :
        print(i,list(df11['accfund_pay'])[i],list(df22['accfund_pay'])[i])

13159 1406.0 2110.000000

KeyboardInterrupt: