在运行dw相关表之前，首先运行下面部分以创建中间表

In [1]:
import pandas as pd
from pyspark import SparkContext,SQLContext
from pyspark.sql import SQLContext
from pyspark.sql import SparkSession
from pyspark.sql.functions import udf, col
from pyspark.sql.types import StringType
import os
import sklearn
print(os.path.abspath(os.curdir))

/home/thd/人行征信

In [2]:
spark=SparkSession \
        .builder \
        .config("spark.eventLog.enabled", "false") \
        .config("spark.executor.memory", "4g")\
        .config("spark.driver.memory", "8g")\
        .config("spark.cores.max", "10")\
        .config("spark.task.maxFailures", "1000")\
        .config("spark.default.parallelism", "500")\
        .config("spark.sql.shuffle.partitions",100)\
        .appName('renhang_etl') \
        .master('yarn')\
        .getOrCreate()

In [3]:
#创建DW.dw_baseinfo_detail
table1 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "ICR_PROD.ICRMESSAGEHEADER") \
    .option("user", "etl") \
    .option("password", "%TGRDJh3Hg2e4f") \
    .load()
table1.createOrReplaceTempView("ICRMESSAGEHEADER")

table2 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "ICR_PROD.ICRCREDITCUE") \
    .option("user", "etl") \
    .option("password", "%TGRDJh3Hg2e4f") \
    .load()
table2.createOrReplaceTempView("ICRCREDITCUE")

table3 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "ICR_PROD.ICRLOANCARDINFO") \
    .option("user", "etl") \
    .option("password", "%TGRDJh3Hg2e4f") \
    .load()
table3.createOrReplaceTempView("ICRLOANCARDINFO")

table4 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "ICR_PROD.ICRCREDITCUE") \
    .option("user", "etl") \
    .option("password", "%TGRDJh3Hg2e4f") \
    .load()
table4.createOrReplaceTempView("ICRCREDITCUE")

table5 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "ICR_PROD.ICRLATEST2YEAROVERDUECARD") \
    .option("user", "etl") \
    .option("password", "%TGRDJh3Hg2e4f") \
    .load()
table5.createOrReplaceTempView("ICRLATEST2YEAROVERDUECARD")

table6 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "ICR_PROD.ICRLATEST5YEAROVERDUEDETAIL") \
    .option("user", "etl") \
    .option("password", "%TGRDJh3Hg2e4f") \
    .load()
table6.createOrReplaceTempView("ICRLATEST5YEAROVERDUEDETAIL")

table7 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "ICR_PROD.ICRLATEST2YEAROVERDUE") \
    .option("user", "etl") \
    .option("password", "%TGRDJh3Hg2e4f") \
    .load()
table7.createOrReplaceTempView("ICRLATEST2YEAROVERDUE")

table8 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "ICR_PROD.ICRLOANINFO") \
    .option("user", "etl") \
    .option("password", "%TGRDJh3Hg2e4f") \
    .load()
table8.createOrReplaceTempView("ICRLOANINFO")

table9 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "ICR_PROD.ICRUNDESTORYLOANCARD") \
    .option("user", "etl") \
    .option("password", "%TGRDJh3Hg2e4f") \
    .load()
table9.createOrReplaceTempView("ICRUNDESTORYLOANCARD")

table10 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "ICR_PROD.ICRUNDESTORYSTANDARDLOANCARD") \
    .option("user", "etl") \
    .option("password", "%TGRDJh3Hg2e4f") \
    .load()
table10.createOrReplaceTempView("ICRUNDESTORYSTANDARDLOANCARD")

table11 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "ICR_PROD.ICRUNPAIDLOAN") \
    .option("user", "etl") \
    .option("password", "%TGRDJh3Hg2e4f") \
    .load()
table11.createOrReplaceTempView("ICRUNPAIDLOAN")


table12 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "ICR_PROD.ICROVERDUESUMMARY") \
    .option("user", "etl") \
    .option("password", "%TGRDJh3Hg2e4f") \
    .load()
table12.createOrReplaceTempView("ICROVERDUESUMMARY")


table13 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "ICR_PROD.ICRFELLBACKSUMMARY") \
    .option("user", "etl") \
    .option("password", "%TGRDJh3Hg2e4f") \
    .load()
table13.createOrReplaceTempView("ICRFELLBACKSUMMARY")


table14 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "ICR_PROD.ICRGUARANTEE") \
    .option("user", "etl") \
    .option("password", "%TGRDJh3Hg2e4f") \
    .load()
table14.createOrReplaceTempView("ICRGUARANTEE")


table15 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "ICR_PROD.ICRGUARANTEESUMMARY") \
    .option("user", "etl") \
    .option("password", "%TGRDJh3Hg2e4f") \
    .load()
table15.createOrReplaceTempView("ICRGUARANTEESUMMARY")

In [4]:
spark.sql("""
select 
		ordue.reportno,
		ordue.ACCOUNT,
		head.QUERYTIME,
		ordue.MONTH,
		month(date_format(head.QUERYTIME,'%Y-%m-%d')) - month(date_format(concat(ordue.month,'.01'),'%Y-%m-%d')) as gap_months,
		case 
			when ordue.LASTMONTHS in ('G','Z','D') then 8 
			else ordue.LASTMONTHS 
		end as LASTMONTHS ,
		loanfo.GUARANTEETYPE,STATE,FINANCEORG
from ICRLATEST2YEAROVERDUECARD ordue
-- 只取贷记卡的信息
inner join ICRLOANCARDINFO loanfo on ordue.reportno=loanfo.reportno and ordue.ACCOUNT=loanfo.ACCOUNT 
left join ICRMESSAGEHEADER head on ordue.reportno=head.reportno
where BIZTYPE='准贷记卡' and ordue.LASTMONTHS!='C'
""").createOrReplaceTempView("temp_standcard_2yearoverdue")


spark.sql("""
select 
		ordue.reportno,
		ordue.ACCOUNT,
		head.QUERYTIME,
		ordue.MONTH,
		month(date_format(head.QUERYTIME,'%Y-%m-%d')) - month(date_format(concat(ordue.month,'.01'),'%Y-%m-%d')) as gap_months,
		case 
			when ordue.LASTMONTHS in ('G','Z','D') then 8 
			else ordue.LASTMONTHS 
		end as LASTMONTHS ,
		loanfo.GUARANTEETYPE,STATE,FINANCEORG
from ICRLATEST2YEAROVERDUECARD ordue
-- 只取贷记卡的信息
inner join ICRLOANCARDINFO loanfo on ordue.reportno=loanfo.reportno and ordue.ACCOUNT=loanfo.ACCOUNT 
left join ICRMESSAGEHEADER head on ordue.reportno=head.reportno
where BIZTYPE='贷记卡' and ordue.LASTMONTHS!='C'
""").createOrReplaceTempView("temp_creditcard_2yearoverdue")


spark.sql("""
select 
		ordue.reportno,
		ordue.ACCOUNT,
		head.QUERYTIME,
		ordue.MONTH,
		month(date_format(head.QUERYTIME,'%Y-%m-%d')) - month(date_format(concat(ordue.month,'.01'),'%Y-%m-%d')) as gap_months,
		ordue.LASTMONTHS,ordue.AMOUNT,loanfo.GUARANTEETYPE,STATE,FINANCEORG
from ICRLATEST5YEAROVERDUEDETAIL ordue
-- 只取贷记卡的信息
inner join ICRLOANCARDINFO loanfo on ordue.reportno=loanfo.reportno and ordue.ACCOUNT=loanfo.ACCOUNT 
left join ICRMESSAGEHEADER head on ordue.reportno=head.reportno
where month!='--'  and BIZTYPE='贷记卡'
""").createOrReplaceTempView("temp_creditcard_overdue")


spark.sql("""
select 
		reportno,
		ACCOUNT,
		QUERYTIME,
		MONTH,
		gap_months,
		LASTMONTHS,
		GUARANTEETYPE,
		STATE,
		FINANCEORG 
from temp_creditcard_2yearoverdue
union 
select 
		reportno,
		ACCOUNT,
		QUERYTIME,
		date_format(concat(month,'.01'),'%Y-%m'),
        gap_months,
		LASTMONTHS,
		GUARANTEETYPE,
		STATE,
		FINANCEORG 
from temp_creditcard_overdue
""").createOrReplaceTempView("temp_creditcard_5yearoverdue")



spark.sql("""
select 
		ordue.reportno,
		ordue.ACCOUNT,
		head.QUERYTIME,
		ordue.MONTH,
		month(date_format(head.QUERYTIME,'%Y-%m-%d')) - month(date_format(concat(ordue.month,'.01'),'%Y-%m-%d')) as gap_months,
		case 
			when ordue.LASTMONTHS in ('G','Z','D') then 8 
			else ordue.LASTMONTHS 
		end as LASTMONTHS ,
		loanfo.GUARANTEETYPE,
		STATE,
		FINANCEORG
from ICRLATEST2YEAROVERDUE ordue
-- 只取贷款的信息
inner join ICRLOANINFO loanfo on ordue.reportno=loanfo.reportno and ordue.ACCOUNT=loanfo.ACCOUNT 
left join ICRMESSAGEHEADER head on ordue.reportno=head.reportno
where ordue.LASTMONTHS!='C'
""").createOrReplaceTempView("temp_loan_2yearoverdue")



spark.sql("""
select 
		ordue.reportno,
		ordue.ACCOUNT,
		head.QUERYTIME,
		ordue.MONTH,
		month(date_format(head.QUERYTIME,'%Y-%m-%d')) - month(date_format(concat(ordue.month,'.01'),'%Y-%m-%d')) as gap_months,
		ordue.LASTMONTHS,
		ordue.AMOUNT,
		loanfo.GUARANTEETYPE,
		STATE,FINANCEORG
from ICRLATEST5YEAROVERDUEDETAIL ordue
-- 只取贷款的信息
inner join ICRLOANINFO loanfo on ordue.reportno=loanfo.reportno and ordue.ACCOUNT=loanfo.ACCOUNT 
left join ICRMESSAGEHEADER head on ordue.reportno=head.reportno
where month!='--'
""").createOrReplaceTempView("temp_loan_overdue")




spark.sql("""
select 
		reportno,
		ACCOUNT,
		QUERYTIME,
        MONTH,
		gap_months,
		LASTMONTHS,
		GUARANTEETYPE,
		STATE,
		FINANCEORG 
from temp_loan_2yearoverdue
union 
select 
		reportno,
		ACCOUNT,
		QUERYTIME,
		date_format(concat(month,'.01'),'%Y-%m'),gap_months,LASTMONTHS,
		GUARANTEETYPE,
		STATE,
		FINANCEORG 
from temp_loan_overdue
""").createOrReplaceTempView("temp_loan_5yearoverdue")

中间表已运行完成，spark sql 创建所需要的表

In [7]:

spark.sql("""

select 
	lofo.reportno,
	case 
		when cue like '%共享授信额度折合人民币%' then substr(substring(cue,locate('共享授信额度折合人民币' , cue)+11,10),1,locate('元' , substring(cue,locate('共享授信额度折合人民币' , cue)+11,10))-1)
		when cue not like '%共享授信额度折合人民币%' and cue like  '%共享授信额度%' then substr(substring(cue,locate('共享授信额度' , cue)+6,10),1,locate('元' , substring(cue,locate('共享授信额度' , cue)+6,10))-1)
	end as CREDITLIMITAMOUNT,
	FINANCEORG,
	ACCOUNT,
	BIZTYPE,
	day(date_format(head.QUERYTIME,'%Y-%m-%d'))-day(date_format(lofo.OPENDATE,'%Y-%m-%d')) as days_gap,
	lofo.OPENDATE,
	head.QUERYTIME
from ICRLOANCARDINFO lofo
left join ICRMESSAGEHEADER  head 
on lofo.reportno=head.reportno

""").createOrReplaceTempView("temp_card_new")


spark.sql("""

select reportno,
count(distinct latest1mon_new_ccard_account) as latest1mon_new_ccard_account_num,
count(distinct latest1mon_new_ccard_org) as latest1mon_new_ccard_org_num,
round(sum( latest1mon_new_ccard_amount),2) as latest1mon_new_ccard_amount,

count(distinct latest3mon_new_ccard_account) as latest3mon_new_ccard_account_num,
count(distinct latest3mon_new_ccard_org) as latest3mon_new_ccard_org_num,
round(sum( latest3mon_new_ccard_amount),2) as latest3mon_new_ccard_amount,

count(distinct latest6mon_new_ccard_account) as latest6mon_new_ccard_account_num,
count(distinct latest6mon_new_ccard_org) as latest6mon_new_ccard_org_num,
round(sum( latest6mon_new_ccard_amount),2) as latest6mon_new_ccard_amount,

count(distinct latest9mon_new_ccard_account) as latest9mon_new_ccard_account_num,
count(distinct latest9mon_new_ccard_org) as latest9mon_new_ccard_org_num,
round(sum( latest9mon_new_ccard_amount),2) as latest9mon_new_ccard_amount,

count(distinct latest12mon_new_ccard_account) as latest12mon_new_ccard_account_num,
count(distinct latest12mon_new_ccard_org) as latest12mon_new_ccard_org_num,
round(sum( latest12mon_new_ccard_amount),2) as latest12mon_new_ccard_amount,

count(distinct latest18mon_new_ccard_account) as latest18mon_new_ccard_account_num,
count(distinct latest18mon_new_ccard_org) as latest18mon_new_ccard_org_num,
round(sum( latest18mon_new_ccard_amount),2) as latest18mon_new_ccard_amount,

count(distinct latest24mon_new_ccard_account) as latest24mon_new_ccard_account_num,
count(distinct latest24mon_new_ccard_org) as latest24mon_new_ccard_org_num,
round(sum( latest24mon_new_ccard_amount),2) as latest24mon_new_ccard_amount,

count(distinct latest1mon_new_scard_account) as latest1mon_new_scard_account_num,
round(sum(distinct latest1mon_new_scard_amount),2) as latest1mon_new_scard_amount,

count(distinct latest3mon_new_scard_account) as latest3mon_new_scard_account_num,
round(sum( latest3mon_new_scard_amount),2) as latest3mon_new_scard_amount,

count(distinct latest6mon_new_scard_account) as latest6mon_new_scard_account_num,
round(sum( latest6mon_new_scard_amount),2) as latest6mon_new_scard_amount,

count(distinct latest9mon_new_scard_account) as latest9mon_new_scard_account_num,
round(sum( latest9mon_new_scard_amount),2) as latest9mon_new_scard_amount,

count(distinct latest12mon_new_scard_account) as latest12mon_new_scard_account_num,
round(sum( latest12mon_new_scard_amount),2) as latest12mon_new_scard_amount,

count(distinct latest18mon_new_scard_account) as latest18mon_new_scard_account_num,
round(sum( latest18mon_new_scard_amount),2) as latest18mon_new_scard_amount,

count(distinct latest24mon_new_scard_account) as latest24mon_new_scard_account_num,
round(sum( latest24mon_new_scard_amount),2) as latest24mon_new_scard_amount,
	now() as create_time,now() as update_time,now() as etl_date
from 
(
select 
reportno,
case when BIZTYPE='贷记卡' and days_gap<=30 then account else null end as latest1mon_new_ccard_account,
case when BIZTYPE='贷记卡' and days_gap<=30 then FINANCEORG else null end as latest1mon_new_ccard_org,
case when BIZTYPE='贷记卡' and days_gap<=30 then nvl(CREDITLIMITAMOUNT,0) else 0 end as latest1mon_new_ccard_amount,

case when BIZTYPE='贷记卡' and days_gap<=90 then account else null end as latest3mon_new_ccard_account,
case when BIZTYPE='贷记卡' and days_gap<=90 then FINANCEORG else null end as latest3mon_new_ccard_org,
case when BIZTYPE='贷记卡' and days_gap<=90 then nvl(CREDITLIMITAMOUNT,0) else 0 end as latest3mon_new_ccard_amount,

case when BIZTYPE='贷记卡' and days_gap<=180 then account else null end as latest6mon_new_ccard_account,
case when BIZTYPE='贷记卡' and days_gap<=180 then FINANCEORG else null end as latest6mon_new_ccard_org,
case when BIZTYPE='贷记卡' and days_gap<=180 then nvl(CREDITLIMITAMOUNT,0) else 0 end as latest6mon_new_ccard_amount,

case when BIZTYPE='贷记卡' and days_gap<=270 then account else null end as latest9mon_new_ccard_account,
case when BIZTYPE='贷记卡' and days_gap<=270 then FINANCEORG else null end as latest9mon_new_ccard_org,
case when BIZTYPE='贷记卡' and days_gap<=270 then nvl(CREDITLIMITAMOUNT,0) else 0 end as latest9mon_new_ccard_amount,

case when BIZTYPE='贷记卡' and days_gap<=360 then account else null end as latest12mon_new_ccard_account,
case when BIZTYPE='贷记卡' and days_gap<=360 then FINANCEORG else null end as latest12mon_new_ccard_org,
case when BIZTYPE='贷记卡' and days_gap<=360 then nvl(CREDITLIMITAMOUNT,0) else 0 end as latest12mon_new_ccard_amount,

case when BIZTYPE='贷记卡' and days_gap<=540 then account else null end as latest18mon_new_ccard_account,
case when BIZTYPE='贷记卡' and days_gap<=540 then FINANCEORG else null end as latest18mon_new_ccard_org,
case when BIZTYPE='贷记卡' and days_gap<=540 then nvl(CREDITLIMITAMOUNT,0) else 0 end as latest18mon_new_ccard_amount,

case when BIZTYPE='贷记卡' and days_gap<=720 then account else null end as latest24mon_new_ccard_account,
case when BIZTYPE='贷记卡' and days_gap<=720 then FINANCEORG else null end as latest24mon_new_ccard_org,
case when BIZTYPE='贷记卡' and days_gap<=720 then nvl(CREDITLIMITAMOUNT,0) else 0 end as latest24mon_new_ccard_amount,

case when BIZTYPE='准贷记卡' and days_gap<=30 then account else null end as latest1mon_new_scard_account,
case when BIZTYPE='准贷记卡' and days_gap<=30 then nvl(CREDITLIMITAMOUNT,0) else 0 end as latest1mon_new_scard_amount,

case when BIZTYPE='准贷记卡' and days_gap<=90 then account else null end as latest3mon_new_scard_account,
case when BIZTYPE='准贷记卡' and days_gap<=90 then nvl(CREDITLIMITAMOUNT,0) else 0 end as latest3mon_new_scard_amount,

case when BIZTYPE='准贷记卡' and days_gap<=180 then account else null end as latest6mon_new_scard_account,
case when BIZTYPE='准贷记卡' and days_gap<=180 then nvl(CREDITLIMITAMOUNT,0) else 0 end as latest6mon_new_scard_amount,

case when BIZTYPE='准贷记卡' and days_gap<=270 then account else null end as latest9mon_new_scard_account,
case when BIZTYPE='准贷记卡' and days_gap<=270 then nvl(CREDITLIMITAMOUNT,0) else 0 end as latest9mon_new_scard_amount,

case when BIZTYPE='准贷记卡' and days_gap<=360 then account else null end as latest12mon_new_scard_account,
case when BIZTYPE='准贷记卡' and days_gap<=360 then nvl(CREDITLIMITAMOUNT,0) else 0 end as latest12mon_new_scard_amount,

case when BIZTYPE='准贷记卡' and days_gap<=540 then account else null end as latest18mon_new_scard_account,
case when BIZTYPE='准贷记卡' and days_gap<=540 then nvl(CREDITLIMITAMOUNT,0) else 0 end as latest18mon_new_scard_amount,

case when BIZTYPE='准贷记卡' and days_gap<=720 then account else null end as latest24mon_new_scard_account,
case when BIZTYPE='准贷记卡' and days_gap<=720 then nvl(CREDITLIMITAMOUNT,0) else 0 end as latest24mon_new_scard_amount

from temp_card_new
)t
group by reportno


""").createOrReplaceTempView("dw_newopen_card_summary")

In [8]:
table_name = "dw_newopen_card_summary"

spark.sql("drop table if EXISTS renhang_user_profile.%s "%table_name)
spark.sql("create table renhang_user_profile.%s as select * from %s"%(table_name,table_name))

DataFrame[]

In [12]:
from pyspark import SparkContext,SQLContext,SparkConf
from pyspark.sql import SQLContext
from pyspark.sql import SparkSession
from pyspark.sql.functions import udf, col
from pyspark.sql.types import StringType
import pandas as pd
import pandas as pd
from sqlalchemy import create_engine



# 初始化数据库连接，使用pymysql模块
# MySQL的用户：dt, 密码:Usd&212%wePO2, 端口：3306,数据库：
spark=SparkSession \
        .builder \
        .config("spark.eventLog.enabled", "false") \
        .config("spark.executor.memory", "4g")\
        .config("spark.driver.memory", "8g")\
        .config("spark.cores.max", "10")\
        .config("spark.task.maxFailures", "1000")\
        .config("spark.default.parallelism", "500")\
        .config("spark.sql.shuffle.partitions",100)\
        .appName('renhang_etl') \
        .master('yarn')\
        .getOrCreate()


engine = create_engine('mysql+pymysql://dt:Usd&212%wePO2@58.59.11.87:3306/DM')



def time_format(ts):
    try:
        res = ts[0:10].replace('.','')
        return res
    except:
        return 'None'
    else:
        return 'None'    
spark.udf.register('time_format',lambda x:time_format(x))

    
def get_time(ts):
    try:
        res = ts.replace('.','-')
        return res
    except:
        return 'None'
    else:
        return 'None'


spark.udf.register('get_time',lambda x:get_time(x))
# time_udfs = udf(get_time, StringType())


def timestampdiff(flag,t1,t2):
    try:
        date1 = t1[0:10].replace('.','-')
        date2 = t2[0:10].replace('.','-')
        year = (int(date1[0:4])-int(date2[0:4]))
        month = (int(date1[5:7])-int(date2[5:7]))
        day = int(date1[8:10])-int(date2[8:10])
        if(flag == 'year'):
            if(month<0 or (month==0 and day<0)):
                result = year -1
                return result
            return year
        if(flag == 'month'):
            res = year*12+month+int((day-30)/31)
            return res
    
    except:
        return 'None'
    
                                                                                      
spark.udf.register('timestampdiff',lambda x1,x2,x3:timestampdiff(x1,x2,x3))
# timestampdiff = udf(get_time, StringType())   


def get_city(address):
    try:
        province_loc = address.find("省")
        city_loc = address.find("市")
        if(province_loc < 0 or (province_loc>=0 and province_loc>=city_loc) ): #江西赣州市兴国县江西省赣州市兴国县潋江镇罗廖村26号
            city = address[0:city_loc+1]
        if(province_loc>=0 and province_loc<city_loc):
            city = address[province_loc+1:city_loc+1]
        return city
    except:
        return 'None'



spark.udf.register('get_city',lambda x:get_city(x))
# time_udfs = udf(get_time, StringType())

In [13]:
#创建DW.dw_baseinfo_detail
table1 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "ICR_PROD.ICRMESSAGEHEADER") \
    .option("user", "dt") \
    .option("password", "Usd&212%wePO2") \
    .load()
table1.createOrReplaceTempView("ICRMESSAGEHEADER")

table2 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "ICR_PROD.ICRCREDITCUE") \
    .option("user", "dt") \
    .option("password", "Usd&212%wePO2") \
    .load()
table2.createOrReplaceTempView("ICRCREDITCUE")

table3 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "ICR_PROD.ICRLOANCARDINFO") \
    .option("user", "dt") \
    .option("password", "Usd&212%wePO2") \
    .load()
table3.createOrReplaceTempView("ICRLOANCARDINFO")

table4 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "ICR_PROD.ICRCREDITCUE") \
    .option("user", "dt") \
    .option("password", "Usd&212%wePO2") \
    .load()
table4.createOrReplaceTempView("ICRCREDITCUE")

table5 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "ICR_PROD.ICRLATEST2YEAROVERDUECARD") \
    .option("user", "dt") \
    .option("password", "Usd&212%wePO2") \
    .load()
table5.createOrReplaceTempView("ICRLATEST2YEAROVERDUECARD")

table6 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "ICR_PROD.ICRLATEST5YEAROVERDUEDETAIL") \
    .option("user", "dt") \
    .option("password", "Usd&212%wePO2") \
    .load()
table6.createOrReplaceTempView("ICRLATEST5YEAROVERDUEDETAIL")

table7 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "ICR_PROD.ICRLATEST2YEAROVERDUE") \
    .option("user", "dt") \
    .option("password", "Usd&212%wePO2") \
    .load()
table7.createOrReplaceTempView("ICRLATEST2YEAROVERDUE")

table8 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "ICR_PROD.ICRLOANINFO") \
    .option("user", "dt") \
    .option("password", "Usd&212%wePO2") \
    .load()
table8.createOrReplaceTempView("ICRLOANINFO")

table9 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "ICR_PROD.ICRUNDESTORYLOANCARD") \
    .option("user", "dt") \
    .option("password", "Usd&212%wePO2") \
    .load()
table9.createOrReplaceTempView("ICRUNDESTORYLOANCARD")

table10 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "ICR_PROD.ICRUNDESTORYSTANDARDLOANCARD") \
    .option("user", "dt") \
    .option("password", "Usd&212%wePO2") \
    .load()
table10.createOrReplaceTempView("ICRUNDESTORYSTANDARDLOANCARD")

table11 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "ICR_PROD.ICRUNPAIDLOAN") \
    .option("user", "dt") \
    .option("password", "Usd&212%wePO2") \
    .load()
table11.createOrReplaceTempView("ICRUNPAIDLOAN")


table12 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "ICR_PROD.ICROVERDUESUMMARY") \
    .option("user", "dt") \
    .option("password", "Usd&212%wePO2") \
    .load()
table12.createOrReplaceTempView("ICROVERDUESUMMARY")


table13 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "ICR_PROD.ICRFELLBACKSUMMARY") \
    .option("user", "dt") \
    .option("password", "Usd&212%wePO2") \
    .load()
table13.createOrReplaceTempView("ICRFELLBACKSUMMARY")


table14 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "ICR_PROD.ICRGUARANTEE") \
    .option("user", "dt") \
    .option("password", "Usd&212%wePO2") \
    .load()
table14.createOrReplaceTempView("ICRGUARANTEE")


table15 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "ICR_PROD.ICRGUARANTEESUMMARY") \
    .option("user", "dt") \
    .option("password", "Usd&212%wePO2") \
    .load()
table15.createOrReplaceTempView("ICRGUARANTEESUMMARY")


#######

table16 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "ICR_PROD.ICRCIVILJUDGEMENT") \
    .option("user", "dt") \
    .option("password", "Usd&212%wePO2") \
    .load()
table16.createOrReplaceTempView("ICRCIVILJUDGEMENT")



table17 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "ICR_PROD.ICRFORCEEXECUTION") \
    .option("user", "dt") \
    .option("password", "Usd&212%wePO2") \
    .load()
table17.createOrReplaceTempView("ICRFORCEEXECUTION")


table18 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "ICR_PROD.ICRADMINPUNISHMENT") \
    .option("user", "dt") \
    .option("password", "Usd&212%wePO2") \
    .load()
table18.createOrReplaceTempView("ICRADMINPUNISHMENT")


table19 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "ICR_PROD.ICRTAXARREAR") \
    .option("user", "dt") \
    .option("password", "Usd&212%wePO2") \
    .load()
table19.createOrReplaceTempView("ICRTAXARREAR")


table20 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "ICR_PROD.ICRACCFUND") \
    .option("user", "dt") \
    .option("password", "Usd&212%wePO2") \
    .load()
table20.createOrReplaceTempView("ICRACCFUND")



table21 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "ICR_PROD.ICRENDOWMENTINSURANCEDEPOSIT") \
    .option("user", "dt") \
    .option("password", "Usd&212%wePO2") \
    .load()
table21.createOrReplaceTempView("ICRENDOWMENTINSURANCEDEPOSIT")


table22 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "ICR_PROD.ICRRECORDDETAIL") \
    .option("user", "dt") \
    .option("password", "Usd&212%wePO2") \
    .load()
table22.createOrReplaceTempView("ICRRECORDDETAIL")



table23 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "ICR_PROD.ICRRECORDDETAIL") \
    .option("user", "dt") \
    .option("password", "Usd&212%wePO2") \
    .load()
table23.createOrReplaceTempView("ICRRECORDDETAIL")


table24 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "ICR_PROD.QUERY_HISTORY") \
    .option("user", "dt") \
    .option("password", "Usd&212%wePO2") \
    .load()
table24.createOrReplaceTempView("QUERY_HISTORY")

table25 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "ICR_PROD.ICRRECORDSUMMARY") \
    .option("user", "dt") \
    .option("password", "Usd&212%wePO2") \
    .load()
table25.createOrReplaceTempView("ICRRECORDSUMMARY")


table25 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "ICR_PROD.ICRQUERYREQ") \
    .option("user", "dt") \
    .option("password", "Usd&212%wePO2") \
    .load()
table25.createOrReplaceTempView("ICRQUERYREQ")



table25 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "ICR_PROD.ICRIDENTITY") \
    .option("user", "dt") \
    .option("password", "Usd&212%wePO2") \
    .load()
table25.createOrReplaceTempView("ICRIDENTITY")
###########################################################
##########################################################
table1 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "WKL.temp_standcard_2yearoverdue") \
    .option("user", "dt") \
    .option("password", "Usd&212%wePO2") \
    .load()
table1.createOrReplaceTempView("temp_standcard_2yearoverdue")

table2 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "WKL.temp_creditcard_2yearoverdue") \
    .option("user", "dt") \
    .option("password", "Usd&212%wePO2") \
    .load()
table2.createOrReplaceTempView("temp_creditcard_2yearoverdue")

table1 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "WKL.temp_creditcard_overdue") \
    .option("user", "dt") \
    .option("password", "Usd&212%wePO2") \
    .load()
table1.createOrReplaceTempView("temp_creditcard_overdue")

table2 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "WKL.temp_creditcard_5yearoverdue") \
    .option("user", "dt") \
    .option("password", "Usd&212%wePO2") \
    .load()
table2.createOrReplaceTempView("temp_creditcard_5yearoverdue")

table1 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "WKL.temp_loan_2yearoverdue") \
    .option("user", "dt") \
    .option("password", "Usd&212%wePO2") \
    .load()
table1.createOrReplaceTempView("temp_loan_2yearoverdue")

table2 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "WKL.temp_loan_overdue") \
    .option("user", "dt") \
    .option("password", "Usd&212%wePO2") \
    .load()
table2.createOrReplaceTempView("temp_loan_overdue")

table2 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "WKL.temp_loan_5yearoverdue") \
    .option("user", "dt") \
    .option("password", "Usd&212%wePO2") \
    .load()
table2.createOrReplaceTempView("temp_loan_5yearoverdue")

table2 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "WKL.temp_address_change") \
    .option("user", "dt") \
    .option("password", "Usd&212%wePO2") \
    .load()
table2.createOrReplaceTempView("temp_address_change")

table2 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "WKL.temp_emp_change") \
    .option("user", "dt") \
    .option("password", "Usd&212%wePO2") \
    .load()
table2.createOrReplaceTempView("temp_emp_change")
#####

table2 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "WKL.temp_loan_cont_1") \
    .option("user", "dt") \
    .option("password", "Usd&212%wePO2") \
    .load()
table2.createOrReplaceTempView("temp_loan_cont_1")

table2 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "WKL.temp_loan_cont_2") \
    .option("user", "dt") \
    .option("password", "Usd&212%wePO2") \
    .load()
table2.createOrReplaceTempView("temp_loan_cont_2")

##
table2 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "WKL.temp_card_new") \
    .option("user", "dt") \
    .option("password", "Usd&212%wePO2") \
    .load()
table2.createOrReplaceTempView("temp_card_new")

In [14]:
sql = """

select reportno,
count(distinct latest1mon_new_ccard_account) as latest1mon_new_ccard_account_num,
count(distinct latest1mon_new_ccard_org) as latest1mon_new_ccard_org_num,
round(sum( latest1mon_new_ccard_amount),2) as latest1mon_new_ccard_amount,

count(distinct latest3mon_new_ccard_account) as latest3mon_new_ccard_account_num,
count(distinct latest3mon_new_ccard_org) as latest3mon_new_ccard_org_num,
round(sum( latest3mon_new_ccard_amount),2) as latest3mon_new_ccard_amount,

count(distinct latest6mon_new_ccard_account) as latest6mon_new_ccard_account_num,
count(distinct latest6mon_new_ccard_org) as latest6mon_new_ccard_org_num,
round(sum( latest6mon_new_ccard_amount),2) as latest6mon_new_ccard_amount,

count(distinct latest9mon_new_ccard_account) as latest9mon_new_ccard_account_num,
count(distinct latest9mon_new_ccard_org) as latest9mon_new_ccard_org_num,
round(sum( latest9mon_new_ccard_amount),2) as latest9mon_new_ccard_amount,

count(distinct latest12mon_new_ccard_account) as latest12mon_new_ccard_account_num,
count(distinct latest12mon_new_ccard_org) as latest12mon_new_ccard_org_num,
round(sum( latest12mon_new_ccard_amount),2) as latest12mon_new_ccard_amount,

count(distinct latest18mon_new_ccard_account) as latest18mon_new_ccard_account_num,
count(distinct latest18mon_new_ccard_org) as latest18mon_new_ccard_org_num,
round(sum( latest18mon_new_ccard_amount),2) as latest18mon_new_ccard_amount,

count(distinct latest24mon_new_ccard_account) as latest24mon_new_ccard_account_num,
count(distinct latest24mon_new_ccard_org) as latest24mon_new_ccard_org_num,
round(sum( latest24mon_new_ccard_amount),2) as latest24mon_new_ccard_amount,

count(distinct latest1mon_new_scard_account) as latest1mon_new_scard_account_num,
round(sum(distinct latest1mon_new_scard_amount),2) as latest1mon_new_scard_amount,

count(distinct latest3mon_new_scard_account) as latest3mon_new_scard_account_num,
round(sum( latest3mon_new_scard_amount),2) as latest3mon_new_scard_amount,

count(distinct latest6mon_new_scard_account) as latest6mon_new_scard_account_num,
round(sum( latest6mon_new_scard_amount),2) as latest6mon_new_scard_amount,

count(distinct latest9mon_new_scard_account) as latest9mon_new_scard_account_num,
round(sum( latest9mon_new_scard_amount),2) as latest9mon_new_scard_amount,

count(distinct latest12mon_new_scard_account) as latest12mon_new_scard_account_num,
round(sum( latest12mon_new_scard_amount),2) as latest12mon_new_scard_amount,

count(distinct latest18mon_new_scard_account) as latest18mon_new_scard_account_num,
round(sum( latest18mon_new_scard_amount),2) as latest18mon_new_scard_amount,

count(distinct latest24mon_new_scard_account) as latest24mon_new_scard_account_num,
round(sum( latest24mon_new_scard_amount),2) as latest24mon_new_scard_amount,
	now() as create_time,now() as update_time,now() as etl_date
from 
(
select 
reportno,
case when BIZTYPE='贷记卡' and days_gap<=30 then account else null end as latest1mon_new_ccard_account,
case when BIZTYPE='贷记卡' and days_gap<=30 then FINANCEORG else null end as latest1mon_new_ccard_org,
case when BIZTYPE='贷记卡' and days_gap<=30 then ifnull(CREDITLIMITAMOUNT,0) else 0 end as latest1mon_new_ccard_amount,

case when BIZTYPE='贷记卡' and days_gap<=90 then account else null end as latest3mon_new_ccard_account,
case when BIZTYPE='贷记卡' and days_gap<=90 then FINANCEORG else null end as latest3mon_new_ccard_org,
case when BIZTYPE='贷记卡' and days_gap<=90 then ifnull(CREDITLIMITAMOUNT,0) else 0 end as latest3mon_new_ccard_amount,

case when BIZTYPE='贷记卡' and days_gap<=180 then account else null end as latest6mon_new_ccard_account,
case when BIZTYPE='贷记卡' and days_gap<=180 then FINANCEORG else null end as latest6mon_new_ccard_org,
case when BIZTYPE='贷记卡' and days_gap<=180 then ifnull(CREDITLIMITAMOUNT,0) else 0 end as latest6mon_new_ccard_amount,

case when BIZTYPE='贷记卡' and days_gap<=270 then account else null end as latest9mon_new_ccard_account,
case when BIZTYPE='贷记卡' and days_gap<=270 then FINANCEORG else null end as latest9mon_new_ccard_org,
case when BIZTYPE='贷记卡' and days_gap<=270 then ifnull(CREDITLIMITAMOUNT,0) else 0 end as latest9mon_new_ccard_amount,

case when BIZTYPE='贷记卡' and days_gap<=360 then account else null end as latest12mon_new_ccard_account,
case when BIZTYPE='贷记卡' and days_gap<=360 then FINANCEORG else null end as latest12mon_new_ccard_org,
case when BIZTYPE='贷记卡' and days_gap<=360 then ifnull(CREDITLIMITAMOUNT,0) else 0 end as latest12mon_new_ccard_amount,

case when BIZTYPE='贷记卡' and days_gap<=540 then account else null end as latest18mon_new_ccard_account,
case when BIZTYPE='贷记卡' and days_gap<=540 then FINANCEORG else null end as latest18mon_new_ccard_org,
case when BIZTYPE='贷记卡' and days_gap<=540 then ifnull(CREDITLIMITAMOUNT,0) else 0 end as latest18mon_new_ccard_amount,

case when BIZTYPE='贷记卡' and days_gap<=720 then account else null end as latest24mon_new_ccard_account,
case when BIZTYPE='贷记卡' and days_gap<=720 then FINANCEORG else null end as latest24mon_new_ccard_org,
case when BIZTYPE='贷记卡' and days_gap<=720 then ifnull(CREDITLIMITAMOUNT,0) else 0 end as latest24mon_new_ccard_amount,

case when BIZTYPE='准贷记卡' and days_gap<=30 then account else null end as latest1mon_new_scard_account,
case when BIZTYPE='准贷记卡' and days_gap<=30 then ifnull(CREDITLIMITAMOUNT,0) else 0 end as latest1mon_new_scard_amount,

case when BIZTYPE='准贷记卡' and days_gap<=90 then account else null end as latest3mon_new_scard_account,
case when BIZTYPE='准贷记卡' and days_gap<=90 then ifnull(CREDITLIMITAMOUNT,0) else 0 end as latest3mon_new_scard_amount,

case when BIZTYPE='准贷记卡' and days_gap<=180 then account else null end as latest6mon_new_scard_account,
case when BIZTYPE='准贷记卡' and days_gap<=180 then ifnull(CREDITLIMITAMOUNT,0) else 0 end as latest6mon_new_scard_amount,

case when BIZTYPE='准贷记卡' and days_gap<=270 then account else null end as latest9mon_new_scard_account,
case when BIZTYPE='准贷记卡' and days_gap<=270 then ifnull(CREDITLIMITAMOUNT,0) else 0 end as latest9mon_new_scard_amount,

case when BIZTYPE='准贷记卡' and days_gap<=360 then account else null end as latest12mon_new_scard_account,
case when BIZTYPE='准贷记卡' and days_gap<=360 then ifnull(CREDITLIMITAMOUNT,0) else 0 end as latest12mon_new_scard_amount,

case when BIZTYPE='准贷记卡' and days_gap<=540 then account else null end as latest18mon_new_scard_account,
case when BIZTYPE='准贷记卡' and days_gap<=540 then ifnull(CREDITLIMITAMOUNT,0) else 0 end as latest18mon_new_scard_amount,

case when BIZTYPE='准贷记卡' and days_gap<=720 then account else null end as latest24mon_new_scard_account,
case when BIZTYPE='准贷记卡' and days_gap<=720 then ifnull(CREDITLIMITAMOUNT,0) else 0 end as latest24mon_new_scard_amount

from WKL.temp_card_new
)t
group by reportno

"""

In [15]:




spark.sql("""

select reportno,
count(distinct latest1mon_new_ccard_account) as latest1mon_new_ccard_account_num,
count(distinct latest1mon_new_ccard_org) as latest1mon_new_ccard_org_num,
round(sum( latest1mon_new_ccard_amount),2) as latest1mon_new_ccard_amount,

count(distinct latest3mon_new_ccard_account) as latest3mon_new_ccard_account_num,
count(distinct latest3mon_new_ccard_org) as latest3mon_new_ccard_org_num,
round(sum( latest3mon_new_ccard_amount),2) as latest3mon_new_ccard_amount,

count(distinct latest6mon_new_ccard_account) as latest6mon_new_ccard_account_num,
count(distinct latest6mon_new_ccard_org) as latest6mon_new_ccard_org_num,
round(sum( latest6mon_new_ccard_amount),2) as latest6mon_new_ccard_amount,

count(distinct latest9mon_new_ccard_account) as latest9mon_new_ccard_account_num,
count(distinct latest9mon_new_ccard_org) as latest9mon_new_ccard_org_num,
round(sum( latest9mon_new_ccard_amount),2) as latest9mon_new_ccard_amount,

count(distinct latest12mon_new_ccard_account) as latest12mon_new_ccard_account_num,
count(distinct latest12mon_new_ccard_org) as latest12mon_new_ccard_org_num,
round(sum( latest12mon_new_ccard_amount),2) as latest12mon_new_ccard_amount,

count(distinct latest18mon_new_ccard_account) as latest18mon_new_ccard_account_num,
count(distinct latest18mon_new_ccard_org) as latest18mon_new_ccard_org_num,
round(sum( latest18mon_new_ccard_amount),2) as latest18mon_new_ccard_amount,

count(distinct latest24mon_new_ccard_account) as latest24mon_new_ccard_account_num,
count(distinct latest24mon_new_ccard_org) as latest24mon_new_ccard_org_num,
round(sum( latest24mon_new_ccard_amount),2) as latest24mon_new_ccard_amount,

count(distinct latest1mon_new_scard_account) as latest1mon_new_scard_account_num,
round(sum(distinct latest1mon_new_scard_amount),2) as latest1mon_new_scard_amount,

count(distinct latest3mon_new_scard_account) as latest3mon_new_scard_account_num,
round(sum( latest3mon_new_scard_amount),2) as latest3mon_new_scard_amount,

count(distinct latest6mon_new_scard_account) as latest6mon_new_scard_account_num,
round(sum( latest6mon_new_scard_amount),2) as latest6mon_new_scard_amount,

count(distinct latest9mon_new_scard_account) as latest9mon_new_scard_account_num,
round(sum( latest9mon_new_scard_amount),2) as latest9mon_new_scard_amount,

count(distinct latest12mon_new_scard_account) as latest12mon_new_scard_account_num,
round(sum( latest12mon_new_scard_amount),2) as latest12mon_new_scard_amount,

count(distinct latest18mon_new_scard_account) as latest18mon_new_scard_account_num,
round(sum( latest18mon_new_scard_amount),2) as latest18mon_new_scard_amount,

count(distinct latest24mon_new_scard_account) as latest24mon_new_scard_account_num,
round(sum( latest24mon_new_scard_amount),2) as latest24mon_new_scard_amount,
	now() as create_time,now() as update_time,now() as etl_date
from 
(
select 
reportno,
case when BIZTYPE='贷记卡' and days_gap<=30 then account else null end as latest1mon_new_ccard_account,
case when BIZTYPE='贷记卡' and days_gap<=30 then FINANCEORG else null end as latest1mon_new_ccard_org,
case when BIZTYPE='贷记卡' and days_gap<=30 then nvl(CREDITLIMITAMOUNT,0) else 0 end as latest1mon_new_ccard_amount,

case when BIZTYPE='贷记卡' and days_gap<=90 then account else null end as latest3mon_new_ccard_account,
case when BIZTYPE='贷记卡' and days_gap<=90 then FINANCEORG else null end as latest3mon_new_ccard_org,
case when BIZTYPE='贷记卡' and days_gap<=90 then nvl(CREDITLIMITAMOUNT,0) else 0 end as latest3mon_new_ccard_amount,

case when BIZTYPE='贷记卡' and days_gap<=180 then account else null end as latest6mon_new_ccard_account,
case when BIZTYPE='贷记卡' and days_gap<=180 then FINANCEORG else null end as latest6mon_new_ccard_org,
case when BIZTYPE='贷记卡' and days_gap<=180 then nvl(CREDITLIMITAMOUNT,0) else 0 end as latest6mon_new_ccard_amount,

case when BIZTYPE='贷记卡' and days_gap<=270 then account else null end as latest9mon_new_ccard_account,
case when BIZTYPE='贷记卡' and days_gap<=270 then FINANCEORG else null end as latest9mon_new_ccard_org,
case when BIZTYPE='贷记卡' and days_gap<=270 then nvl(CREDITLIMITAMOUNT,0) else 0 end as latest9mon_new_ccard_amount,

case when BIZTYPE='贷记卡' and days_gap<=360 then account else null end as latest12mon_new_ccard_account,
case when BIZTYPE='贷记卡' and days_gap<=360 then FINANCEORG else null end as latest12mon_new_ccard_org,
case when BIZTYPE='贷记卡' and days_gap<=360 then nvl(CREDITLIMITAMOUNT,0) else 0 end as latest12mon_new_ccard_amount,

case when BIZTYPE='贷记卡' and days_gap<=540 then account else null end as latest18mon_new_ccard_account,
case when BIZTYPE='贷记卡' and days_gap<=540 then FINANCEORG else null end as latest18mon_new_ccard_org,
case when BIZTYPE='贷记卡' and days_gap<=540 then nvl(CREDITLIMITAMOUNT,0) else 0 end as latest18mon_new_ccard_amount,

case when BIZTYPE='贷记卡' and days_gap<=720 then account else null end as latest24mon_new_ccard_account,
case when BIZTYPE='贷记卡' and days_gap<=720 then FINANCEORG else null end as latest24mon_new_ccard_org,
case when BIZTYPE='贷记卡' and days_gap<=720 then nvl(CREDITLIMITAMOUNT,0) else 0 end as latest24mon_new_ccard_amount,

case when BIZTYPE='准贷记卡' and days_gap<=30 then account else null end as latest1mon_new_scard_account,
case when BIZTYPE='准贷记卡' and days_gap<=30 then nvl(CREDITLIMITAMOUNT,0) else 0 end as latest1mon_new_scard_amount,

case when BIZTYPE='准贷记卡' and days_gap<=90 then account else null end as latest3mon_new_scard_account,
case when BIZTYPE='准贷记卡' and days_gap<=90 then nvl(CREDITLIMITAMOUNT,0) else 0 end as latest3mon_new_scard_amount,

case when BIZTYPE='准贷记卡' and days_gap<=180 then account else null end as latest6mon_new_scard_account,
case when BIZTYPE='准贷记卡' and days_gap<=180 then nvl(CREDITLIMITAMOUNT,0) else 0 end as latest6mon_new_scard_amount,

case when BIZTYPE='准贷记卡' and days_gap<=270 then account else null end as latest9mon_new_scard_account,
case when BIZTYPE='准贷记卡' and days_gap<=270 then nvl(CREDITLIMITAMOUNT,0) else 0 end as latest9mon_new_scard_amount,

case when BIZTYPE='准贷记卡' and days_gap<=360 then account else null end as latest12mon_new_scard_account,
case when BIZTYPE='准贷记卡' and days_gap<=360 then nvl(CREDITLIMITAMOUNT,0) else 0 end as latest12mon_new_scard_amount,

case when BIZTYPE='准贷记卡' and days_gap<=540 then account else null end as latest18mon_new_scard_account,
case when BIZTYPE='准贷记卡' and days_gap<=540 then nvl(CREDITLIMITAMOUNT,0) else 0 end as latest18mon_new_scard_amount,

case when BIZTYPE='准贷记卡' and days_gap<=720 then account else null end as latest24mon_new_scard_account,
case when BIZTYPE='准贷记卡' and days_gap<=720 then nvl(CREDITLIMITAMOUNT,0) else 0 end as latest24mon_new_scard_amount

from temp_card_new
)t
group by reportno


""").createOrReplaceTempView("dw_newopen_card_summary")

In [16]:
# 读取sql数据
import datetime
starttime = datetime.datetime.now()
#long running
df = pd.read_sql_query(sql, engine)
endtime = datetime.datetime.now()
print (endtime - starttime)

#读取spark sql 数据
starttime = datetime.datetime.now()
spark_df = spark.sql("""
select * from dw_newopen_card_summary
""").toPandas()
endtime = datetime.datetime.now()
print (endtime - starttime)


#数据校验方法
def data_check2(df11,df22):
    columns = list(df11.columns)
    for col in columns:
        base_col = ['reportno']
        if(col!='reportno'):
            base_col.append(col)
        df33 = df11[base_col].merge(df22[base_col],on = base_col,how='inner')
        if(len(df33)!=len(df11)):
            print(col,len(df33),len(df11))

#直接做merge操作 inner join有问题，需要进一步解决，目前解决方法是数据写入csv 再读取
df11 = df.astype('object').sort_values(by='reportno').reset_index().drop(columns = 'index')
df22 = spark_df.astype('object').sort_values(by='reportno').reset_index().drop(columns = 'index')

df11.to_csv("mysql_df.csv")
df22.to_csv("spark_df.csv")

dfmm = pd.read_csv("mysql_df.csv",index_col=0)
dfss = pd.read_csv("spark_df.csv",index_col=0)

# print(dfmm.head(2))
# print(ddss.head(2))
data_check2(dfmm,dfss)

0:00:34.218997
0:07:49.871014
create_time 0 248156
update_time 0 248156
etl_date 0 248156