在运行dw相关表之前，首先运行下面部分以创建中间表

In [1]:
import pandas as pd
from pyspark import SparkContext,SQLContext
from pyspark.sql import SQLContext
from pyspark.sql import SparkSession
from pyspark.sql.functions import udf, col
from pyspark.sql.types import StringType

In [2]:
spark=SparkSession \
        .builder \
        .config("spark.eventLog.enabled", "false") \
        .config("spark.executor.memory", "4g")\
        .config("spark.driver.memory", "8g")\
        .config("spark.cores.max", "10")\
        .config("spark.task.maxFailures", "1000")\
        .config("spark.default.parallelism", "500")\
        .config("spark.sql.shuffle.partitions",100)\
        .appName('renhang_etl') \
        .master('yarn')\
        .getOrCreate()

In [3]:
#创建DW.dw_baseinfo_detail
table1 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "ICR_PROD.ICRMESSAGEHEADER") \
    .option("user", "etl") \
    .option("password", "%TGRDJh3Hg2e4f") \
    .load()
table1.createOrReplaceTempView("ICRMESSAGEHEADER")

table2 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "ICR_PROD.ICRCREDITCUE") \
    .option("user", "etl") \
    .option("password", "%TGRDJh3Hg2e4f") \
    .load()
table2.createOrReplaceTempView("ICRCREDITCUE")

table3 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "ICR_PROD.ICRLOANCARDINFO") \
    .option("user", "etl") \
    .option("password", "%TGRDJh3Hg2e4f") \
    .load()
table3.createOrReplaceTempView("ICRLOANCARDINFO")

table4 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "ICR_PROD.ICRCREDITCUE") \
    .option("user", "etl") \
    .option("password", "%TGRDJh3Hg2e4f") \
    .load()
table4.createOrReplaceTempView("ICRCREDITCUE")

table5 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "ICR_PROD.ICRLATEST2YEAROVERDUECARD") \
    .option("user", "etl") \
    .option("password", "%TGRDJh3Hg2e4f") \
    .load()
table5.createOrReplaceTempView("ICRLATEST2YEAROVERDUECARD")

table6 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "ICR_PROD.ICRLATEST5YEAROVERDUEDETAIL") \
    .option("user", "etl") \
    .option("password", "%TGRDJh3Hg2e4f") \
    .load()
table6.createOrReplaceTempView("ICRLATEST5YEAROVERDUEDETAIL")

table7 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "ICR_PROD.ICRLATEST2YEAROVERDUE") \
    .option("user", "etl") \
    .option("password", "%TGRDJh3Hg2e4f") \
    .load()
table7.createOrReplaceTempView("ICRLATEST2YEAROVERDUE")

table8 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "ICR_PROD.ICRLOANINFO") \
    .option("user", "etl") \
    .option("password", "%TGRDJh3Hg2e4f") \
    .load()
table8.createOrReplaceTempView("ICRLOANINFO")

table9 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "ICR_PROD.ICRUNDESTORYLOANCARD") \
    .option("user", "etl") \
    .option("password", "%TGRDJh3Hg2e4f") \
    .load()
table9.createOrReplaceTempView("ICRUNDESTORYLOANCARD")

table10 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "ICR_PROD.ICRUNDESTORYSTANDARDLOANCARD") \
    .option("user", "etl") \
    .option("password", "%TGRDJh3Hg2e4f") \
    .load()
table10.createOrReplaceTempView("ICRUNDESTORYSTANDARDLOANCARD")

table11 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "ICR_PROD.ICRUNPAIDLOAN") \
    .option("user", "etl") \
    .option("password", "%TGRDJh3Hg2e4f") \
    .load()
table11.createOrReplaceTempView("ICRUNPAIDLOAN")


table12 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "ICR_PROD.ICROVERDUESUMMARY") \
    .option("user", "etl") \
    .option("password", "%TGRDJh3Hg2e4f") \
    .load()
table12.createOrReplaceTempView("ICROVERDUESUMMARY")


table13 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "ICR_PROD.ICRFELLBACKSUMMARY") \
    .option("user", "etl") \
    .option("password", "%TGRDJh3Hg2e4f") \
    .load()
table13.createOrReplaceTempView("ICRFELLBACKSUMMARY")


table14 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "ICR_PROD.ICRGUARANTEE") \
    .option("user", "etl") \
    .option("password", "%TGRDJh3Hg2e4f") \
    .load()
table14.createOrReplaceTempView("ICRGUARANTEE")


table15 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "ICR_PROD.ICRGUARANTEESUMMARY") \
    .option("user", "etl") \
    .option("password", "%TGRDJh3Hg2e4f") \
    .load()
table15.createOrReplaceTempView("ICRGUARANTEESUMMARY")

In [5]:
spark.sql("""
select 
		ordue.reportno,
		ordue.ACCOUNT,
		head.QUERYTIME,
		ordue.MONTH,
		month(date_format(head.QUERYTIME,'%Y-%m-%d')) - month(date_format(concat(ordue.month,'.01'),'%Y-%m-%d')) as gap_months,
		case 
			when ordue.LASTMONTHS in ('G','Z','D') then 8 
			else ordue.LASTMONTHS 
		end as LASTMONTHS ,
		loanfo.GUARANTEETYPE,STATE,FINANCEORG
from ICRLATEST2YEAROVERDUECARD ordue
-- 只取贷记卡的信息
inner join ICRLOANCARDINFO loanfo on ordue.reportno=loanfo.reportno and ordue.ACCOUNT=loanfo.ACCOUNT 
left join ICRMESSAGEHEADER head on ordue.reportno=head.reportno
where BIZTYPE='准贷记卡' and ordue.LASTMONTHS!='C'
""").createOrReplaceTempView("temp_standcard_2yearoverdue")


spark.sql("""
select 
		ordue.reportno,
		ordue.ACCOUNT,
		head.QUERYTIME,
		ordue.MONTH,
		month(date_format(head.QUERYTIME,'%Y-%m-%d')) - month(date_format(concat(ordue.month,'.01'),'%Y-%m-%d')) as gap_months,
		case 
			when ordue.LASTMONTHS in ('G','Z','D') then 8 
			else ordue.LASTMONTHS 
		end as LASTMONTHS ,
		loanfo.GUARANTEETYPE,STATE,FINANCEORG
from ICRLATEST2YEAROVERDUECARD ordue
-- 只取贷记卡的信息
inner join ICRLOANCARDINFO loanfo on ordue.reportno=loanfo.reportno and ordue.ACCOUNT=loanfo.ACCOUNT 
left join ICRMESSAGEHEADER head on ordue.reportno=head.reportno
where BIZTYPE='贷记卡' and ordue.LASTMONTHS!='C'
""").createOrReplaceTempView("temp_creditcard_2yearoverdue")


spark.sql("""
select 
		ordue.reportno,
		ordue.ACCOUNT,
		head.QUERYTIME,
		ordue.MONTH,
		month(date_format(head.QUERYTIME,'%Y-%m-%d')) - month(date_format(concat(ordue.month,'.01'),'%Y-%m-%d')) as gap_months,
		ordue.LASTMONTHS,ordue.AMOUNT,loanfo.GUARANTEETYPE,STATE,FINANCEORG
from ICRLATEST5YEAROVERDUEDETAIL ordue
-- 只取贷记卡的信息
inner join ICRLOANCARDINFO loanfo on ordue.reportno=loanfo.reportno and ordue.ACCOUNT=loanfo.ACCOUNT 
left join ICRMESSAGEHEADER head on ordue.reportno=head.reportno
where month!='--'  and BIZTYPE='贷记卡'
""").createOrReplaceTempView("temp_creditcard_overdue")


spark.sql("""
select 
		reportno,
		ACCOUNT,
		QUERYTIME,
		MONTH,
		gap_months,
		LASTMONTHS,
		GUARANTEETYPE,
		STATE,
		FINANCEORG 
from temp_creditcard_2yearoverdue
union 
select 
		reportno,
		ACCOUNT,
		QUERYTIME,
		date_format(concat(month,'.01'),'%Y-%m'),
        gap_months,
		LASTMONTHS,
		GUARANTEETYPE,
		STATE,
		FINANCEORG 
from temp_creditcard_overdue
""").createOrReplaceTempView("temp_creditcard_5yearoverdue")



spark.sql("""
select 
		ordue.reportno,
		ordue.ACCOUNT,
		head.QUERYTIME,
		ordue.MONTH,
		month(date_format(head.QUERYTIME,'%Y-%m-%d')) - month(date_format(concat(ordue.month,'.01'),'%Y-%m-%d')) as gap_months,
		case 
			when ordue.LASTMONTHS in ('G','Z','D') then 8 
			else ordue.LASTMONTHS 
		end as LASTMONTHS ,
		loanfo.GUARANTEETYPE,
		STATE,
		FINANCEORG
from ICRLATEST2YEAROVERDUE ordue
-- 只取贷款的信息
inner join ICRLOANINFO loanfo on ordue.reportno=loanfo.reportno and ordue.ACCOUNT=loanfo.ACCOUNT 
left join ICRMESSAGEHEADER head on ordue.reportno=head.reportno
where ordue.LASTMONTHS!='C'
""").createOrReplaceTempView("temp_loan_2yearoverdue")



spark.sql("""
select 
		ordue.reportno,
		ordue.ACCOUNT,
		head.QUERYTIME,
		ordue.MONTH,
		month(date_format(head.QUERYTIME,'%Y-%m-%d')) - month(date_format(concat(ordue.month,'.01'),'%Y-%m-%d')) as gap_months,
		ordue.LASTMONTHS,
		ordue.AMOUNT,
		loanfo.GUARANTEETYPE,
		STATE,FINANCEORG
from ICRLATEST5YEAROVERDUEDETAIL ordue
-- 只取贷款的信息
inner join ICRLOANINFO loanfo on ordue.reportno=loanfo.reportno and ordue.ACCOUNT=loanfo.ACCOUNT 
left join ICRMESSAGEHEADER head on ordue.reportno=head.reportno
where month!='--'
""").createOrReplaceTempView("temp_loan_overdue")




spark.sql("""
select 
		reportno,
		ACCOUNT,
		QUERYTIME,
        MONTH,
		gap_months,
		LASTMONTHS,
		GUARANTEETYPE,
		STATE,
		FINANCEORG 
from temp_loan_2yearoverdue
union 
select 
		reportno,
		ACCOUNT,
		QUERYTIME,
		date_format(concat(month,'.01'),'%Y-%m'),gap_months,LASTMONTHS,
		GUARANTEETYPE,
		STATE,
		FINANCEORG 
from temp_loan_overdue
""").createOrReplaceTempView("temp_loan_5yearoverdue")

中间表已运行完成，spark sql 创建所需要的表

In [6]:
spark.sql("""



select 
		reportno,
		sum(latest1mon_new_loan_num) as latest1mon_new_loan_num,
		sum(latest3mon_new_loan_num) as latest3mon_new_loan_num,
		sum(latest6mon_new_loan_num) as latest6mon_new_loan_num,
		sum(latest12mon_new_loan_num) as latest12mon_new_loan_num,
		sum(latest1mon_new_loan_amount) as latest1mon_new_loan_amount,
		sum(latest3mon_new_loan_amount) as latest3mon_new_loan_amount,
		sum(latest6mon_new_loan_amount) as latest6mon_new_loan_amount,
		sum(latest12mon_new_loan_amount) as latest12mon_new_loan_amount

from (
		select 
				reportno,
				case when gap_days<=30 then 1 else 0 end as latest1mon_new_loan_num,
				case when gap_days<=90 then 1 else 0 end as latest3mon_new_loan_num,
				case when gap_days<=180 then 1 else 0 end as latest6mon_new_loan_num,
				case when gap_days<=360 then 1 else 0 end as latest12mon_new_loan_num,
	
				case when gap_days<=30 then nvl(CREDITLIMITAMOUNT,0) else 0 end as latest1mon_new_loan_amount,
				case when gap_days<=90 then nvl(CREDITLIMITAMOUNT,0) else 0 end as latest3mon_new_loan_amount,
				case when gap_days<=180 then nvl(CREDITLIMITAMOUNT,0) else 0 end as latest6mon_new_loan_amount,
				case when gap_days<=360 then nvl(CREDITLIMITAMOUNT,0) else 0 end as latest12mon_new_loan_amount

	from 
	(

			select 
					lofo.reportno,
					lofo.CREDITLIMITAMOUNT,
					day(date_format(head.QUERYTIME,'%Y-%m-%d'))-day(date_format(lofo.OPENDATE,'%Y-%m-%d')) as gap_days 
		from ICRLOANINFO lofo
		left join ICRMESSAGEHEADER  head on lofo.reportno=head.reportno
		-- where TIMESTAMPDIFF(day,date_format(head.QUERYTIME,'%Y-%m-%d'),date_format(lofo.OPENDATE,'%Y-%m-%d'))<=360
	)t
		WHERE gap_days<=360
) t1
group by reportno


""").createOrReplaceTempView("dw_new_loan")

In [7]:
table_name = "dw_new_loan"

spark.sql("drop table if EXISTS renhang_user_profile.%s "%table_name)
spark.sql("create table renhang_user_profile.%s as select * from %s"%(table_name,table_name))

DataFrame[]

In [1]:
# for test

In [2]:
from pyspark import SparkContext,SQLContext,SparkConf
from pyspark.sql import SQLContext
from pyspark.sql import SparkSession
from pyspark.sql.functions import udf, col
from pyspark.sql.types import StringType
import pandas as pd
import pandas as pd
from sqlalchemy import create_engine



# 初始化数据库连接，使用pymysql模块
# MySQL的用户：dt, 密码:Usd&212%wePO2, 端口：3306,数据库：
spark=SparkSession \
        .builder \
        .config("spark.eventLog.enabled", "false") \
        .config("spark.executor.memory", "4g")\
        .config("spark.driver.memory", "8g")\
        .config("spark.cores.max", "10")\
        .config("spark.task.maxFailures", "1000")\
        .config("spark.default.parallelism", "500")\
        .config("spark.sql.shuffle.partitions",100)\
        .appName('renhang_etl') \
        .master('yarn')\
        .getOrCreate()


engine = create_engine('mysql+pymysql://dt:Usd&212%wePO2@58.59.11.87:3306/DM')



def time_format(ts):
    try:
        res = ts[0:10].replace('.','')
        return res
    except:
        return 'None'
    else:
        return 'None'    
spark.udf.register('time_format',lambda x:time_format(x))

    
def get_time(ts):
    try:
        res = ts.replace('.','-')
        return res
    except:
        return 'None'
    else:
        return 'None'


spark.udf.register('get_time',lambda x:get_time(x))
# time_udfs = udf(get_time, StringType())


def timestampdiff(flag,t1,t2):
    try:
        date1 = t1[0:10].replace('.','-')
        date2 = t2[0:10].replace('.','-')
        year = (int(date1[0:4])-int(date2[0:4]))
        month = (int(date1[5:7])-int(date2[5:7]))
        day = int(date1[8:10])-int(date2[8:10])
        if(flag == 'year'):
            if(month<0 or (month==0 and day<0)):
                result = year -1
                return result
            return year
        if(flag == 'month'):
            res = year*12+month+int((day-30)/31)
            return res
    except:
        return 'None'
    
                                                                                      
spark.udf.register('timestampdiff',lambda x1,x2,x3:timestampdiff(x1,x2,x3))
# timestampdiff = udf(get_time, StringType())   


def get_city(address):
    try:
        province_loc = address.find("省")
        city_loc = address.find("市")
        if(province_loc < 0 or (province_loc>=0 and province_loc>=city_loc) ): #江西赣州市兴国县江西省赣州市兴国县潋江镇罗廖村26号
            city = address[0:city_loc+1]
        if(province_loc>=0 and province_loc<city_loc):
            city = address[province_loc+1:city_loc+1]
        return city
    except:
        return 'None'



spark.udf.register('get_city',lambda x:get_city(x))
# time_udfs = udf(get_time, StringType())

In [3]:
#创建DW.dw_baseinfo_detail
table1 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "ICR_PROD.ICRMESSAGEHEADER") \
    .option("user", "dt") \
    .option("password", "Usd&212%wePO2") \
    .load()
table1.createOrReplaceTempView("ICRMESSAGEHEADER")

table2 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "ICR_PROD.ICRCREDITCUE") \
    .option("user", "dt") \
    .option("password", "Usd&212%wePO2") \
    .load()
table2.createOrReplaceTempView("ICRCREDITCUE")

table3 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "ICR_PROD.ICRLOANCARDINFO") \
    .option("user", "dt") \
    .option("password", "Usd&212%wePO2") \
    .load()
table3.createOrReplaceTempView("ICRLOANCARDINFO")

table4 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "ICR_PROD.ICRCREDITCUE") \
    .option("user", "dt") \
    .option("password", "Usd&212%wePO2") \
    .load()
table4.createOrReplaceTempView("ICRCREDITCUE")

table5 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "ICR_PROD.ICRLATEST2YEAROVERDUECARD") \
    .option("user", "dt") \
    .option("password", "Usd&212%wePO2") \
    .load()
table5.createOrReplaceTempView("ICRLATEST2YEAROVERDUECARD")

table6 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "ICR_PROD.ICRLATEST5YEAROVERDUEDETAIL") \
    .option("user", "dt") \
    .option("password", "Usd&212%wePO2") \
    .load()
table6.createOrReplaceTempView("ICRLATEST5YEAROVERDUEDETAIL")

table7 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "ICR_PROD.ICRLATEST2YEAROVERDUE") \
    .option("user", "dt") \
    .option("password", "Usd&212%wePO2") \
    .load()
table7.createOrReplaceTempView("ICRLATEST2YEAROVERDUE")

table8 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "ICR_PROD.ICRLOANINFO") \
    .option("user", "dt") \
    .option("password", "Usd&212%wePO2") \
    .load()
table8.createOrReplaceTempView("ICRLOANINFO")

table9 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "ICR_PROD.ICRUNDESTORYLOANCARD") \
    .option("user", "dt") \
    .option("password", "Usd&212%wePO2") \
    .load()
table9.createOrReplaceTempView("ICRUNDESTORYLOANCARD")

table10 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "ICR_PROD.ICRUNDESTORYSTANDARDLOANCARD") \
    .option("user", "dt") \
    .option("password", "Usd&212%wePO2") \
    .load()
table10.createOrReplaceTempView("ICRUNDESTORYSTANDARDLOANCARD")

table11 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "ICR_PROD.ICRUNPAIDLOAN") \
    .option("user", "dt") \
    .option("password", "Usd&212%wePO2") \
    .load()
table11.createOrReplaceTempView("ICRUNPAIDLOAN")


table12 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "ICR_PROD.ICROVERDUESUMMARY") \
    .option("user", "dt") \
    .option("password", "Usd&212%wePO2") \
    .load()
table12.createOrReplaceTempView("ICROVERDUESUMMARY")


table13 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "ICR_PROD.ICRFELLBACKSUMMARY") \
    .option("user", "dt") \
    .option("password", "Usd&212%wePO2") \
    .load()
table13.createOrReplaceTempView("ICRFELLBACKSUMMARY")


table14 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "ICR_PROD.ICRGUARANTEE") \
    .option("user", "dt") \
    .option("password", "Usd&212%wePO2") \
    .load()
table14.createOrReplaceTempView("ICRGUARANTEE")


table15 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "ICR_PROD.ICRGUARANTEESUMMARY") \
    .option("user", "dt") \
    .option("password", "Usd&212%wePO2") \
    .load()
table15.createOrReplaceTempView("ICRGUARANTEESUMMARY")


#######

table16 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "ICR_PROD.ICRCIVILJUDGEMENT") \
    .option("user", "dt") \
    .option("password", "Usd&212%wePO2") \
    .load()
table16.createOrReplaceTempView("ICRCIVILJUDGEMENT")



table17 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "ICR_PROD.ICRFORCEEXECUTION") \
    .option("user", "dt") \
    .option("password", "Usd&212%wePO2") \
    .load()
table17.createOrReplaceTempView("ICRFORCEEXECUTION")


table18 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "ICR_PROD.ICRADMINPUNISHMENT") \
    .option("user", "dt") \
    .option("password", "Usd&212%wePO2") \
    .load()
table18.createOrReplaceTempView("ICRADMINPUNISHMENT")


table19 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "ICR_PROD.ICRTAXARREAR") \
    .option("user", "dt") \
    .option("password", "Usd&212%wePO2") \
    .load()
table19.createOrReplaceTempView("ICRTAXARREAR")


table20 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "ICR_PROD.ICRACCFUND") \
    .option("user", "dt") \
    .option("password", "Usd&212%wePO2") \
    .load()
table20.createOrReplaceTempView("ICRACCFUND")



table21 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "ICR_PROD.ICRENDOWMENTINSURANCEDEPOSIT") \
    .option("user", "dt") \
    .option("password", "Usd&212%wePO2") \
    .load()
table21.createOrReplaceTempView("ICRENDOWMENTINSURANCEDEPOSIT")


table22 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "ICR_PROD.ICRRECORDDETAIL") \
    .option("user", "dt") \
    .option("password", "Usd&212%wePO2") \
    .load()
table22.createOrReplaceTempView("ICRRECORDDETAIL")



table23 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "ICR_PROD.ICRRECORDDETAIL") \
    .option("user", "dt") \
    .option("password", "Usd&212%wePO2") \
    .load()
table23.createOrReplaceTempView("ICRRECORDDETAIL")


table24 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "ICR_PROD.QUERY_HISTORY") \
    .option("user", "dt") \
    .option("password", "Usd&212%wePO2") \
    .load()
table24.createOrReplaceTempView("QUERY_HISTORY")

table25 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "ICR_PROD.ICRRECORDSUMMARY") \
    .option("user", "dt") \
    .option("password", "Usd&212%wePO2") \
    .load()
table25.createOrReplaceTempView("ICRRECORDSUMMARY")


table25 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "ICR_PROD.ICRQUERYREQ") \
    .option("user", "dt") \
    .option("password", "Usd&212%wePO2") \
    .load()
table25.createOrReplaceTempView("ICRQUERYREQ")



table25 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "ICR_PROD.ICRIDENTITY") \
    .option("user", "dt") \
    .option("password", "Usd&212%wePO2") \
    .load()
table25.createOrReplaceTempView("ICRIDENTITY")
###########################################################
##########################################################
table1 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "WKL.temp_standcard_2yearoverdue") \
    .option("user", "dt") \
    .option("password", "Usd&212%wePO2") \
    .load()
table1.createOrReplaceTempView("temp_standcard_2yearoverdue")

table2 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "WKL.temp_creditcard_2yearoverdue") \
    .option("user", "dt") \
    .option("password", "Usd&212%wePO2") \
    .load()
table2.createOrReplaceTempView("temp_creditcard_2yearoverdue")

table1 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "WKL.temp_creditcard_overdue") \
    .option("user", "dt") \
    .option("password", "Usd&212%wePO2") \
    .load()
table1.createOrReplaceTempView("temp_creditcard_overdue")

table2 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "WKL.temp_creditcard_5yearoverdue") \
    .option("user", "dt") \
    .option("password", "Usd&212%wePO2") \
    .load()
table2.createOrReplaceTempView("temp_creditcard_5yearoverdue")

table1 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "WKL.temp_loan_2yearoverdue") \
    .option("user", "dt") \
    .option("password", "Usd&212%wePO2") \
    .load()
table1.createOrReplaceTempView("temp_loan_2yearoverdue")

table2 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "WKL.temp_loan_overdue") \
    .option("user", "dt") \
    .option("password", "Usd&212%wePO2") \
    .load()
table2.createOrReplaceTempView("temp_loan_overdue")

table2 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "WKL.temp_loan_5yearoverdue") \
    .option("user", "dt") \
    .option("password", "Usd&212%wePO2") \
    .load()
table2.createOrReplaceTempView("temp_loan_5yearoverdue")

table2 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "WKL.temp_address_change") \
    .option("user", "dt") \
    .option("password", "Usd&212%wePO2") \
    .load()
table2.createOrReplaceTempView("temp_address_change")

table2 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "WKL.temp_emp_change") \
    .option("user", "dt") \
    .option("password", "Usd&212%wePO2") \
    .load()
table2.createOrReplaceTempView("temp_emp_change")
#####

table2 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "WKL.temp_loan_cont_1") \
    .option("user", "dt") \
    .option("password", "Usd&212%wePO2") \
    .load()
table2.createOrReplaceTempView("temp_loan_cont_1")

table2 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "WKL.temp_loan_cont_2") \
    .option("user", "dt") \
    .option("password", "Usd&212%wePO2") \
    .load()
table2.createOrReplaceTempView("temp_loan_cont_2")

In [4]:
spark.sql("""



select 
		reportno,
		sum(latest1mon_new_loan_num) as latest1mon_new_loan_num,
		sum(latest3mon_new_loan_num) as latest3mon_new_loan_num,
		sum(latest6mon_new_loan_num) as latest6mon_new_loan_num,
		sum(latest12mon_new_loan_num) as latest12mon_new_loan_num,
		sum(latest1mon_new_loan_amount) as latest1mon_new_loan_amount,
		sum(latest3mon_new_loan_amount) as latest3mon_new_loan_amount,
		sum(latest6mon_new_loan_amount) as latest6mon_new_loan_amount,
		sum(latest12mon_new_loan_amount) as latest12mon_new_loan_amount

from (
		select 
				reportno,
				case when gap_days<=30 then 1 else 0 end as latest1mon_new_loan_num,
				case when gap_days<=90 then 1 else 0 end as latest3mon_new_loan_num,
				case when gap_days<=180 then 1 else 0 end as latest6mon_new_loan_num,
				case when gap_days<=360 then 1 else 0 end as latest12mon_new_loan_num,
	
				case when gap_days<=30 then nvl(CREDITLIMITAMOUNT,0) else 0 end as latest1mon_new_loan_amount,
				case when gap_days<=90 then nvl(CREDITLIMITAMOUNT,0) else 0 end as latest3mon_new_loan_amount,
				case when gap_days<=180 then nvl(CREDITLIMITAMOUNT,0) else 0 end as latest6mon_new_loan_amount,
				case when gap_days<=360 then nvl(CREDITLIMITAMOUNT,0) else 0 end as latest12mon_new_loan_amount

	from 
	(

			select 
					lofo.reportno,
					lofo.CREDITLIMITAMOUNT,
					datediff(get_time(head.QUERYTIME),get_time(lofo.OPENDATE)) as gap_days 
		from ICRLOANINFO lofo
		left join ICRMESSAGEHEADER  head on lofo.reportno=head.reportno
		-- where TIMESTAMPDIFF(day,date_format(head.QUERYTIME,'%Y-%m-%d'),date_format(lofo.OPENDATE,'%Y-%m-%d'))<=360
	)t
		WHERE gap_days<=360
) t1
group by reportno


""").createOrReplaceTempView("dw_new_loan")

In [5]:
sql = """

select reportno,
sum(latest1mon_new_loan_num) as latest1mon_new_loan_num,
sum(latest3mon_new_loan_num) as latest3mon_new_loan_num,
sum(latest6mon_new_loan_num) as latest6mon_new_loan_num,
sum(latest12mon_new_loan_num) as latest12mon_new_loan_num,
sum(latest1mon_new_loan_amount) as latest1mon_new_loan_amount,
sum(latest3mon_new_loan_amount) as latest3mon_new_loan_amount,
sum(latest6mon_new_loan_amount) as latest6mon_new_loan_amount,
sum(latest12mon_new_loan_amount) as latest12mon_new_loan_amount

from (
	select reportno,
	case when gap_days<=30 then 1 else 0 end as latest1mon_new_loan_num,
	case when gap_days<=90 then 1 else 0 end as latest3mon_new_loan_num,
	case when gap_days<=180 then 1 else 0 end as latest6mon_new_loan_num,
	case when gap_days<=360 then 1 else 0 end as latest12mon_new_loan_num,
	
	case when gap_days<=30 then ifnull(CREDITLIMITAMOUNT,0) else 0 end as latest1mon_new_loan_amount,
	case when gap_days<=90 then ifnull(CREDITLIMITAMOUNT,0) else 0 end as latest3mon_new_loan_amount,
	case when gap_days<=180 then ifnull(CREDITLIMITAMOUNT,0) else 0 end as latest6mon_new_loan_amount,
	case when gap_days<=360 then ifnull(CREDITLIMITAMOUNT,0) else 0 end as latest12mon_new_loan_amount

	from 
	(

		select lofo.reportno,lofo.CREDITLIMITAMOUNT,
			TIMESTAMPDIFF(day,date_format(lofo.OPENDATE,'%%Y-%%m-%%d'),date_format(head.QUERYTIME,'%%Y-%%m-%%d')) as gap_days 
		from ICR_PROD.ICRLOANINFO lofo
		left join ICR_PROD.ICRMESSAGEHEADER  head on lofo.reportno=head.reportno
		-- where TIMESTAMPDIFF(day,date_format(head.QUERYTIME,'%%Y-%%m-%%d'),date_format(lofo.OPENDATE,'%%Y-%%m-%%d'))<=360
	)t
		WHERE gap_days<=360
) t1
group by reportno;

"""

In [7]:
# 读取sql数据
import datetime
starttime = datetime.datetime.now()
#long running
df = pd.read_sql_query(sql, engine)
endtime = datetime.datetime.now()
print (endtime - starttime)

#读取spark sql 数据
starttime = datetime.datetime.now()
spark_df = spark.sql("""
select * from dw_new_loan
""").toPandas()
endtime = datetime.datetime.now()
print (endtime - starttime)


#数据校验方法
def data_check2(df11,df22):
    columns = list(df11.columns)
    for col in columns:
        base_col = ['reportno']
        if(col!='reportno'):
            base_col.append(col)
        df33 = df11[base_col].merge(df22[base_col],on = base_col,how='inner')
        if(len(df33)!=len(df11)):
            print(col,len(df33),len(df11))

#直接做merge操作 inner join有问题，需要进一步解决，目前解决方法是数据写入csv 再读取
df11 = df.astype('object').sort_values(by='reportno').reset_index().drop(columns = 'index')
df22 = spark_df.astype('object').sort_values(by='reportno').reset_index().drop(columns = 'index')

df11.to_csv("mysql_df.csv")
df22.to_csv("spark_df.csv")

dfmm = pd.read_csv("mysql_df.csv",index_col=0)
dfss = pd.read_csv("spark_df.csv",index_col=0)

# print(dfmm.head(2))
# print(ddss.head(2))
data_check2(dfmm,dfss)

0:00:45.525156
0:00:56.860090

In [8]:
dfmm

,reportno,latest1mon_new_loan_num,latest3mon_new_loan_num,latest6mon_new_loan_num,latest12mon_new_loan_num,latest1mon_new_loan_amount,latest3mon_new_loan_amount,latest6mon_new_loan_amount,latest12mon_new_loan_amount
0,2018120300006574648000,0.0,3.0,3.0,5.0,0.0,21780.0,21780.0,83487.0
1,2018120300006574656209,0.0,0.0,1.0,1.0,0.0,0.0,2598.0,2598.0
2,2018120300006574656428,0.0,0.0,0.0,1.0,0.0,0.0,0.0,13000.0
3,2018120300006574664093,0.0,0.0,0.0,1.0,0.0,0.0,0.0,20800.0
4,2018120300006574677697,0.0,2.0,2.0,2.0,0.0,1300.0,1300.0,1300.0
5,2018120300006574677760,0.0,1.0,1.0,1.0,0.0,3198.0,3198.0,3198.0
6,2018120300006574690616,0.0,0.0,0.0,1.0,0.0,0.0,0.0,3000.0
7,2018120300006574704466,0.0,1.0,3.0,6.0,0.0,500.0,2000.0,6712.0
8,2018120300006574713858,0.0,1.0,3.0,4.0,0.0,3000.0,6000.0,7000.0
9,2018120300006574719439,0.0,1.0,1.0,1.0,0.0,14000.0,14000.0,14000.0
10,2018120300006574723859,0.0,1.0,6.0,11.0,0.0,8000.0,18015.0,28315.0
11,2018120300006574730601,0.0,1.0,1.0,2.0,0.0,300000.0,300000.0,330000.0
12,2018120300006574736298,0.0,0.0,1.0,1.0,0.0,0.0,2666.0,2666.0
13,2018120300006574738579,0.0,2.0,3.0,13.0,0.0,1295.0,3895.0,12791.0
14,2018120300006574738630,0.0,0.0,1.0,1.0,0.0,0.0,400000.0,400000.0
15,2018120300006574738652,0.0,1.0,2.0,3.0,0.0,2000.0,4000.0,5680.0
16,2018120300006574738694,0.0,0.0,0.0,2.0,0.0,0.0,0.0,4000.0
17,2018120300006574738724,0.0,1.0,1.0,1.0,0.0,60000.0,60000.0,60000.0
18,2018120300006574744062,0.0,1.0,1.0,1.0,0.0,3017.0,3017.0,3017.0
19,2018120300006574746078,0.0,1.0,1.0,1.0,0.0,19000.0,19000.0,19000.0
20,2018120300006574746368,0.0,0.0,0.0,1.0,0.0,0.0,0.0,6000.0
21,2018120300006574746477,0.0,3.0,10.0,23.0,0.0,4619.0,13334.0,25844.0
22,2018120300006574746544,0.0,0.0,0.0,1.0,0.0,0.0,0.0,3000.0
23,2018120300006574746550,0.0,1.0,3.0,3.0,0.0,220.0,1220.0,1220.0
24,2018120300006574746812,1.0,6.0,10.0,11.0,1000.0,18700.0,32500.0,38500.0
25,2018120300006574747466,0.0,2.0,3.0,8.0,0.0,61500.0,81500.0,245500.0
26,2018120300006574754203,0.0,3.0,6.0,6.0,0.0,4500.0,9500.0,9500.0
27,2018120300006574754301,0.0,0.0,0.0,1.0,0.0,0.0,0.0,2699.0
28,2018120300006574754338,0.0,2.0,3.0,3.0,0.0,1600.0,1700.0,1700.0
29,2018120300006574758697,0.0,0.0,1.0,2.0,0.0,0.0,8000.0,8999.0
...,...,...,...,...,...,...,...,...,...
206800,2019010200006755713930,0.0,0.0,2.0,2.0,0.0,0.0,101799.0,101799.0
206801,2019010200006755714027,0.0,1.0,2.0,4.0,0.0,460000.0,466200.0,482145.0
206802,2019010200006755714090,0.0,0.0,0.0,5.0,0.0,0.0,0.0,41680.0
206803,2019010200006755714150,0.0,7.0,9.0,15.0,0.0,13800.0,26800.0,47800.0
206804,2019010200006755714221,0.0,1.0,1.0,1.0,0.0,10200.0,10200.0,10200.0
206805,2019010200006755715658,0.0,0.0,3.0,4.0,0.0,0.0,13900.0,29975.0
206806,2019010200006755715701,0.0,1.0,3.0,7.0,0.0,22000.0,49000.0,77000.0
206807,2019010200006755716026,0.0,1.0,1.0,1.0,0.0,4465.0,4465.0,4465.0
206808,2019010200006755716998,0.0,1.0,4.0,7.0,0.0,25000.0,139500.0,201900.0
206809,2019010200006755720877,1.0,5.0,7.0,15.0,730.0,2930.0,9055.0,16455.0
206810,2019010200006755722945,3.0,6.0,6.0,13.0,6000.0,603000.0,603000.0,620500.0
206811,2019010200006755724229,0.0,0.0,0.0,1.0,0.0,0.0,0.0,3250.0
206812,2019010200006755725536,1.0,3.0,3.0,8.0,1000.0,11600.0,11600.0,353600.0
206813,2019010200006755726072,1.0,2.0,3.0,3.0,7000.0,14000.0,45000.0,45000.0
206814,2019010200006755726101,0.0,0.0,0.0,1.0,0.0,0.0,0.0,100000.0
206815,2019010200006755728594,0.0,0.0,1.0,1.0,0.0,0.0,18280.0,18280.0
206816,2019010200006755731067,0.0,7.0,9.0,12.0,0.0,13000.0,15000.0,31100.0
206817,2019010200006755731578,0.0,6.0,9.0,16.0,0.0,43600.0,148600.0,276560.0
206818,2019010200006755731668,0.0,0.0,1.0,1.0,0.0,0.0,1800.0,1800.0
206819,2019010200006755731749,0.0,1.0,2.0,2.0,0.0,1260.0,9260.0,9260.0
206820,2019010200006755731849,1.0,4.0,8.0,13.0,1180.0,4870.0,16289.0,49089.0
206821,2019010200006755731958,0.0,0.0,0.0,3.0,0.0,0.0,0.0,5200.0
206822,2019010200006755732814,0.0,1.0,1.0,1.0,0.0,7200.0,7200.0,7200.0
206823,2019010200006755733137,0.0,0.0,0.0,2.0,0.0,0.0,0.0,134500.0
206824,2019010200006755733720,0.0,1.0,1.0,2.0,0.0,4000.0,4000.0,7000.0
206825,2019010200006755735179,0.0,0.0,1.0,3.0,0.0,0.0,3283.0,10990.0
206826,2019010200006755735455,0.0,0.0,0.0,1.0,0.0,0.0,0.0,200000.0
206827,2019010200006755735487,0.0,1.0,1.0,1.0,0.0,2247.0,2247.0,2247.0
206828,2019010200006755735704,0.0,2.0,3.0,3.0,0.0,18000.0,22000.0,22000.0
206829,2019010200006755737242,0.0,1.0,8.0,17.0,0.0,1000.0,6300.0,16794.0

In [9]:
dfss

,reportno,latest1mon_new_loan_num,latest3mon_new_loan_num,latest6mon_new_loan_num,latest12mon_new_loan_num,latest1mon_new_loan_amount,latest3mon_new_loan_amount,latest6mon_new_loan_amount,latest12mon_new_loan_amount
0,2018120300006574648000,0,3,3,5,0.0,21780.0,21780.0,83487.0
1,2018120300006574656209,0,0,1,1,0.0,0.0,2598.0,2598.0
2,2018120300006574656428,0,0,0,1,0.0,0.0,0.0,13000.0
3,2018120300006574664093,0,0,0,1,0.0,0.0,0.0,20800.0
4,2018120300006574677697,0,2,2,2,0.0,1300.0,1300.0,1300.0
5,2018120300006574677760,0,1,1,1,0.0,3198.0,3198.0,3198.0
6,2018120300006574690616,0,0,0,1,0.0,0.0,0.0,3000.0
7,2018120300006574704466,0,1,3,6,0.0,500.0,2000.0,6712.0
8,2018120300006574713858,0,1,3,4,0.0,3000.0,6000.0,7000.0
9,2018120300006574719439,0,1,1,1,0.0,14000.0,14000.0,14000.0
10,2018120300006574723859,0,1,6,11,0.0,8000.0,18015.0,28315.0
11,2018120300006574730601,0,1,1,2,0.0,300000.0,300000.0,330000.0
12,2018120300006574736298,0,0,1,1,0.0,0.0,2666.0,2666.0
13,2018120300006574738579,0,2,3,13,0.0,1295.0,3895.0,12791.0
14,2018120300006574738630,0,0,1,1,0.0,0.0,400000.0,400000.0
15,2018120300006574738652,0,1,2,3,0.0,2000.0,4000.0,5680.0
16,2018120300006574738694,0,0,0,2,0.0,0.0,0.0,4000.0
17,2018120300006574738724,0,1,1,1,0.0,60000.0,60000.0,60000.0
18,2018120300006574744062,0,1,1,1,0.0,3017.0,3017.0,3017.0
19,2018120300006574746078,0,1,1,1,0.0,19000.0,19000.0,19000.0
20,2018120300006574746368,0,0,0,1,0.0,0.0,0.0,6000.0
21,2018120300006574746477,0,3,10,23,0.0,4619.0,13334.0,25844.0
22,2018120300006574746544,0,0,0,1,0.0,0.0,0.0,3000.0
23,2018120300006574746550,0,1,3,3,0.0,220.0,1220.0,1220.0
24,2018120300006574746812,1,6,10,11,1000.0,18700.0,32500.0,38500.0
25,2018120300006574747466,0,2,3,8,0.0,61500.0,81500.0,245500.0
26,2018120300006574754203,0,3,6,6,0.0,4500.0,9500.0,9500.0
27,2018120300006574754301,0,0,0,1,0.0,0.0,0.0,2699.0
28,2018120300006574754338,0,2,3,3,0.0,1600.0,1700.0,1700.0
29,2018120300006574758697,0,0,1,2,0.0,0.0,8000.0,8999.0
...,...,...,...,...,...,...,...,...,...
206800,2019010200006755713930,0,0,2,2,0.0,0.0,101799.0,101799.0
206801,2019010200006755714027,0,1,2,4,0.0,460000.0,466200.0,482145.0
206802,2019010200006755714090,0,0,0,5,0.0,0.0,0.0,41680.0
206803,2019010200006755714150,0,7,9,15,0.0,13800.0,26800.0,47800.0
206804,2019010200006755714221,0,1,1,1,0.0,10200.0,10200.0,10200.0
206805,2019010200006755715658,0,0,3,4,0.0,0.0,13900.0,29975.0
206806,2019010200006755715701,0,1,3,7,0.0,22000.0,49000.0,77000.0
206807,2019010200006755716026,0,1,1,1,0.0,4465.0,4465.0,4465.0
206808,2019010200006755716998,0,1,4,7,0.0,25000.0,139500.0,201900.0
206809,2019010200006755720877,1,5,7,15,730.0,2930.0,9055.0,16455.0
206810,2019010200006755722945,3,6,6,13,6000.0,603000.0,603000.0,620500.0
206811,2019010200006755724229,0,0,0,1,0.0,0.0,0.0,3250.0
206812,2019010200006755725536,1,3,3,8,1000.0,11600.0,11600.0,353600.0
206813,2019010200006755726072,1,2,3,3,7000.0,14000.0,45000.0,45000.0
206814,2019010200006755726101,0,0,0,1,0.0,0.0,0.0,100000.0
206815,2019010200006755728594,0,0,1,1,0.0,0.0,18280.0,18280.0
206816,2019010200006755731067,0,7,9,12,0.0,13000.0,15000.0,31100.0
206817,2019010200006755731578,0,6,9,16,0.0,43600.0,148600.0,276560.0
206818,2019010200006755731668,0,0,1,1,0.0,0.0,1800.0,1800.0
206819,2019010200006755731749,0,1,2,2,0.0,1260.0,9260.0,9260.0
206820,2019010200006755731849,1,4,8,13,1180.0,4870.0,16289.0,49089.0
206821,2019010200006755731958,0,0,0,3,0.0,0.0,0.0,5200.0
206822,2019010200006755732814,0,1,1,1,0.0,7200.0,7200.0,7200.0
206823,2019010200006755733137,0,0,0,2,0.0,0.0,0.0,134500.0
206824,2019010200006755733720,0,1,1,2,0.0,4000.0,4000.0,7000.0
206825,2019010200006755735179,0,0,1,3,0.0,0.0,3283.0,10990.0
206826,2019010200006755735455,0,0,0,1,0.0,0.0,0.0,200000.0
206827,2019010200006755735487,0,1,1,1,0.0,2247.0,2247.0,2247.0
206828,2019010200006755735704,0,2,3,3,0.0,18000.0,22000.0,22000.0
206829,2019010200006755737242,0,1,8,17,0.0,1000.0,6300.0,16794.0