在运行dw相关表之前，首先运行下面部分以创建中间表

In [1]:
import pandas as pd
from pyspark import SparkContext,SQLContext
from pyspark.sql import SQLContext
from pyspark.sql import SparkSession
from pyspark.sql.functions import udf, col
from pyspark.sql.types import StringType

In [2]:
spark=SparkSession \
        .builder \
        .config("spark.eventLog.enabled", "false") \
        .config("spark.executor.memory", "4g")\
        .config("spark.driver.memory", "8g")\
        .config("spark.cores.max", "10")\
        .config("spark.task.maxFailures", "1000")\
        .config("spark.default.parallelism", "500")\
        .config("spark.sql.shuffle.partitions",100)\
        .appName('renhang_etl') \
        .master('yarn')\
        .getOrCreate()

In [3]:
#创建DW.dw_baseinfo_detail
table1 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "ICR_PROD.ICRMESSAGEHEADER") \
    .option("user", "etl") \
    .option("password", "%TGRDJh3Hg2e4f") \
    .load()
table1.createOrReplaceTempView("ICRMESSAGEHEADER")

table2 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "ICR_PROD.ICRCREDITCUE") \
    .option("user", "etl") \
    .option("password", "%TGRDJh3Hg2e4f") \
    .load()
table2.createOrReplaceTempView("ICRCREDITCUE")

table3 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "ICR_PROD.ICRLOANCARDINFO") \
    .option("user", "etl") \
    .option("password", "%TGRDJh3Hg2e4f") \
    .load()
table3.createOrReplaceTempView("ICRLOANCARDINFO")

table4 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "ICR_PROD.ICRCREDITCUE") \
    .option("user", "etl") \
    .option("password", "%TGRDJh3Hg2e4f") \
    .load()
table4.createOrReplaceTempView("ICRCREDITCUE")

table5 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "ICR_PROD.ICRLATEST2YEAROVERDUECARD") \
    .option("user", "etl") \
    .option("password", "%TGRDJh3Hg2e4f") \
    .load()
table5.createOrReplaceTempView("ICRLATEST2YEAROVERDUECARD")

table6 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "ICR_PROD.ICRLATEST5YEAROVERDUEDETAIL") \
    .option("user", "etl") \
    .option("password", "%TGRDJh3Hg2e4f") \
    .load()
table6.createOrReplaceTempView("ICRLATEST5YEAROVERDUEDETAIL")

table7 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "ICR_PROD.ICRLATEST2YEAROVERDUE") \
    .option("user", "etl") \
    .option("password", "%TGRDJh3Hg2e4f") \
    .load()
table7.createOrReplaceTempView("ICRLATEST2YEAROVERDUE")

table8 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "ICR_PROD.ICRLOANINFO") \
    .option("user", "etl") \
    .option("password", "%TGRDJh3Hg2e4f") \
    .load()
table8.createOrReplaceTempView("ICRLOANINFO")

table9 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "ICR_PROD.ICRUNDESTORYLOANCARD") \
    .option("user", "etl") \
    .option("password", "%TGRDJh3Hg2e4f") \
    .load()
table9.createOrReplaceTempView("ICRUNDESTORYLOANCARD")

table10 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "ICR_PROD.ICRUNDESTORYSTANDARDLOANCARD") \
    .option("user", "etl") \
    .option("password", "%TGRDJh3Hg2e4f") \
    .load()
table10.createOrReplaceTempView("ICRUNDESTORYSTANDARDLOANCARD")

In [4]:
spark.sql("""
select 
		ordue.reportno,
		ordue.ACCOUNT,
		head.QUERYTIME,
		ordue.MONTH,
		month(date_format(head.QUERYTIME,'%Y-%m-%d')) - month(date_format(concat(ordue.month,'.01'),'%Y-%m-%d')) as gap_months,
		case 
			when ordue.LASTMONTHS in ('G','Z','D') then 8 
			else ordue.LASTMONTHS 
		end as LASTMONTHS ,
		loanfo.GUARANTEETYPE,STATE,FINANCEORG
from ICRLATEST2YEAROVERDUECARD ordue
-- 只取贷记卡的信息
inner join ICRLOANCARDINFO loanfo on ordue.reportno=loanfo.reportno and ordue.ACCOUNT=loanfo.ACCOUNT 
left join ICRMESSAGEHEADER head on ordue.reportno=head.reportno
where BIZTYPE='准贷记卡' and ordue.LASTMONTHS!='C'
""").createOrReplaceTempView("temp_standcard_2yearoverdue")


spark.sql("""
select 
		ordue.reportno,
		ordue.ACCOUNT,
		head.QUERYTIME,
		ordue.MONTH,
		month(date_format(head.QUERYTIME,'%Y-%m-%d')) - month(date_format(concat(ordue.month,'.01'),'%Y-%m-%d')) as gap_months,
		case 
			when ordue.LASTMONTHS in ('G','Z','D') then 8 
			else ordue.LASTMONTHS 
		end as LASTMONTHS ,
		loanfo.GUARANTEETYPE,STATE,FINANCEORG
from ICRLATEST2YEAROVERDUECARD ordue
-- 只取贷记卡的信息
inner join ICRLOANCARDINFO loanfo on ordue.reportno=loanfo.reportno and ordue.ACCOUNT=loanfo.ACCOUNT 
left join ICRMESSAGEHEADER head on ordue.reportno=head.reportno
where BIZTYPE='贷记卡' and ordue.LASTMONTHS!='C'
""").createOrReplaceTempView("temp_creditcard_2yearoverdue")


spark.sql("""
select 
		ordue.reportno,
		ordue.ACCOUNT,
		head.QUERYTIME,
		ordue.MONTH,
		month(date_format(head.QUERYTIME,'%Y-%m-%d')) - month(date_format(concat(ordue.month,'.01'),'%Y-%m-%d')) as gap_months,
		ordue.LASTMONTHS,ordue.AMOUNT,loanfo.GUARANTEETYPE,STATE,FINANCEORG
from ICRLATEST5YEAROVERDUEDETAIL ordue
-- 只取贷记卡的信息
inner join ICRLOANCARDINFO loanfo on ordue.reportno=loanfo.reportno and ordue.ACCOUNT=loanfo.ACCOUNT 
left join ICRMESSAGEHEADER head on ordue.reportno=head.reportno
where month!='--'  and BIZTYPE='贷记卡'
""").createOrReplaceTempView("temp_creditcard_overdue")


spark.sql("""
select 
		reportno,
		ACCOUNT,
		QUERYTIME,
		MONTH,
		gap_months,
		LASTMONTHS,
		GUARANTEETYPE,
		STATE,
		FINANCEORG 
from temp_creditcard_2yearoverdue
union 
select 
		reportno,
		ACCOUNT,
		QUERYTIME,
		date_format(concat(month,'.01'),'%Y-%m'),
        gap_months,
		LASTMONTHS,
		GUARANTEETYPE,
		STATE,
		FINANCEORG 
from temp_creditcard_overdue
""").createOrReplaceTempView("temp_creditcard_5yearoverdue")

spark.sql("""
select 
		ordue.reportno,
		ordue.ACCOUNT,
		head.QUERYTIME,
		ordue.MONTH,
		month(date_format(head.QUERYTIME,'%Y-%m-%d')) - month(date_format(concat(ordue.month,'.01'),'%Y-%m-%d')) as gap_months,
		case 
			when ordue.LASTMONTHS in ('G','Z','D') then 8 
			else ordue.LASTMONTHS 
		end as LASTMONTHS ,
		loanfo.GUARANTEETYPE,
		STATE,
		FINANCEORG
from ICRLATEST2YEAROVERDUE ordue
-- 只取贷款的信息
inner join ICRLOANINFO loanfo on ordue.reportno=loanfo.reportno and ordue.ACCOUNT=loanfo.ACCOUNT 
left join ICRMESSAGEHEADER head on ordue.reportno=head.reportno
where ordue.LASTMONTHS!='C'
""").createOrReplaceTempView("temp_loan_2yearoverdue")

spark.sql("""
select 
		ordue.reportno,
		ordue.ACCOUNT,
		head.QUERYTIME,
		ordue.MONTH,
		month(date_format(head.QUERYTIME,'%Y-%m-%d')) - month(date_format(concat(ordue.month,'.01'),'%Y-%m-%d')) as gap_months,
		ordue.LASTMONTHS,
		ordue.AMOUNT,
		loanfo.GUARANTEETYPE,
		STATE,FINANCEORG
from ICRLATEST5YEAROVERDUEDETAIL ordue
-- 只取贷款的信息
inner join ICRLOANINFO loanfo on ordue.reportno=loanfo.reportno and ordue.ACCOUNT=loanfo.ACCOUNT 
left join ICRMESSAGEHEADER head on ordue.reportno=head.reportno
where month!='--'
""").createOrReplaceTempView("temp_loan_overdue")


spark.sql("""
select 
		reportno,
		ACCOUNT,
		QUERYTIME,
        MONTH,
		gap_months,
		LASTMONTHS,
		GUARANTEETYPE,
		STATE,
		FINANCEORG 
from temp_loan_2yearoverdue
union 
select 
		reportno,
		ACCOUNT,
		QUERYTIME,
		date_format(concat(month,'.01'),'%Y-%m'),gap_months,LASTMONTHS,
		GUARANTEETYPE,
		STATE,
		FINANCEORG 
from temp_loan_overdue
""").createOrReplaceTempView("temp_loan_5yearoverdue")

中间表已运行完成，spark sql 创建所需要的表

In [5]:
spark.sql("""

select 
		a.reportno,
		nvl(loan.loan_card_account_num,0) as loan_card_account_num,
		nvl(sloan.sloancard_account_num,0) as sloancard_account_num,
		case 
			when loan.loan_card_account_num is null then -9999999
			when oploan.open_loancard_account_num is null and loan.loan_card_account_num is not null then 0 
			else oploan.open_loancard_account_num 
		end as open_loancard_account_num,
		case 
			when sloan.sloancard_account_num is null then -9999999
			when opsloan.open_sloancard_account_num is null and sloan.sloancard_account_num is not null then 0 
			else opsloan.open_sloancard_account_num 
		end as open_sloancard_account_num,
		case 
			when loan.loan_card_account_num is null then -9999999
			when opactloan.openact_loancard_account_num is null and loan.loan_card_account_num is not null then 0
			else opactloan.openact_loancard_account_num 
		end as openact_loancard_account_num,
		case 
			when sloan.sloancard_account_num is null then -9999999
			when opactsloan.openact_sloancard_account_num is null and sloan.sloancard_account_num is not null then 0
			else opactsloan.openact_sloancard_account_num 
		end as openact_sloancard_account_num,
		nvl(loan.loancard_org_num,0) as loancard_org_num,
		nvl(sloan.sloancard_org_num,0) as sloancard_org_num,
		case 
			when loan.loan_card_account_num is null then -9999999
			when oploan.open_loancard_org_num is null and loan.loan_card_account_num is not null then 0
			else oploan.open_loancard_org_num 
		end as open_loancard_org_num,
		case 
			when sloan.sloancard_account_num is null then -9999999
			when opsloan.open_sloancard_org_num is null and  sloan.sloancard_account_num is not null then 0
			else opsloan.open_sloancard_org_num 
		end as open_sloancard_org_num,
		case 
			when loan.loan_card_account_num is null then -9999999
			when opactloan.openact_loancard_org_num is null and loan.loan_card_account_num is not null then 0
			else opactloan.openact_loancard_org_num 
		end as openact_loancard_org_num,
		case 
			when sloan.sloancard_account_num is null then -9999999
			when opactsloan.openact_sloancard_org_num is null and sloan.sloancard_account_num is not null then 0
			else opactsloan.openact_sloancard_org_num 
		end as openact_sloancard_org_num,
		case 
			when sloan.sloancard_account_num is null and loan.loan_card_account_num is null then -9999999
			when card.card_org_num is null and (sloan.sloancard_account_num is not null or loan.loan_card_account_num is not null) then 0 
			else card.card_org_num 
		end as card_org_num,
	
		nvl(undlc.creditlimit,-9999999) as open_loancard_limit,
		nvl(undlc.MAXCREDITLIMITPERORG,-9999999) as open_loancard_max_limit,
		nvl(undlc.MINCREDITLIMITPERORG,-9999999) as open_loancard_min_limit,
		nvl(undsc.creditlimit,-9999999) as open_sloancard_limit,
		nvl(undsc.MAXCREDITLIMITPERORG,-9999999) as scard_max_limit,
		nvl(undsc.MINCREDITLIMITPERORG,-9999999) as scard_min_limit,
		case 
			when oploan.reportno is null then '-9999999'
			when oploan.reportno is not null and ifnull(undlc.CREDITLIMIT,0)=0 then '-9999998' 
			else round(undlc.USEDCREDITLIMIT/undlc.CREDITLIMIT,5) 
		end as open_loancard_used_percent,
		case 
			when opsloan.reportno is null then '-9999999'
			when opsloan.reportno is not null and ifnull(undsc.CREDITLIMIT,0)=0 then '-9999998' 
			else round(undsc.USEDCREDITLIMIT/undsc.CREDITLIMIT,5) 
		end as open_scard_used_percent,

		nvl(undlc.USEDCREDITLIMIT,-9999999) as open_loancard_used,
		nvl(undlc.LATEST6MONTHUSEDAVGAMOUNT,-9999999) as open_loancard_latest6month_avg,
		nvl(undsc.LATEST6MONTHUSEDAVGAMOUNT,-9999999) as open_scard_latest6month_used_avg,
		nvl(undsc.USEDCREDITLIMIT,-9999999) as open_scard_used,
		case 
			when loan.loan_card_account_num is null then -9999999
			when useda.usedamount_account_num is null and loan.loan_card_account_num is not null then 0
			else useda.usedamount_account_num 
		end as usedamount_account_num,
		case 
			when loan.loan_card_account_num is null then -9999999
			when useda.usedamount_org_num is null and loan.loan_card_account_num is not null  then 0
			else useda.usedamount_org_num 
		end as usedamount_org_num,
		case 
			when loan.loan_card_account_num is null then -9999999
			when opactcloan.active_creditcard_account_num is null and loan.loan_card_account_num is not null then 0
			else opactcloan.active_creditcard_account_num 
		end as active_creditcard_account_num,
		case 
			when loan.loan_card_account_num is null then -9999999
			when ccardl.latest_creditcard_overdue_months is null and loan.loan_card_account_num is not null then -9999998
			else ccardl.latest_creditcard_overdue_months 
		end as latest_creditcard_overdue_months,
	now() as create_time,now() as update_time,now() as etl_date

from (select distinct reportno from ICRMESSAGEHEADER) a
-- 贷记卡账户数,贷记卡发卡机构数
left join 
(
select reportno,count(distinct account) as loan_card_account_num,count(distinct FINANCEORG) as loancard_org_num
from ICRLOANCARDINFO
where biztype='贷记卡'
group by reportno
)loan on a.reportno=loan.reportno
-- 准贷记卡账户数,准贷记卡发卡机构数
left join 
(
select reportno,count(distinct account) as sloancard_account_num,count(distinct FINANCEORG) as sloancard_org_num
from ICRLOANCARDINFO
where biztype='准贷记卡'
group by reportno
)sloan on a.reportno=sloan.reportno
-- 未销户贷记卡账户数  未销户贷记卡发卡机构数
left join 
(
select reportno,count(distinct account) as open_loancard_account_num,count(distinct FINANCEORG) as open_loancard_org_num
from ICRLOANCARDINFO
where biztype='贷记卡' and state!='销户' 
group by reportno
)oploan on a.reportno=oploan.reportno
-- 未销户准贷记卡账户数  未销户准贷记卡发卡机构数
left join 
(
select reportno,count(distinct account) as open_sloancard_account_num,count(distinct FINANCEORG) as open_sloancard_org_num
from ICRLOANCARDINFO
where biztype='准贷记卡' and state!='销户' 
group by reportno
)opsloan on a.reportno=opsloan.reportno
-- 未销户且已激活贷记卡账户数  未销户且已激活贷记卡发卡机构数
left join 
(
select reportno,count(distinct account) as openact_loancard_account_num,count(distinct FINANCEORG) as openact_loancard_org_num
from ICRLOANCARDINFO
where biztype='贷记卡' and state!='销户' and state!='未激活'
group by reportno
)opactloan on a.reportno=opactloan.reportno
-- 未销户且已激活准贷记卡账户数  未销户且已激活准贷记卡发卡机构数
left join 
(
select reportno,count(distinct account) as openact_sloancard_account_num,count(distinct FINANCEORG) as openact_sloancard_org_num
from ICRLOANCARDINFO
where biztype='准贷记卡' and state!='销户' and state!='未激活'
group by reportno
)opactsloan on a.reportno=opactsloan.reportno
-- 信用卡（贷记卡+准贷记卡）发卡机构数
left join 
(
select reportno,count(distinct FINANCEORG) as card_org_num
from ICRLOANCARDINFO
where biztype in ('准贷记卡','贷记卡')
group by reportno
)card  on a.reportno=card.reportno
left join ICRUNDESTORYLOANCARD undlc on a.reportno=undlc.reportno
left join ICRUNDESTORYSTANDARDLOANCARD undsc on a.reportno=undsc.reportno
-- 当前有余额的贷记卡
left join 
(
	select reportno,count(distinct ACCOUNT) as usedamount_account_num,
		count(distinct FINANCEORG) as usedamount_org_num
		
	from ICRLOANCARDINFO
	where USEDCREDITLIMITAMOUNT>0 and biztype='贷记卡'
	group by reportno
) useda on a.reportno=useda.reportno
-- 已激活贷记卡账户数
left join 
(
select reportno,count(distinct ACCOUNT) as active_creditcard_account_num
from ICRLOANCARDINFO
where biztype='贷记卡' and state!='未激活'
group by reportno
)opactcloan on a.reportno=opactcloan.reportno
-- 贷记卡最近一次逾期距今月份数
left join 
(	select reportno,
	 min(gap_months) as latest_creditcard_overdue_months
	-- TIMESTAMPDIFF(month,date_format(concat(max(month),'.01'),'%Y-%m-%d'),date_format(QUERYTIME,'%Y-%m-%d')) as latest_creditcard_overdue_months
	from temp_creditcard_5yearoverdue 
	group by reportno
)ccardl on a.reportno=ccardl.reportno

""").createOrReplaceTempView("dw_card_summary")

In [6]:
table_name = "dw_card_summary"

spark.sql("drop table if EXISTS renhang_user_profile.%s "%table_name)
spark.sql("create table renhang_user_profile.%s as select * from %s"%(table_name,table_name))

DataFrame[]

In [7]:
# for test

In [1]:
from pyspark import SparkContext,SQLContext,SparkConf
from pyspark.sql import SQLContext
from pyspark.sql import SparkSession
from pyspark.sql.functions import udf, col
from pyspark.sql.types import StringType
import pandas as pd
import pandas as pd
from sqlalchemy import create_engine



# 初始化数据库连接，使用pymysql模块
# MySQL的用户：dt, 密码:Usd&212%wePO2, 端口：3306,数据库：
spark=SparkSession \
        .builder \
        .config("spark.eventLog.enabled", "false") \
        .config("spark.executor.memory", "4g")\
        .config("spark.driver.memory", "8g")\
        .config("spark.cores.max", "10")\
        .config("spark.task.maxFailures", "1000")\
        .config("spark.default.parallelism", "500")\
        .config("spark.sql.shuffle.partitions",100)\
        .appName('renhang_etl') \
        .master('yarn')\
        .getOrCreate()


engine = create_engine('mysql+pymysql://dt:Usd&212%wePO2@58.59.11.87:3306/DM')



def time_format(ts):
    try:
        res = ts[0:10].replace('.','')
        return res
    except:
        return 'None'
    else:
        return 'None'    
spark.udf.register('time_format',lambda x:time_format(x))

    
def get_time(ts):
    try:
        res = ts.replace('.','-')
        return res
    except:
        return 'None'
    else:
        return 'None'


spark.udf.register('get_time',lambda x:get_time(x))
# time_udfs = udf(get_time, StringType())


def timestampdiff(flag,t1,t2):
    try:
        date1 = t1[0:10].replace('.','-')
        date2 = t2[0:10].replace('.','-')
        year = (int(date1[0:4])-int(date2[0:4]))
        month = (int(date1[5:7])-int(date2[5:7]))
        day = int(date1[8:10])-int(date2[8:10])
        if(flag == 'year'):
            if(month<0 or (month==0 and day<0)):
                result = year -1
                return result
            return year
        if(flag == 'month'):
            res = year*12+month+int((day-30)/31)
            return res
    
    except:
        return 'None'
    
                                                                                      
spark.udf.register('timestampdiff',lambda x1,x2,x3:timestampdiff(x1,x2,x3))
# timestampdiff = udf(get_time, StringType())   


def get_city(address):
    try:
        province_loc = address.find("省")
        city_loc = address.find("市")
        if(province_loc < 0 or (province_loc>=0 and province_loc>=city_loc) ): #江西赣州市兴国县江西省赣州市兴国县潋江镇罗廖村26号
            city = address[0:city_loc+1]
        if(province_loc>=0 and province_loc<city_loc):
            city = address[province_loc+1:city_loc+1]
        return city
    except:
        return 'None'



spark.udf.register('get_city',lambda x:get_city(x))
# time_udfs = udf(get_time, StringType())

In [2]:
#创建DW.dw_baseinfo_detail
table1 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "ICR_PROD.ICRMESSAGEHEADER") \
    .option("user", "dt") \
    .option("password", "Usd&212%wePO2") \
    .load()
table1.createOrReplaceTempView("ICRMESSAGEHEADER")

table2 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "ICR_PROD.ICRCREDITCUE") \
    .option("user", "dt") \
    .option("password", "Usd&212%wePO2") \
    .load()
table2.createOrReplaceTempView("ICRCREDITCUE")

table3 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "ICR_PROD.ICRLOANCARDINFO") \
    .option("user", "dt") \
    .option("password", "Usd&212%wePO2") \
    .load()
table3.createOrReplaceTempView("ICRLOANCARDINFO")

table4 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "ICR_PROD.ICRCREDITCUE") \
    .option("user", "dt") \
    .option("password", "Usd&212%wePO2") \
    .load()
table4.createOrReplaceTempView("ICRCREDITCUE")

table5 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "ICR_PROD.ICRLATEST2YEAROVERDUECARD") \
    .option("user", "dt") \
    .option("password", "Usd&212%wePO2") \
    .load()
table5.createOrReplaceTempView("ICRLATEST2YEAROVERDUECARD")

table6 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "ICR_PROD.ICRLATEST5YEAROVERDUEDETAIL") \
    .option("user", "dt") \
    .option("password", "Usd&212%wePO2") \
    .load()
table6.createOrReplaceTempView("ICRLATEST5YEAROVERDUEDETAIL")

table7 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "ICR_PROD.ICRLATEST2YEAROVERDUE") \
    .option("user", "dt") \
    .option("password", "Usd&212%wePO2") \
    .load()
table7.createOrReplaceTempView("ICRLATEST2YEAROVERDUE")

table8 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "ICR_PROD.ICRLOANINFO") \
    .option("user", "dt") \
    .option("password", "Usd&212%wePO2") \
    .load()
table8.createOrReplaceTempView("ICRLOANINFO")

table9 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "ICR_PROD.ICRUNDESTORYLOANCARD") \
    .option("user", "dt") \
    .option("password", "Usd&212%wePO2") \
    .load()
table9.createOrReplaceTempView("ICRUNDESTORYLOANCARD")

table10 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "ICR_PROD.ICRUNDESTORYSTANDARDLOANCARD") \
    .option("user", "dt") \
    .option("password", "Usd&212%wePO2") \
    .load()
table10.createOrReplaceTempView("ICRUNDESTORYSTANDARDLOANCARD")

table11 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "ICR_PROD.ICRUNPAIDLOAN") \
    .option("user", "dt") \
    .option("password", "Usd&212%wePO2") \
    .load()
table11.createOrReplaceTempView("ICRUNPAIDLOAN")


table12 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "ICR_PROD.ICROVERDUESUMMARY") \
    .option("user", "dt") \
    .option("password", "Usd&212%wePO2") \
    .load()
table12.createOrReplaceTempView("ICROVERDUESUMMARY")


table13 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "ICR_PROD.ICRFELLBACKSUMMARY") \
    .option("user", "dt") \
    .option("password", "Usd&212%wePO2") \
    .load()
table13.createOrReplaceTempView("ICRFELLBACKSUMMARY")


table14 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "ICR_PROD.ICRGUARANTEE") \
    .option("user", "dt") \
    .option("password", "Usd&212%wePO2") \
    .load()
table14.createOrReplaceTempView("ICRGUARANTEE")


table15 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "ICR_PROD.ICRGUARANTEESUMMARY") \
    .option("user", "dt") \
    .option("password", "Usd&212%wePO2") \
    .load()
table15.createOrReplaceTempView("ICRGUARANTEESUMMARY")


#######

table16 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "ICR_PROD.ICRCIVILJUDGEMENT") \
    .option("user", "dt") \
    .option("password", "Usd&212%wePO2") \
    .load()
table16.createOrReplaceTempView("ICRCIVILJUDGEMENT")



table17 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "ICR_PROD.ICRFORCEEXECUTION") \
    .option("user", "dt") \
    .option("password", "Usd&212%wePO2") \
    .load()
table17.createOrReplaceTempView("ICRFORCEEXECUTION")


table18 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "ICR_PROD.ICRADMINPUNISHMENT") \
    .option("user", "dt") \
    .option("password", "Usd&212%wePO2") \
    .load()
table18.createOrReplaceTempView("ICRADMINPUNISHMENT")


table19 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "ICR_PROD.ICRTAXARREAR") \
    .option("user", "dt") \
    .option("password", "Usd&212%wePO2") \
    .load()
table19.createOrReplaceTempView("ICRTAXARREAR")


table20 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "ICR_PROD.ICRACCFUND") \
    .option("user", "dt") \
    .option("password", "Usd&212%wePO2") \
    .load()
table20.createOrReplaceTempView("ICRACCFUND")



table21 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "ICR_PROD.ICRENDOWMENTINSURANCEDEPOSIT") \
    .option("user", "dt") \
    .option("password", "Usd&212%wePO2") \
    .load()
table21.createOrReplaceTempView("ICRENDOWMENTINSURANCEDEPOSIT")


table22 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "ICR_PROD.ICRRECORDDETAIL") \
    .option("user", "dt") \
    .option("password", "Usd&212%wePO2") \
    .load()
table22.createOrReplaceTempView("ICRRECORDDETAIL")



table23 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "ICR_PROD.ICRRECORDDETAIL") \
    .option("user", "dt") \
    .option("password", "Usd&212%wePO2") \
    .load()
table23.createOrReplaceTempView("ICRRECORDDETAIL")


table24 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "ICR_PROD.QUERY_HISTORY") \
    .option("user", "dt") \
    .option("password", "Usd&212%wePO2") \
    .load()
table24.createOrReplaceTempView("QUERY_HISTORY")

table25 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "ICR_PROD.ICRRECORDSUMMARY") \
    .option("user", "dt") \
    .option("password", "Usd&212%wePO2") \
    .load()
table25.createOrReplaceTempView("ICRRECORDSUMMARY")


table25 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "ICR_PROD.ICRQUERYREQ") \
    .option("user", "dt") \
    .option("password", "Usd&212%wePO2") \
    .load()
table25.createOrReplaceTempView("ICRQUERYREQ")



table25 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "ICR_PROD.ICRIDENTITY") \
    .option("user", "dt") \
    .option("password", "Usd&212%wePO2") \
    .load()
table25.createOrReplaceTempView("ICRIDENTITY")
###########################################################
##########################################################
table1 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "WKL.temp_standcard_2yearoverdue") \
    .option("user", "dt") \
    .option("password", "Usd&212%wePO2") \
    .load()
table1.createOrReplaceTempView("temp_standcard_2yearoverdue")

table2 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "WKL.temp_creditcard_2yearoverdue") \
    .option("user", "dt") \
    .option("password", "Usd&212%wePO2") \
    .load()
table2.createOrReplaceTempView("temp_creditcard_2yearoverdue")

table1 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "WKL.temp_creditcard_overdue") \
    .option("user", "dt") \
    .option("password", "Usd&212%wePO2") \
    .load()
table1.createOrReplaceTempView("temp_creditcard_overdue")

table2 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "WKL.temp_creditcard_5yearoverdue") \
    .option("user", "dt") \
    .option("password", "Usd&212%wePO2") \
    .load()
table2.createOrReplaceTempView("temp_creditcard_5yearoverdue")

table1 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "WKL.temp_loan_2yearoverdue") \
    .option("user", "dt") \
    .option("password", "Usd&212%wePO2") \
    .load()
table1.createOrReplaceTempView("temp_loan_2yearoverdue")

table2 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "WKL.temp_loan_overdue") \
    .option("user", "dt") \
    .option("password", "Usd&212%wePO2") \
    .load()
table2.createOrReplaceTempView("temp_loan_overdue")

table2 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "WKL.temp_loan_5yearoverdue") \
    .option("user", "dt") \
    .option("password", "Usd&212%wePO2") \
    .load()
table2.createOrReplaceTempView("temp_loan_5yearoverdue")

table2 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "WKL.temp_address_change") \
    .option("user", "dt") \
    .option("password", "Usd&212%wePO2") \
    .load()
table2.createOrReplaceTempView("temp_address_change")

table2 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "WKL.temp_emp_change") \
    .option("user", "dt") \
    .option("password", "Usd&212%wePO2") \
    .load()
table2.createOrReplaceTempView("temp_emp_change")

In [9]:
spark.sql("""

select 
		a.reportno,
		nvl(loan.loan_card_account_num,0) as loan_card_account_num,
		nvl(sloan.sloancard_account_num,0) as sloancard_account_num,
		case 
			when loan.loan_card_account_num is null then -9999999
			when oploan.open_loancard_account_num is null and loan.loan_card_account_num is not null then 0 
			else oploan.open_loancard_account_num 
		end as open_loancard_account_num,
		case 
			when sloan.sloancard_account_num is null then -9999999
			when opsloan.open_sloancard_account_num is null and sloan.sloancard_account_num is not null then 0 
			else opsloan.open_sloancard_account_num 
		end as open_sloancard_account_num,
		case 
			when loan.loan_card_account_num is null then -9999999
			when opactloan.openact_loancard_account_num is null and loan.loan_card_account_num is not null then 0
			else opactloan.openact_loancard_account_num 
		end as openact_loancard_account_num,
		case 
			when sloan.sloancard_account_num is null then -9999999
			when opactsloan.openact_sloancard_account_num is null and sloan.sloancard_account_num is not null then 0
			else opactsloan.openact_sloancard_account_num 
		end as openact_sloancard_account_num,
		nvl(loan.loancard_org_num,0) as loancard_org_num,
		nvl(sloan.sloancard_org_num,0) as sloancard_org_num,
		case 
			when loan.loan_card_account_num is null then -9999999
			when oploan.open_loancard_org_num is null and loan.loan_card_account_num is not null then 0
			else oploan.open_loancard_org_num 
		end as open_loancard_org_num,
		case 
			when sloan.sloancard_account_num is null then -9999999
			when opsloan.open_sloancard_org_num is null and  sloan.sloancard_account_num is not null then 0
			else opsloan.open_sloancard_org_num 
		end as open_sloancard_org_num,
		case 
			when loan.loan_card_account_num is null then -9999999
			when opactloan.openact_loancard_org_num is null and loan.loan_card_account_num is not null then 0
			else opactloan.openact_loancard_org_num 
		end as openact_loancard_org_num,
		case 
			when sloan.sloancard_account_num is null then -9999999
			when opactsloan.openact_sloancard_org_num is null and sloan.sloancard_account_num is not null then 0
			else opactsloan.openact_sloancard_org_num 
		end as openact_sloancard_org_num,
		case 
			when sloan.sloancard_account_num is null and loan.loan_card_account_num is null then -9999999
			when card.card_org_num is null and (sloan.sloancard_account_num is not null or loan.loan_card_account_num is not null) then 0 
			else card.card_org_num 
		end as card_org_num,
	
		nvl(undlc.creditlimit,-9999999) as open_loancard_limit,
		nvl(undlc.MAXCREDITLIMITPERORG,-9999999) as open_loancard_max_limit,
		nvl(undlc.MINCREDITLIMITPERORG,-9999999) as open_loancard_min_limit,
		nvl(undsc.creditlimit,-9999999) as open_sloancard_limit,
		nvl(undsc.MAXCREDITLIMITPERORG,-9999999) as scard_max_limit,
		nvl(undsc.MINCREDITLIMITPERORG,-9999999) as scard_min_limit,
		case 
			when oploan.reportno is null then '-9999999'
			when oploan.reportno is not null and ifnull(undlc.CREDITLIMIT,0)=0 then '-9999998' 
			else round(undlc.USEDCREDITLIMIT/undlc.CREDITLIMIT,5) 
		end as open_loancard_used_percent,
		case 
			when opsloan.reportno is null then '-9999999'
			when opsloan.reportno is not null and ifnull(undsc.CREDITLIMIT,0)=0 then '-9999998' 
			else round(undsc.USEDCREDITLIMIT/undsc.CREDITLIMIT,5) 
		end as open_scard_used_percent,

		nvl(undlc.USEDCREDITLIMIT,-9999999) as open_loancard_used,
		nvl(undlc.LATEST6MONTHUSEDAVGAMOUNT,-9999999) as open_loancard_latest6month_avg,
		nvl(undsc.LATEST6MONTHUSEDAVGAMOUNT,-9999999) as open_scard_latest6month_used_avg,
		nvl(undsc.USEDCREDITLIMIT,-9999999) as open_scard_used,
		case 
			when loan.loan_card_account_num is null then -9999999
			when useda.usedamount_account_num is null and loan.loan_card_account_num is not null then 0
			else useda.usedamount_account_num 
		end as usedamount_account_num,
		case 
			when loan.loan_card_account_num is null then -9999999
			when useda.usedamount_org_num is null and loan.loan_card_account_num is not null  then 0
			else useda.usedamount_org_num 
		end as usedamount_org_num,
		case 
			when loan.loan_card_account_num is null then -9999999
			when opactcloan.active_creditcard_account_num is null and loan.loan_card_account_num is not null then 0
			else opactcloan.active_creditcard_account_num 
		end as active_creditcard_account_num,
		case 
			when loan.loan_card_account_num is null then -9999999
			when ccardl.latest_creditcard_overdue_months is null and loan.loan_card_account_num is not null then -9999998
			else ccardl.latest_creditcard_overdue_months 
		end as latest_creditcard_overdue_months,
	now() as create_time,now() as update_time,now() as etl_date

from (select distinct reportno from ICRMESSAGEHEADER) a
-- 贷记卡账户数,贷记卡发卡机构数
left join 
(
select reportno,count(distinct account) as loan_card_account_num,count(distinct FINANCEORG) as loancard_org_num
from ICRLOANCARDINFO
where biztype='贷记卡'
group by reportno
)loan on a.reportno=loan.reportno
-- 准贷记卡账户数,准贷记卡发卡机构数
left join 
(
select reportno,count(distinct account) as sloancard_account_num,count(distinct FINANCEORG) as sloancard_org_num
from ICRLOANCARDINFO
where biztype='准贷记卡'
group by reportno
)sloan on a.reportno=sloan.reportno
-- 未销户贷记卡账户数  未销户贷记卡发卡机构数
left join 
(
select reportno,count(distinct account) as open_loancard_account_num,count(distinct FINANCEORG) as open_loancard_org_num
from ICRLOANCARDINFO
where biztype='贷记卡' and state!='销户' 
group by reportno
)oploan on a.reportno=oploan.reportno
-- 未销户准贷记卡账户数  未销户准贷记卡发卡机构数
left join 
(
select reportno,count(distinct account) as open_sloancard_account_num,count(distinct FINANCEORG) as open_sloancard_org_num
from ICRLOANCARDINFO
where biztype='准贷记卡' and state!='销户' 
group by reportno
)opsloan on a.reportno=opsloan.reportno
-- 未销户且已激活贷记卡账户数  未销户且已激活贷记卡发卡机构数
left join 
(
select reportno,count(distinct account) as openact_loancard_account_num,count(distinct FINANCEORG) as openact_loancard_org_num
from ICRLOANCARDINFO
where biztype='贷记卡' and state!='销户' and state!='未激活'
group by reportno
)opactloan on a.reportno=opactloan.reportno
-- 未销户且已激活准贷记卡账户数  未销户且已激活准贷记卡发卡机构数
left join 
(
select reportno,count(distinct account) as openact_sloancard_account_num,count(distinct FINANCEORG) as openact_sloancard_org_num
from ICRLOANCARDINFO
where biztype='准贷记卡' and state!='销户' and state!='未激活'
group by reportno
)opactsloan on a.reportno=opactsloan.reportno
-- 信用卡（贷记卡+准贷记卡）发卡机构数
left join 
(
select reportno,count(distinct FINANCEORG) as card_org_num
from ICRLOANCARDINFO
where biztype in ('准贷记卡','贷记卡')
group by reportno
)card  on a.reportno=card.reportno
left join ICRUNDESTORYLOANCARD undlc on a.reportno=undlc.reportno
left join ICRUNDESTORYSTANDARDLOANCARD undsc on a.reportno=undsc.reportno
-- 当前有余额的贷记卡
left join 
(
	select reportno,count(distinct ACCOUNT) as usedamount_account_num,
		count(distinct FINANCEORG) as usedamount_org_num
		
	from ICRLOANCARDINFO
	where USEDCREDITLIMITAMOUNT>0 and biztype='贷记卡'
	group by reportno
) useda on a.reportno=useda.reportno
-- 已激活贷记卡账户数
left join 
(
select reportno,count(distinct ACCOUNT) as active_creditcard_account_num
from ICRLOANCARDINFO
where biztype='贷记卡' and state!='未激活'
group by reportno
)opactcloan on a.reportno=opactcloan.reportno
-- 贷记卡最近一次逾期距今月份数
left join 
(	select reportno,
	 min(gap_months) as latest_creditcard_overdue_months
	-- TIMESTAMPDIFF(month,date_format(concat(max(month),'.01'),'%Y-%m-%d'),date_format(QUERYTIME,'%Y-%m-%d')) as latest_creditcard_overdue_months
	from temp_creditcard_5yearoverdue 
	group by reportno
)ccardl on a.reportno=ccardl.reportno

""").createOrReplaceTempView("dw_card_summary")

In [14]:
# 查询语句，选出employee表中的所有数据
sql = """

select 
        a.reportno,
        ifnull(loan.loan_card_account_num,0) as loan_card_account_num,
        ifnull(sloan.sloancard_account_num,0) as sloancard_account_num,
        case 
            when loan.loan_card_account_num is null then -9999999
            when oploan.open_loancard_account_num is null and loan.loan_card_account_num is not null then 0 
            else oploan.open_loancard_account_num 
        end as open_loancard_account_num,
case when sloan.sloancard_account_num is null then -9999999
	when opsloan.open_sloancard_account_num is null and sloan.sloancard_account_num is not null then 0 
	else opsloan.open_sloancard_account_num end as open_sloancard_account_num,
case when loan.loan_card_account_num is null then -9999999
	when opactloan.openact_loancard_account_num is null and loan.loan_card_account_num is not null then 0
	else opactloan.openact_loancard_account_num end as openact_loancard_account_num,
case when sloan.sloancard_account_num is null then -9999999
	when opactsloan.openact_sloancard_account_num is null and sloan.sloancard_account_num is not null then 0
	else opactsloan.openact_sloancard_account_num end as openact_sloancard_account_num,
ifnull(loan.loancard_org_num,0) as loancard_org_num,
ifnull(sloan.sloancard_org_num,0) as sloancard_org_num,
case when loan.loan_card_account_num is null then -9999999
	when oploan.open_loancard_org_num is null and loan.loan_card_account_num is not null then 0
	else oploan.open_loancard_org_num end as open_loancard_org_num,
case when sloan.sloancard_account_num is null then -9999999
	when opsloan.open_sloancard_org_num is null and  sloan.sloancard_account_num is not null then 0
	else opsloan.open_sloancard_org_num end as open_sloancard_org_num,
case when loan.loan_card_account_num is null then -9999999
	when opactloan.openact_loancard_org_num is null and loan.loan_card_account_num is not null then 0
	else opactloan.openact_loancard_org_num end as openact_loancard_org_num,
case when sloan.sloancard_account_num is null then -9999999
	when opactsloan.openact_sloancard_org_num is null and sloan.sloancard_account_num is not null then 0
	else opactsloan.openact_sloancard_org_num end as openact_sloancard_org_num,
case when sloan.sloancard_account_num is null and loan.loan_card_account_num is null then -9999999
	when card.card_org_num is null 
		and (sloan.sloancard_account_num is not null or loan.loan_card_account_num is not null) then 0 
	else card.card_org_num end as card_org_num,
	
ifnull(undlc.creditlimit,-9999999) as open_loancard_limit,
ifnull(undlc.MAXCREDITLIMITPERORG,-9999999) as open_loancard_max_limit,
ifnull(undlc.MINCREDITLIMITPERORG,-9999999) as open_loancard_min_limit,
ifnull(undsc.creditlimit,-9999999) as open_sloancard_limit,
ifnull(undsc.MAXCREDITLIMITPERORG,-9999999) as scard_max_limit,
ifnull(undsc.MINCREDITLIMITPERORG,-9999999) as scard_min_limit,
case when oploan.reportno is null then '-9999999'
	when oploan.reportno is not null and ifnull(undlc.CREDITLIMIT,0)=0 then '-9999998' 
	else round(undlc.USEDCREDITLIMIT/undlc.CREDITLIMIT,5) end as open_loancard_used_percent,
case when opsloan.reportno is null then '-9999999'
	when opsloan.reportno is not null and ifnull(undsc.CREDITLIMIT,0)=0 then '-9999998' 
	else round(undsc.USEDCREDITLIMIT/undsc.CREDITLIMIT,5) end as open_scard_used_percent,

ifnull(undlc.USEDCREDITLIMIT,-9999999) as open_loancard_used,
ifnull(undlc.LATEST6MONTHUSEDAVGAMOUNT,-9999999) as open_loancard_latest6month_avg,
ifnull(undsc.LATEST6MONTHUSEDAVGAMOUNT,-9999999) as open_scard_latest6month_used_avg,
ifnull(undsc.USEDCREDITLIMIT,-9999999) as open_scard_used,
case when loan.loan_card_account_num is null then -9999999
	when useda.usedamount_account_num is null and loan.loan_card_account_num is not null then 0
	else useda.usedamount_account_num end as usedamount_account_num,
case when loan.loan_card_account_num is null then -9999999
	when useda.usedamount_org_num is null and loan.loan_card_account_num is not null  then 0
	else useda.usedamount_org_num end as usedamount_org_num,
case when loan.loan_card_account_num is null then -9999999
	when opactcloan.active_creditcard_account_num is null and loan.loan_card_account_num is not null then 0
	else opactcloan.active_creditcard_account_num end as active_creditcard_account_num,
case when loan.loan_card_account_num is null then -9999999
	when ccardl.latest_creditcard_overdue_months is null and loan.loan_card_account_num is not null then -9999998
	else ccardl.latest_creditcard_overdue_months end as latest_creditcard_overdue_months,
now() as create_time,now() as update_time,now() as etl_date

from (select distinct reportno from ICR_PROD.ICRMESSAGEHEADER) a
-- 贷记卡账户数,贷记卡发卡机构数
left join 
(
select reportno,count(distinct account) as loan_card_account_num,count(distinct FINANCEORG) as loancard_org_num
from ICR_PROD.ICRLOANCARDINFO
where biztype='贷记卡'
group by reportno
)loan on a.reportno=loan.reportno
-- 准贷记卡账户数,准贷记卡发卡机构数
left join 
(
select reportno,count(distinct account) as sloancard_account_num,count(distinct FINANCEORG) as sloancard_org_num
from ICR_PROD.ICRLOANCARDINFO
where biztype='准贷记卡'
group by reportno
)sloan on a.reportno=sloan.reportno
-- 未销户贷记卡账户数  未销户贷记卡发卡机构数
left join 
(
select reportno,count(distinct account) as open_loancard_account_num,count(distinct FINANCEORG) as open_loancard_org_num
from ICR_PROD.ICRLOANCARDINFO
where biztype='贷记卡' and state!='销户' 
group by reportno
)oploan on a.reportno=oploan.reportno
-- 未销户准贷记卡账户数  未销户准贷记卡发卡机构数
left join 
(
select reportno,count(distinct account) as open_sloancard_account_num,count(distinct FINANCEORG) as open_sloancard_org_num
from ICR_PROD.ICRLOANCARDINFO
where biztype='准贷记卡' and state!='销户' 
group by reportno
)opsloan on a.reportno=opsloan.reportno
-- 未销户且已激活贷记卡账户数  未销户且已激活贷记卡发卡机构数
left join 
(
select reportno,count(distinct account) as openact_loancard_account_num,count(distinct FINANCEORG) as openact_loancard_org_num
from ICR_PROD.ICRLOANCARDINFO
where biztype='贷记卡' and state!='销户' and state!='未激活'
group by reportno
)opactloan on a.reportno=opactloan.reportno
-- 未销户且已激活准贷记卡账户数  未销户且已激活准贷记卡发卡机构数
left join 
(
select reportno,count(distinct account) as openact_sloancard_account_num,count(distinct FINANCEORG) as openact_sloancard_org_num
from ICR_PROD.ICRLOANCARDINFO
where biztype='准贷记卡' and state!='销户' and state!='未激活'
group by reportno
)opactsloan on a.reportno=opactsloan.reportno
-- 信用卡（贷记卡+准贷记卡）发卡机构数
left join 
(
select reportno,count(distinct FINANCEORG) as card_org_num
from ICR_PROD.ICRLOANCARDINFO
where biztype in ('准贷记卡','贷记卡')
group by reportno
)card  on a.reportno=card.reportno
left join ICR_PROD.ICRUNDESTORYLOANCARD undlc on a.reportno=undlc.reportno
left join ICR_PROD.ICRUNDESTORYSTANDARDLOANCARD undsc on a.reportno=undsc.reportno
-- 当前有余额的贷记卡
left join 
(
	select reportno,count(distinct ACCOUNT) as usedamount_account_num,
		count(distinct FINANCEORG) as usedamount_org_num
		
	from ICR_PROD.ICRLOANCARDINFO
	where USEDCREDITLIMITAMOUNT>0 and biztype='贷记卡'
	group by reportno
) useda on a.reportno=useda.reportno
-- 已激活贷记卡账户数
left join 
(
select reportno,count(distinct ACCOUNT) as active_creditcard_account_num
from ICR_PROD.ICRLOANCARDINFO
where biztype='贷记卡' and state!='未激活'
group by reportno
)opactcloan on a.reportno=opactcloan.reportno
-- 贷记卡最近一次逾期距今月份数
left join 
(	select reportno,
	 min(gap_months) as latest_creditcard_overdue_months
	-- TIMESTAMPDIFF(month,date_format(concat(max(month),'.01'),'%%Y-%%m-%%d'),date_format(QUERYTIME,'%%Y-%%m-%%d')) as latest_creditcard_overdue_months
	from WKL.temp_creditcard_5yearoverdue 
	group by reportno
)ccardl on a.reportno=ccardl.reportno



"""

In [15]:
# read_sql_query的两个参数: sql语句， 数据库连接
import datetime

starttime = datetime.datetime.now()

#long running
df = pd.read_sql_query(sql, engine)

endtime = datetime.datetime.now()
print (endtime - starttime)

0:01:39.193190

In [12]:
spark_df = spark.sql("""

select * from dw_card_summary

""").toPandas()

In [23]:
def data_check2(df11,df22):
    columns = list(df11.columns)
    for col in columns:
        base_col = ['reportno']
        if(col!='reportno'):
            base_col.append(col)
        df33 = df11[base_col].merge(df22[base_col],on = base_col,how='inner')
        if(len(df33)!=len(df11)):
            print(col,len(df33),len(df11))

#直接做merge操作 inner join有问题，需要进一步解决，目前解决方法是数据写入csv 再读取
df11 = df.astype('object').sort_values(by='reportno').reset_index().drop(columns = 'index').fillna('NN').replace('None',"NN")
df22 = spark_df.astype('object').sort_values(by='reportno').reset_index().drop(columns = 'index').fillna('NN').replace('None',"NN")

df11.to_csv("mysql_df.csv")
df22.to_csv("spark_df.csv")

dfmm = pd.read_csv("mysql_df.csv",index_col=0)
dfss = pd.read_csv("spark_df.csv",index_col=0)

In [24]:
dfmm.dtypes

reportno                             object
loan_card_account_num                 int64
sloancard_account_num                 int64
open_loancard_account_num             int64
open_sloancard_account_num            int64
openact_loancard_account_num          int64
openact_sloancard_account_num         int64
loancard_org_num                      int64
sloancard_org_num                     int64
open_loancard_org_num                 int64
open_sloancard_org_num                int64
openact_loancard_org_num              int64
openact_sloancard_org_num             int64
card_org_num                          int64
open_loancard_limit                 float64
open_loancard_max_limit             float64
open_loancard_min_limit             float64
open_sloancard_limit                float64
scard_max_limit                     float64
scard_min_limit                     float64
open_loancard_used_percent          float64
open_scard_used_percent             float64
open_loancard_used                  float64
open_loancard_latest6month_avg      float64
open_scard_latest6month_used_avg    float64
open_scard_used                     float64
usedamount_account_num                int64
usedamount_org_num                    int64
active_creditcard_account_num         int64
latest_creditcard_overdue_months      int64
create_time                          object
update_time                          object
etl_date                             object
dtype: object

In [25]:
dfss.dtypes

reportno                             object
loan_card_account_num                 int64
sloancard_account_num                 int64
open_loancard_account_num             int64
open_sloancard_account_num            int64
openact_loancard_account_num          int64
openact_sloancard_account_num         int64
loancard_org_num                      int64
sloancard_org_num                     int64
open_loancard_org_num                 int64
open_sloancard_org_num                int64
openact_loancard_org_num              int64
openact_sloancard_org_num             int64
card_org_num                          int64
open_loancard_limit                 float64
open_loancard_max_limit             float64
open_loancard_min_limit             float64
open_sloancard_limit                float64
scard_max_limit                     float64
scard_min_limit                     float64
open_loancard_used_percent          float64
open_scard_used_percent             float64
open_loancard_used                  float64
open_loancard_latest6month_avg      float64
open_scard_latest6month_used_avg    float64
open_scard_used                     float64
usedamount_account_num                int64
usedamount_org_num                    int64
active_creditcard_account_num         int64
latest_creditcard_overdue_months      int64
create_time                          object
update_time                          object
etl_date                             object
dtype: object

In [26]:
data_check2(dfmm,dfss)

create_time 0 348221
update_time 0 348221
etl_date 0 348221