在运行dw相关表之前，首先运行下面部分以创建中间表

In [1]:
import pandas as pd
from pyspark import SparkContext,SQLContext
from pyspark.sql import SQLContext
from pyspark.sql import SparkSession
from pyspark.sql.functions import udf, col
from pyspark.sql.types import StringType

In [2]:
spark=SparkSession \
        .builder \
        .config("spark.eventLog.enabled", "false") \
        .config("spark.executor.memory", "4g")\
        .config("spark.driver.memory", "8g")\
        .config("spark.cores.max", "10")\
        .config("spark.task.maxFailures", "1000")\
        .config("spark.default.parallelism", "500")\
        .config("spark.sql.shuffle.partitions",100)\
        .appName('renhang_etl') \
        .master('yarn')\
        .getOrCreate()

In [3]:
#创建DW.dw_baseinfo_detail
table1 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "ICR_PROD.ICRMESSAGEHEADER") \
    .option("user", "etl") \
    .option("password", "%TGRDJh3Hg2e4f") \
    .load()
table1.createOrReplaceTempView("ICRMESSAGEHEADER")

table2 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "ICR_PROD.ICRCREDITCUE") \
    .option("user", "etl") \
    .option("password", "%TGRDJh3Hg2e4f") \
    .load()
table2.createOrReplaceTempView("ICRCREDITCUE")

table3 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "ICR_PROD.ICRLOANCARDINFO") \
    .option("user", "etl") \
    .option("password", "%TGRDJh3Hg2e4f") \
    .load()
table3.createOrReplaceTempView("ICRLOANCARDINFO")

table4 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "ICR_PROD.ICRCREDITCUE") \
    .option("user", "etl") \
    .option("password", "%TGRDJh3Hg2e4f") \
    .load()
table4.createOrReplaceTempView("ICRCREDITCUE")

table5 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "ICR_PROD.ICRLATEST2YEAROVERDUECARD") \
    .option("user", "etl") \
    .option("password", "%TGRDJh3Hg2e4f") \
    .load()
table5.createOrReplaceTempView("ICRLATEST2YEAROVERDUECARD")

table6 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "ICR_PROD.ICRLATEST5YEAROVERDUEDETAIL") \
    .option("user", "etl") \
    .option("password", "%TGRDJh3Hg2e4f") \
    .load()
table6.createOrReplaceTempView("ICRLATEST5YEAROVERDUEDETAIL")

table7 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "ICR_PROD.ICRLATEST2YEAROVERDUE") \
    .option("user", "etl") \
    .option("password", "%TGRDJh3Hg2e4f") \
    .load()
table7.createOrReplaceTempView("ICRLATEST2YEAROVERDUE")

table8 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "ICR_PROD.ICRLOANINFO") \
    .option("user", "etl") \
    .option("password", "%TGRDJh3Hg2e4f") \
    .load()
table8.createOrReplaceTempView("ICRLOANINFO")

table9 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "ICR_PROD.ICRUNDESTORYLOANCARD") \
    .option("user", "etl") \
    .option("password", "%TGRDJh3Hg2e4f") \
    .load()
table9.createOrReplaceTempView("ICRUNDESTORYLOANCARD")

table10 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "ICR_PROD.ICRUNDESTORYSTANDARDLOANCARD") \
    .option("user", "etl") \
    .option("password", "%TGRDJh3Hg2e4f") \
    .load()
table10.createOrReplaceTempView("ICRUNDESTORYSTANDARDLOANCARD")

table11 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "ICR_PROD.ICRUNPAIDLOAN") \
    .option("user", "etl") \
    .option("password", "%TGRDJh3Hg2e4f") \
    .load()
table11.createOrReplaceTempView("ICRUNPAIDLOAN")


table12 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "ICR_PROD.ICROVERDUESUMMARY") \
    .option("user", "etl") \
    .option("password", "%TGRDJh3Hg2e4f") \
    .load()
table12.createOrReplaceTempView("ICROVERDUESUMMARY")


table13 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "ICR_PROD.ICRFELLBACKSUMMARY") \
    .option("user", "etl") \
    .option("password", "%TGRDJh3Hg2e4f") \
    .load()
table13.createOrReplaceTempView("ICRFELLBACKSUMMARY")


table14 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "ICR_PROD.ICRGUARANTEE") \
    .option("user", "etl") \
    .option("password", "%TGRDJh3Hg2e4f") \
    .load()
table14.createOrReplaceTempView("ICRGUARANTEE")


table15 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "ICR_PROD.ICRGUARANTEESUMMARY") \
    .option("user", "etl") \
    .option("password", "%TGRDJh3Hg2e4f") \
    .load()
table15.createOrReplaceTempView("ICRGUARANTEESUMMARY")

In [4]:
spark.sql("""
select 
		ordue.reportno,
		ordue.ACCOUNT,
		head.QUERYTIME,
		ordue.MONTH,
		month(date_format(head.QUERYTIME,'%Y-%m-%d')) - month(date_format(concat(ordue.month,'.01'),'%Y-%m-%d')) as gap_months,
		case 
			when ordue.LASTMONTHS in ('G','Z','D') then 8 
			else ordue.LASTMONTHS 
		end as LASTMONTHS ,
		loanfo.GUARANTEETYPE,STATE,FINANCEORG
from ICRLATEST2YEAROVERDUECARD ordue
-- 只取贷记卡的信息
inner join ICRLOANCARDINFO loanfo on ordue.reportno=loanfo.reportno and ordue.ACCOUNT=loanfo.ACCOUNT 
left join ICRMESSAGEHEADER head on ordue.reportno=head.reportno
where BIZTYPE='准贷记卡' and ordue.LASTMONTHS!='C'
""").createOrReplaceTempView("temp_standcard_2yearoverdue")


spark.sql("""
select 
		ordue.reportno,
		ordue.ACCOUNT,
		head.QUERYTIME,
		ordue.MONTH,
		month(date_format(head.QUERYTIME,'%Y-%m-%d')) - month(date_format(concat(ordue.month,'.01'),'%Y-%m-%d')) as gap_months,
		case 
			when ordue.LASTMONTHS in ('G','Z','D') then 8 
			else ordue.LASTMONTHS 
		end as LASTMONTHS ,
		loanfo.GUARANTEETYPE,STATE,FINANCEORG
from ICRLATEST2YEAROVERDUECARD ordue
-- 只取贷记卡的信息
inner join ICRLOANCARDINFO loanfo on ordue.reportno=loanfo.reportno and ordue.ACCOUNT=loanfo.ACCOUNT 
left join ICRMESSAGEHEADER head on ordue.reportno=head.reportno
where BIZTYPE='贷记卡' and ordue.LASTMONTHS!='C'
""").createOrReplaceTempView("temp_creditcard_2yearoverdue")


spark.sql("""
select 
		ordue.reportno,
		ordue.ACCOUNT,
		head.QUERYTIME,
		ordue.MONTH,
		month(date_format(head.QUERYTIME,'%Y-%m-%d')) - month(date_format(concat(ordue.month,'.01'),'%Y-%m-%d')) as gap_months,
		ordue.LASTMONTHS,ordue.AMOUNT,loanfo.GUARANTEETYPE,STATE,FINANCEORG
from ICRLATEST5YEAROVERDUEDETAIL ordue
-- 只取贷记卡的信息
inner join ICRLOANCARDINFO loanfo on ordue.reportno=loanfo.reportno and ordue.ACCOUNT=loanfo.ACCOUNT 
left join ICRMESSAGEHEADER head on ordue.reportno=head.reportno
where month!='--'  and BIZTYPE='贷记卡'
""").createOrReplaceTempView("temp_creditcard_overdue")


spark.sql("""
select 
		reportno,
		ACCOUNT,
		QUERYTIME,
		MONTH,
		gap_months,
		LASTMONTHS,
		GUARANTEETYPE,
		STATE,
		FINANCEORG 
from temp_creditcard_2yearoverdue
union 
select 
		reportno,
		ACCOUNT,
		QUERYTIME,
		date_format(concat(month,'.01'),'%Y-%m'),
        gap_months,
		LASTMONTHS,
		GUARANTEETYPE,
		STATE,
		FINANCEORG 
from temp_creditcard_overdue
""").createOrReplaceTempView("temp_creditcard_5yearoverdue")



spark.sql("""
select 
		ordue.reportno,
		ordue.ACCOUNT,
		head.QUERYTIME,
		ordue.MONTH,
		month(date_format(head.QUERYTIME,'%Y-%m-%d')) - month(date_format(concat(ordue.month,'.01'),'%Y-%m-%d')) as gap_months,
		case 
			when ordue.LASTMONTHS in ('G','Z','D') then 8 
			else ordue.LASTMONTHS 
		end as LASTMONTHS ,
		loanfo.GUARANTEETYPE,
		STATE,
		FINANCEORG
from ICRLATEST2YEAROVERDUE ordue
-- 只取贷款的信息
inner join ICRLOANINFO loanfo on ordue.reportno=loanfo.reportno and ordue.ACCOUNT=loanfo.ACCOUNT 
left join ICRMESSAGEHEADER head on ordue.reportno=head.reportno
where ordue.LASTMONTHS!='C'
""").createOrReplaceTempView("temp_loan_2yearoverdue")



spark.sql("""
select 
		ordue.reportno,
		ordue.ACCOUNT,
		head.QUERYTIME,
		ordue.MONTH,
		month(date_format(head.QUERYTIME,'%Y-%m-%d')) - month(date_format(concat(ordue.month,'.01'),'%Y-%m-%d')) as gap_months,
		ordue.LASTMONTHS,
		ordue.AMOUNT,
		loanfo.GUARANTEETYPE,
		STATE,FINANCEORG
from ICRLATEST5YEAROVERDUEDETAIL ordue
-- 只取贷款的信息
inner join ICRLOANINFO loanfo on ordue.reportno=loanfo.reportno and ordue.ACCOUNT=loanfo.ACCOUNT 
left join ICRMESSAGEHEADER head on ordue.reportno=head.reportno
where month!='--'
""").createOrReplaceTempView("temp_loan_overdue")




spark.sql("""
select 
		reportno,
		ACCOUNT,
		QUERYTIME,
        MONTH,
		gap_months,
		LASTMONTHS,
		GUARANTEETYPE,
		STATE,
		FINANCEORG 
from temp_loan_2yearoverdue
union 
select 
		reportno,
		ACCOUNT,
		QUERYTIME,
		date_format(concat(month,'.01'),'%Y-%m'),gap_months,LASTMONTHS,
		GUARANTEETYPE,
		STATE,
		FINANCEORG 
from temp_loan_overdue
""").createOrReplaceTempView("temp_loan_5yearoverdue")

中间表已运行完成，spark sql 创建所需要的表

In [5]:
spark.sql("""


select 
	head.reportno,
	case when loan.reportno is null then -9999999 
		else overdue31to60_loan_amount end as overdue31to60_loan_amount,
	case when loan.reportno is null then -9999999 
		else overdue61to90_loan_amount end as overdue61to90_loan_amount,
	case when loan.reportno is null then -9999999 
		else overdue91to180_loan_amount end as overdue91to180_loan_amount,		
	case when loan.reportno is null then -9999999 
		else overdueover180_loan_amount end as overdueover180_loan_amount,	
		
	case when cdloan.cd_account is null then -9999999 
		else overdue31to60_creditloan_amount end as overdue31to60_creditloan_amount,
	case when cdloan.cd_account is null then -9999999 
		else overdue61to90_creditloan_amount end as overdue61to90_creditloan_amount,
	case when cdloan.cd_account is null then -9999999 
		else overdue91to180_creditloan_amount end as overdue91to180_creditloan_amount,
	case when cdloan.cd_account is null then -9999999 
		else overdueover180_creditloan_amount end as overdueover180_creditloan_amount,	
		
	case when loan.reportno is null then -9999999 
		else overdue31to60_loan_percent end as overdue31to60_loan_percent,
	case when loan.reportno is null then -9999999 
		else overdue61to90_loan_percent end as overdue61to90_loan_percent,
	case when loan.reportno is null then -9999999 
		else overdue91to180_loan_percent end as overdue91to180_loan_percent,		
	case when loan.reportno is null then -9999999 
		else overdueover180_loan_percent end as overdueover180_loan_percent,
		
	case when cdloan.cd_account is null then -9999999 
		else overdue31to60_creditloan_percent end as overdue31to60_creditloan_percent,
	case when cdloan.cd_account is null then -9999999 
		else overdue61to90_creditloan_percent end as overdue61to90_creditloan_percent,
	case when cdloan.cd_account is null then -9999999 
		else overdue91to180_creditloan_percent end as overdue91to180_creditloan_percent,
	case when cdloan.cd_account is null then -9999999 
		else overdueover180_creditloan_percent end as overdueover180_creditloan_percent,	
	
	case when loan.reportno is null then -9999999 
		else balance_percent_over30_loannum end as balance_percent_over30_loannum,
	case when loan.reportno is null then -9999999 
		else balance_percent_over50_loannum end as balance_percent_over50_loannum,
	case when loan.reportno is null then -9999999 
		else balance_percent_over75_loannum end as balance_percent_over75_loannum,		
	case when loan.reportno is null then -9999999 
		else balance_percent_over90_loannum end as balance_percent_over90_loannum,

	case when cdloan.cd_account is null then -9999999 
		else balance_percent_over30_crdtloannum end as balance_percent_over30_crdtloannum,
	case when cdloan.cd_account is null then -9999999 
		else balance_percent_over50_crdtloannum end as balance_percent_over50_crdtloannum,
	case when cdloan.cd_account is null then -9999999 
		else balance_percent_over75_crdtloannum end as balance_percent_over75_crdtloannum,
	case when cdloan.cd_account is null then -9999999 
		else balance_percent_over90_crdtloannum end as balance_percent_over90_crdtloannum,
	now() as create_time,now() as update_time,now() as etl_date
from ICRMESSAGEHEADER head
left join
 (
	select reportno,sum(OVERDUE31TO60AMOUNT) as overdue31to60_loan_amount,
	sum(OVERDUE61TO90AMOUNT) as overdue61to90_loan_amount,
	sum(OVERDUE91TO180AMOUNT) as overdue91to180_loan_amount,
	sum(OVERDUEOVER180AMOUNT) as overdueover180_loan_amount,
	sum(overdue31to60_creditloan_amount) as overdue31to60_creditloan_amount,
	sum(overdue61to90_creditloan_amount) as overdue61to90_creditloan_amount,
	sum(overdue91to180_creditloan_amount) as overdue91to180_creditloan_amount,
	sum(overdueover180_creditloan_amount) as overdueover180_creditloan_amount,
	case when sum(nvl(BALANCE,0))=0 then -9999998
		else round(sum(OVERDUE31TO60AMOUNT)/sum(nvl(BALANCE,0)),5) end as overdue31to60_loan_percent,
	case when sum(nvl(BALANCE,0))=0 then -9999998 
		else round(sum(OVERDUE61TO90AMOUNT)/sum(nvl(BALANCE,0)),5) end as overdue61to90_loan_percent,
	case when sum(nvl(BALANCE,0))=0 then -9999998 
		else round(sum(OVERDUE91TO180AMOUNT)/sum(nvl(BALANCE,0)),5) end as overdue91to180_loan_percent,
	case when sum(nvl(BALANCE,0))=0 then -9999998 
		else round(sum(OVERDUEOVER180AMOUNT)/sum(nvl(BALANCE,0)),5) end as overdueover180_loan_percent,
	case when sum(nvl(credit_balance,0))=0 then -9999998
		else round(sum(overdue31to60_creditloan_amount)/sum(credit_balance),5) end as overdue31to60_creditloan_percent,
	case when sum(nvl(credit_balance,0))=0 then -9999998
		else round(sum(overdue61to90_creditloan_amount)/sum(credit_balance),5) end as overdue61to90_creditloan_percent,
	case when sum(nvl(credit_balance,0))=0 then -9999998
		else round(sum(overdue91to180_creditloan_amount)/sum(credit_balance),5) end as overdue91to180_creditloan_percent,
	case when sum(nvl(credit_balance,0))=0 then -9999998 
		else round(sum(overdueover180_creditloan_amount)/sum(credit_balance),5) end as  overdueover180_creditloan_percent,
	sum(balance_percent_over30_loannum) as balance_percent_over30_loannum,
	sum(balance_percent_over50_loannum) as balance_percent_over50_loannum,
	sum(balance_percent_over75_loannum) as balance_percent_over75_loannum,
	sum(balance_percent_over90_loannum) as balance_percent_over90_loannum,
	sum(balance_percent_over30_crdtloannum) as balance_percent_over30_crdtloannum,
	sum(balance_percent_over50_crdtloannum) as balance_percent_over50_crdtloannum,
	sum(balance_percent_over75_crdtloannum) as balance_percent_over75_crdtloannum,
	sum(balance_percent_over90_crdtloannum) as balance_percent_over90_crdtloannum-- ,now(),now(),now()
	from (
	
		select reportno,BALANCE,
			nvl(OVERDUE31TO60AMOUNT,0) as OVERDUE31TO60AMOUNT,
			nvl(OVERDUE61TO90AMOUNT,0) as OVERDUE61TO90AMOUNT,
			nvl(OVERDUE91TO180AMOUNT,0) as OVERDUE91TO180AMOUNT,
			nvl(OVERDUEOVER180AMOUNT,0) as OVERDUEOVER180AMOUNT,
			case when GUARANTEETYPE='信用/免担保' then nvl(OVERDUE31TO60AMOUNT,0) else 0 end as overdue31to60_creditloan_amount,
			case when GUARANTEETYPE='信用/免担保' then nvl(OVERDUE61TO90AMOUNT,0) else 0 end as overdue61to90_creditloan_amount,
			case when GUARANTEETYPE='信用/免担保' then nvl(OVERDUE91TO180AMOUNT,0) else 0 end as overdue91to180_creditloan_amount,
			case when GUARANTEETYPE='信用/免担保' then nvl(OVERDUEOVER180AMOUNT,0) else 0 end as overdueover180_creditloan_amount,
			case when GUARANTEETYPE='信用/免担保' then nvl(balance,0) else 0 end as credit_balance,
			case when CREDITLIMITAMOUNT!=0 and BALANCE/CREDITLIMITAMOUNT>0.3 then 1 else 0 end as balance_percent_over30_loannum,
			case when CREDITLIMITAMOUNT!=0 and BALANCE/CREDITLIMITAMOUNT>0.5 then 1 else 0 end as balance_percent_over50_loannum,
			case when CREDITLIMITAMOUNT!=0 and BALANCE/CREDITLIMITAMOUNT>0.75 then 1 else 0 end as balance_percent_over75_loannum,
			case when CREDITLIMITAMOUNT!=0 and BALANCE/CREDITLIMITAMOUNT>0.90 then 1 else 0 end as balance_percent_over90_loannum,
			case when GUARANTEETYPE='信用/免担保' and CREDITLIMITAMOUNT!=0  and BALANCE/CREDITLIMITAMOUNT>0.3 then 1 else 0 end as balance_percent_over30_crdtloannum,
			case when GUARANTEETYPE='信用/免担保' and CREDITLIMITAMOUNT!=0  and BALANCE/CREDITLIMITAMOUNT>0.5 then 1 else 0 end as balance_percent_over50_crdtloannum,
			case when GUARANTEETYPE='信用/免担保' and CREDITLIMITAMOUNT!=0  and BALANCE/CREDITLIMITAMOUNT>0.75 then 1 else 0 end as balance_percent_over75_crdtloannum,
			case when GUARANTEETYPE='信用/免担保' and CREDITLIMITAMOUNT!=0  and BALANCE/CREDITLIMITAMOUNT>0.90 then 1 else 0 end as balance_percent_over90_crdtloannum
	
		from ICRLOANINFO
	)t
	group by reportno
)main on head.reportno=main.reportno
-- 贷款
left join 
(select reportno,count(*) as all_loan_account
from ICRLOANINFO
group by reportno
) loan on head.reportno=loan.reportno
-- 信用贷
left join 
(select reportno,count(*) as cd_account
from ICRLOANINFO
where GUARANTEETYPE='信用/免担保'
group by reportno
) cdloan on head.reportno=cdloan.reportno

-- select count(distinct reportno) from ICRLOANINFO

""").createOrReplaceTempView("dw_curoverdue_amount")

In [ ]:
table_name = "dw_curoverdue_amount"

spark.sql("drop table if EXISTS renhang_user_profile.%s "%table_name)
spark.sql("create table renhang_user_profile.%s as select * from %s"%(table_name,table_name))

In [1]:
# for test

In [2]:
from pyspark import SparkContext,SQLContext,SparkConf
from pyspark.sql import SQLContext
from pyspark.sql import SparkSession
from pyspark.sql.functions import udf, col
from pyspark.sql.types import StringType
import pandas as pd
import pandas as pd
from sqlalchemy import create_engine



# 初始化数据库连接，使用pymysql模块
# MySQL的用户：dt, 密码:Usd&212%wePO2, 端口：3306,数据库：
spark=SparkSession \
        .builder \
        .config("spark.eventLog.enabled", "false") \
        .config("spark.executor.memory", "4g")\
        .config("spark.driver.memory", "8g")\
        .config("spark.cores.max", "10")\
        .config("spark.task.maxFailures", "1000")\
        .config("spark.default.parallelism", "500")\
        .config("spark.sql.shuffle.partitions",100)\
        .appName('renhang_etl') \
        .master('yarn')\
        .getOrCreate()


engine = create_engine('mysql+pymysql://dt:Usd&212%wePO2@58.59.11.87:3306/DM')



def time_format(ts):
    try:
        res = ts[0:10].replace('.','')
        return res
    except:
        return 'None'
    else:
        return 'None'    
spark.udf.register('time_format',lambda x:time_format(x))

    
def get_time(ts):
    try:
        res = ts.replace('.','-')
        return res
    except:
        return 'None'
    else:
        return 'None'


spark.udf.register('get_time',lambda x:get_time(x))
# time_udfs = udf(get_time, StringType())


def timestampdiff(flag,t1,t2):
    try:
        date1 = t1[0:10].replace('.','-')
        date2 = t2[0:10].replace('.','-')
        year = (int(date1[0:4])-int(date2[0:4]))
        month = (int(date1[5:7])-int(date2[5:7]))
        day = int(date1[8:10])-int(date2[8:10])
        if(flag == 'year'):
            if(month<0 or (month==0 and day<0)):
                result = year -1
                return result
            return year
        if(flag == 'month'):
            res = year*12+month+int((day-30)/31)
            return res
    
    except:
        return 'None'
    
                                                                                      
spark.udf.register('timestampdiff',lambda x1,x2,x3:timestampdiff(x1,x2,x3))
# timestampdiff = udf(get_time, StringType())   


def get_city(address):
    try:
        province_loc = address.find("省")
        city_loc = address.find("市")
        if(province_loc < 0 or (province_loc>=0 and province_loc>=city_loc) ): #江西赣州市兴国县江西省赣州市兴国县潋江镇罗廖村26号
            city = address[0:city_loc+1]
        if(province_loc>=0 and province_loc<city_loc):
            city = address[province_loc+1:city_loc+1]
        return city
    except:
        return 'None'



spark.udf.register('get_city',lambda x:get_city(x))
# time_udfs = udf(get_time, StringType())

In [3]:
#创建DW.dw_baseinfo_detail
table1 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "ICR_PROD.ICRMESSAGEHEADER") \
    .option("user", "dt") \
    .option("password", "Usd&212%wePO2") \
    .load()
table1.createOrReplaceTempView("ICRMESSAGEHEADER")

table2 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "ICR_PROD.ICRCREDITCUE") \
    .option("user", "dt") \
    .option("password", "Usd&212%wePO2") \
    .load()
table2.createOrReplaceTempView("ICRCREDITCUE")

table3 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "ICR_PROD.ICRLOANCARDINFO") \
    .option("user", "dt") \
    .option("password", "Usd&212%wePO2") \
    .load()
table3.createOrReplaceTempView("ICRLOANCARDINFO")

table4 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "ICR_PROD.ICRCREDITCUE") \
    .option("user", "dt") \
    .option("password", "Usd&212%wePO2") \
    .load()
table4.createOrReplaceTempView("ICRCREDITCUE")

table5 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "ICR_PROD.ICRLATEST2YEAROVERDUECARD") \
    .option("user", "dt") \
    .option("password", "Usd&212%wePO2") \
    .load()
table5.createOrReplaceTempView("ICRLATEST2YEAROVERDUECARD")

table6 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "ICR_PROD.ICRLATEST5YEAROVERDUEDETAIL") \
    .option("user", "dt") \
    .option("password", "Usd&212%wePO2") \
    .load()
table6.createOrReplaceTempView("ICRLATEST5YEAROVERDUEDETAIL")

table7 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "ICR_PROD.ICRLATEST2YEAROVERDUE") \
    .option("user", "dt") \
    .option("password", "Usd&212%wePO2") \
    .load()
table7.createOrReplaceTempView("ICRLATEST2YEAROVERDUE")

table8 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "ICR_PROD.ICRLOANINFO") \
    .option("user", "dt") \
    .option("password", "Usd&212%wePO2") \
    .load()
table8.createOrReplaceTempView("ICRLOANINFO")

table9 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "ICR_PROD.ICRUNDESTORYLOANCARD") \
    .option("user", "dt") \
    .option("password", "Usd&212%wePO2") \
    .load()
table9.createOrReplaceTempView("ICRUNDESTORYLOANCARD")

table10 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "ICR_PROD.ICRUNDESTORYSTANDARDLOANCARD") \
    .option("user", "dt") \
    .option("password", "Usd&212%wePO2") \
    .load()
table10.createOrReplaceTempView("ICRUNDESTORYSTANDARDLOANCARD")

table11 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "ICR_PROD.ICRUNPAIDLOAN") \
    .option("user", "dt") \
    .option("password", "Usd&212%wePO2") \
    .load()
table11.createOrReplaceTempView("ICRUNPAIDLOAN")


table12 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "ICR_PROD.ICROVERDUESUMMARY") \
    .option("user", "dt") \
    .option("password", "Usd&212%wePO2") \
    .load()
table12.createOrReplaceTempView("ICROVERDUESUMMARY")


table13 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "ICR_PROD.ICRFELLBACKSUMMARY") \
    .option("user", "dt") \
    .option("password", "Usd&212%wePO2") \
    .load()
table13.createOrReplaceTempView("ICRFELLBACKSUMMARY")


table14 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "ICR_PROD.ICRGUARANTEE") \
    .option("user", "dt") \
    .option("password", "Usd&212%wePO2") \
    .load()
table14.createOrReplaceTempView("ICRGUARANTEE")


table15 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "ICR_PROD.ICRGUARANTEESUMMARY") \
    .option("user", "dt") \
    .option("password", "Usd&212%wePO2") \
    .load()
table15.createOrReplaceTempView("ICRGUARANTEESUMMARY")


#######

table16 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "ICR_PROD.ICRCIVILJUDGEMENT") \
    .option("user", "dt") \
    .option("password", "Usd&212%wePO2") \
    .load()
table16.createOrReplaceTempView("ICRCIVILJUDGEMENT")



table17 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "ICR_PROD.ICRFORCEEXECUTION") \
    .option("user", "dt") \
    .option("password", "Usd&212%wePO2") \
    .load()
table17.createOrReplaceTempView("ICRFORCEEXECUTION")


table18 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "ICR_PROD.ICRADMINPUNISHMENT") \
    .option("user", "dt") \
    .option("password", "Usd&212%wePO2") \
    .load()
table18.createOrReplaceTempView("ICRADMINPUNISHMENT")


table19 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "ICR_PROD.ICRTAXARREAR") \
    .option("user", "dt") \
    .option("password", "Usd&212%wePO2") \
    .load()
table19.createOrReplaceTempView("ICRTAXARREAR")


table20 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "ICR_PROD.ICRACCFUND") \
    .option("user", "dt") \
    .option("password", "Usd&212%wePO2") \
    .load()
table20.createOrReplaceTempView("ICRACCFUND")



table21 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "ICR_PROD.ICRENDOWMENTINSURANCEDEPOSIT") \
    .option("user", "dt") \
    .option("password", "Usd&212%wePO2") \
    .load()
table21.createOrReplaceTempView("ICRENDOWMENTINSURANCEDEPOSIT")


table22 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "ICR_PROD.ICRRECORDDETAIL") \
    .option("user", "dt") \
    .option("password", "Usd&212%wePO2") \
    .load()
table22.createOrReplaceTempView("ICRRECORDDETAIL")



table23 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "ICR_PROD.ICRRECORDDETAIL") \
    .option("user", "dt") \
    .option("password", "Usd&212%wePO2") \
    .load()
table23.createOrReplaceTempView("ICRRECORDDETAIL")


table24 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "ICR_PROD.QUERY_HISTORY") \
    .option("user", "dt") \
    .option("password", "Usd&212%wePO2") \
    .load()
table24.createOrReplaceTempView("QUERY_HISTORY")

table25 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "ICR_PROD.ICRRECORDSUMMARY") \
    .option("user", "dt") \
    .option("password", "Usd&212%wePO2") \
    .load()
table25.createOrReplaceTempView("ICRRECORDSUMMARY")


table25 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "ICR_PROD.ICRQUERYREQ") \
    .option("user", "dt") \
    .option("password", "Usd&212%wePO2") \
    .load()
table25.createOrReplaceTempView("ICRQUERYREQ")



table25 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "ICR_PROD.ICRIDENTITY") \
    .option("user", "dt") \
    .option("password", "Usd&212%wePO2") \
    .load()
table25.createOrReplaceTempView("ICRIDENTITY")
###########################################################
##########################################################
table1 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "WKL.temp_standcard_2yearoverdue") \
    .option("user", "dt") \
    .option("password", "Usd&212%wePO2") \
    .load()
table1.createOrReplaceTempView("temp_standcard_2yearoverdue")

table2 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "WKL.temp_creditcard_2yearoverdue") \
    .option("user", "dt") \
    .option("password", "Usd&212%wePO2") \
    .load()
table2.createOrReplaceTempView("temp_creditcard_2yearoverdue")

table1 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "WKL.temp_creditcard_overdue") \
    .option("user", "dt") \
    .option("password", "Usd&212%wePO2") \
    .load()
table1.createOrReplaceTempView("temp_creditcard_overdue")

table2 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "WKL.temp_creditcard_5yearoverdue") \
    .option("user", "dt") \
    .option("password", "Usd&212%wePO2") \
    .load()
table2.createOrReplaceTempView("temp_creditcard_5yearoverdue")

table1 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "WKL.temp_loan_2yearoverdue") \
    .option("user", "dt") \
    .option("password", "Usd&212%wePO2") \
    .load()
table1.createOrReplaceTempView("temp_loan_2yearoverdue")

table2 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "WKL.temp_loan_overdue") \
    .option("user", "dt") \
    .option("password", "Usd&212%wePO2") \
    .load()
table2.createOrReplaceTempView("temp_loan_overdue")

table2 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "WKL.temp_loan_5yearoverdue") \
    .option("user", "dt") \
    .option("password", "Usd&212%wePO2") \
    .load()
table2.createOrReplaceTempView("temp_loan_5yearoverdue")

table2 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "WKL.temp_address_change") \
    .option("user", "dt") \
    .option("password", "Usd&212%wePO2") \
    .load()
table2.createOrReplaceTempView("temp_address_change")

table2 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "WKL.temp_emp_change") \
    .option("user", "dt") \
    .option("password", "Usd&212%wePO2") \
    .load()
table2.createOrReplaceTempView("temp_emp_change")

In [4]:
spark.sql("""


select 
	head.reportno,
	case when loan.reportno is null then -9999999 
		else overdue31to60_loan_amount end as overdue31to60_loan_amount,
	case when loan.reportno is null then -9999999 
		else overdue61to90_loan_amount end as overdue61to90_loan_amount,
	case when loan.reportno is null then -9999999 
		else overdue91to180_loan_amount end as overdue91to180_loan_amount,		
	case when loan.reportno is null then -9999999 
		else overdueover180_loan_amount end as overdueover180_loan_amount,	
		
	case when cdloan.cd_account is null then -9999999 
		else overdue31to60_creditloan_amount end as overdue31to60_creditloan_amount,
	case when cdloan.cd_account is null then -9999999 
		else overdue61to90_creditloan_amount end as overdue61to90_creditloan_amount,
	case when cdloan.cd_account is null then -9999999 
		else overdue91to180_creditloan_amount end as overdue91to180_creditloan_amount,
	case when cdloan.cd_account is null then -9999999 
		else overdueover180_creditloan_amount end as overdueover180_creditloan_amount,	
		
	case when loan.reportno is null then -9999999 
		else overdue31to60_loan_percent end as overdue31to60_loan_percent,
	case when loan.reportno is null then -9999999 
		else overdue61to90_loan_percent end as overdue61to90_loan_percent,
	case when loan.reportno is null then -9999999 
		else overdue91to180_loan_percent end as overdue91to180_loan_percent,		
	case when loan.reportno is null then -9999999 
		else overdueover180_loan_percent end as overdueover180_loan_percent,
		
	case when cdloan.cd_account is null then -9999999 
		else overdue31to60_creditloan_percent end as overdue31to60_creditloan_percent,
	case when cdloan.cd_account is null then -9999999 
		else overdue61to90_creditloan_percent end as overdue61to90_creditloan_percent,
	case when cdloan.cd_account is null then -9999999 
		else overdue91to180_creditloan_percent end as overdue91to180_creditloan_percent,
	case when cdloan.cd_account is null then -9999999 
		else overdueover180_creditloan_percent end as overdueover180_creditloan_percent,	
	
	case when loan.reportno is null then -9999999 
		else balance_percent_over30_loannum end as balance_percent_over30_loannum,
	case when loan.reportno is null then -9999999 
		else balance_percent_over50_loannum end as balance_percent_over50_loannum,
	case when loan.reportno is null then -9999999 
		else balance_percent_over75_loannum end as balance_percent_over75_loannum,		
	case when loan.reportno is null then -9999999 
		else balance_percent_over90_loannum end as balance_percent_over90_loannum,

	case when cdloan.cd_account is null then -9999999 
		else balance_percent_over30_crdtloannum end as balance_percent_over30_crdtloannum,
	case when cdloan.cd_account is null then -9999999 
		else balance_percent_over50_crdtloannum end as balance_percent_over50_crdtloannum,
	case when cdloan.cd_account is null then -9999999 
		else balance_percent_over75_crdtloannum end as balance_percent_over75_crdtloannum,
	case when cdloan.cd_account is null then -9999999 
		else balance_percent_over90_crdtloannum end as balance_percent_over90_crdtloannum,
	now() as create_time,now() as update_time,now() as etl_date
from ICRMESSAGEHEADER head
left join
 (
	select reportno,sum(OVERDUE31TO60AMOUNT) as overdue31to60_loan_amount,
	sum(OVERDUE61TO90AMOUNT) as overdue61to90_loan_amount,
	sum(OVERDUE91TO180AMOUNT) as overdue91to180_loan_amount,
	sum(OVERDUEOVER180AMOUNT) as overdueover180_loan_amount,
	sum(overdue31to60_creditloan_amount) as overdue31to60_creditloan_amount,
	sum(overdue61to90_creditloan_amount) as overdue61to90_creditloan_amount,
	sum(overdue91to180_creditloan_amount) as overdue91to180_creditloan_amount,
	sum(overdueover180_creditloan_amount) as overdueover180_creditloan_amount,
	case when sum(nvl(BALANCE,0))=0 then -9999998
		else round(sum(OVERDUE31TO60AMOUNT)/sum(nvl(BALANCE,0)),5) end as overdue31to60_loan_percent,
	case when sum(nvl(BALANCE,0))=0 then -9999998 
		else round(sum(OVERDUE61TO90AMOUNT)/sum(nvl(BALANCE,0)),5) end as overdue61to90_loan_percent,
	case when sum(nvl(BALANCE,0))=0 then -9999998 
		else round(sum(OVERDUE91TO180AMOUNT)/sum(nvl(BALANCE,0)),5) end as overdue91to180_loan_percent,
	case when sum(nvl(BALANCE,0))=0 then -9999998 
		else round(sum(OVERDUEOVER180AMOUNT)/sum(nvl(BALANCE,0)),5) end as overdueover180_loan_percent,
	case when sum(nvl(credit_balance,0))=0 then -9999998
		else round(sum(overdue31to60_creditloan_amount)/sum(credit_balance),5) end as overdue31to60_creditloan_percent,
	case when sum(nvl(credit_balance,0))=0 then -9999998
		else round(sum(overdue61to90_creditloan_amount)/sum(credit_balance),5) end as overdue61to90_creditloan_percent,
	case when sum(nvl(credit_balance,0))=0 then -9999998
		else round(sum(overdue91to180_creditloan_amount)/sum(credit_balance),5) end as overdue91to180_creditloan_percent,
	case when sum(nvl(credit_balance,0))=0 then -9999998 
		else round(sum(overdueover180_creditloan_amount)/sum(credit_balance),5) end as  overdueover180_creditloan_percent,
	sum(balance_percent_over30_loannum) as balance_percent_over30_loannum,
	sum(balance_percent_over50_loannum) as balance_percent_over50_loannum,
	sum(balance_percent_over75_loannum) as balance_percent_over75_loannum,
	sum(balance_percent_over90_loannum) as balance_percent_over90_loannum,
	sum(balance_percent_over30_crdtloannum) as balance_percent_over30_crdtloannum,
	sum(balance_percent_over50_crdtloannum) as balance_percent_over50_crdtloannum,
	sum(balance_percent_over75_crdtloannum) as balance_percent_over75_crdtloannum,
	sum(balance_percent_over90_crdtloannum) as balance_percent_over90_crdtloannum-- ,now(),now(),now()
	from (
	
		select reportno,BALANCE,
			nvl(OVERDUE31TO60AMOUNT,0) as OVERDUE31TO60AMOUNT,
			nvl(OVERDUE61TO90AMOUNT,0) as OVERDUE61TO90AMOUNT,
			nvl(OVERDUE91TO180AMOUNT,0) as OVERDUE91TO180AMOUNT,
			nvl(OVERDUEOVER180AMOUNT,0) as OVERDUEOVER180AMOUNT,
			case when GUARANTEETYPE='信用/免担保' then nvl(OVERDUE31TO60AMOUNT,0) else 0 end as overdue31to60_creditloan_amount,
			case when GUARANTEETYPE='信用/免担保' then nvl(OVERDUE61TO90AMOUNT,0) else 0 end as overdue61to90_creditloan_amount,
			case when GUARANTEETYPE='信用/免担保' then nvl(OVERDUE91TO180AMOUNT,0) else 0 end as overdue91to180_creditloan_amount,
			case when GUARANTEETYPE='信用/免担保' then nvl(OVERDUEOVER180AMOUNT,0) else 0 end as overdueover180_creditloan_amount,
			case when GUARANTEETYPE='信用/免担保' then nvl(balance,0) else 0 end as credit_balance,
			case when CREDITLIMITAMOUNT!=0 and BALANCE/CREDITLIMITAMOUNT>0.3 then 1 else 0 end as balance_percent_over30_loannum,
			case when CREDITLIMITAMOUNT!=0 and BALANCE/CREDITLIMITAMOUNT>0.5 then 1 else 0 end as balance_percent_over50_loannum,
			case when CREDITLIMITAMOUNT!=0 and BALANCE/CREDITLIMITAMOUNT>0.75 then 1 else 0 end as balance_percent_over75_loannum,
			case when CREDITLIMITAMOUNT!=0 and BALANCE/CREDITLIMITAMOUNT>0.90 then 1 else 0 end as balance_percent_over90_loannum,
			case when GUARANTEETYPE='信用/免担保' and CREDITLIMITAMOUNT!=0  and BALANCE/CREDITLIMITAMOUNT>0.3 then 1 else 0 end as balance_percent_over30_crdtloannum,
			case when GUARANTEETYPE='信用/免担保' and CREDITLIMITAMOUNT!=0  and BALANCE/CREDITLIMITAMOUNT>0.5 then 1 else 0 end as balance_percent_over50_crdtloannum,
			case when GUARANTEETYPE='信用/免担保' and CREDITLIMITAMOUNT!=0  and BALANCE/CREDITLIMITAMOUNT>0.75 then 1 else 0 end as balance_percent_over75_crdtloannum,
			case when GUARANTEETYPE='信用/免担保' and CREDITLIMITAMOUNT!=0  and BALANCE/CREDITLIMITAMOUNT>0.90 then 1 else 0 end as balance_percent_over90_crdtloannum
	
		from ICRLOANINFO
	)t
	group by reportno
)main on head.reportno=main.reportno
-- 贷款
left join 
(select reportno,count(*) as all_loan_account
from ICRLOANINFO
group by reportno
) loan on head.reportno=loan.reportno
-- 信用贷
left join 
(select reportno,count(*) as cd_account
from ICRLOANINFO
where GUARANTEETYPE='信用/免担保'
group by reportno
) cdloan on head.reportno=cdloan.reportno

-- select count(distinct reportno) from ICRLOANINFO

""").createOrReplaceTempView("dw_curoverdue_amount")

In [7]:
sql = """

select head.reportno,
	case when loan.reportno is null then -9999999 
		else overdue31to60_loan_amount end as overdue31to60_loan_amount,
	case when loan.reportno is null then -9999999 
		else overdue61to90_loan_amount end as overdue61to90_loan_amount,
	case when loan.reportno is null then -9999999 
		else overdue91to180_loan_amount end as overdue91to180_loan_amount,		
	case when loan.reportno is null then -9999999 
		else overdueover180_loan_amount end as overdueover180_loan_amount,	
		
	case when cdloan.cd_account is null then -9999999 
		else overdue31to60_creditloan_amount end as overdue31to60_creditloan_amount,
	case when cdloan.cd_account is null then -9999999 
		else overdue61to90_creditloan_amount end as overdue61to90_creditloan_amount,
	case when cdloan.cd_account is null then -9999999 
		else overdue91to180_creditloan_amount end as overdue91to180_creditloan_amount,
	case when cdloan.cd_account is null then -9999999 
		else overdueover180_creditloan_amount end as overdueover180_creditloan_amount,	
		
	case when loan.reportno is null then -9999999 
		else overdue31to60_loan_percent end as overdue31to60_loan_percent,
	case when loan.reportno is null then -9999999 
		else overdue61to90_loan_percent end as overdue61to90_loan_percent,
	case when loan.reportno is null then -9999999 
		else overdue91to180_loan_percent end as overdue91to180_loan_percent,		
	case when loan.reportno is null then -9999999 
		else overdueover180_loan_percent end as overdueover180_loan_percent,
		
	case when cdloan.cd_account is null then -9999999 
		else overdue31to60_creditloan_percent end as overdue31to60_creditloan_percent,
	case when cdloan.cd_account is null then -9999999 
		else overdue61to90_creditloan_percent end as overdue61to90_creditloan_percent,
	case when cdloan.cd_account is null then -9999999 
		else overdue91to180_creditloan_percent end as overdue91to180_creditloan_percent,
	case when cdloan.cd_account is null then -9999999 
		else overdueover180_creditloan_percent end as overdueover180_creditloan_percent,	
	
	case when loan.reportno is null then -9999999 
		else balance_percent_over30_loannum end as balance_percent_over30_loannum,
	case when loan.reportno is null then -9999999 
		else balance_percent_over50_loannum end as balance_percent_over50_loannum,
	case when loan.reportno is null then -9999999 
		else balance_percent_over75_loannum end as balance_percent_over75_loannum,		
	case when loan.reportno is null then -9999999 
		else balance_percent_over90_loannum end as balance_percent_over90_loannum,

	case when cdloan.cd_account is null then -9999999 
		else balance_percent_over30_crdtloannum end as balance_percent_over30_crdtloannum,
	case when cdloan.cd_account is null then -9999999 
		else balance_percent_over50_crdtloannum end as balance_percent_over50_crdtloannum,
	case when cdloan.cd_account is null then -9999999 
		else balance_percent_over75_crdtloannum end as balance_percent_over75_crdtloannum,
	case when cdloan.cd_account is null then -9999999 
		else balance_percent_over90_crdtloannum end as balance_percent_over90_crdtloannum,
	now() as create_time,now() as update_time,now() as etl_date
from ICR_PROD.ICRMESSAGEHEADER head
left join
 (
	select reportno,sum(OVERDUE31TO60AMOUNT) as overdue31to60_loan_amount,
	sum(OVERDUE61TO90AMOUNT) as overdue61to90_loan_amount,
	sum(OVERDUE91TO180AMOUNT) as overdue91to180_loan_amount,
	sum(OVERDUEOVER180AMOUNT) as overdueover180_loan_amount,
	sum(overdue31to60_creditloan_amount) as overdue31to60_creditloan_amount,
	sum(overdue61to90_creditloan_amount) as overdue61to90_creditloan_amount,
	sum(overdue91to180_creditloan_amount) as overdue91to180_creditloan_amount,
	sum(overdueover180_creditloan_amount) as overdueover180_creditloan_amount,
	case when sum(ifnull(BALANCE,0))=0 then -9999998
		else round(sum(OVERDUE31TO60AMOUNT)/sum(ifnull(BALANCE,0)),5) end as overdue31to60_loan_percent,
	case when sum(ifnull(BALANCE,0))=0 then -9999998 
		else round(sum(OVERDUE61TO90AMOUNT)/sum(ifnull(BALANCE,0)),5) end as overdue61to90_loan_percent,
	case when sum(ifnull(BALANCE,0))=0 then -9999998 
		else round(sum(OVERDUE91TO180AMOUNT)/sum(ifnull(BALANCE,0)),5) end as overdue91to180_loan_percent,
	case when sum(ifnull(BALANCE,0))=0 then -9999998 
		else round(sum(OVERDUEOVER180AMOUNT)/sum(ifnull(BALANCE,0)),5) end as overdueover180_loan_percent,
	case when sum(ifnull(credit_balance,0))=0 then -9999998
		else round(sum(overdue31to60_creditloan_amount)/sum(credit_balance),5) end as overdue31to60_creditloan_percent,
	case when sum(ifnull(credit_balance,0))=0 then -9999998
		else round(sum(overdue61to90_creditloan_amount)/sum(credit_balance),5) end as overdue61to90_creditloan_percent,
	case when sum(ifnull(credit_balance,0))=0 then -9999998
		else round(sum(overdue91to180_creditloan_amount)/sum(credit_balance),5) end as overdue91to180_creditloan_percent,
	case when sum(ifnull(credit_balance,0))=0 then -9999998 
		else round(sum(overdueover180_creditloan_amount)/sum(credit_balance),5) end as  overdueover180_creditloan_percent,
	sum(balance_percent_over30_loannum) as balance_percent_over30_loannum,
	sum(balance_percent_over50_loannum) as balance_percent_over50_loannum,
	sum(balance_percent_over75_loannum) as balance_percent_over75_loannum,
	sum(balance_percent_over90_loannum) as balance_percent_over90_loannum,
	sum(balance_percent_over30_crdtloannum) as balance_percent_over30_crdtloannum,
	sum(balance_percent_over50_crdtloannum) as balance_percent_over50_crdtloannum,
	sum(balance_percent_over75_crdtloannum) as balance_percent_over75_crdtloannum,
	sum(balance_percent_over90_crdtloannum) as balance_percent_over90_crdtloannum-- ,now(),now(),now()
	from (
	
		select reportno,BALANCE,
			ifnull(OVERDUE31TO60AMOUNT,0) as OVERDUE31TO60AMOUNT,
			ifnull(OVERDUE61TO90AMOUNT,0) as OVERDUE61TO90AMOUNT,
			ifnull(OVERDUE91TO180AMOUNT,0) as OVERDUE91TO180AMOUNT,
			ifnull(OVERDUEOVER180AMOUNT,0) as OVERDUEOVER180AMOUNT,
			case when GUARANTEETYPE='信用/免担保' then ifnull(OVERDUE31TO60AMOUNT,0) else 0 end as overdue31to60_creditloan_amount,
			case when GUARANTEETYPE='信用/免担保' then ifnull(OVERDUE61TO90AMOUNT,0) else 0 end as overdue61to90_creditloan_amount,
			case when GUARANTEETYPE='信用/免担保' then ifnull(OVERDUE91TO180AMOUNT,0) else 0 end as overdue91to180_creditloan_amount,
			case when GUARANTEETYPE='信用/免担保' then ifnull(OVERDUEOVER180AMOUNT,0) else 0 end as overdueover180_creditloan_amount,
			case when GUARANTEETYPE='信用/免担保' then ifnull(balance,0) else 0 end as credit_balance,
			case when CREDITLIMITAMOUNT!=0 and BALANCE/CREDITLIMITAMOUNT>0.3 then 1 else 0 end as balance_percent_over30_loannum,
			case when CREDITLIMITAMOUNT!=0 and BALANCE/CREDITLIMITAMOUNT>0.5 then 1 else 0 end as balance_percent_over50_loannum,
			case when CREDITLIMITAMOUNT!=0 and BALANCE/CREDITLIMITAMOUNT>0.75 then 1 else 0 end as balance_percent_over75_loannum,
			case when CREDITLIMITAMOUNT!=0 and BALANCE/CREDITLIMITAMOUNT>0.90 then 1 else 0 end as balance_percent_over90_loannum,
			case when GUARANTEETYPE='信用/免担保' and CREDITLIMITAMOUNT!=0  and BALANCE/CREDITLIMITAMOUNT>0.3 then 1 else 0 end as balance_percent_over30_crdtloannum,
			case when GUARANTEETYPE='信用/免担保' and CREDITLIMITAMOUNT!=0  and BALANCE/CREDITLIMITAMOUNT>0.5 then 1 else 0 end as balance_percent_over50_crdtloannum,
			case when GUARANTEETYPE='信用/免担保' and CREDITLIMITAMOUNT!=0  and BALANCE/CREDITLIMITAMOUNT>0.75 then 1 else 0 end as balance_percent_over75_crdtloannum,
			case when GUARANTEETYPE='信用/免担保' and CREDITLIMITAMOUNT!=0  and BALANCE/CREDITLIMITAMOUNT>0.90 then 1 else 0 end as balance_percent_over90_crdtloannum
	
		from ICR_PROD.ICRLOANINFO
	)t
	group by reportno
)main on head.reportno=main.reportno
-- 贷款
left join 
(select reportno,count(*) as all_loan_account
from ICR_PROD.ICRLOANINFO
group by reportno
) loan on head.reportno=loan.reportno
-- 信用贷
left join 
(select reportno,count(*) as cd_account
from ICR_PROD.ICRLOANINFO
where GUARANTEETYPE='信用/免担保'
group by reportno
) cdloan on head.reportno=cdloan.reportno

"""

In [6]:
# 读取sql数据
import datetime
starttime = datetime.datetime.now()
#long running
df = pd.read_sql_query(sql, engine)
endtime = datetime.datetime.now()
print (endtime - starttime)

#读取spark sql 数据
starttime = datetime.datetime.now()
spark_df = spark.sql("""
select * from dw_curoverdue_amount
""").toPandas()
endtime = datetime.datetime.now()
print (endtime - starttime)


#数据校验方法
def data_check2(df11,df22):
    columns = list(df11.columns)
    for col in columns:
        base_col = ['reportno']
        if(col!='reportno'):
            base_col.append(col)
        df33 = df11[base_col].merge(df22[base_col],on = base_col,how='inner')
        if(len(df33)!=len(df11)):
            print(col,len(df33),len(df11))

#直接做merge操作 inner join有问题，需要进一步解决，目前解决方法是数据写入csv 再读取
df11 = df.astype('object').sort_values(by='reportno').reset_index().drop(columns = 'index')
df22 = spark_df.astype('object').sort_values(by='reportno').reset_index().drop(columns = 'index')

df11.to_csv("mysql_df.csv")
df22.to_csv("spark_df.csv")

dfmm = pd.read_csv("mysql_df.csv",index_col=0)
dfss = pd.read_csv("spark_df.csv",index_col=0)

# print(dfmm.head(2))
# print(ddss.head(2))
data_check2(dfmm,dfss)

0:01:52.408792
0:02:27.974195
overdue31to60_loan_percent 348202 348221
overdue61to90_loan_percent 348209 348221
overdue91to180_loan_percent 348207 348221
overdueover180_loan_percent 348210 348221
overdue31to60_creditloan_percent 348204 348221
overdue61to90_creditloan_percent 348209 348221
overdue91to180_creditloan_percent 348209 348221
overdueover180_creditloan_percent 348212 348221

KeyError: "['now()'] not in index"

In [9]:
for i in range(len(list(dfmm['overdue31to60_loan_percent']))):
    if list(dfmm['overdue31to60_loan_percent'])[i]!=list(dfss['overdue31to60_loan_percent'])[i] :
        print(i,list(dfmm['overdue31to60_loan_percent'])[i],list(dfss['overdue31to60_loan_percent'])[i])

10861 0.009000000000000001 0.009

KeyboardInterrupt: