在运行dw相关表之前，首先运行下面部分以创建中间表

In [1]:
import pandas as pd
from pyspark import SparkContext,SQLContext
from pyspark.sql import SQLContext
from pyspark.sql import SparkSession
from pyspark.sql.functions import udf, col
from pyspark.sql.types import StringType

In [2]:
spark=SparkSession \
        .builder \
        .config("spark.eventLog.enabled", "false") \
        .config("spark.executor.memory", "4g")\
        .config("spark.driver.memory", "8g")\
        .config("spark.cores.max", "10")\
        .config("spark.task.maxFailures", "1000")\
        .config("spark.default.parallelism", "500")\
        .config("spark.sql.shuffle.partitions",100)\
        .appName('renhang_etl') \
        .master('yarn')\
        .getOrCreate()

In [3]:
#创建DW.dw_baseinfo_detail
table1 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "ICR_PROD.ICRMESSAGEHEADER") \
    .option("user", "etl") \
    .option("password", "%TGRDJh3Hg2e4f") \
    .load()
table1.createOrReplaceTempView("ICRMESSAGEHEADER")

table2 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "ICR_PROD.ICRCREDITCUE") \
    .option("user", "etl") \
    .option("password", "%TGRDJh3Hg2e4f") \
    .load()
table2.createOrReplaceTempView("ICRCREDITCUE")

table3 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "ICR_PROD.ICRLOANCARDINFO") \
    .option("user", "etl") \
    .option("password", "%TGRDJh3Hg2e4f") \
    .load()
table3.createOrReplaceTempView("ICRLOANCARDINFO")

table4 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "ICR_PROD.ICRCREDITCUE") \
    .option("user", "etl") \
    .option("password", "%TGRDJh3Hg2e4f") \
    .load()
table4.createOrReplaceTempView("ICRCREDITCUE")

table5 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "ICR_PROD.ICRLATEST2YEAROVERDUECARD") \
    .option("user", "etl") \
    .option("password", "%TGRDJh3Hg2e4f") \
    .load()
table5.createOrReplaceTempView("ICRLATEST2YEAROVERDUECARD")

table6 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "ICR_PROD.ICRLATEST5YEAROVERDUEDETAIL") \
    .option("user", "etl") \
    .option("password", "%TGRDJh3Hg2e4f") \
    .load()
table6.createOrReplaceTempView("ICRLATEST5YEAROVERDUEDETAIL")

table7 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "ICR_PROD.ICRLATEST2YEAROVERDUE") \
    .option("user", "etl") \
    .option("password", "%TGRDJh3Hg2e4f") \
    .load()
table7.createOrReplaceTempView("ICRLATEST2YEAROVERDUE")

table8 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "ICR_PROD.ICRLOANINFO") \
    .option("user", "etl") \
    .option("password", "%TGRDJh3Hg2e4f") \
    .load()
table8.createOrReplaceTempView("ICRLOANINFO")

table9 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "ICR_PROD.ICRUNDESTORYLOANCARD") \
    .option("user", "etl") \
    .option("password", "%TGRDJh3Hg2e4f") \
    .load()
table9.createOrReplaceTempView("ICRUNDESTORYLOANCARD")

table10 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "ICR_PROD.ICRUNDESTORYSTANDARDLOANCARD") \
    .option("user", "etl") \
    .option("password", "%TGRDJh3Hg2e4f") \
    .load()
table10.createOrReplaceTempView("ICRUNDESTORYSTANDARDLOANCARD")

table11 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "ICR_PROD.ICRUNPAIDLOAN") \
    .option("user", "etl") \
    .option("password", "%TGRDJh3Hg2e4f") \
    .load()
table11.createOrReplaceTempView("ICRUNPAIDLOAN")


table12 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "ICR_PROD.ICROVERDUESUMMARY") \
    .option("user", "etl") \
    .option("password", "%TGRDJh3Hg2e4f") \
    .load()
table12.createOrReplaceTempView("ICROVERDUESUMMARY")


table13 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "ICR_PROD.ICRFELLBACKSUMMARY") \
    .option("user", "etl") \
    .option("password", "%TGRDJh3Hg2e4f") \
    .load()
table13.createOrReplaceTempView("ICRFELLBACKSUMMARY")


table14 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "ICR_PROD.ICRGUARANTEE") \
    .option("user", "etl") \
    .option("password", "%TGRDJh3Hg2e4f") \
    .load()
table14.createOrReplaceTempView("ICRGUARANTEE")


table15 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "ICR_PROD.ICRGUARANTEESUMMARY") \
    .option("user", "etl") \
    .option("password", "%TGRDJh3Hg2e4f") \
    .load()
table15.createOrReplaceTempView("ICRGUARANTEESUMMARY")

In [4]:
spark.sql("""
select 
		ordue.reportno,
		ordue.ACCOUNT,
		head.QUERYTIME,
		ordue.MONTH,
		month(date_format(head.QUERYTIME,'%Y-%m-%d')) - month(date_format(concat(ordue.month,'.01'),'%Y-%m-%d')) as gap_months,
		case 
			when ordue.LASTMONTHS in ('G','Z','D') then 8 
			else ordue.LASTMONTHS 
		end as LASTMONTHS ,
		loanfo.GUARANTEETYPE,STATE,FINANCEORG
from ICRLATEST2YEAROVERDUECARD ordue
-- 只取贷记卡的信息
inner join ICRLOANCARDINFO loanfo on ordue.reportno=loanfo.reportno and ordue.ACCOUNT=loanfo.ACCOUNT 
left join ICRMESSAGEHEADER head on ordue.reportno=head.reportno
where BIZTYPE='准贷记卡' and ordue.LASTMONTHS!='C'
""").createOrReplaceTempView("temp_standcard_2yearoverdue")


spark.sql("""
select 
		ordue.reportno,
		ordue.ACCOUNT,
		head.QUERYTIME,
		ordue.MONTH,
		month(date_format(head.QUERYTIME,'%Y-%m-%d')) - month(date_format(concat(ordue.month,'.01'),'%Y-%m-%d')) as gap_months,
		case 
			when ordue.LASTMONTHS in ('G','Z','D') then 8 
			else ordue.LASTMONTHS 
		end as LASTMONTHS ,
		loanfo.GUARANTEETYPE,STATE,FINANCEORG
from ICRLATEST2YEAROVERDUECARD ordue
-- 只取贷记卡的信息
inner join ICRLOANCARDINFO loanfo on ordue.reportno=loanfo.reportno and ordue.ACCOUNT=loanfo.ACCOUNT 
left join ICRMESSAGEHEADER head on ordue.reportno=head.reportno
where BIZTYPE='贷记卡' and ordue.LASTMONTHS!='C'
""").createOrReplaceTempView("temp_creditcard_2yearoverdue")


spark.sql("""
select 
		ordue.reportno,
		ordue.ACCOUNT,
		head.QUERYTIME,
		ordue.MONTH,
		month(date_format(head.QUERYTIME,'%Y-%m-%d')) - month(date_format(concat(ordue.month,'.01'),'%Y-%m-%d')) as gap_months,
		ordue.LASTMONTHS,ordue.AMOUNT,loanfo.GUARANTEETYPE,STATE,FINANCEORG
from ICRLATEST5YEAROVERDUEDETAIL ordue
-- 只取贷记卡的信息
inner join ICRLOANCARDINFO loanfo on ordue.reportno=loanfo.reportno and ordue.ACCOUNT=loanfo.ACCOUNT 
left join ICRMESSAGEHEADER head on ordue.reportno=head.reportno
where month!='--'  and BIZTYPE='贷记卡'
""").createOrReplaceTempView("temp_creditcard_overdue")


spark.sql("""
select 
		reportno,
		ACCOUNT,
		QUERYTIME,
		MONTH,
		gap_months,
		LASTMONTHS,
		GUARANTEETYPE,
		STATE,
		FINANCEORG 
from temp_creditcard_2yearoverdue
union 
select 
		reportno,
		ACCOUNT,
		QUERYTIME,
		date_format(concat(month,'.01'),'%Y-%m'),
        gap_months,
		LASTMONTHS,
		GUARANTEETYPE,
		STATE,
		FINANCEORG 
from temp_creditcard_overdue
""").createOrReplaceTempView("temp_creditcard_5yearoverdue")



spark.sql("""
select 
		ordue.reportno,
		ordue.ACCOUNT,
		head.QUERYTIME,
		ordue.MONTH,
		month(date_format(head.QUERYTIME,'%Y-%m-%d')) - month(date_format(concat(ordue.month,'.01'),'%Y-%m-%d')) as gap_months,
		case 
			when ordue.LASTMONTHS in ('G','Z','D') then 8 
			else ordue.LASTMONTHS 
		end as LASTMONTHS ,
		loanfo.GUARANTEETYPE,
		STATE,
		FINANCEORG
from ICRLATEST2YEAROVERDUE ordue
-- 只取贷款的信息
inner join ICRLOANINFO loanfo on ordue.reportno=loanfo.reportno and ordue.ACCOUNT=loanfo.ACCOUNT 
left join ICRMESSAGEHEADER head on ordue.reportno=head.reportno
where ordue.LASTMONTHS!='C'
""").createOrReplaceTempView("temp_loan_2yearoverdue")



spark.sql("""
select 
		ordue.reportno,
		ordue.ACCOUNT,
		head.QUERYTIME,
		ordue.MONTH,
		month(date_format(head.QUERYTIME,'%Y-%m-%d')) - month(date_format(concat(ordue.month,'.01'),'%Y-%m-%d')) as gap_months,
		ordue.LASTMONTHS,
		ordue.AMOUNT,
		loanfo.GUARANTEETYPE,
		STATE,FINANCEORG
from ICRLATEST5YEAROVERDUEDETAIL ordue
-- 只取贷款的信息
inner join ICRLOANINFO loanfo on ordue.reportno=loanfo.reportno and ordue.ACCOUNT=loanfo.ACCOUNT 
left join ICRMESSAGEHEADER head on ordue.reportno=head.reportno
where month!='--'
""").createOrReplaceTempView("temp_loan_overdue")




spark.sql("""
select 
		reportno,
		ACCOUNT,
		QUERYTIME,
        MONTH,
		gap_months,
		LASTMONTHS,
		GUARANTEETYPE,
		STATE,
		FINANCEORG 
from temp_loan_2yearoverdue
union 
select 
		reportno,
		ACCOUNT,
		QUERYTIME,
		date_format(concat(month,'.01'),'%Y-%m'),gap_months,LASTMONTHS,
		GUARANTEETYPE,
		STATE,
		FINANCEORG 
from temp_loan_overdue
""").createOrReplaceTempView("temp_loan_5yearoverdue")

中间表已运行完成，spark sql 创建所需要的表

In [5]:
spark.sql("""


select reportno,
nvl(count( distinct latest3mon_overdue_loanaccount_num),0) as latest3mon_overdue_loanaccount_num,
sum(latest3mon_overdue_loan_num) as latest3mon_overdue_loan_num,
nvl(count( distinct latest3mon_overdue_loanmonth_num),0) as latest3mon_overdue_loanmonth_num,
max(nvl(latest3mon_overdue_loan_longest_num,0)) as latest3mon_overdue_loan_longest_num,
nvl(count(distinct latest3mon_overdue2m_loanaccount_num),0) as latest3mon_overdue2m_loanaccount_num,
sum(latest3mon_overdue2m_loan_num) as latest3mon_overdue2m_loan_num,
nvl(count(distinct latest3mon_overdue3m_loanaccount_num),0) as latest3mon_overdue3m_loanaccount_num,
sum(latest3mon_overdue3m_loan_num) as latest3mon_overdue3m_loan_num,
nvl(count(distinct latest3mon_overdue4m_loanaccount_num),0) as latest3mon_overdue4m_loanaccount_num,
sum(latest3mon_overdue4m_loan_num) as latest3mon_overdue4m_loan_num,

nvl(count(distinct latest6mon_overdue_loanaccount_num),0) as latest6mon_overdue_loanaccount_num,
sum(latest6mon_overdue_loan_num) as latest6mon_overdue_loan_num,
nvl(count(distinct latest6mon_overdue_loanmonth_num),0) as latest6mon_overdue_loanmonth_num,
max(nvl(latest6mon_overdue_loan_longest_num,0)) as latest6mon_overdue_loan_longest_num,
nvl(count(distinct latest6mon_overdue2m_loanaccount_num),0) as latest6mon_overdue2m_loanaccount_num,
sum(latest6mon_overdue2m_loan_num) as latest6mon_overdue2m_loan_num,
nvl(count(distinct latest6mon_overdue3m_loanaccount_num),0) as latest6mon_overdue3m_loanaccount_num,
sum(latest6mon_overdue3m_loan_num) as latest6mon_overdue3m_loan_num,
nvl(count(distinct latest6mon_overdue4m_loanaccount_num),0) as latest6mon_overdue4m_loanaccount_num,
sum(latest6mon_overdue4m_loan_num) as latest6mon_overdue4m_loan_num,

nvl(count(distinct latest9mon_overdue_loanaccount_num),0) as latest9mon_overdue_loanaccount_num,
sum(latest9mon_overdue_loan_num) as latest9mon_overdue_loan_num,
nvl(count(distinct latest9mon_overdue_loanmonth_num),0) as latest9mon_overdue_loanmonth_num,
max(nvl(latest9mon_overdue_loan_longest_num,0)) as latest9mon_overdue_loan_longest_num,
nvl(count(distinct latest9mon_overdue2m_loanaccount_num),0) as latest9mon_overdue2m_loanaccount_num,
sum(latest9mon_overdue2m_loan_num) as latest9mon_overdue2m_loan_num,
nvl(count(distinct latest9mon_overdue3m_loanaccount_num),0) as latest9mon_overdue3m_loanaccount_num,
sum(latest9mon_overdue3m_loan_num) as latest9mon_overdue3m_loan_num,
nvl(count(distinct latest9mon_overdue4m_loanaccount_num),0) as latest9mon_overdue4m_loanaccount_num,
sum(latest9mon_overdue4m_loan_num) as latest9mon_overdue4m_loan_num,

nvl(count(distinct latest12mon_overdue_loanaccount_num),0) as latest12mon_overdue_loanaccount_num,
sum(latest12mon_overdue_loan_num) as latest12mon_overdue_loan_num,
nvl(count(distinct latest12mon_overdue_loanmonth_num),0) as latest12mon_overdue_loanmonth_num,
max(nvl(latest12mon_overdue_loan_longest_num,0)) as latest12mon_overdue_loan_longest_num,
nvl(count(distinct latest12mon_overdue2m_loanaccount_num),0) as latest12mon_overdue2m_loanaccount_num,
sum(latest12mon_overdue2m_loan_num) as latest12mon_overdue2m_loan_num,
nvl(count(distinct latest12mon_overdue3m_loanaccount_num),0) as latest12mon_overdue3m_loanaccount_num,
sum(latest12mon_overdue3m_loan_num) as latest12mon_overdue3m_loan_num,
nvl(count(distinct latest12mon_overdue4m_loanaccount_num),0) as latest12mon_overdue4m_loanaccount_num,
sum(latest12mon_overdue4m_loan_num) as latest12mon_overdue4m_loan_num,

nvl(count(distinct latest18mon_overdue_loanaccount_num),0) as latest18mon_overdue_loanaccount_num,
sum(latest18mon_overdue_loan_num) as latest18mon_overdue_loan_num,
nvl(count(distinct latest18mon_overdue_loanmonth_num),0) as latest18mon_overdue_loanmonth_num,
max(nvl(latest18mon_overdue_loan_longest_num,0)) as latest18mon_overdue_loan_longest_num,
nvl(count(distinct latest18mon_overdue2m_loanaccount_num),0) as latest18mon_overdue2m_loanaccount_num,
sum(latest18mon_overdue2m_loan_num) as latest18mon_overdue2m_loan_num,
nvl(count(distinct latest18mon_overdue3m_loanaccount_num),0) as latest18mon_overdue3m_loanaccount_num,
sum(latest18mon_overdue3m_loan_num) as latest18mon_overdue3m_loan_num,
nvl(count(distinct latest18mon_overdue4m_loanaccount_num),0) as latest18mon_overdue4m_loanaccount_num,
sum(latest18mon_overdue4m_loan_num) as latest18mon_overdue4m_loan_num,

nvl(count(distinct latest24mon_overdue_loanaccount_num),0) as latest24mon_overdue_loanaccount_num,
sum(latest24mon_overdue_loan_num) as latest24mon_overdue_loan_num,
nvl(count(distinct latest24mon_overdue_loanmonth_num),0) as latest24mon_overdue_loanmonth_num,
max(nvl(latest24mon_overdue_loan_longest_num,0)) as latest24mon_overdue_loan_longest_num,
nvl(count(distinct latest24mon_overdue2m_loanaccount_num),0) as latest24mon_overdue2m_loanaccount_num,
sum(latest24mon_overdue2m_loan_num) as latest24mon_overdue2m_loan_num,
nvl(count(distinct latest24mon_overdue3m_loanaccount_num),0) as latest24mon_overdue3m_loanaccount_num,
sum(latest24mon_overdue3m_loan_num) as latest24mon_overdue3m_loan_num,
nvl(count(distinct latest24mon_overdue4m_loanaccount_num),0) as latest24mon_overdue4m_loanaccount_num,
sum(latest24mon_overdue4m_loan_num) as latest24mon_overdue4m_loan_num,
now() as create_time,now() as update_time,now() as etl_date

from (
select 
REPORTNO,gap_months,LASTMONTHS,
case when gap_months<=2 then account else null end as latest3mon_overdue_loanaccount_num,
case when gap_months<=2 then 1 else 0 end as latest3mon_overdue_loan_num,
case when gap_months<=2 then month else null end as latest3mon_overdue_loanmonth_num,
case when gap_months<=2 then LASTMONTHS else null end as latest3mon_overdue_loan_longest_num,
case when gap_months<=2 and LASTMONTHS>=2  then account else null end as latest3mon_overdue2m_loanaccount_num,
case when gap_months<=2 and LASTMONTHS>=2  then 1 else 0 end as latest3mon_overdue2m_loan_num,
case when gap_months<=2 and LASTMONTHS>=3  then account else null end as latest3mon_overdue3m_loanaccount_num,
case when gap_months<=2 and LASTMONTHS>=3  then 1 else 0 end as latest3mon_overdue3m_loan_num,
case when gap_months<=2 and LASTMONTHS>3  then account else null end as latest3mon_overdue4m_loanaccount_num,
case when gap_months<=2 and LASTMONTHS>3  then 1 else 0 end as latest3mon_overdue4m_loan_num,

case when gap_months<=5 then account else null  end as latest6mon_overdue_loanaccount_num,
case when gap_months<=5 then 1 else 0 end as latest6mon_overdue_loan_num,
case when gap_months<=5 then month else null end as latest6mon_overdue_loanmonth_num,
case when gap_months<=5 then LASTMONTHS else null end as latest6mon_overdue_loan_longest_num,
case when gap_months<=5 and LASTMONTHS>=2  then account else null end as latest6mon_overdue2m_loanaccount_num,
case when gap_months<=5 and LASTMONTHS>=2  then 1 else 0 end as latest6mon_overdue2m_loan_num,
case when gap_months<=5 and LASTMONTHS>=3  then account else null end as latest6mon_overdue3m_loanaccount_num,
case when gap_months<=5 and LASTMONTHS>=3  then 1 else 0 end as latest6mon_overdue3m_loan_num,
case when gap_months<=5 and LASTMONTHS>3  then account else null end as latest6mon_overdue4m_loanaccount_num,
case when gap_months<=5 and LASTMONTHS>3  then 1 else 0 end as latest6mon_overdue4m_loan_num,

case when gap_months<=8 then account else null end as latest9mon_overdue_loanaccount_num,
case when gap_months<=8 then 1 else 0 end as latest9mon_overdue_loan_num,
case when gap_months<=8 then month else null end as latest9mon_overdue_loanmonth_num,
case when gap_months<=8 then LASTMONTHS else null end as latest9mon_overdue_loan_longest_num,
case when gap_months<=8 and LASTMONTHS>=2  then account else null end as latest9mon_overdue2m_loanaccount_num,
case when gap_months<=8 and LASTMONTHS>=2  then 1 else 0 end as latest9mon_overdue2m_loan_num,
case when gap_months<=8 and LASTMONTHS>=3  then account else null end as latest9mon_overdue3m_loanaccount_num,
case when gap_months<=8 and LASTMONTHS>=3  then 1 else 0 end as latest9mon_overdue3m_loan_num,
case when gap_months<=8 and LASTMONTHS>3  then account else null end as latest9mon_overdue4m_loanaccount_num,
case when gap_months<=8 and LASTMONTHS>3  then 1 else 0 end as latest9mon_overdue4m_loan_num,

case when gap_months<=11 then account else null end as latest12mon_overdue_loanaccount_num,
case when gap_months<=11 then 1 else 0 end as latest12mon_overdue_loan_num,
case when gap_months<=11 then month else null end as latest12mon_overdue_loanmonth_num,
case when gap_months<=11 then LASTMONTHS else null end as latest12mon_overdue_loan_longest_num,
case when gap_months<=11 and LASTMONTHS>=2  then account else null end as latest12mon_overdue2m_loanaccount_num,
case when gap_months<=11 and LASTMONTHS>=2  then 1 else 0 end as latest12mon_overdue2m_loan_num,
case when gap_months<=11 and LASTMONTHS>=3  then account else null end as latest12mon_overdue3m_loanaccount_num,
case when gap_months<=11 and LASTMONTHS>=3  then 1 else 0 end as latest12mon_overdue3m_loan_num,
case when gap_months<=11 and LASTMONTHS>3  then account else null end as latest12mon_overdue4m_loanaccount_num,
case when gap_months<=11 and LASTMONTHS>3  then 1 else 0 end as latest12mon_overdue4m_loan_num,

case when gap_months<=17 then account else null end as latest18mon_overdue_loanaccount_num,
case when gap_months<=17 then 1 else 0 end as latest18mon_overdue_loan_num,
case when gap_months<=17 then month else null end as latest18mon_overdue_loanmonth_num,
case when gap_months<=17 then LASTMONTHS else null end as latest18mon_overdue_loan_longest_num,
case when gap_months<=17 and LASTMONTHS>=2  then account else null end as latest18mon_overdue2m_loanaccount_num,
case when gap_months<=17 and LASTMONTHS>=2  then 1 else 0 end as latest18mon_overdue2m_loan_num,
case when gap_months<=17 and LASTMONTHS>=3  then account else null end as latest18mon_overdue3m_loanaccount_num,
case when gap_months<=17 and LASTMONTHS>=3  then 1 else 0 end as latest18mon_overdue3m_loan_num,
case when gap_months<=17 and LASTMONTHS>3  then account else null end as latest18mon_overdue4m_loanaccount_num,
case when gap_months<=17 and LASTMONTHS>3  then 1 else 0 end as latest18mon_overdue4m_loan_num,

case when gap_months<=23 then account else null end as latest24mon_overdue_loanaccount_num,
case when gap_months<=23 then 1 else 0 end as latest24mon_overdue_loan_num,
case when gap_months<=23 then month else null end as latest24mon_overdue_loanmonth_num,
case when gap_months<=23 then LASTMONTHS else null end as latest24mon_overdue_loan_longest_num,
case when gap_months<=23 and LASTMONTHS>=2  then account else null end as latest24mon_overdue2m_loanaccount_num,
case when gap_months<=23 and LASTMONTHS>=2  then 1 else 0 end as latest24mon_overdue2m_loan_num,
case when gap_months<=23 and LASTMONTHS>=3  then account else null end as latest24mon_overdue3m_loanaccount_num,
case when gap_months<=23 and LASTMONTHS>=3  then 1 else 0 end as latest24mon_overdue3m_loan_num,
case when gap_months<=23 and LASTMONTHS>3  then account else null end as latest24mon_overdue4m_loanaccount_num,
case when gap_months<=23 and LASTMONTHS>3  then 1 else 0 end as latest24mon_overdue4m_loan_num

from temp_loan_5yearoverdue temp
where gap_months<24
)t
group by reportno
-- group by reportno ,gap_months

""").createOrReplaceTempView("dw_quater_overdue_detail")

In [6]:
table_name = "dw_quater_overdue_detail"

spark.sql("drop table if EXISTS renhang_user_profile.%s "%table_name)
spark.sql("create table renhang_user_profile.%s as select * from %s"%(table_name,table_name))

DataFrame[]