在运行dw相关表之前，首先运行下面部分以创建中间表

In [1]:
import pandas as pd
from pyspark import SparkContext,SQLContext
from pyspark.sql import SQLContext
from pyspark.sql import SparkSession
from pyspark.sql.functions import udf, col
from pyspark.sql.types import StringType

In [2]:
spark=SparkSession \
        .builder \
        .config("spark.eventLog.enabled", "false") \
        .config("spark.executor.memory", "4g")\
        .config("spark.driver.memory", "8g")\
        .config("spark.cores.max", "10")\
        .config("spark.task.maxFailures", "1000")\
        .config("spark.default.parallelism", "500")\
        .config("spark.sql.shuffle.partitions",100)\
        .appName('renhang_etl') \
        .master('yarn')\
        .getOrCreate()

In [3]:
#创建DW.dw_baseinfo_detail
table1 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "ICR_PROD.ICRMESSAGEHEADER") \
    .option("user", "etl") \
    .option("password", "%TGRDJh3Hg2e4f") \
    .load()
table1.createOrReplaceTempView("ICRMESSAGEHEADER")

table2 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "ICR_PROD.ICRCREDITCUE") \
    .option("user", "etl") \
    .option("password", "%TGRDJh3Hg2e4f") \
    .load()
table2.createOrReplaceTempView("ICRCREDITCUE")

table3 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "ICR_PROD.ICRLOANCARDINFO") \
    .option("user", "etl") \
    .option("password", "%TGRDJh3Hg2e4f") \
    .load()
table3.createOrReplaceTempView("ICRLOANCARDINFO")

table4 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "ICR_PROD.ICRCREDITCUE") \
    .option("user", "etl") \
    .option("password", "%TGRDJh3Hg2e4f") \
    .load()
table4.createOrReplaceTempView("ICRCREDITCUE")

table5 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "ICR_PROD.ICRLATEST2YEAROVERDUECARD") \
    .option("user", "etl") \
    .option("password", "%TGRDJh3Hg2e4f") \
    .load()
table5.createOrReplaceTempView("ICRLATEST2YEAROVERDUECARD")

table6 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "ICR_PROD.ICRLATEST5YEAROVERDUEDETAIL") \
    .option("user", "etl") \
    .option("password", "%TGRDJh3Hg2e4f") \
    .load()
table6.createOrReplaceTempView("ICRLATEST5YEAROVERDUEDETAIL")

table7 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "ICR_PROD.ICRLATEST2YEAROVERDUE") \
    .option("user", "etl") \
    .option("password", "%TGRDJh3Hg2e4f") \
    .load()
table7.createOrReplaceTempView("ICRLATEST2YEAROVERDUE")

table8 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "ICR_PROD.ICRLOANINFO") \
    .option("user", "etl") \
    .option("password", "%TGRDJh3Hg2e4f") \
    .load()
table8.createOrReplaceTempView("ICRLOANINFO")

table9 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "ICR_PROD.ICRUNDESTORYLOANCARD") \
    .option("user", "etl") \
    .option("password", "%TGRDJh3Hg2e4f") \
    .load()
table9.createOrReplaceTempView("ICRUNDESTORYLOANCARD")

table10 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "ICR_PROD.ICRUNDESTORYSTANDARDLOANCARD") \
    .option("user", "etl") \
    .option("password", "%TGRDJh3Hg2e4f") \
    .load()
table10.createOrReplaceTempView("ICRUNDESTORYSTANDARDLOANCARD")

table11 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "ICR_PROD.ICRUNPAIDLOAN") \
    .option("user", "etl") \
    .option("password", "%TGRDJh3Hg2e4f") \
    .load()
table11.createOrReplaceTempView("ICRUNPAIDLOAN")

In [4]:
spark.sql("""
select 
		ordue.reportno,
		ordue.ACCOUNT,
		head.QUERYTIME,
		ordue.MONTH,
		month(date_format(head.QUERYTIME,'%Y-%m-%d')) - month(date_format(concat(ordue.month,'.01'),'%Y-%m-%d')) as gap_months,
		case 
			when ordue.LASTMONTHS in ('G','Z','D') then 8 
			else ordue.LASTMONTHS 
		end as LASTMONTHS ,
		loanfo.GUARANTEETYPE,STATE,FINANCEORG
from ICRLATEST2YEAROVERDUECARD ordue
-- 只取贷记卡的信息
inner join ICRLOANCARDINFO loanfo on ordue.reportno=loanfo.reportno and ordue.ACCOUNT=loanfo.ACCOUNT 
left join ICRMESSAGEHEADER head on ordue.reportno=head.reportno
where BIZTYPE='准贷记卡' and ordue.LASTMONTHS!='C'
""").createOrReplaceTempView("temp_standcard_2yearoverdue")


spark.sql("""
select 
		ordue.reportno,
		ordue.ACCOUNT,
		head.QUERYTIME,
		ordue.MONTH,
		month(date_format(head.QUERYTIME,'%Y-%m-%d')) - month(date_format(concat(ordue.month,'.01'),'%Y-%m-%d')) as gap_months,
		case 
			when ordue.LASTMONTHS in ('G','Z','D') then 8 
			else ordue.LASTMONTHS 
		end as LASTMONTHS ,
		loanfo.GUARANTEETYPE,STATE,FINANCEORG
from ICRLATEST2YEAROVERDUECARD ordue
-- 只取贷记卡的信息
inner join ICRLOANCARDINFO loanfo on ordue.reportno=loanfo.reportno and ordue.ACCOUNT=loanfo.ACCOUNT 
left join ICRMESSAGEHEADER head on ordue.reportno=head.reportno
where BIZTYPE='贷记卡' and ordue.LASTMONTHS!='C'
""").createOrReplaceTempView("temp_creditcard_2yearoverdue")


spark.sql("""
select 
		ordue.reportno,
		ordue.ACCOUNT,
		head.QUERYTIME,
		ordue.MONTH,
		month(date_format(head.QUERYTIME,'%Y-%m-%d')) - month(date_format(concat(ordue.month,'.01'),'%Y-%m-%d')) as gap_months,
		ordue.LASTMONTHS,ordue.AMOUNT,loanfo.GUARANTEETYPE,STATE,FINANCEORG
from ICRLATEST5YEAROVERDUEDETAIL ordue
-- 只取贷记卡的信息
inner join ICRLOANCARDINFO loanfo on ordue.reportno=loanfo.reportno and ordue.ACCOUNT=loanfo.ACCOUNT 
left join ICRMESSAGEHEADER head on ordue.reportno=head.reportno
where month!='--'  and BIZTYPE='贷记卡'
""").createOrReplaceTempView("temp_creditcard_overdue")


spark.sql("""
select 
		reportno,
		ACCOUNT,
		QUERYTIME,
		MONTH,
		gap_months,
		LASTMONTHS,
		GUARANTEETYPE,
		STATE,
		FINANCEORG 
from temp_creditcard_2yearoverdue
union 
select 
		reportno,
		ACCOUNT,
		QUERYTIME,
		date_format(concat(month,'.01'),'%Y-%m'),
        gap_months,
		LASTMONTHS,
		GUARANTEETYPE,
		STATE,
		FINANCEORG 
from temp_creditcard_overdue
""").createOrReplaceTempView("temp_creditcard_5yearoverdue")



spark.sql("""
select 
		ordue.reportno,
		ordue.ACCOUNT,
		head.QUERYTIME,
		ordue.MONTH,
		month(date_format(head.QUERYTIME,'%Y-%m-%d')) - month(date_format(concat(ordue.month,'.01'),'%Y-%m-%d')) as gap_months,
		case 
			when ordue.LASTMONTHS in ('G','Z','D') then 8 
			else ordue.LASTMONTHS 
		end as LASTMONTHS ,
		loanfo.GUARANTEETYPE,
		STATE,
		FINANCEORG
from ICRLATEST2YEAROVERDUE ordue
-- 只取贷款的信息
inner join ICRLOANINFO loanfo on ordue.reportno=loanfo.reportno and ordue.ACCOUNT=loanfo.ACCOUNT 
left join ICRMESSAGEHEADER head on ordue.reportno=head.reportno
where ordue.LASTMONTHS!='C'
""").createOrReplaceTempView("temp_loan_2yearoverdue")



spark.sql("""
select 
		ordue.reportno,
		ordue.ACCOUNT,
		head.QUERYTIME,
		ordue.MONTH,
		month(date_format(head.QUERYTIME,'%Y-%m-%d')) - month(date_format(concat(ordue.month,'.01'),'%Y-%m-%d')) as gap_months,
		ordue.LASTMONTHS,
		ordue.AMOUNT,
		loanfo.GUARANTEETYPE,
		STATE,FINANCEORG
from ICRLATEST5YEAROVERDUEDETAIL ordue
-- 只取贷款的信息
inner join ICRLOANINFO loanfo on ordue.reportno=loanfo.reportno and ordue.ACCOUNT=loanfo.ACCOUNT 
left join ICRMESSAGEHEADER head on ordue.reportno=head.reportno
where month!='--'
""").createOrReplaceTempView("temp_loan_overdue")




spark.sql("""
select 
		reportno,
		ACCOUNT,
		QUERYTIME,
        MONTH,
		gap_months,
		LASTMONTHS,
		GUARANTEETYPE,
		STATE,
		FINANCEORG 
from temp_loan_2yearoverdue
union 
select 
		reportno,
		ACCOUNT,
		QUERYTIME,
		date_format(concat(month,'.01'),'%Y-%m'),gap_months,LASTMONTHS,
		GUARANTEETYPE,
		STATE,
		FINANCEORG 
from temp_loan_overdue
""").createOrReplaceTempView("temp_loan_5yearoverdue")

中间表已运行完成，spark sql 创建所需要的表

In [5]:
spark.sql("""

select 
		head.reportno,
		nvl(cdt.houseloancount,0) as houseloancount,
		nvl(cdt.chouseloancount,0) as chouseloancount,
		nvl(cdt.otherloancount,0) as otherloancount,
		nvl(loan.max_cdtamt_loan,-9999999) as max_cdtamt_loan,
		nvl(loan.loan_amount_sum,-9999999) as loan_amount_sum,
		nvl(loan.loan_balance_sum,-9999999) as loan_balance_sum,
		nvl(loan.loan_num,-9999999) as loan_num,
		case 
			when loan.loan_num is null then -9999999
			when loan.loan_num is not null and  ovloan.loan_latest_overdue_months is null then -9999998
			else ovloan.loan_latest_overdue_months 
		end as loan_latest_overdue_months,
		nvl(cdtl.max_cdtamt_cdtloan,-9999999) as max_cdtamt_cdtloan,	
		nvl(cdtl.creditloan_amount_sum,-9999999) as creditloan_amount_sum,
		nvl(cdtl.creditloan_balance_sum,-9999999) as creditloan_balance_sum,
		nvl(cdtl.creditloan_num,-9999999) as creditloan_num,
		case 
			when cdtl.creditloan_num is null then -9999999
			when cdtl.creditloan_num is not null and ovloan1.creditloan_latest_overdue_months is null then -9999998
		else ovloan1.creditloan_latest_overdue_months end as creditloan_latest_overdue_months,
		nvl(uncdtl.max_cdtamt_unsetcdtloan,-9999999) as max_cdtamt_unsetcdtloan,
		case 
			when loan.loan_num is null then -9999999
			when unloan.unsettle_loan_amount_sum is null and loan.loan_num is not null then 0
			else unloan.unsettle_loan_amount_sum 
		end as unsettle_loan_amount_sum,
		case 
			when loan.loan_num is null then -9999999
			when unloan.unsettle_loan_num is null and loan.loan_num is not null then 0
			else unloan.unsettle_loan_balance_sum 
		end as unsettle_loan_balance_sum,
		case 
			when loan.loan_num is null then -9999999
			when unloan.unsettle_loan_num is null and loan.loan_num is not null then 0
			else unloan.unsettle_loan_num 
		end as unsettle_loan_num,
		case 
			when unloan.unloan_num is null then -9999999
			when unloan.unloan_num is not null and ovloan2.unsettle_loan_latest_overdue_months is null then -9999998
			else ovloan2.unsettle_loan_latest_overdue_months 
		end as unsettle_loan_latest_overdue_months,
		case 
			when cdtl.creditloan_num is null then -9999999
			when cdtl.creditloan_num is not null and uncdtl.unsettle_creditloan_num is null then 0
			else uncdtl.unsettle_creditloan_amount_sum 
		end as unsettle_creditloan_amount_sum,
		case 
			when cdtl.creditloan_num is null then -9999999
			when cdtl.creditloan_num is not null and uncdtl.unsettle_creditloan_num is null then 0
			else uncdtl.unsettle_crdditloan_balance_sum 
		end as unsettle_crdditloan_balance_sum,
		case 
			when cdtl.creditloan_num is null then -9999999
			when cdtl.creditloan_num is not null and uncdtl.unsettle_creditloan_num is null then 0
			else uncdtl.unsettle_creditloan_num 
		end as unsettle_creditloan_num,
		
		case 
			when uncdtl.unsettle_creditloan_num is null then -9999999
			when uncdtl.unsettle_creditloan_num is not null and ovloan3.unsettle_creditloan_latest_overdue_months is null then -9999998
			else ovloan3.unsettle_creditloan_latest_overdue_months 
		end as unsettle_creditloan_latest_overdue_months,
		nvl(unpl.LATEST6MONTHUSEDAVGAMOUNT,-9999999) as  latest6months_avg_amount,
	
		nvl(loan.loan_org_num,-9999999) as loan_org_num,
		case 
			when loan.loan_num is null then -9999999
			when loan.loan_num is not null and unloan.unsettle_loan_num is null then 0 
			else unloan.unsettle_loan_org_num 
		end as unsettle_loan_org_num,
		case 
			when cdtl.credit_loan_org_num is null then 0 
			else cdtl.credit_loan_org_num 
		end as credit_loan_org_num,
		case 
			when cdtl.creditloan_num is null then -9999999
			when uncdtl.unsettle_creditloan_num is null and cdtl.creditloan_num is not null then 0
			else uncdtl.unsettle_creditloan_org_num 
		end as unsettle_creditloan_org_num,
		
		nvl(loan.loan_remain_payment_avg_cyc,-9999999) as loan_remain_payment_avg_cyc,
		case 
			when loan.loan_num is null then -9999999
			when unloan.unsettle_loan_num is null and loan.loan_num is not null then 0
			else unloan.unsettleloan_remain_payment_avg_cyc 
		end as unsettleloan_remain_payment_avg_cyc,
		case 
			when cdtl.creditloan_num is null then -9999999
			when cdtl.creditloan_num is not null and uncdtl.unsettle_creditloan_num is null then 0
			else uncdtl.unsettle_creditloan_remain_payment_avg_cyc 
		end as unsettle_creditloan_remain_payment_avg_cyc,
		nvl(loan.loan_avg_balance,-9999999) as loan_avg_balance,
		case 
			when loan.loan_num is null then -9999999
			when unloan.unsettle_loan_num is null and loan.loan_num is not null then 0
			else unloan.unsettle_loan_avg_balance 
		end as unsettle_loan_avg_balance,
		case 
			when cdtl.creditloan_num is null then -9999999
			when cdtl.creditloan_num is not null and uncdtl.unsettle_creditloan_num is null then 0
			else uncdtl.unsettle_creditloan_avg_balance 
		end as unsettle_creditloan_avg_balance,
		case 
			when loan.loan_num is null then -9999999
			when loan.loan_num is not null and unnom.unnormal_loan_num is null then 0
			else unnom.unnormal_loan_num 
		end as unnormal_loan_num,
	now() as create_time,now() as update_time,now() as etl_date

		
from ICRMESSAGEHEADER head 
left join ICRCREDITCUE cdt on head.reportno=cdt.reportno
-- 贷款
left join 
(select a.reportno,sum(nvl(a.CREDITLIMITAMOUNT,0)) as loan_amount_sum,
		sum(nvl(a.BALANCE,0)) as loan_balance_sum,count(1) as loan_num,
		-- TIMESTAMPDIFF(month,date_format(concat(max(b.month),'.01'),'%Y-%m-%d'),date_format(now(),'%Y-%m-%d')) as loan_latest_overdue_months,
		count(distinct FINANCEORG) as loan_org_num,
		round(avg(nvl(REMAINPAYMENTCYC,0)),5) as loan_remain_payment_avg_cyc,
		round(avg(nvl(BALANCE,0)),5) as loan_avg_balance,
		max(nvl(a.CREDITLIMITAMOUNT,0)) as max_cdtamt_loan
from ICRLOANINFO a
-- left join ICR.ICRLATEST5YEAROVERDUEDETAIL b on a.reportno=b.reportno
group by reportno
)loan on head.reportno=loan.reportno
-- 信用贷
left join 
(select a.reportno,sum(nvl(a.CREDITLIMITAMOUNT,0)) as creditloan_amount_sum,
		sum(nvl(a.BALANCE,0)) as creditloan_balance_sum,count(1) as creditloan_num,
		-- TIMESTAMPDIFF(month,date_format(concat(max(b.month),'.01'),'%Y-%m-%d'),date_format(now(),'%Y-%m-%d')) as creditloan_latest_overdue_months,
		count(distinct FINANCEORG) as credit_loan_org_num,
		max(nvl(a.CREDITLIMITAMOUNT,0)) as max_cdtamt_cdtloan
from ICRLOANINFO a
-- left join ICR.ICRLATEST5YEAROVERDUEDETAIL b on a.reportno=b.reportno
where a.GUARANTEETYPE='信用/免担保'
group by reportno
)cdtl on head.reportno=cdtl.reportno
--  未结清贷款
left join 
(select a.reportno,sum(nvl(a.CREDITLIMITAMOUNT,0)) as unsettle_loan_amount_sum,
		sum(nvl(a.BALANCE,0)) as unsettle_loan_balance_sum,count(1) as unsettle_loan_num,
		-- TIMESTAMPDIFF(month,date_format(concat(max(b.month),'.01'),'%Y-%m-%d'),date_format(now(),'%Y-%m-%d')) as unsettle_loan_latest_overdue_months,
		count(distinct FINANCEORG) as unsettle_loan_org_num,
		round(avg(nvl(REMAINPAYMENTCYC,0)),5) as unsettleloan_remain_payment_avg_cyc,
		round(avg(nvl(BALANCE,0)),5) as unsettle_loan_avg_balance,count(1) as unloan_num
		--	max(nvl(a.CREDITLIMITAMOUNT,0)) as max_cdtamt_unsetcdtloan
from ICRLOANINFO a
-- left join ICR.ICRLATEST5YEAROVERDUEDETAIL b on a.reportno=b.reportno
where a.state in ('正常','呆账','逾期','转出')
group by reportno
)unloan on head.reportno=unloan.reportno
--  未结清信用贷款
left join 
(select a.reportno,sum(nvl(a.CREDITLIMITAMOUNT,0)) as unsettle_creditloan_amount_sum,
		max(nvl(a.CREDITLIMITAMOUNT,0)) as max_cdtamt_unsetcdtloan,
		sum(nvl(a.BALANCE,0)) as unsettle_crdditloan_balance_sum,count(1) as unsettle_creditloan_num,
		-- TIMESTAMPDIFF(month,date_format(concat(max(b.month),'.01'),'%Y-%m-%d'),date_format(now(),'%Y-%m-%d')) as unsettle_creditloan_latest_overdue_months,
		count(distinct FINANCEORG) as unsettle_creditloan_org_num,
		round(avg(nvl(REMAINPAYMENTCYC,0)),5) as unsettle_creditloan_remain_payment_avg_cyc,
		round(avg(nvl(balance,0)),5) as unsettle_creditloan_avg_balance
from ICRLOANINFO a
-- left join ICR.ICRLATEST5YEAROVERDUEDETAIL b on a.reportno=b.reportno
where a.state in ('正常','呆账','逾期','转出') and a.GUARANTEETYPE='信用/免担保'
group by reportno
)uncdtl on head.reportno=uncdtl.reportno
-- 贷款最近6个月平均应还款
left join ICRUNPAIDLOAN unpl on head.reportno=unpl.reportno
left join 
(select reportno,count(*) as unnormal_loan_num 
	from ICRLOANINFO 
	where CLASS5STATE not in ('正常','未知') and CLASS5STATE is not null
	group by reportno
)unnom on head.reportno=unnom.reportno
-- 贷款最近一次逾期距查询报告时间月份数
left join 
(select reportno,
	 min(gap_months) as loan_latest_overdue_months
	from temp_loan_5yearoverdue 
	group by reportno
)ovloan on head.reportno=ovloan.reportno
-- 信用贷款最近一次逾期距查询报告时间月份数
left join 
(select reportno,
	 min(gap_months) as creditloan_latest_overdue_months
	from temp_loan_5yearoverdue 
	where GUARANTEETYPE='信用/免担保'
	group by reportno
)ovloan1 on head.reportno=ovloan1.reportno
-- 未结清贷款最近一次逾期距查询报告时间月份数
left join 
(select reportno,
	 min(gap_months) as unsettle_loan_latest_overdue_months
	from temp_loan_5yearoverdue 
	where state in ('正常','呆账','逾期','转出')
	group by reportno
)ovloan2 on head.reportno=ovloan2.reportno
-- 未结清信用贷款最近一次逾期距查询报告时间月份数
left join 
(select reportno,
	 min(gap_months) as unsettle_creditloan_latest_overdue_months
	from temp_loan_5yearoverdue 
	where GUARANTEETYPE='信用/免担保' and state in ('正常','呆账','逾期','转出')
	group by reportno
)ovloan3 on head.reportno=ovloan3.reportno



""").createOrReplaceTempView("dw_loan_summary")

In [6]:
table_name = "dw_loan_summary"

spark.sql("drop table if EXISTS renhang_user_profile.%s "%table_name)
spark.sql("create table renhang_user_profile.%s as select * from %s"%(table_name,table_name))

DataFrame[]

In [1]:
# for test

In [2]:
from pyspark import SparkContext,SQLContext,SparkConf
from pyspark.sql import SQLContext
from pyspark.sql import SparkSession
from pyspark.sql.functions import udf, col
from pyspark.sql.types import StringType
import pandas as pd
import pandas as pd
from sqlalchemy import create_engine



# 初始化数据库连接，使用pymysql模块
# MySQL的用户：dt, 密码:Usd&212%wePO2, 端口：3306,数据库：
spark=SparkSession \
        .builder \
        .config("spark.eventLog.enabled", "false") \
        .config("spark.executor.memory", "4g")\
        .config("spark.driver.memory", "8g")\
        .config("spark.cores.max", "10")\
        .config("spark.task.maxFailures", "1000")\
        .config("spark.default.parallelism", "500")\
        .config("spark.sql.shuffle.partitions",100)\
        .appName('renhang_etl') \
        .master('yarn')\
        .getOrCreate()


engine = create_engine('mysql+pymysql://dt:Usd&212%wePO2@58.59.11.87:3306/DM')



def time_format(ts):
    try:
        res = ts[0:10].replace('.','')
        return res
    except:
        return 'None'
    else:
        return 'None'    
spark.udf.register('time_format',lambda x:time_format(x))

    
def get_time(ts):
    try:
        res = ts.replace('.','-')
        return res
    except:
        return 'None'
    else:
        return 'None'


spark.udf.register('get_time',lambda x:get_time(x))
# time_udfs = udf(get_time, StringType())


def timestampdiff(flag,t1,t2):
    try:
        date1 = t1[0:10].replace('.','-')
        date2 = t2[0:10].replace('.','-')
        year = (int(date1[0:4])-int(date2[0:4]))
        month = (int(date1[5:7])-int(date2[5:7]))
        day = int(date1[8:10])-int(date2[8:10])
        if(flag == 'year'):
            if(month<0 or (month==0 and day<0)):
                result = year -1
                return result
            return year
        if(flag == 'month'):
            res = year*12+month+int((day-30)/31)
            return res
    
    except:
        return 'None'
    
                                                                                      
spark.udf.register('timestampdiff',lambda x1,x2,x3:timestampdiff(x1,x2,x3))
# timestampdiff = udf(get_time, StringType())   


def get_city(address):
    try:
        province_loc = address.find("省")
        city_loc = address.find("市")
        if(province_loc < 0 or (province_loc>=0 and province_loc>=city_loc) ): #江西赣州市兴国县江西省赣州市兴国县潋江镇罗廖村26号
            city = address[0:city_loc+1]
        if(province_loc>=0 and province_loc<city_loc):
            city = address[province_loc+1:city_loc+1]
        return city
    except:
        return 'None'



spark.udf.register('get_city',lambda x:get_city(x))
# time_udfs = udf(get_time, StringType())

In [3]:
#创建DW.dw_baseinfo_detail
table1 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "ICR_PROD.ICRMESSAGEHEADER") \
    .option("user", "dt") \
    .option("password", "Usd&212%wePO2") \
    .load()
table1.createOrReplaceTempView("ICRMESSAGEHEADER")

table2 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "ICR_PROD.ICRCREDITCUE") \
    .option("user", "dt") \
    .option("password", "Usd&212%wePO2") \
    .load()
table2.createOrReplaceTempView("ICRCREDITCUE")

table3 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "ICR_PROD.ICRLOANCARDINFO") \
    .option("user", "dt") \
    .option("password", "Usd&212%wePO2") \
    .load()
table3.createOrReplaceTempView("ICRLOANCARDINFO")

table4 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "ICR_PROD.ICRCREDITCUE") \
    .option("user", "dt") \
    .option("password", "Usd&212%wePO2") \
    .load()
table4.createOrReplaceTempView("ICRCREDITCUE")

table5 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "ICR_PROD.ICRLATEST2YEAROVERDUECARD") \
    .option("user", "dt") \
    .option("password", "Usd&212%wePO2") \
    .load()
table5.createOrReplaceTempView("ICRLATEST2YEAROVERDUECARD")

table6 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "ICR_PROD.ICRLATEST5YEAROVERDUEDETAIL") \
    .option("user", "dt") \
    .option("password", "Usd&212%wePO2") \
    .load()
table6.createOrReplaceTempView("ICRLATEST5YEAROVERDUEDETAIL")

table7 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "ICR_PROD.ICRLATEST2YEAROVERDUE") \
    .option("user", "dt") \
    .option("password", "Usd&212%wePO2") \
    .load()
table7.createOrReplaceTempView("ICRLATEST2YEAROVERDUE")

table8 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "ICR_PROD.ICRLOANINFO") \
    .option("user", "dt") \
    .option("password", "Usd&212%wePO2") \
    .load()
table8.createOrReplaceTempView("ICRLOANINFO")

table9 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "ICR_PROD.ICRUNDESTORYLOANCARD") \
    .option("user", "dt") \
    .option("password", "Usd&212%wePO2") \
    .load()
table9.createOrReplaceTempView("ICRUNDESTORYLOANCARD")

table10 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "ICR_PROD.ICRUNDESTORYSTANDARDLOANCARD") \
    .option("user", "dt") \
    .option("password", "Usd&212%wePO2") \
    .load()
table10.createOrReplaceTempView("ICRUNDESTORYSTANDARDLOANCARD")

table11 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "ICR_PROD.ICRUNPAIDLOAN") \
    .option("user", "dt") \
    .option("password", "Usd&212%wePO2") \
    .load()
table11.createOrReplaceTempView("ICRUNPAIDLOAN")


table12 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "ICR_PROD.ICROVERDUESUMMARY") \
    .option("user", "dt") \
    .option("password", "Usd&212%wePO2") \
    .load()
table12.createOrReplaceTempView("ICROVERDUESUMMARY")


table13 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "ICR_PROD.ICRFELLBACKSUMMARY") \
    .option("user", "dt") \
    .option("password", "Usd&212%wePO2") \
    .load()
table13.createOrReplaceTempView("ICRFELLBACKSUMMARY")


table14 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "ICR_PROD.ICRGUARANTEE") \
    .option("user", "dt") \
    .option("password", "Usd&212%wePO2") \
    .load()
table14.createOrReplaceTempView("ICRGUARANTEE")


table15 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "ICR_PROD.ICRGUARANTEESUMMARY") \
    .option("user", "dt") \
    .option("password", "Usd&212%wePO2") \
    .load()
table15.createOrReplaceTempView("ICRGUARANTEESUMMARY")


#######

table16 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "ICR_PROD.ICRCIVILJUDGEMENT") \
    .option("user", "dt") \
    .option("password", "Usd&212%wePO2") \
    .load()
table16.createOrReplaceTempView("ICRCIVILJUDGEMENT")



table17 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "ICR_PROD.ICRFORCEEXECUTION") \
    .option("user", "dt") \
    .option("password", "Usd&212%wePO2") \
    .load()
table17.createOrReplaceTempView("ICRFORCEEXECUTION")


table18 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "ICR_PROD.ICRADMINPUNISHMENT") \
    .option("user", "dt") \
    .option("password", "Usd&212%wePO2") \
    .load()
table18.createOrReplaceTempView("ICRADMINPUNISHMENT")


table19 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "ICR_PROD.ICRTAXARREAR") \
    .option("user", "dt") \
    .option("password", "Usd&212%wePO2") \
    .load()
table19.createOrReplaceTempView("ICRTAXARREAR")


table20 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "ICR_PROD.ICRACCFUND") \
    .option("user", "dt") \
    .option("password", "Usd&212%wePO2") \
    .load()
table20.createOrReplaceTempView("ICRACCFUND")



table21 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "ICR_PROD.ICRENDOWMENTINSURANCEDEPOSIT") \
    .option("user", "dt") \
    .option("password", "Usd&212%wePO2") \
    .load()
table21.createOrReplaceTempView("ICRENDOWMENTINSURANCEDEPOSIT")


table22 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "ICR_PROD.ICRRECORDDETAIL") \
    .option("user", "dt") \
    .option("password", "Usd&212%wePO2") \
    .load()
table22.createOrReplaceTempView("ICRRECORDDETAIL")



table23 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "ICR_PROD.ICRRECORDDETAIL") \
    .option("user", "dt") \
    .option("password", "Usd&212%wePO2") \
    .load()
table23.createOrReplaceTempView("ICRRECORDDETAIL")


table24 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "ICR_PROD.QUERY_HISTORY") \
    .option("user", "dt") \
    .option("password", "Usd&212%wePO2") \
    .load()
table24.createOrReplaceTempView("QUERY_HISTORY")

table25 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "ICR_PROD.ICRRECORDSUMMARY") \
    .option("user", "dt") \
    .option("password", "Usd&212%wePO2") \
    .load()
table25.createOrReplaceTempView("ICRRECORDSUMMARY")


table25 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "ICR_PROD.ICRQUERYREQ") \
    .option("user", "dt") \
    .option("password", "Usd&212%wePO2") \
    .load()
table25.createOrReplaceTempView("ICRQUERYREQ")



table25 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "ICR_PROD.ICRIDENTITY") \
    .option("user", "dt") \
    .option("password", "Usd&212%wePO2") \
    .load()
table25.createOrReplaceTempView("ICRIDENTITY")
###########################################################
##########################################################
table1 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "WKL.temp_standcard_2yearoverdue") \
    .option("user", "dt") \
    .option("password", "Usd&212%wePO2") \
    .load()
table1.createOrReplaceTempView("temp_standcard_2yearoverdue")

table2 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "WKL.temp_creditcard_2yearoverdue") \
    .option("user", "dt") \
    .option("password", "Usd&212%wePO2") \
    .load()
table2.createOrReplaceTempView("temp_creditcard_2yearoverdue")

table1 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "WKL.temp_creditcard_overdue") \
    .option("user", "dt") \
    .option("password", "Usd&212%wePO2") \
    .load()
table1.createOrReplaceTempView("temp_creditcard_overdue")

table2 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "WKL.temp_creditcard_5yearoverdue") \
    .option("user", "dt") \
    .option("password", "Usd&212%wePO2") \
    .load()
table2.createOrReplaceTempView("temp_creditcard_5yearoverdue")

table1 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "WKL.temp_loan_2yearoverdue") \
    .option("user", "dt") \
    .option("password", "Usd&212%wePO2") \
    .load()
table1.createOrReplaceTempView("temp_loan_2yearoverdue")

table2 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "WKL.temp_loan_overdue") \
    .option("user", "dt") \
    .option("password", "Usd&212%wePO2") \
    .load()
table2.createOrReplaceTempView("temp_loan_overdue")

table2 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "WKL.temp_loan_5yearoverdue") \
    .option("user", "dt") \
    .option("password", "Usd&212%wePO2") \
    .load()
table2.createOrReplaceTempView("temp_loan_5yearoverdue")

table2 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "WKL.temp_address_change") \
    .option("user", "dt") \
    .option("password", "Usd&212%wePO2") \
    .load()
table2.createOrReplaceTempView("temp_address_change")

table2 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "WKL.temp_emp_change") \
    .option("user", "dt") \
    .option("password", "Usd&212%wePO2") \
    .load()
table2.createOrReplaceTempView("temp_emp_change")
#####

table2 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "WKL.temp_loan_cont_1") \
    .option("user", "dt") \
    .option("password", "Usd&212%wePO2") \
    .load()
table2.createOrReplaceTempView("temp_loan_cont_1")

table2 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "WKL.temp_loan_cont_2") \
    .option("user", "dt") \
    .option("password", "Usd&212%wePO2") \
    .load()
table2.createOrReplaceTempView("temp_loan_cont_2")

In [15]:
spark.sql("""

select 
		head.reportno,
		nvl(cdt.houseloancount,0) as houseloancount,
		nvl(cdt.chouseloancount,0) as chouseloancount,
		nvl(cdt.otherloancount,0) as otherloancount,
		nvl(loan.max_cdtamt_loan,-9999999) as max_cdtamt_loan,
		nvl(loan.loan_amount_sum,-9999999) as loan_amount_sum,
		nvl(loan.loan_balance_sum,-9999999) as loan_balance_sum,
		nvl(loan.loan_num,-9999999) as loan_num,
		case 
			when loan.loan_num is null then -9999999
			when loan.loan_num is not null and  ovloan.loan_latest_overdue_months is null then -9999998
			else ovloan.loan_latest_overdue_months 
		end as loan_latest_overdue_months,
		nvl(cdtl.max_cdtamt_cdtloan,-9999999) as max_cdtamt_cdtloan,	
		nvl(cdtl.creditloan_amount_sum,-9999999) as creditloan_amount_sum,
		nvl(cdtl.creditloan_balance_sum,-9999999) as creditloan_balance_sum,
		nvl(cdtl.creditloan_num,-9999999) as creditloan_num,
		case 
			when cdtl.creditloan_num is null then -9999999
			when cdtl.creditloan_num is not null and ovloan1.creditloan_latest_overdue_months is null then -9999998
		else ovloan1.creditloan_latest_overdue_months end as creditloan_latest_overdue_months,
		nvl(uncdtl.max_cdtamt_unsetcdtloan,-9999999) as max_cdtamt_unsetcdtloan,
		case 
			when loan.loan_num is null then -9999999
			when unloan.unsettle_loan_amount_sum is null and loan.loan_num is not null then 0
			else unloan.unsettle_loan_amount_sum 
		end as unsettle_loan_amount_sum,
		case 
			when loan.loan_num is null then -9999999
			when unloan.unsettle_loan_num is null and loan.loan_num is not null then 0
			else unloan.unsettle_loan_balance_sum 
		end as unsettle_loan_balance_sum,
		case 
			when loan.loan_num is null then -9999999
			when unloan.unsettle_loan_num is null and loan.loan_num is not null then 0
			else unloan.unsettle_loan_num 
		end as unsettle_loan_num,
		case 
			when unloan.unloan_num is null then -9999999
			when unloan.unloan_num is not null and ovloan2.unsettle_loan_latest_overdue_months is null then -9999998
			else ovloan2.unsettle_loan_latest_overdue_months 
		end as unsettle_loan_latest_overdue_months,
		case 
			when cdtl.creditloan_num is null then -9999999
			when cdtl.creditloan_num is not null and uncdtl.unsettle_creditloan_num is null then 0
			else uncdtl.unsettle_creditloan_amount_sum 
		end as unsettle_creditloan_amount_sum,
		case 
			when cdtl.creditloan_num is null then -9999999
			when cdtl.creditloan_num is not null and uncdtl.unsettle_creditloan_num is null then 0
			else uncdtl.unsettle_crdditloan_balance_sum 
		end as unsettle_crdditloan_balance_sum,
		case 
			when cdtl.creditloan_num is null then -9999999
			when cdtl.creditloan_num is not null and uncdtl.unsettle_creditloan_num is null then 0
			else uncdtl.unsettle_creditloan_num 
		end as unsettle_creditloan_num,
		
		case 
			when uncdtl.unsettle_creditloan_num is null then -9999999
			when uncdtl.unsettle_creditloan_num is not null and ovloan3.unsettle_creditloan_latest_overdue_months is null then -9999998
			else ovloan3.unsettle_creditloan_latest_overdue_months 
		end as unsettle_creditloan_latest_overdue_months,
		nvl(unpl.LATEST6MONTHUSEDAVGAMOUNT,-9999999) as  latest6months_avg_amount,
	
		nvl(loan.loan_org_num,-9999999) as loan_org_num,
		case 
			when loan.loan_num is null then -9999999
			when loan.loan_num is not null and unloan.unsettle_loan_num is null then 0 
			else unloan.unsettle_loan_org_num 
		end as unsettle_loan_org_num,
		case 
			when cdtl.credit_loan_org_num is null then 0 
			else cdtl.credit_loan_org_num 
		end as credit_loan_org_num,
		case 
			when cdtl.creditloan_num is null then -9999999
			when uncdtl.unsettle_creditloan_num is null and cdtl.creditloan_num is not null then 0
			else uncdtl.unsettle_creditloan_org_num 
		end as unsettle_creditloan_org_num,
		
		nvl(loan.loan_remain_payment_avg_cyc,-9999999) as loan_remain_payment_avg_cyc,
		case 
			when loan.loan_num is null then -9999999
			when unloan.unsettle_loan_num is null and loan.loan_num is not null then 0
			else unloan.unsettleloan_remain_payment_avg_cyc 
		end as unsettleloan_remain_payment_avg_cyc,
		case 
			when cdtl.creditloan_num is null then -9999999
			when cdtl.creditloan_num is not null and uncdtl.unsettle_creditloan_num is null then 0
			else uncdtl.unsettle_creditloan_remain_payment_avg_cyc 
		end as unsettle_creditloan_remain_payment_avg_cyc,
		nvl(loan.loan_avg_balance,-9999999) as loan_avg_balance,
		case 
			when loan.loan_num is null then -9999999
			when unloan.unsettle_loan_num is null and loan.loan_num is not null then 0
			else unloan.unsettle_loan_avg_balance 
		end as unsettle_loan_avg_balance,
		case 
			when cdtl.creditloan_num is null then -9999999
			when cdtl.creditloan_num is not null and uncdtl.unsettle_creditloan_num is null then 0
			else uncdtl.unsettle_creditloan_avg_balance 
		end as unsettle_creditloan_avg_balance,
		case 
			when loan.loan_num is null then -9999999
			when loan.loan_num is not null and unnom.unnormal_loan_num is null then 0
			else unnom.unnormal_loan_num 
		end as unnormal_loan_num,
	now() as create_time,now() as update_time,now() as etl_date

		
from ICRMESSAGEHEADER head 
left join ICRCREDITCUE cdt on head.reportno=cdt.reportno
-- 贷款
left join 
(select a.reportno,sum(nvl(a.CREDITLIMITAMOUNT,0)) as loan_amount_sum,
		sum(nvl(a.BALANCE,0)) as loan_balance_sum,count(1) as loan_num,
		-- TIMESTAMPDIFF(month,date_format(concat(max(b.month),'.01'),'%Y-%m-%d'),date_format(now(),'%Y-%m-%d')) as loan_latest_overdue_months,
		count(distinct FINANCEORG) as loan_org_num,
		round(avg(nvl(REMAINPAYMENTCYC,0)),6) as loan_remain_payment_avg_cyc,
		round(avg(nvl(BALANCE,0)),6) as loan_avg_balance,
		max(nvl(a.CREDITLIMITAMOUNT,0)) as max_cdtamt_loan
from ICRLOANINFO a
-- left join ICR.ICRLATEST5YEAROVERDUEDETAIL b on a.reportno=b.reportno
group by reportno
)loan on head.reportno=loan.reportno
-- 信用贷
left join 
(select a.reportno,sum(nvl(a.CREDITLIMITAMOUNT,0)) as creditloan_amount_sum,
		sum(nvl(a.BALANCE,0)) as creditloan_balance_sum,count(1) as creditloan_num,
		-- TIMESTAMPDIFF(month,date_format(concat(max(b.month),'.01'),'%Y-%m-%d'),date_format(now(),'%Y-%m-%d')) as creditloan_latest_overdue_months,
		count(distinct FINANCEORG) as credit_loan_org_num,
		max(nvl(a.CREDITLIMITAMOUNT,0)) as max_cdtamt_cdtloan
from ICRLOANINFO a
-- left join ICR.ICRLATEST5YEAROVERDUEDETAIL b on a.reportno=b.reportno
where a.GUARANTEETYPE='信用/免担保'
group by reportno
)cdtl on head.reportno=cdtl.reportno
--  未结清贷款
left join 
(select a.reportno,sum(nvl(a.CREDITLIMITAMOUNT,0)) as unsettle_loan_amount_sum,
		sum(nvl(a.BALANCE,0)) as unsettle_loan_balance_sum,count(1) as unsettle_loan_num,
		-- TIMESTAMPDIFF(month,date_format(concat(max(b.month),'.01'),'%Y-%m-%d'),date_format(now(),'%Y-%m-%d')) as unsettle_loan_latest_overdue_months,
		count(distinct FINANCEORG) as unsettle_loan_org_num,
		round(avg(nvl(REMAINPAYMENTCYC,0)),6) as unsettleloan_remain_payment_avg_cyc,
		round(avg(nvl(BALANCE,0)),6) as unsettle_loan_avg_balance,count(1) as unloan_num
		--	max(nvl(a.CREDITLIMITAMOUNT,0)) as max_cdtamt_unsetcdtloan
from ICRLOANINFO a
-- left join ICR.ICRLATEST5YEAROVERDUEDETAIL b on a.reportno=b.reportno
where a.state in ('正常','呆账','逾期','转出')
group by reportno
)unloan on head.reportno=unloan.reportno
--  未结清信用贷款
left join 
(select a.reportno,sum(nvl(a.CREDITLIMITAMOUNT,0)) as unsettle_creditloan_amount_sum,
		max(nvl(a.CREDITLIMITAMOUNT,0)) as max_cdtamt_unsetcdtloan,
		sum(nvl(a.BALANCE,0)) as unsettle_crdditloan_balance_sum,count(1) as unsettle_creditloan_num,
		-- TIMESTAMPDIFF(month,date_format(concat(max(b.month),'.01'),'%Y-%m-%d'),date_format(now(),'%Y-%m-%d')) as unsettle_creditloan_latest_overdue_months,
		count(distinct FINANCEORG) as unsettle_creditloan_org_num,
		round(avg(nvl(REMAINPAYMENTCYC,0)),6) as unsettle_creditloan_remain_payment_avg_cyc,
		round(avg(nvl(balance,0)),6) as unsettle_creditloan_avg_balance
from ICRLOANINFO a
-- left join ICR.ICRLATEST5YEAROVERDUEDETAIL b on a.reportno=b.reportno
where a.state in ('正常','呆账','逾期','转出') and a.GUARANTEETYPE='信用/免担保'
group by reportno
)uncdtl on head.reportno=uncdtl.reportno
-- 贷款最近6个月平均应还款
left join ICRUNPAIDLOAN unpl on head.reportno=unpl.reportno
left join 
(select reportno,count(*) as unnormal_loan_num 
	from ICRLOANINFO 
	where CLASS5STATE not in ('正常','未知') and CLASS5STATE is not null
	group by reportno
)unnom on head.reportno=unnom.reportno
-- 贷款最近一次逾期距查询报告时间月份数
left join 
(select reportno,
	 min(gap_months) as loan_latest_overdue_months
	from temp_loan_5yearoverdue 
	group by reportno
)ovloan on head.reportno=ovloan.reportno
-- 信用贷款最近一次逾期距查询报告时间月份数
left join 
(select reportno,
	 min(gap_months) as creditloan_latest_overdue_months
	from temp_loan_5yearoverdue 
	where GUARANTEETYPE='信用/免担保'
	group by reportno
)ovloan1 on head.reportno=ovloan1.reportno
-- 未结清贷款最近一次逾期距查询报告时间月份数
left join 
(select reportno,
	 min(gap_months) as unsettle_loan_latest_overdue_months
	from temp_loan_5yearoverdue 
	where state in ('正常','呆账','逾期','转出')
	group by reportno
)ovloan2 on head.reportno=ovloan2.reportno
-- 未结清信用贷款最近一次逾期距查询报告时间月份数
left join 
(select reportno,
	 min(gap_months) as unsettle_creditloan_latest_overdue_months
	from temp_loan_5yearoverdue 
	where GUARANTEETYPE='信用/免担保' and state in ('正常','呆账','逾期','转出')
	group by reportno
)ovloan3 on head.reportno=ovloan3.reportno



""").createOrReplaceTempView("dw_loan_summary")

In [16]:
sql = """

select head.reportno,ifnull(cdt.houseloancount,0) as houseloancount,
	ifnull(cdt.chouseloancount,0) as chouseloancount,
	ifnull(cdt.otherloancount,0) as otherloancount,
	ifnull(loan.max_cdtamt_loan,-9999999) as max_cdtamt_loan,
	ifnull(loan.loan_amount_sum,-9999999) as loan_amount_sum,
	ifnull(loan.loan_balance_sum,-9999999) as loan_balance_sum,
	ifnull(loan.loan_num,-9999999) as loan_num,
	case when loan.loan_num is null then -9999999
		when loan.loan_num is not null and  ovloan.loan_latest_overdue_months is null then -9999998
		else ovloan.loan_latest_overdue_months end as loan_latest_overdue_months,
	ifnull(cdtl.max_cdtamt_cdtloan,-9999999) as max_cdtamt_cdtloan,	
	ifnull(cdtl.creditloan_amount_sum,-9999999) as creditloan_amount_sum,
	ifnull(cdtl.creditloan_balance_sum,-9999999) as creditloan_balance_sum,
	ifnull(cdtl.creditloan_num,-9999999) as creditloan_num,
	case when cdtl.creditloan_num is null then -9999999
		when cdtl.creditloan_num is not null and ovloan1.creditloan_latest_overdue_months is null then -9999998
		else ovloan1.creditloan_latest_overdue_months end as creditloan_latest_overdue_months,
	ifnull(uncdtl.max_cdtamt_unsetcdtloan,-9999999) as max_cdtamt_unsetcdtloan,
	case when loan.loan_num is null then -9999999
		when unloan.unsettle_loan_amount_sum is null and loan.loan_num is not null then 0
		else unloan.unsettle_loan_amount_sum end as unsettle_loan_amount_sum,
	case when loan.loan_num is null then -9999999
		when unloan.unsettle_loan_num is null and loan.loan_num is not null then 0
		else unloan.unsettle_loan_balance_sum end as unsettle_loan_balance_sum,
	case when loan.loan_num is null then -9999999
		when unloan.unsettle_loan_num is null and loan.loan_num is not null then 0
		else unloan.unsettle_loan_num end as unsettle_loan_num,
	case when unloan.unloan_num is null then -9999999
		when unloan.unloan_num is not null and ovloan2.unsettle_loan_latest_overdue_months is null then -9999998
		else ovloan2.unsettle_loan_latest_overdue_months end as unsettle_loan_latest_overdue_months,
	case when cdtl.creditloan_num is null then -9999999
		when cdtl.creditloan_num is not null and uncdtl.unsettle_creditloan_num is null then 0
		else uncdtl.unsettle_creditloan_amount_sum end as unsettle_creditloan_amount_sum,
	case when cdtl.creditloan_num is null then -9999999
		when cdtl.creditloan_num is not null and uncdtl.unsettle_creditloan_num is null then 0
		else uncdtl.unsettle_crdditloan_balance_sum end as unsettle_crdditloan_balance_sum,
	case when cdtl.creditloan_num is null then -9999999
		when cdtl.creditloan_num is not null and uncdtl.unsettle_creditloan_num is null then 0
		else uncdtl.unsettle_creditloan_num end as unsettle_creditloan_num,
		
	case when uncdtl.unsettle_creditloan_num is null then -9999999
		when uncdtl.unsettle_creditloan_num is not null and ovloan3.unsettle_creditloan_latest_overdue_months is null then -9999998
		else ovloan3.unsettle_creditloan_latest_overdue_months end as unsettle_creditloan_latest_overdue_months,
	ifnull(unpl.LATEST6MONTHUSEDAVGAMOUNT,-9999999) as  latest6months_avg_amount,
	
	ifnull(loan.loan_org_num,-9999999) as loan_org_num,
	case when loan.loan_num is null then -9999999
		when loan.loan_num is not null and unloan.unsettle_loan_num is null then 0 
		else unloan.unsettle_loan_org_num end as unsettle_loan_org_num,
	case when cdtl.credit_loan_org_num is null then 0 
		else cdtl.credit_loan_org_num end as credit_loan_org_num,
	case when cdtl.creditloan_num is null then -9999999
		when uncdtl.unsettle_creditloan_num is null and cdtl.creditloan_num is not null then 0
		else uncdtl.unsettle_creditloan_org_num end as unsettle_creditloan_org_num,
		
	ifnull(loan.loan_remain_payment_avg_cyc,-9999999) as loan_remain_payment_avg_cyc,
	case when loan.loan_num is null then -9999999
		when unloan.unsettle_loan_num is null and loan.loan_num is not null then 0
		else unloan.unsettleloan_remain_payment_avg_cyc end as unsettleloan_remain_payment_avg_cyc,
	case when cdtl.creditloan_num is null then -9999999
		when cdtl.creditloan_num is not null and uncdtl.unsettle_creditloan_num is null then 0
		else uncdtl.unsettle_creditloan_remain_payment_avg_cyc end as unsettle_creditloan_remain_payment_avg_cyc,
	ifnull(loan.loan_avg_balance,-9999999) as loan_avg_balance,
	case when loan.loan_num is null then -9999999
		when unloan.unsettle_loan_num is null and loan.loan_num is not null then 0
		else unloan.unsettle_loan_avg_balance end as unsettle_loan_avg_balance,
	case when cdtl.creditloan_num is null then -9999999
		when cdtl.creditloan_num is not null and uncdtl.unsettle_creditloan_num is null then 0
		else uncdtl.unsettle_creditloan_avg_balance end as unsettle_creditloan_avg_balance,
	case when loan.loan_num is null then -9999999
		when loan.loan_num is not null and unnom.unnormal_loan_num is null then 0
		else unnom.unnormal_loan_num end as unnormal_loan_num,
	now() as create_time,now() as update_time,now() as etl_date
		
from ICR_PROD.ICRMESSAGEHEADER head 
left join ICR_PROD.ICRCREDITCUE cdt on head.reportno=cdt.reportno
-- 贷款
left join 
(select a.reportno,sum(ifnull(a.CREDITLIMITAMOUNT,0)) as loan_amount_sum,
		sum(ifnull(a.BALANCE,0)) as loan_balance_sum,count(1) as loan_num,
		count(distinct FINANCEORG) as loan_org_num,
		round(avg(ifnull(REMAINPAYMENTCYC,0)),5) as loan_remain_payment_avg_cyc,
		round(avg(ifnull(BALANCE,0)),5) as loan_avg_balance,
		max(ifnull(a.CREDITLIMITAMOUNT,0)) as max_cdtamt_loan
from ICR_PROD.ICRLOANINFO a
-- left join ICR.ICRLATEST5YEAROVERDUEDETAIL b on a.reportno=b.reportno
group by reportno
)loan on head.reportno=loan.reportno
-- 信用贷
left join 
(select a.reportno,sum(ifnull(a.CREDITLIMITAMOUNT,0)) as creditloan_amount_sum,
		sum(ifnull(a.BALANCE,0)) as creditloan_balance_sum,count(1) as creditloan_num,
		count(distinct FINANCEORG) as credit_loan_org_num,
		max(ifnull(a.CREDITLIMITAMOUNT,0)) as max_cdtamt_cdtloan
from ICR_PROD.ICRLOANINFO a
-- left join ICR.ICRLATEST5YEAROVERDUEDETAIL b on a.reportno=b.reportno
where a.GUARANTEETYPE='信用/免担保'
group by reportno
)cdtl on head.reportno=cdtl.reportno
--  未结清贷款
left join 
(select a.reportno,sum(ifnull(a.CREDITLIMITAMOUNT,0)) as unsettle_loan_amount_sum,
		sum(ifnull(a.BALANCE,0)) as unsettle_loan_balance_sum,count(1) as unsettle_loan_num,
		count(distinct FINANCEORG) as unsettle_loan_org_num,
		round(avg(ifnull(REMAINPAYMENTCYC,0)),5) as unsettleloan_remain_payment_avg_cyc,
		round(avg(ifnull(BALANCE,0)),5) as unsettle_loan_avg_balance,count(1) as unloan_num
		--	max(ifnull(a.CREDITLIMITAMOUNT,0)) as max_cdtamt_unsetcdtloan
from ICR_PROD.ICRLOANINFO a
-- left join ICR.ICRLATEST5YEAROVERDUEDETAIL b on a.reportno=b.reportno
where a.state in ('正常','呆账','逾期','转出')
group by reportno
)unloan on head.reportno=unloan.reportno
--  未结清信用贷款
left join 
(select a.reportno,sum(ifnull(a.CREDITLIMITAMOUNT,0)) as unsettle_creditloan_amount_sum,
		max(ifnull(a.CREDITLIMITAMOUNT,0)) as max_cdtamt_unsetcdtloan,
		sum(ifnull(a.BALANCE,0)) as unsettle_crdditloan_balance_sum,count(1) as unsettle_creditloan_num,
		count(distinct FINANCEORG) as unsettle_creditloan_org_num,
		round(avg(ifnull(REMAINPAYMENTCYC,0)),5) as unsettle_creditloan_remain_payment_avg_cyc,
		round(avg(ifnull(balance,0)),5) as unsettle_creditloan_avg_balance
from ICR_PROD.ICRLOANINFO a
-- left join ICR.ICRLATEST5YEAROVERDUEDETAIL b on a.reportno=b.reportno
where a.state in ('正常','呆账','逾期','转出') and a.GUARANTEETYPE='信用/免担保'
group by reportno
)uncdtl on head.reportno=uncdtl.reportno
-- 贷款最近6个月平均应还款
left join ICR_PROD.ICRUNPAIDLOAN unpl on head.reportno=unpl.reportno
left join 
(select reportno,count(*) as unnormal_loan_num 
	from ICR_PROD.ICRLOANINFO 
	where CLASS5STATE not in ('正常','未知') and CLASS5STATE is not null
	group by reportno
)unnom on head.reportno=unnom.reportno
-- 贷款最近一次逾期距查询报告时间月份数
left join 
(select reportno,
	 min(gap_months) as loan_latest_overdue_months
	from WKL.temp_loan_5yearoverdue 
	group by reportno
)ovloan on head.reportno=ovloan.reportno
-- 信用贷款最近一次逾期距查询报告时间月份数
left join 
(select reportno,
	 min(gap_months) as creditloan_latest_overdue_months
	from WKL.temp_loan_5yearoverdue 
	where GUARANTEETYPE='信用/免担保'
	group by reportno
)ovloan1 on head.reportno=ovloan1.reportno
-- 未结清贷款最近一次逾期距查询报告时间月份数
left join 
(select reportno,
	 min(gap_months) as unsettle_loan_latest_overdue_months
	from WKL.temp_loan_5yearoverdue 
	where state in ('正常','呆账','逾期','转出')
	group by reportno
)ovloan2 on head.reportno=ovloan2.reportno
-- 未结清信用贷款最近一次逾期距查询报告时间月份数
left join 
(select reportno,
	 min(gap_months) as unsettle_creditloan_latest_overdue_months
	from WKL.temp_loan_5yearoverdue 
	where GUARANTEETYPE='信用/免担保' and state in ('正常','呆账','逾期','转出')
	group by reportno
)ovloan3 on head.reportno=ovloan3.reportno

"""

In [17]:
# 读取sql数据
import datetime
starttime = datetime.datetime.now()
#long running
df = pd.read_sql_query(sql, engine)
endtime = datetime.datetime.now()
print (endtime - starttime)

#读取spark sql 数据
starttime = datetime.datetime.now()
spark_df = spark.sql("""
select * from dw_loan_summary
""").toPandas()
endtime = datetime.datetime.now()
print (endtime - starttime)


#数据校验方法
def data_check2(df11,df22):
    columns = list(df11.columns)
    for col in columns:
        base_col = ['reportno']
        if(col!='reportno'):
            base_col.append(col)
        df33 = df11[base_col].merge(df22[base_col],on = base_col,how='inner')
        if(len(df33)!=len(df11)):
            print(col,len(df33),len(df11))

#直接做merge操作 inner join有问题，需要进一步解决，目前解决方法是数据写入csv 再读取
df11 = df.astype('object').sort_values(by='reportno').reset_index().drop(columns = 'index')
df22 = spark_df.astype('object').sort_values(by='reportno').reset_index().drop(columns = 'index')

df11.to_csv("mysql_df.csv")
df22.to_csv("spark_df.csv")

dfmm = pd.read_csv("mysql_df.csv",index_col=0)
dfss = pd.read_csv("spark_df.csv",index_col=0)

# print(dfmm.head(2))
# print(ddss.head(2))
data_check2(dfmm,dfss)

0:01:29.088720
0:02:14.561013
chouseloancount 348199 348221
loan_remain_payment_avg_cyc 269257 348221
unsettleloan_remain_payment_avg_cyc 303042 348221
unsettle_creditloan_remain_payment_avg_cyc 310444 348221
loan_avg_balance 266940 348221
unsettle_loan_avg_balance 302401 348221
unsettle_creditloan_avg_balance 309675 348221
create_time 0 348221
update_time 0 348221
etl_date 0 348221

In [14]:
for i in range(len(list(df11['loan_remain_payment_avg_cyc']))):
    if list(df11['loan_remain_payment_avg_cyc'])[i]!=list(df22['loan_remain_payment_avg_cyc'])[i] :
        print(i,list(df11['loan_remain_payment_avg_cyc'])[i],list(df22['loan_remain_payment_avg_cyc'])[i])

0 8.44444 8.4444
17 4.23077 4.2308
20 0.16667 0.1667
22 1.53846 1.5385
25 0.56667 0.5667
29 17.83333 17.8333
33 1.94444 1.9444
43 1.90141 1.9014
45 1.33333 1.3333
46 10.91667 10.9167
47 2.7 2.7000
48 3.16667 3.1667
55 0.72727 0.7273
62 1.03448 1.0345
69 1.15385 1.1538
73 10.33333 10.3333
74 1.73333 1.7333
76 2.14286 2.1429
85 2.59091 2.5909
88 9.14286 9.1429
90 3.28571 3.2857
96 2.66667 2.6667
97 0.03788 0.0379
101 6.15 6.1500
110 11.57143 11.5714
122 5.78947 5.7895
130 4.4 4.4000
141 11.2 11.2000
144 0.6 0.6000
148 77.2 77.2000
157 2.4 2.4000
158 1.88889 1.8889
161 3.66667 3.6667
162 4.66667 4.6667
165 8.14286 8.1429
171 8.42857 8.4286
177 9.9 9.9000
195 2.8 2.8000
198 10.33333 10.3333
200 3.33333 3.3333
204 10.66667 10.6667
208 0.45455 0.4545
211 1.41176 1.4118
213 0.66667 0.6667
215 7.1 7.1000
218 5.66667 5.6667
222 0.8 0.8000
226 22.08333 22.0833
228 66.66667 66.6667
232 10.27273 10.2727
233 3.57143 3.5714
237 0.66667 0.6667
247 69.33333 69.3333
249 3.1 3.1000
251 2.83333 2.8333
255 6.84211 6.8421
259 4.73333 4.7333
263 3.18182 3.1818
266 2.66667 2.6667
267 4.46875 4.4688
271 3.43478 3.4348
283 1.19231 1.1923
291 6.66667 6.6667
295 2.66667 2.6667
297 0.66667 0.6667
307 6.93333 6.9333
316 8.8 8.8000
318 2.96154 2.9615
331 1.7931 1.7931
333 34.28571 34.2857
336 11.66667 11.6667
338 10.46154 10.4615
340 3.2381 3.2381
341 6.2 6.2000
343 0.90909 0.9091
344 36.21429 36.2143
345 0.12 0.1200
346 0.66667 0.6667
349 4.33333 4.3333
350 8.66667 8.6667
352 5.70588 5.7059
360 0.53846 0.5385
366 19.66667 19.6667
370 39.66667 39.6667
371 12.08333 12.0833
372 7.13333 7.1333
373 1.22222 1.2222
376 8.57143 8.5714
379 5.83333 5.8333
382 0.42857 0.4286
383 4.2 4.2000
386 0.2 0.2000
388 2.71429 2.7143
391 1.42857 1.4286
393 18.83333 18.8333
397 1.26316 1.2632
403 6.66667 6.6667
405 1.8 1.8000
408 33.54545 33.5455
411 2.55 2.5500
412 0.925 0.9250
415 2.28205 2.2821
421 4.2 4.2000
423 3.35714 3.3571
438 21.14286 21.1429
439 4.41667 4.4167
441 42.66667 42.6667
442 4.85714 4.8571
447 4.45455 4.4545
449 2.6 2.6000
453 1.21429 1.2143
459 9.28571 9.2857
465 6.22222 6.2222
467 3.66667 3.6667
468 3.11111 3.1111
473 4.57143 4.5714
474 1.2 1.2000
477 3.16667 3.1667
478 10.33333 10.3333
480 0.96875 0.9688
481 1.92857 1.9286
484 2.44 2.4400
486 3.66667 3.6667
499 3.22727 3.2273
505 0.57143 0.5714
509 13.08696 13.0870
510 3.6 3.6000
515 4.34483 4.3448
516 1.5122 1.5122
520 8.6 8.6000
521 1.71429 1.7143
527 11.4 11.4000
528 2.76 2.7600
532 7.2 7.2000
534 10.66667 10.6667
542 11.33333 11.3333
549 3.28571 3.2857
550 1.58333 1.5833
552 14.4 14.4000
556 6.81818 6.8182
557 1.85714 1.8571
562 1.4 1.4000
564 2.4 2.4000
565 16.2 16.2000
567 28.33333 28.3333
569 14.66667 14.6667
579 1.2 1.2000
580 4.05556 4.0556
585 7.4 7.4000
589 5.28571 5.2857
593 11.33333 11.3333
594 7.2 7.2000
600 2.57143 2.5714
606 6.44444 6.4444
610 2.33333 2.3333
611 8.8 8.8000
614 1.71429 1.7143
617 6.62 6.6200
620 2.8 2.8000
621 3.33333 3.3333
623 21.33333 21.3333
626 4.33333 4.3333
627 7.08696 7.0870
629 11.2 11.2000
630 0.3913 0.3913
634 3.45161 3.4516
635 4.96296 4.9630
639 7.83333 7.8333
645 1.14286 1.1429
657 4.88889 4.8889
663 2.11111 2.1111
666 0.34703 0.3470
673 11.33333 11.3333
677 3.7 3.7000
680 1.19231 1.1923
681 1.92593 1.9259
690 2.42857 2.4286
691 5.92857 5.9286
695 9.91667 9.9167
696 7.16667 7.1667
697 11.51852 11.5185
704 3.54545 3.5455
705 6.35714 6.3571
713 1.66667 1.6667
716 6.08333 6.0833
728 1.8 1.8000
730 52.66667 52.6667
732 3.15385 3.1538
733 3.91667 3.9167
738 5.91667 5.9167
741 3.83333 3.8333
745 2.42857 2.4286
748 64.66667 64.6667
749 2.96774 2.9677
761 6.44444 6.4444
768 3.77586 3.7759
771 1.83784 1.8378
774 4.47619 4.4762
775 36.09091 36.0909
776 2.8 2.8000
781 4.28571 4.2857
795 2.11111 2.1111
796 0.69565 0.6957
800 2.46154 2.4615
801 2.07692 2.0769
805 3.47059 3.4706
814 0.4 0.4000
815 9.4 9.4000
823 7.4 7.4000
828 6.8 6.8000
832 9.15789 9.1579
833 4.10526 4.1053
835 0.06 0.0600
839 9.66667 9.6667
840 4.33333 4.3333
844 1.33333 1.3333
846 2.7027 2.7027
852 3.33333 3.3333
863 6.1 6.1000
865 9.66667 9.6667
869 13.33333 13.3333
875 0.35849 0.3585

KeyboardInterrupt: