在运行dw相关表之前，首先运行下面部分以创建中间表

In [1]:
import pandas as pd
from pyspark import SparkContext,SQLContext
from pyspark.sql import SQLContext
from pyspark.sql import SparkSession
from pyspark.sql.functions import udf, col
from pyspark.sql.types import StringType
import os
import sklearn
print(os.path.abspath(os.curdir))

/home/thd/人行征信

In [2]:
spark=SparkSession \
        .builder \
        .appName('renhang_etl') \
        .master('yarn')\
        .getOrCreate()

In [4]:
#创建DW.dw_baseinfo_detail
table1 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "hyxf.ICRMESSAGEHEADER") \
    .option("user", "etl") \
    .option("password", "%TGRDJh3Hg2e4f") \
    .load()
table1.createOrReplaceTempView("ICRMESSAGEHEADER")

table2 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "hyxf.ICRCREDITCUE") \
    .option("user", "etl") \
    .option("password", "%TGRDJh3Hg2e4f") \
    .load()
table2.createOrReplaceTempView("ICRCREDITCUE")

table3 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "hyxf.ICRLOANCARDINFO") \
    .option("user", "etl") \
    .option("password", "%TGRDJh3Hg2e4f") \
    .load()
table3.createOrReplaceTempView("ICRLOANCARDINFO")

table4 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "hyxf.ICRCREDITCUE") \
    .option("user", "etl") \
    .option("password", "%TGRDJh3Hg2e4f") \
    .load()
table4.createOrReplaceTempView("ICRCREDITCUE")

table5 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "hyxf.ICRLATEST2YEAROVERDUECARD") \
    .option("user", "etl") \
    .option("password", "%TGRDJh3Hg2e4f") \
    .load()
table5.createOrReplaceTempView("ICRLATEST2YEAROVERDUECARD")

table6 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "hyxf.ICRLATEST5YEAROVERDUEDETAIL") \
    .option("user", "etl") \
    .option("password", "%TGRDJh3Hg2e4f") \
    .load()
table6.createOrReplaceTempView("ICRLATEST5YEAROVERDUEDETAIL")

table7 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "hyxf.ICRLATEST2YEAROVERDUE") \
    .option("user", "etl") \
    .option("password", "%TGRDJh3Hg2e4f") \
    .load()
table7.createOrReplaceTempView("ICRLATEST2YEAROVERDUE")

table8 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "hyxf.ICRLOANINFO") \
    .option("user", "etl") \
    .option("password", "%TGRDJh3Hg2e4f") \
    .load()
table8.createOrReplaceTempView("ICRLOANINFO")

table9 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "hyxf.ICRUNDESTORYLOANCARD") \
    .option("user", "etl") \
    .option("password", "%TGRDJh3Hg2e4f") \
    .load()
table9.createOrReplaceTempView("ICRUNDESTORYLOANCARD")

table10 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "hyxf.ICRUNDESTORYSTANDARDLOANCARD") \
    .option("user", "etl") \
    .option("password", "%TGRDJh3Hg2e4f") \
    .load()
table10.createOrReplaceTempView("ICRUNDESTORYSTANDARDLOANCARD")

table11 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "hyxf.ICRUNPAIDLOAN") \
    .option("user", "etl") \
    .option("password", "%TGRDJh3Hg2e4f") \
    .load()
table11.createOrReplaceTempView("ICRUNPAIDLOAN")


table12 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "hyxf.ICROVERDUESUMMARY") \
    .option("user", "etl") \
    .option("password", "%TGRDJh3Hg2e4f") \
    .load()
table12.createOrReplaceTempView("ICROVERDUESUMMARY")


table13 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "hyxf.ICRFELLBACKSUMMARY") \
    .option("user", "etl") \
    .option("password", "%TGRDJh3Hg2e4f") \
    .load()
table13.createOrReplaceTempView("ICRFELLBACKSUMMARY")


table14 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "hyxf.ICRGUARANTEE") \
    .option("user", "etl") \
    .option("password", "%TGRDJh3Hg2e4f") \
    .load()
table14.createOrReplaceTempView("ICRGUARANTEE")


table15 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "hyxf.ICRGUARANTEESUMMARY") \
    .option("user", "etl") \
    .option("password", "%TGRDJh3Hg2e4f") \
    .load()
table15.createOrReplaceTempView("ICRGUARANTEESUMMARY")

In [5]:
spark.sql("""
select 
		ordue.reportno,
		ordue.ACCOUNT,
		head.QUERYTIME,
		ordue.MONTH,
		month(date_format(head.QUERYTIME,'%Y-%m-%d')) - month(date_format(concat(ordue.month,'.01'),'%Y-%m-%d')) as gap_months,
		case 
			when ordue.LASTMONTHS in ('G','Z','D') then 8 
			else ordue.LASTMONTHS 
		end as LASTMONTHS ,
		loanfo.GUARANTEETYPE,STATE,FINANCEORG
from ICRLATEST2YEAROVERDUECARD ordue
-- 只取贷记卡的信息
inner join ICRLOANCARDINFO loanfo on ordue.reportno=loanfo.reportno and ordue.ACCOUNT=loanfo.ACCOUNT 
left join ICRMESSAGEHEADER head on ordue.reportno=head.reportno
where BIZTYPE='准贷记卡' and ordue.LASTMONTHS!='C'
""").createOrReplaceTempView("temp_standcard_2yearoverdue")


spark.sql("""
select 
		ordue.reportno,
		ordue.ACCOUNT,
		head.QUERYTIME,
		ordue.MONTH,
		month(date_format(head.QUERYTIME,'%Y-%m-%d')) - month(date_format(concat(ordue.month,'.01'),'%Y-%m-%d')) as gap_months,
		case 
			when ordue.LASTMONTHS in ('G','Z','D') then 8 
			else ordue.LASTMONTHS 
		end as LASTMONTHS ,
		loanfo.GUARANTEETYPE,STATE,FINANCEORG
from ICRLATEST2YEAROVERDUECARD ordue
-- 只取贷记卡的信息
inner join ICRLOANCARDINFO loanfo on ordue.reportno=loanfo.reportno and ordue.ACCOUNT=loanfo.ACCOUNT 
left join ICRMESSAGEHEADER head on ordue.reportno=head.reportno
where BIZTYPE='贷记卡' and ordue.LASTMONTHS!='C'
""").createOrReplaceTempView("temp_creditcard_2yearoverdue")


spark.sql("""
select 
		ordue.reportno,
		ordue.ACCOUNT,
		head.QUERYTIME,
		ordue.MONTH,
		month(date_format(head.QUERYTIME,'%Y-%m-%d')) - month(date_format(concat(ordue.month,'.01'),'%Y-%m-%d')) as gap_months,
		ordue.LASTMONTHS,ordue.AMOUNT,loanfo.GUARANTEETYPE,STATE,FINANCEORG
from ICRLATEST5YEAROVERDUEDETAIL ordue
-- 只取贷记卡的信息
inner join ICRLOANCARDINFO loanfo on ordue.reportno=loanfo.reportno and ordue.ACCOUNT=loanfo.ACCOUNT 
left join ICRMESSAGEHEADER head on ordue.reportno=head.reportno
where month!='--'  and BIZTYPE='贷记卡'
""").createOrReplaceTempView("temp_creditcard_overdue")


spark.sql("""
select 
		reportno,
		ACCOUNT,
		QUERYTIME,
		MONTH,
		gap_months,
		LASTMONTHS,
		GUARANTEETYPE,
		STATE,
		FINANCEORG 
from temp_creditcard_2yearoverdue
union 
select 
		reportno,
		ACCOUNT,
		QUERYTIME,
		date_format(concat(month,'.01'),'%Y-%m'),
        gap_months,
		LASTMONTHS,
		GUARANTEETYPE,
		STATE,
		FINANCEORG 
from temp_creditcard_overdue
""").createOrReplaceTempView("temp_creditcard_5yearoverdue")



spark.sql("""
select 
		ordue.reportno,
		ordue.ACCOUNT,
		head.QUERYTIME,
		ordue.MONTH,
		month(date_format(head.QUERYTIME,'%Y-%m-%d')) - month(date_format(concat(ordue.month,'.01'),'%Y-%m-%d')) as gap_months,
		case 
			when ordue.LASTMONTHS in ('G','Z','D') then 8 
			else ordue.LASTMONTHS 
		end as LASTMONTHS ,
		loanfo.GUARANTEETYPE,
		STATE,
		FINANCEORG
from ICRLATEST2YEAROVERDUE ordue
-- 只取贷款的信息
inner join ICRLOANINFO loanfo on ordue.reportno=loanfo.reportno and ordue.ACCOUNT=loanfo.ACCOUNT 
left join ICRMESSAGEHEADER head on ordue.reportno=head.reportno
where ordue.LASTMONTHS!='C'
""").createOrReplaceTempView("temp_loan_2yearoverdue")



spark.sql("""
select 
		ordue.reportno,
		ordue.ACCOUNT,
		head.QUERYTIME,
		ordue.MONTH,
		month(date_format(head.QUERYTIME,'%Y-%m-%d')) - month(date_format(concat(ordue.month,'.01'),'%Y-%m-%d')) as gap_months,
		ordue.LASTMONTHS,
		ordue.AMOUNT,
		loanfo.GUARANTEETYPE,
		STATE,FINANCEORG
from ICRLATEST5YEAROVERDUEDETAIL ordue
-- 只取贷款的信息
inner join ICRLOANINFO loanfo on ordue.reportno=loanfo.reportno and ordue.ACCOUNT=loanfo.ACCOUNT 
left join ICRMESSAGEHEADER head on ordue.reportno=head.reportno
where month!='--'
""").createOrReplaceTempView("temp_loan_overdue")




spark.sql("""
select 
		reportno,
		ACCOUNT,
		QUERYTIME,
        MONTH,
		gap_months,
		LASTMONTHS,
		GUARANTEETYPE,
		STATE,
		FINANCEORG 
from temp_loan_2yearoverdue
union 
select 
		reportno,
		ACCOUNT,
		QUERYTIME,
		date_format(concat(month,'.01'),'%Y-%m'),gap_months,LASTMONTHS,
		GUARANTEETYPE,
		STATE,
		FINANCEORG 
from temp_loan_overdue
""").createOrReplaceTempView("temp_loan_5yearoverdue")

中间表已运行完成，spark sql 创建所需要的表

In [8]:
# 需要注意group by t1.reportno 这一段

spark.sql("""

select 
	head.reportno,
	case when ccard.reportno is null then -9999999 
		else nvl(ccardused_over50_account_num,0) 
	end as ccardused_over50_account_num,
	case when ccard.reportno is null then -9999999 
		else nvl(ccardused_over75_account_num,0) 
	end as ccardused_over75_account_num,	
	case when ccard.reportno is null then -9999999 
		else nvl(ccardused_over90_account_num,0) 
	end as ccardused_over90_account_num,
	case when scard.reportno is null then -9999999 
		else nvl(scardused_over50_account_num,0) 
	end as scardused_over50_account_num,
	case when scard.reportno is null then -9999999 
		else nvl(scardused_over75_account_num,0) 
	end as scardused_over75_account_num,
	case when scard.reportno is null then -9999999 
		else nvl(scardused_over90_account_num,0) 
	end as scardused_over90_account_num,
	case when ccard.reportno is null then -9999999 
		when ccard.reportno is not null and ccardused_over50_account_percent=-9999998 then -9999998
		else nvl(ccardused_over50_account_percent,0) 
	end as ccardused_over50_account_percent,
	case when ccard.reportno is null then -9999999 
		when ccard.reportno is not null and ccardused_over75_account_percent=-9999998 then -9999998
		else nvl(ccardused_over75_account_percent,0)  
	end as ccardused_over75_account_percent,		
	case when ccard.reportno is null then -9999999 
		when ccard.reportno is not null and ccardused_over90_account_percent=-9999998 then -9999998
		else nvl(ccardused_over90_account_percent,0)  
	end as ccardused_over90_account_percent,		
	case when scard.reportno is null then -9999999 
		when scard.reportno is not null and scardused_over50_account_percent=-9999998 then -9999998
		else nvl(scardused_over50_account_percent,0)  
	end as scardused_over50_account_percent,		
	case when scard.reportno is null then -9999999 
		when scard.reportno is not null and scardused_over75_account_percent=-9999998 then -9999998
		else nvl(scardused_over75_account_percent,0)  
	end as scardused_over75_account_percent,
	case when scard.reportno is null then -9999999 
		when scard.reportno is not null and scardused_over90_account_percent=-9999998 then -9999998
		else nvl(scardused_over90_account_percent,0) 
	end as scardused_over90_account_percent,
	now() as create_time,now() as update_time,now() as etl_date


from ICRMESSAGEHEADER head

left join 
(
	select 
		t1.reportno,
		nvl(count(distinct ccardused_over50_account_num),0) as ccardused_over50_account_num,
		nvl(count(distinct ccardused_over75_account_num),0) as ccardused_over75_account_num,
		nvl(count(distinct ccardused_over90_account_num),0) as ccardused_over90_account_num,
		nvl(count(distinct scardused_over50_account_num),0) as scardused_over50_account_num,
		nvl(count(distinct scardused_over75_account_num),0) as scardused_over75_account_num,
		nvl(count(distinct scardused_over90_account_num),0) as scardused_over90_account_num,
		case when nvl(t2.ACCOUNTCOUNT,0) =0 then -9999998 else round(count(distinct ccardused_over50_account_num)/t2.ACCOUNTCOUNT,5) end as ccardused_over50_account_percent,
		case when nvl(t2.ACCOUNTCOUNT,0) =0 then -9999998 else round(count(distinct ccardused_over75_account_num)/t2.ACCOUNTCOUNT,5) end as ccardused_over75_account_percent,
		case when nvl(t2.ACCOUNTCOUNT,0) =0 then -9999998 else round(count(distinct ccardused_over90_account_num)/t2.ACCOUNTCOUNT,5) end as ccardused_over90_account_percent,
		case when nvl(t3.ACCOUNTCOUNT,0) =0 then -9999998 else round(count(distinct scardused_over50_account_num)/t3.ACCOUNTCOUNT,5) end as scardused_over50_account_percent,
		case when nvl(t3.ACCOUNTCOUNT,0) =0 then -9999998 else round(count(distinct scardused_over75_account_num)/t3.ACCOUNTCOUNT,5) end as scardused_over75_account_percent,
		case when nvl(t3.ACCOUNTCOUNT,0) =0 then -9999998 else round(count(distinct scardused_over90_account_num)/t3.ACCOUNTCOUNT,5) end as scardused_over90_account_percent
		
	from (
	select 
			reportno,
			case when BIZTYPE='贷记卡' and used_percent>0.5 then account else null end as ccardused_over50_account_num,
			case when BIZTYPE='贷记卡' and used_percent>0.75 then account else null end as ccardused_over75_account_num,
			case when BIZTYPE='贷记卡' and used_percent>0.9 then account else null end as ccardused_over90_account_num,
			case when BIZTYPE='准贷记卡' and used_percent>0.5 then account else null end as scardused_over50_account_num,
			case when BIZTYPE='准贷记卡' and used_percent>0.75 then account else null end as scardused_over75_account_num,
			case when BIZTYPE='准贷记卡' and used_percent>0.9 then account else null end as scardused_over90_account_num
	
	from (
		select 
			h.reportno,
			t.account,
			t.BIZTYPE,
			t.used_percent
			from ICRMESSAGEHEADER h
		left join 
			(
			select 
					reportno,
					account,
					BIZTYPE,
					nvl(USEDCREDITLIMITAMOUNT,0)/CREDITLIMITAMOUNT as used_percent
			from ICRLOANCARDINFO
			where CREDITLIMITAMOUNT!=0
			) t on h.reportno=t.reportno
		)t
	)t1
		left join (select reportno,ACCOUNTCOUNT from ICRUNDESTORYLOANCARD)t2 on t1.reportno=t2.reportno
		left join (select reportno,ACCOUNTCOUNT from ICRUNDESTORYSTANDARDLOANCARD) t3 on t1.reportno=t3.reportno
	group by t1.reportno,t2.ACCOUNTCOUNT,t3.ACCOUNTCOUNT
)main on head.reportno=main.reportno
left join
(
	select 
		  distinct reportno 
	from ICRLOANCARDINFO 
	where biztype='贷记卡'
)ccard on head.reportno=ccard.reportno
left join
(
	select 
		distinct reportno 
	from ICRLOANCARDINFO 
	where biztype='准贷记卡'
)scard on head.reportno=scard.reportno

""").createOrReplaceTempView("dw_card_amount_used")

In [9]:
table_name = "dw_card_amount_used"

spark.sql("drop table if EXISTS renhang_user_profile.%s "%table_name)
spark.sql("create table renhang_user_profile.%s as select * from %s"%(table_name,table_name))

DataFrame[]