在运行dw相关表之前，首先运行下面部分以创建中间表

In [1]:
import pandas as pd
from pyspark import SparkContext,SQLContext
from pyspark.sql import SQLContext
from pyspark.sql import SparkSession
from pyspark.sql.functions import udf, col
from pyspark.sql.types import StringType
import os
import sklearn
print(os.path.abspath(os.curdir))

/home/thd/人行征信

In [2]:
spark=SparkSession \
        .builder \
        .config("spark.eventLog.enabled", "false") \
        .config("spark.executor.memory", "4g")\
        .config("spark.driver.memory", "8g")\
        .config("spark.cores.max", "10")\
        .config("spark.task.maxFailures", "1000")\
        .config("spark.default.parallelism", "500")\
        .config("spark.sql.shuffle.partitions",100)\
        .appName('renhang_etl') \
        .master('yarn')\
        .getOrCreate()

In [3]:
#创建DW.dw_baseinfo_detail
table1 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "ICR_PROD.ICRMESSAGEHEADER") \
    .option("user", "etl") \
    .option("password", "%TGRDJh3Hg2e4f") \
    .load()
table1.createOrReplaceTempView("ICRMESSAGEHEADER")

table2 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "ICR_PROD.ICRCREDITCUE") \
    .option("user", "etl") \
    .option("password", "%TGRDJh3Hg2e4f") \
    .load()
table2.createOrReplaceTempView("ICRCREDITCUE")

table3 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "ICR_PROD.ICRLOANCARDINFO") \
    .option("user", "etl") \
    .option("password", "%TGRDJh3Hg2e4f") \
    .load()
table3.createOrReplaceTempView("ICRLOANCARDINFO")

table4 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "ICR_PROD.ICRCREDITCUE") \
    .option("user", "etl") \
    .option("password", "%TGRDJh3Hg2e4f") \
    .load()
table4.createOrReplaceTempView("ICRCREDITCUE")

table5 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "ICR_PROD.ICRLATEST2YEAROVERDUECARD") \
    .option("user", "etl") \
    .option("password", "%TGRDJh3Hg2e4f") \
    .load()
table5.createOrReplaceTempView("ICRLATEST2YEAROVERDUECARD")

table6 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "ICR_PROD.ICRLATEST5YEAROVERDUEDETAIL") \
    .option("user", "etl") \
    .option("password", "%TGRDJh3Hg2e4f") \
    .load()
table6.createOrReplaceTempView("ICRLATEST5YEAROVERDUEDETAIL")

table7 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "ICR_PROD.ICRLATEST2YEAROVERDUE") \
    .option("user", "etl") \
    .option("password", "%TGRDJh3Hg2e4f") \
    .load()
table7.createOrReplaceTempView("ICRLATEST2YEAROVERDUE")

table8 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "ICR_PROD.ICRLOANINFO") \
    .option("user", "etl") \
    .option("password", "%TGRDJh3Hg2e4f") \
    .load()
table8.createOrReplaceTempView("ICRLOANINFO")

table9 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "ICR_PROD.ICRUNDESTORYLOANCARD") \
    .option("user", "etl") \
    .option("password", "%TGRDJh3Hg2e4f") \
    .load()
table9.createOrReplaceTempView("ICRUNDESTORYLOANCARD")

table10 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "ICR_PROD.ICRUNDESTORYSTANDARDLOANCARD") \
    .option("user", "etl") \
    .option("password", "%TGRDJh3Hg2e4f") \
    .load()
table10.createOrReplaceTempView("ICRUNDESTORYSTANDARDLOANCARD")

table11 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "ICR_PROD.ICRUNPAIDLOAN") \
    .option("user", "etl") \
    .option("password", "%TGRDJh3Hg2e4f") \
    .load()
table11.createOrReplaceTempView("ICRUNPAIDLOAN")


table12 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "ICR_PROD.ICROVERDUESUMMARY") \
    .option("user", "etl") \
    .option("password", "%TGRDJh3Hg2e4f") \
    .load()
table12.createOrReplaceTempView("ICROVERDUESUMMARY")


table13 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "ICR_PROD.ICRFELLBACKSUMMARY") \
    .option("user", "etl") \
    .option("password", "%TGRDJh3Hg2e4f") \
    .load()
table13.createOrReplaceTempView("ICRFELLBACKSUMMARY")


table14 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "ICR_PROD.ICRGUARANTEE") \
    .option("user", "etl") \
    .option("password", "%TGRDJh3Hg2e4f") \
    .load()
table14.createOrReplaceTempView("ICRGUARANTEE")


table15 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "ICR_PROD.ICRGUARANTEESUMMARY") \
    .option("user", "etl") \
    .option("password", "%TGRDJh3Hg2e4f") \
    .load()
table15.createOrReplaceTempView("ICRGUARANTEESUMMARY")


#######

table16 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "ICR_PROD.ICRCIVILJUDGEMENT") \
    .option("user", "etl") \
    .option("password", "%TGRDJh3Hg2e4f") \
    .load()
table16.createOrReplaceTempView("ICRCIVILJUDGEMENT")



table17 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "ICR_PROD.ICRFORCEEXECUTION") \
    .option("user", "etl") \
    .option("password", "%TGRDJh3Hg2e4f") \
    .load()
table17.createOrReplaceTempView("ICRFORCEEXECUTION")


table18 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "ICR_PROD.ICRADMINPUNISHMENT") \
    .option("user", "etl") \
    .option("password", "%TGRDJh3Hg2e4f") \
    .load()
table18.createOrReplaceTempView("ICRADMINPUNISHMENT")


table19 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "ICR_PROD.ICRTAXARREAR") \
    .option("user", "etl") \
    .option("password", "%TGRDJh3Hg2e4f") \
    .load()
table19.createOrReplaceTempView("ICRTAXARREAR")


table20 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "ICR_PROD.ICRACCFUND") \
    .option("user", "etl") \
    .option("password", "%TGRDJh3Hg2e4f") \
    .load()
table20.createOrReplaceTempView("ICRACCFUND")



table21 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "ICR_PROD.ICRENDOWMENTINSURANCEDEPOSIT") \
    .option("user", "etl") \
    .option("password", "%TGRDJh3Hg2e4f") \
    .load()
table21.createOrReplaceTempView("ICRENDOWMENTINSURANCEDEPOSIT")

In [4]:
spark.sql("""
select 
		ordue.reportno,
		ordue.ACCOUNT,
		head.QUERYTIME,
		ordue.MONTH,
		month(date_format(head.QUERYTIME,'%Y-%m-%d')) - month(date_format(concat(ordue.month,'.01'),'%Y-%m-%d')) as gap_months,
		case 
			when ordue.LASTMONTHS in ('G','Z','D') then 8 
			else ordue.LASTMONTHS 
		end as LASTMONTHS ,
		loanfo.GUARANTEETYPE,STATE,FINANCEORG
from ICRLATEST2YEAROVERDUECARD ordue
-- 只取贷记卡的信息
inner join ICRLOANCARDINFO loanfo on ordue.reportno=loanfo.reportno and ordue.ACCOUNT=loanfo.ACCOUNT 
left join ICRMESSAGEHEADER head on ordue.reportno=head.reportno
where BIZTYPE='准贷记卡' and ordue.LASTMONTHS!='C'
""").createOrReplaceTempView("temp_standcard_2yearoverdue")


spark.sql("""
select 
		ordue.reportno,
		ordue.ACCOUNT,
		head.QUERYTIME,
		ordue.MONTH,
		month(date_format(head.QUERYTIME,'%Y-%m-%d')) - month(date_format(concat(ordue.month,'.01'),'%Y-%m-%d')) as gap_months,
		case 
			when ordue.LASTMONTHS in ('G','Z','D') then 8 
			else ordue.LASTMONTHS 
		end as LASTMONTHS ,
		loanfo.GUARANTEETYPE,STATE,FINANCEORG
from ICRLATEST2YEAROVERDUECARD ordue
-- 只取贷记卡的信息
inner join ICRLOANCARDINFO loanfo on ordue.reportno=loanfo.reportno and ordue.ACCOUNT=loanfo.ACCOUNT 
left join ICRMESSAGEHEADER head on ordue.reportno=head.reportno
where BIZTYPE='贷记卡' and ordue.LASTMONTHS!='C'
""").createOrReplaceTempView("temp_creditcard_2yearoverdue")


spark.sql("""
select 
		ordue.reportno,
		ordue.ACCOUNT,
		head.QUERYTIME,
		ordue.MONTH,
		month(date_format(head.QUERYTIME,'%Y-%m-%d')) - month(date_format(concat(ordue.month,'.01'),'%Y-%m-%d')) as gap_months,
		ordue.LASTMONTHS,ordue.AMOUNT,loanfo.GUARANTEETYPE,STATE,FINANCEORG
from ICRLATEST5YEAROVERDUEDETAIL ordue
-- 只取贷记卡的信息
inner join ICRLOANCARDINFO loanfo on ordue.reportno=loanfo.reportno and ordue.ACCOUNT=loanfo.ACCOUNT 
left join ICRMESSAGEHEADER head on ordue.reportno=head.reportno
where month!='--'  and BIZTYPE='贷记卡'
""").createOrReplaceTempView("temp_creditcard_overdue")


spark.sql("""
select 
		reportno,
		ACCOUNT,
		QUERYTIME,
		MONTH,
		gap_months,
		LASTMONTHS,
		GUARANTEETYPE,
		STATE,
		FINANCEORG 
from temp_creditcard_2yearoverdue
union 
select 
		reportno,
		ACCOUNT,
		QUERYTIME,
		date_format(concat(month,'.01'),'%Y-%m'),
        gap_months,
		LASTMONTHS,
		GUARANTEETYPE,
		STATE,
		FINANCEORG 
from temp_creditcard_overdue
""").createOrReplaceTempView("temp_creditcard_5yearoverdue")



spark.sql("""
select 
		ordue.reportno,
		ordue.ACCOUNT,
		head.QUERYTIME,
		ordue.MONTH,
		month(date_format(head.QUERYTIME,'%Y-%m-%d')) - month(date_format(concat(ordue.month,'.01'),'%Y-%m-%d')) as gap_months,
		case 
			when ordue.LASTMONTHS in ('G','Z','D') then 8 
			else ordue.LASTMONTHS 
		end as LASTMONTHS ,
		loanfo.GUARANTEETYPE,
		STATE,
		FINANCEORG
from ICRLATEST2YEAROVERDUE ordue
-- 只取贷款的信息
inner join ICRLOANINFO loanfo on ordue.reportno=loanfo.reportno and ordue.ACCOUNT=loanfo.ACCOUNT 
left join ICRMESSAGEHEADER head on ordue.reportno=head.reportno
where ordue.LASTMONTHS!='C'
""").createOrReplaceTempView("temp_loan_2yearoverdue")



spark.sql("""
select 
		ordue.reportno,
		ordue.ACCOUNT,
		head.QUERYTIME,
		ordue.MONTH,
		month(date_format(head.QUERYTIME,'%Y-%m-%d')) - month(date_format(concat(ordue.month,'.01'),'%Y-%m-%d')) as gap_months,
		ordue.LASTMONTHS,
		ordue.AMOUNT,
		loanfo.GUARANTEETYPE,
		STATE,FINANCEORG
from ICRLATEST5YEAROVERDUEDETAIL ordue
-- 只取贷款的信息
inner join ICRLOANINFO loanfo on ordue.reportno=loanfo.reportno and ordue.ACCOUNT=loanfo.ACCOUNT 
left join ICRMESSAGEHEADER head on ordue.reportno=head.reportno
where month!='--'
""").createOrReplaceTempView("temp_loan_overdue")




spark.sql("""
select 
		reportno,
		ACCOUNT,
		QUERYTIME,
        MONTH,
		gap_months,
		LASTMONTHS,
		GUARANTEETYPE,
		STATE,
		FINANCEORG 
from temp_loan_2yearoverdue
union 
select 
		reportno,
		ACCOUNT,
		QUERYTIME,
		date_format(concat(month,'.01'),'%Y-%m'),gap_months,LASTMONTHS,
		GUARANTEETYPE,
		STATE,
		FINANCEORG 
from temp_loan_overdue
""").createOrReplaceTempView("temp_loan_5yearoverdue")

中间表已运行完成，spark sql 创建所需要的表

In [5]:


spark.sql("""

select 
	card.reportno,
	biztype,
	card.account,
	month(head.QUERYTIME)-month(card.opendate) as months,
	card.state,
	case when ovd.reportno is null then 0 else 1 end as is_ovd
from ICRLOANCARDINFO card
left join ICRMESSAGEHEADER head on card.reportno=head.reportno
left join 
(	select 
			distinct reportno,
			account 
	from temp_standcard_2yearoverdue
	union 
	select 
			distinct reportno,
			account 
	from temp_creditcard_5yearoverdue
)ovd on  card.reportno=ovd.reportno and card.account=ovd.account

union all

select 
		loan.reportno,'贷款'  as biztype,
		loan.account,
		case 
			when state='结清' and loan.ENDDATE='-' then substr(PAYMENTCYC,1,length(PAYMENTCYC)-3)+0
			when state='结清' and loan.ENDDATE!='-' then month(loan.ENDDATE )-month(loan.OPENDATE)
			when state!='结清' and day(date_format(loan.ENDDATE,'%Y-%m-%d'))-day(date_format(head.QUERYTIME,'%Y-%m-%d'))<0 then month(loan.ENDDATE)-month(loan.OPENDATE)
		else month(head.QUERYTIME)-month(loan.OPENDATE) end as months,
	-- TIMESTAMPDIFF(month,loan.opendate,head.QUERYTIME) as months,
		loan.state,
		case when ovd.reportno is null then 0 else 1 end as is_ovd
from ICRLOANINFO loan
left join ICRMESSAGEHEADER head on loan.reportno=head.reportno
left join 
(	
	select 
		distinct reportno,
		account 
	from temp_loan_5yearoverdue
)ovd on  loan.reportno=ovd.reportno and loan.account=ovd.account
where PAYMENTCYC!='-' or state!='结清' or ENDDATE!='-'

""").createOrReplaceTempView("temp_notoverdue_account")

spark.sql("""

select reportno,
	count(distinct mth3_card) as mth3_card,	count(distinct mth6_card) as mth6_card,
	count(distinct mth9_card) as mth9_card,	count(distinct mth12_card) as mth12_card,
	count(distinct mth18_card) as mth18_card, count(distinct mth24_card) as mth24_card,	
	count(distinct mth3_scard) as mth3_scard,count(distinct mth6_scard) as mth6_scard,
	count(distinct mth9_scard) as mth9_scard,	count(distinct mth12_scard) as mth12_scard,
	count(distinct mth18_scard) as mth18_scard, count(distinct mth24_scard) as mth24_scard,
	count(distinct mth3_loan) as mth3_loan,	count(distinct mth6_loan) as mth6_loan,
	count(distinct mth9_loan) as mth9_loan,	count(distinct mth12_loan) as mth12_loan,
	count(distinct mth18_loan) as mth18_loan, count(distinct mth24_loan) as mth24_loan
from (	
	select reportno,
	case when biztype='贷记卡' and months>=3 then account else null end as mth3_card,
	case when biztype='贷记卡' and months>=6 then account else null end as mth6_card,
	case when biztype='贷记卡' and months>=9 then account else null end as mth9_card,
	case when biztype='贷记卡' and months>=12 then account else null end as mth12_card,
	case when biztype='贷记卡' and months>=18 then account else null end as mth18_card,
	case when biztype='贷记卡' and months>=24 then account else null end as mth24_card,
	
	case when biztype='准贷记卡' and months>=3 then account else null end as mth3_scard,
	case when biztype='准贷记卡' and months>=6 then account else null end as mth6_scard,
	case when biztype='准贷记卡' and months>=9 then account else null end as mth9_scard,
	case when biztype='准贷记卡' and months>=12 then account else null end as mth12_scard,
	case when biztype='准贷记卡' and months>=18 then account else null end as mth18_scard,
	case when biztype='准贷记卡' and months>=24 then account else null end as mth24_scard,
	
	case when biztype='贷款' and months>=3 then account else null end as mth3_loan,
	case when biztype='贷款' and months>=6 then account else null end as mth6_loan,
	case when biztype='贷款' and months>=9 then account else null end as mth9_loan,
	case when biztype='贷款' and months>=12 then account else null end as mth12_loan,
	case when biztype='贷款' and months>=18 then account else null end as mth18_loan,
	case when biztype='贷款' and months>=24 then account else null end as mth24_loan
	
	from temp_notoverdue_account
	)t
group by reportno

""").createOrReplaceTempView("temp_month_all")


spark.sql("""

select reportno,
	sum(mth3_scard_notoverdue_count) as mth3_scard_notoverdue_count,
	sum(mth6_scard_notoverdue_count) as mth6_scard_notoverdue_count,
	sum(mth9_scard_notoverdue_count) as mth9_scard_notoverdue_count,
	sum(mth12_scard_notoverdue_count) as mth12_scard_notoverdue_count,
	sum(mth18_scard_notoverdue_count) as mth18_scard_notoverdue_count,
	sum(mth24_scard_notoverdue_count) as mth24_scard_notoverdue_count,
	
	sum(mth3_card_notoverdue_count) as mth3_card_notoverdue_count,
	sum(mth6_card_notoverdue_count) as mth6_card_notoverdue_count,
	sum(mth9_card_notoverdue_count) as mth9_card_notoverdue_count,
	sum(mth12_card_notoverdue_count) as mth12_card_notoverdue_count,
	sum(mth18_card_notoverdue_count) as mth18_card_notoverdue_count,
	sum(mth24_card_notoverdue_count) as mth24_card_notoverdue_count,
	
	sum(mth3_loan_notoverdue_count) as mth3_loan_notoverdue_count,
	sum(mth6_loan_notoverdue_count) as mth6_loan_notoverdue_count,
	sum(mth9_loan_notoverdue_count) as mth9_loan_notoverdue_count,
	sum(mth12_loan_notoverdue_count) as mth12_loan_notoverdue_count,
	sum(mth18_loan_notoverdue_count) as mth18_loan_notoverdue_count,
	sum(mth24_loan_notoverdue_count) as mth24_loan_notoverdue_count
from 
	(select reportno,
		case when months>=3 and biztype='准贷记卡' then 1 else 0 end as mth3_scard_notoverdue_count,
		case when months>=6 and biztype='准贷记卡' then 1 else 0 end as mth6_scard_notoverdue_count,
		case when months>=9 and biztype='准贷记卡' then 1 else 0 end as mth9_scard_notoverdue_count,
		case when months>=12 and biztype='准贷记卡' then 1 else 0 end as mth12_scard_notoverdue_count,
		case when months>=18 and biztype='准贷记卡' then 1 else 0 end as mth18_scard_notoverdue_count,
		case when months>=24 and biztype='准贷记卡' then 1 else 0 end as mth24_scard_notoverdue_count,
		
		case when months>=3 and biztype='贷记卡' then 1 else 0 end as mth3_card_notoverdue_count,
		case when months>=6 and biztype='贷记卡' then 1 else 0 end as mth6_card_notoverdue_count,
		case when months>=9 and biztype='贷记卡' then 1 else 0 end as mth9_card_notoverdue_count,
		case when months>=12 and biztype='贷记卡' then 1 else 0 end as mth12_card_notoverdue_count,
		case when months>=18 and biztype='贷记卡' then 1 else 0 end as mth18_card_notoverdue_count,
		case when months>=24 and biztype='贷记卡' then 1 else 0 end as mth24_card_notoverdue_count,

		case when months>=3 and biztype='贷款' then 1 else 0 end as mth3_loan_notoverdue_count,
		case when months>=6 and biztype='贷款' then 1 else 0 end as mth6_loan_notoverdue_count,
		case when months>=9 and biztype='贷款' then 1 else 0 end as mth9_loan_notoverdue_count,
		case when months>=12 and biztype='贷款' then 1 else 0 end as mth12_loan_notoverdue_count,
		case when months>=18 and biztype='贷款' then 1 else 0 end as mth18_loan_notoverdue_count,
		case when months>=24 and biztype='贷款' then 1 else 0 end as mth24_loan_notoverdue_count

	from temp_notoverdue_account
	where is_ovd=0 and state!='销户' 
	)t
group by reportno

""").createOrReplaceTempView("temp_month_all2")


spark.sql("""

select head.reportno,
	case when nvl(is_ex.mth3_scard,0) =0 then -9999999 
		else nvl(cardl.mth3_scard_notoverdue_count,0) end as mth3_scard_notoverdue_count,
	case when nvl(is_ex.mth6_scard,0) =0 then -9999999 
		else nvl(cardl.mth6_scard_notoverdue_count,0) end as mth6_scard_notoverdue_count,
	case when nvl(is_ex.mth9_scard,0)=0 then -9999999 
		else nvl(cardl.mth9_scard_notoverdue_count,0) end as mth9_scard_notoverdue_count,	
	case when nvl(is_ex.mth12_scard,0) =0 then -9999999 
		else nvl(cardl.mth12_scard_notoverdue_count,0) end as mth12_scard_notoverdue_count,
	case when nvl(is_ex.mth18_scard,0) =0 then -9999999 
		else nvl(cardl.mth18_scard_notoverdue_count,0) end as mth18_scard_notoverdue_count,
	case when nvl(is_ex.mth24_scard,0) =0 then -9999999 
		else nvl(cardl.mth24_scard_notoverdue_count,0) end as mth24_scard_notoverdue_count,

	case when nvl(is_ex.mth3_card,0) =0 then -9999999 
		else nvl(cardl.mth3_card_notoverdue_count,0) end as mth3_card_notoverdue_count,
	case when nvl(is_ex.mth6_card,0) =0 then -9999999 
		else nvl(cardl.mth6_card_notoverdue_count,0) end as mth6_card_notoverdue_count,
	case when nvl(is_ex.mth9_card,0) =0 then -9999999 
		else nvl(cardl.mth9_card_notoverdue_count,0) end as mth9_card_notoverdue_count,	
	case when nvl(is_ex.mth12_card,0) =0 then -9999999 
		else nvl(cardl.mth12_card_notoverdue_count,0) end as mth12_card_notoverdue_count,
	case when nvl(is_ex.mth18_card,0) =0 then -9999999 
		else nvl(cardl.mth18_card_notoverdue_count,0) end as mth18_card_notoverdue_count,
	case when nvl(is_ex.mth24_card,0) =0 then -9999999 
		else nvl(cardl.mth24_card_notoverdue_count,0) end as mth24_card_notoverdue_count,
		
	case when nvl(is_ex.mth3_loan,0) =0 then -9999999 
		else nvl(cardl.mth3_loan_notoverdue_count,0) end as mth3_loan_notoverdue_count,
	case when nvl(is_ex.mth6_loan,0) =0 then -9999999 
		else nvl(cardl.mth6_loan_notoverdue_count,0) end as mth6_loan_notoverdue_count,
	case when nvl(is_ex.mth9_loan,0) =0 then -9999999 
		else nvl(cardl.mth9_loan_notoverdue_count,0) end as mth9_loan_notoverdue_count,	
	case when nvl(is_ex.mth12_loan,0) =0 then -9999999 
		else nvl(cardl.mth12_loan_notoverdue_count,0) end as mth12_loan_notoverdue_count,
	case when nvl(is_ex.mth18_loan,0) =0 then -9999999 
		else nvl(cardl.mth18_loan_notoverdue_count,0) end as mth18_loan_notoverdue_count,
	case when nvl(is_ex.mth24_loan,0) =0 then -9999999 
		else nvl(cardl.mth24_loan_notoverdue_count,0) end as mth24_loan_notoverdue_count
		
from ICRMESSAGEHEADER head
left join temp_month_all2 cardl on head.reportno=cardl.reportno
left join temp_month_all is_ex on head.reportno=is_ex.reportno

""").createOrReplaceTempView("dw_notoverdue_account_summary")

In [6]:
table_name = "dw_notoverdue_account_summary"

spark.sql("drop table if EXISTS renhang_user_profile.%s "%table_name)
spark.sql("create table renhang_user_profile.%s as select * from %s"%(table_name,table_name))

DataFrame[]

In [2]:
# for test

In [3]:
from pyspark import SparkContext,SQLContext,SparkConf
from pyspark.sql import SQLContext
from pyspark.sql import SparkSession
from pyspark.sql.functions import udf, col
from pyspark.sql.types import StringType
import pandas as pd
import pandas as pd
from sqlalchemy import create_engine



# 初始化数据库连接，使用pymysql模块
# MySQL的用户：dt, 密码:Usd&212%wePO2, 端口：3306,数据库：
spark=SparkSession \
        .builder \
        .config("spark.eventLog.enabled", "false") \
        .config("spark.executor.memory", "4g")\
        .config("spark.driver.memory", "8g")\
        .config("spark.cores.max", "10")\
        .config("spark.task.maxFailures", "1000")\
        .config("spark.default.parallelism", "500")\
        .config("spark.sql.shuffle.partitions",100)\
        .appName('renhang_etl') \
        .master('yarn')\
        .getOrCreate()


engine = create_engine('mysql+pymysql://dt:Usd&212%wePO2@58.59.11.87:3306/DM')



def time_format(ts):
    try:
        res = ts[0:10].replace('.','')
        return res
    except:
        return 'None'
    else:
        return 'None'    
spark.udf.register('time_format',lambda x:time_format(x))

    
def get_time(ts):
    try:
        res = ts.replace('.','-')
        return res
    except:
        return 'None'
    else:
        return 'None'


spark.udf.register('get_time',lambda x:get_time(x))
# time_udfs = udf(get_time, StringType())


def timestampdiff(flag,t1,t2):
    try:
        date1 = t1[0:10].replace('.','-')
        date2 = t2[0:10].replace('.','-')
        year = (int(date1[0:4])-int(date2[0:4]))
        month = (int(date1[5:7])-int(date2[5:7]))
        day = int(date1[8:10])-int(date2[8:10])
        if(flag == 'year'):
            if(month<0 or (month==0 and day<0)):
                result = year -1
                return result
            return year
        if(flag == 'month'):
            res = year*12+month+int((day-30)/31)
            return res
    
    except:
        return 'None'
    
                                                                                      
spark.udf.register('timestampdiff',lambda x1,x2,x3:timestampdiff(x1,x2,x3))
# timestampdiff = udf(get_time, StringType())   


def get_city(address):
    try:
        province_loc = address.find("省")
        city_loc = address.find("市")
        if(province_loc < 0 or (province_loc>=0 and province_loc>=city_loc) ): #江西赣州市兴国县江西省赣州市兴国县潋江镇罗廖村26号
            city = address[0:city_loc+1]
        if(province_loc>=0 and province_loc<city_loc):
            city = address[province_loc+1:city_loc+1]
        return city
    except:
        return 'None'



spark.udf.register('get_city',lambda x:get_city(x))
# time_udfs = udf(get_time, StringType())

In [8]:
#创建DW.dw_baseinfo_detail
table1 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "ICR_PROD.ICRMESSAGEHEADER") \
    .option("user", "dt") \
    .option("password", "Usd&212%wePO2") \
    .load()
table1.createOrReplaceTempView("ICRMESSAGEHEADER")

table2 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "ICR_PROD.ICRCREDITCUE") \
    .option("user", "dt") \
    .option("password", "Usd&212%wePO2") \
    .load()
table2.createOrReplaceTempView("ICRCREDITCUE")

table3 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "ICR_PROD.ICRLOANCARDINFO") \
    .option("user", "dt") \
    .option("password", "Usd&212%wePO2") \
    .load()
table3.createOrReplaceTempView("ICRLOANCARDINFO")

table4 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "ICR_PROD.ICRCREDITCUE") \
    .option("user", "dt") \
    .option("password", "Usd&212%wePO2") \
    .load()
table4.createOrReplaceTempView("ICRCREDITCUE")

table5 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "ICR_PROD.ICRLATEST2YEAROVERDUECARD") \
    .option("user", "dt") \
    .option("password", "Usd&212%wePO2") \
    .load()
table5.createOrReplaceTempView("ICRLATEST2YEAROVERDUECARD")

table6 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "ICR_PROD.ICRLATEST5YEAROVERDUEDETAIL") \
    .option("user", "dt") \
    .option("password", "Usd&212%wePO2") \
    .load()
table6.createOrReplaceTempView("ICRLATEST5YEAROVERDUEDETAIL")

table7 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "ICR_PROD.ICRLATEST2YEAROVERDUE") \
    .option("user", "dt") \
    .option("password", "Usd&212%wePO2") \
    .load()
table7.createOrReplaceTempView("ICRLATEST2YEAROVERDUE")

table8 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "ICR_PROD.ICRLOANINFO") \
    .option("user", "dt") \
    .option("password", "Usd&212%wePO2") \
    .load()
table8.createOrReplaceTempView("ICRLOANINFO")

table9 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "ICR_PROD.ICRUNDESTORYLOANCARD") \
    .option("user", "dt") \
    .option("password", "Usd&212%wePO2") \
    .load()
table9.createOrReplaceTempView("ICRUNDESTORYLOANCARD")

table10 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "ICR_PROD.ICRUNDESTORYSTANDARDLOANCARD") \
    .option("user", "dt") \
    .option("password", "Usd&212%wePO2") \
    .load()
table10.createOrReplaceTempView("ICRUNDESTORYSTANDARDLOANCARD")

table11 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "ICR_PROD.ICRUNPAIDLOAN") \
    .option("user", "dt") \
    .option("password", "Usd&212%wePO2") \
    .load()
table11.createOrReplaceTempView("ICRUNPAIDLOAN")


table12 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "ICR_PROD.ICROVERDUESUMMARY") \
    .option("user", "dt") \
    .option("password", "Usd&212%wePO2") \
    .load()
table12.createOrReplaceTempView("ICROVERDUESUMMARY")


table13 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "ICR_PROD.ICRFELLBACKSUMMARY") \
    .option("user", "dt") \
    .option("password", "Usd&212%wePO2") \
    .load()
table13.createOrReplaceTempView("ICRFELLBACKSUMMARY")


table14 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "ICR_PROD.ICRGUARANTEE") \
    .option("user", "dt") \
    .option("password", "Usd&212%wePO2") \
    .load()
table14.createOrReplaceTempView("ICRGUARANTEE")


table15 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "ICR_PROD.ICRGUARANTEESUMMARY") \
    .option("user", "dt") \
    .option("password", "Usd&212%wePO2") \
    .load()
table15.createOrReplaceTempView("ICRGUARANTEESUMMARY")


#######

table16 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "ICR_PROD.ICRCIVILJUDGEMENT") \
    .option("user", "dt") \
    .option("password", "Usd&212%wePO2") \
    .load()
table16.createOrReplaceTempView("ICRCIVILJUDGEMENT")



table17 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "ICR_PROD.ICRFORCEEXECUTION") \
    .option("user", "dt") \
    .option("password", "Usd&212%wePO2") \
    .load()
table17.createOrReplaceTempView("ICRFORCEEXECUTION")


table18 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "ICR_PROD.ICRADMINPUNISHMENT") \
    .option("user", "dt") \
    .option("password", "Usd&212%wePO2") \
    .load()
table18.createOrReplaceTempView("ICRADMINPUNISHMENT")


table19 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "ICR_PROD.ICRTAXARREAR") \
    .option("user", "dt") \
    .option("password", "Usd&212%wePO2") \
    .load()
table19.createOrReplaceTempView("ICRTAXARREAR")


table20 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "ICR_PROD.ICRACCFUND") \
    .option("user", "dt") \
    .option("password", "Usd&212%wePO2") \
    .load()
table20.createOrReplaceTempView("ICRACCFUND")



table21 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "ICR_PROD.ICRENDOWMENTINSURANCEDEPOSIT") \
    .option("user", "dt") \
    .option("password", "Usd&212%wePO2") \
    .load()
table21.createOrReplaceTempView("ICRENDOWMENTINSURANCEDEPOSIT")


table22 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "ICR_PROD.ICRRECORDDETAIL") \
    .option("user", "dt") \
    .option("password", "Usd&212%wePO2") \
    .load()
table22.createOrReplaceTempView("ICRRECORDDETAIL")



table23 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "ICR_PROD.ICRRECORDDETAIL") \
    .option("user", "dt") \
    .option("password", "Usd&212%wePO2") \
    .load()
table23.createOrReplaceTempView("ICRRECORDDETAIL")


table24 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "ICR_PROD.QUERY_HISTORY") \
    .option("user", "dt") \
    .option("password", "Usd&212%wePO2") \
    .load()
table24.createOrReplaceTempView("QUERY_HISTORY")

table25 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "ICR_PROD.ICRRECORDSUMMARY") \
    .option("user", "dt") \
    .option("password", "Usd&212%wePO2") \
    .load()
table25.createOrReplaceTempView("ICRRECORDSUMMARY")


table25 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "ICR_PROD.ICRQUERYREQ") \
    .option("user", "dt") \
    .option("password", "Usd&212%wePO2") \
    .load()
table25.createOrReplaceTempView("ICRQUERYREQ")



table25 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "ICR_PROD.ICRIDENTITY") \
    .option("user", "dt") \
    .option("password", "Usd&212%wePO2") \
    .load()
table25.createOrReplaceTempView("ICRIDENTITY")
###########################################################
##########################################################
table1 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "WKL.temp_standcard_2yearoverdue") \
    .option("user", "dt") \
    .option("password", "Usd&212%wePO2") \
    .load()
table1.createOrReplaceTempView("temp_standcard_2yearoverdue")

table2 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "WKL.temp_creditcard_2yearoverdue") \
    .option("user", "dt") \
    .option("password", "Usd&212%wePO2") \
    .load()
table2.createOrReplaceTempView("temp_creditcard_2yearoverdue")

table1 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "WKL.temp_creditcard_overdue") \
    .option("user", "dt") \
    .option("password", "Usd&212%wePO2") \
    .load()
table1.createOrReplaceTempView("temp_creditcard_overdue")

table2 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "WKL.temp_creditcard_5yearoverdue") \
    .option("user", "dt") \
    .option("password", "Usd&212%wePO2") \
    .load()
table2.createOrReplaceTempView("temp_creditcard_5yearoverdue")

table1 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "WKL.temp_loan_2yearoverdue") \
    .option("user", "dt") \
    .option("password", "Usd&212%wePO2") \
    .load()
table1.createOrReplaceTempView("temp_loan_2yearoverdue")

table2 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "WKL.temp_loan_overdue") \
    .option("user", "dt") \
    .option("password", "Usd&212%wePO2") \
    .load()
table2.createOrReplaceTempView("temp_loan_overdue")

table2 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "WKL.temp_loan_5yearoverdue") \
    .option("user", "dt") \
    .option("password", "Usd&212%wePO2") \
    .load()
table2.createOrReplaceTempView("temp_loan_5yearoverdue")

table2 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "WKL.temp_address_change") \
    .option("user", "dt") \
    .option("password", "Usd&212%wePO2") \
    .load()
table2.createOrReplaceTempView("temp_address_change")

table2 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "WKL.temp_emp_change") \
    .option("user", "dt") \
    .option("password", "Usd&212%wePO2") \
    .load()
table2.createOrReplaceTempView("temp_emp_change")
#####

table2 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "WKL.temp_loan_cont_1") \
    .option("user", "dt") \
    .option("password", "Usd&212%wePO2") \
    .load()
table2.createOrReplaceTempView("temp_loan_cont_1")

table2 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "WKL.temp_loan_cont_2") \
    .option("user", "dt") \
    .option("password", "Usd&212%wePO2") \
    .load()
table2.createOrReplaceTempView("temp_loan_cont_2")
###

table2 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "WKL.temp_notoverdue_account") \
    .option("user", "dt") \
    .option("password", "Usd&212%wePO2") \
    .load()
table2.createOrReplaceTempView("temp_notoverdue_account")

table2 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "WKL.temp_month_all") \
    .option("user", "dt") \
    .option("password", "Usd&212%wePO2") \
    .load()
table2.createOrReplaceTempView("temp_month_all")

table2 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://58.59.11.87:3306") \
    .option("dbtable", "WKL.temp_month_all2") \
    .option("user", "dt") \
    .option("password", "Usd&212%wePO2") \
    .load()
table2.createOrReplaceTempView("temp_month_all2")

In [12]:
spark.sql("""

select head.reportno,

	case when nvl(is_ex.mth24_loan,0) =0 then -9999999 
		else nvl(cardl.mth24_loan_notoverdue_count,0) end as mth24_loan_notoverdue_count
		
from ICRMESSAGEHEADER head
left join temp_month_all2 cardl on head.reportno=cardl.reportno
left join temp_month_all is_ex on head.reportno=is_ex.reportno

""").createOrReplaceTempView("dw_notoverdue_account_summary")

AnalysisException: "cannot resolve '`is_ex.mth24_loan`' given input columns: [mth3_scard_notoverdue_count, mth12_scard, reportno, reportno, mth3_scard, mth18_scard, mth12_scard_notoverdue_count, mth6_scard, mth6_scard_notoverdue_count, REPORTCREATETIME, mth9_scard_notoverdue_count, mth24_scard_notoverdue_count, mth9_scard, mth18_scard_notoverdue_count, QUERYTIME, REPORTNO, mth24_scard]; line 5 pos 15;\n'Project [reportno#1810, CASE WHEN ('nvl('is_ex.mth24_loan, 0) = 0) THEN -9999999 ELSE 'nvl('cardl.mth24_loan_notoverdue_count, 0) END AS mth24_loan_notoverdue_count#2742]\n+- Join LeftOuter, (reportno#1810 = reportno#2688)\n   :- Join LeftOuter, (reportno#1810 = reportno#2704)\n   :  :- SubqueryAlias head\n   :  :  +- SubqueryAlias icrmessageheader\n   :  :     +- Relation[REPORTNO#1810,QUERYTIME#1811,REPORTCREATETIME#1812] JDBCRelation(ICR_PROD.ICRMESSAGEHEADER) [numPartitions=1]\n   :  +- SubqueryAlias cardl\n   :     +- SubqueryAlias temp_month_all2\n   :        +- Relation[reportno#2704,mth3_scard_notoverdue_count#2705,mth6_scard_notoverdue_count#2706,mth9_scard_notoverdue_count#2707,mth12_scard_notoverdue_count#2708,mth18_scard_notoverdue_count#2709,mth24_scard_notoverdue_count#2710] JDBCRelation(WKL.temp_month_all2) [numPartitions=1]\n   +- SubqueryAlias is_ex\n      +- SubqueryAlias temp_month_all\n         +- Relation[reportno#2688,mth3_scard#2689L,mth6_scard#2690L,mth9_scard#2691L,mth12_scard#2692L,mth18_scard#2693L,mth24_scard#2694L] JDBCRelation(WKL.temp_month_all) [numPartitions=1]\n"